@import "../../../styles/_mixins.scss";
@import '../../../styles/_base.scss';
$icon-path: '../../../assets/svg/';

.passwordMeter {
  margin-top: 20px;
  font-size: $font-xsm;

  .hide {
    display: none;
  }

  span {
    font-family: $font-markpro-bold;
  }

  .passwordList {
    list-style: none;

    li {
      font-weight: normal;
      position: relative;
    }

    li:before {
      position: absolute;
      display: block;
      content: '\2022'; // bullet point
      width: 2em;
      height: 2em;
    }

    .greenCheck:before {
      content: ' ';
      background-repeat: no-repeat;
      background-image: url($icon-path + 'tickStatus.svg');
      background-size: 0.8em;
      background-position: 0 0.3em;
    }

    div {
      margin-left: 20px;
    }
  }
}

.slideup {
   max-height: 0;
   overflow-y: hidden;
   @include transition(max-height 0.3s ease-in-out);
}

.slidedown {
   max-height: 999px;
   overflow-y: hidden;
   @include transition(max-height 1s ease-in-out);
}
