<div id="Slider" [class.slideup]="!showPasswordMeter" [class.slidedown]="showPasswordMeter">
   <div class="passwordMeter">
      <span>Your password must:</span>
      <ul class="passwordList">
         <li [class.greenCheck]="hasValidMinMax">
            <div>be between 8-16 characters long;</div>
         </li>
         <li [class.greenCheck]="hasMinFourAlpha">
            <div>have a minimum of 4 alphabetical characters;</div>
         </li>
         <li [class.greenCheck]="hasUpperAndLowerCase">
            <div>have lowercase (a-z) and uppercase letters (A-Z);</div>
         </li>
         <li [class.greenCheck]="hasNumbers">
            <div>include a number (0-9); and</div>
         </li>
         <li [class.greenCheck]="hasNonAlphas">
            <div>include a special character.</div>
         </li>
      </ul>
   </div>
</div>