<div class="charges-fee-status">
   <div class="work-flow final-status">
      <app-circle-icon-heading [heading]="heading" [successful]="successful"></app-circle-icon-heading>
      <div class="block">
         <div class="steps-track"></div>
         <div class="steps-block gd-form">
            <table class="tabular-data-col-2 gd-form-row">
               <tbody>
                  <tr>
                     <td>{{labels.requestDate}}:</td>
                     <td>{{payVm.requestDate|date:dateFormat}}</td>
                  </tr>
                  <tr>
                     <td>{{labels.toText}}:</td>
                     <td>
                        <span class='capitalize'>{{payVm.forAccount.nickname}}</span>
                     </td>
                  </tr>
               
               </tbody>
            </table>
            <table class="tabular-data-col-2 gd-form-row">
               <tbody>
                  <tr>
                     <td>{{labels.amount}}</td>
                     <td>{{payVm.costRands | amountTransform: amountPipeConfig}}</td>
                  </tr>
               </tbody>
            </table>
            <table class="tabular-data-col-2 gd-form-row">
               <tbody>
                  <tr *ngIf="payVm?.yourReference">
                     <td>{{labels.yourReference}}:</td>
                     <td>{{payVm?.yourReference}}</td>
                  </tr>
                  <tr *ngIf="payVm.transactionReference">
                     <td>{{labels.referenceNumber}}:</td>
                     <td>{{payVm?.transactionReference}}</td>
                  </tr>
               </tbody>
            </table>
            <table *ngIf="payVm.transactionReference" class="tabular-data-col-2 gd-form-row">
               <tbody>
                  <tr>
                     <p class="notice">{{labels.chargesAndFees.referenceQueries}}</p>
                  </tr>
               </tbody>
            </table>
            <div class="half-btns gd-form-row no-print" *ngIf="successful">
               <div class="left">
                  <app-bottom-button (clickEmitter)="navigateToDashboard()" 
                  [disableButton]="false" [text]="labels.finish"></app-bottom-button>
               </div>
               <div class="right">
                  <app-bottom-button (clickEmitter)="newRedeem()" 
                  [disableButton]="false" [text]="labels.newRedeem" 
                  [alternateTheme]="true"></app-bottom-button>
               </div>
            </div>
            <div class="half-btns gd-form-row no-print" *ngIf="!successful">
               <div class="left">
                  <app-bottom-button [disableButton]="disableRetryButton || requestInprogress" 
                  [showLoader]='isButtonLoader' (clickEmitter)="retryPayment()"
                  [text]="labels.tryAgain"></app-bottom-button>
               </div>
               <div class="right">
                  <app-bottom-button [disableButton]="requestInprogress" (clickEmitter)="navigateToDashboard()" 
                  [alternateTheme]="true" [text]="labels.cancelRedeem"></app-bottom-button>
               </div>
            </div>
            <div class="gd-error no-print" *ngIf="errorMessage">
               <span>{{errorMessage}}</span>
            </div>
         </div>
      </div>
   </div>
</div>