<section *ngIf="status===notificationTypes.Success" id="row-success" class="row header-row">
   <div id="block-status" class="status-block">
      <div id="icon-and-text-success" class="status-icon-text">
         <div id="icon-success" class="col-xs-1 col-sm-1 icon-field no-padding">
            <div class="icon success"></div>
         </div>
         <div id="title-success" class="col-xs-11 col-sm-11 title success">
            {{statusDetail?.title}}
         </div>
      </div>
      <div id="info-success" class="status-info-block">
         <span id="msg-success" class="status-info-msg">{{statusDetail?.description}}</span>
      </div>
      <div id="btn-done" class="btn-try-again">
         <app-bottom-button [text]="labels.doneText" (click)="onDoneClick()"></app-bottom-button>
      </div>
   </div>
</section>
<section *ngIf="status===notificationTypes.Error" id="row-technical-error" class="row header-row">
   <div id="block-error" class="status-block">
      <div id="icon-and-text-error" class="status-icon-text">
         <div id="icon-error" class="col-xs-1 col-sm-1 icon-field no-padding">
            <div class="icon error"></div>
         </div>
         <div id="icon-error" class="col-xs-11 col-sm-11 title error" id="title-error">
            {{statusDetail?.title}}
         </div>
      </div>
      <div id="info-error" class="status-info-block">
         <span id="msg-error" class="status-info-msg">{{statusDetail?.description}}</span>
         <span class="status-info-msg link-text">{{statusDetail?.description2}}</span>
         <span class="status-info-msg link-text">{{statusDetail?.description3}}</span>
      </div>
      <div id="btn-send" class="btn-try-again">
         <app-bottom-button [text]="retryLimitExceeded ? labels.dismiss : labels.defaultAccount.tryAgainMessage" [showLoader]="requestInProgress" [class.btn-disabled]="requestInProgress"
            (click)="onTryAgain()">
         </app-bottom-button>
      </div>
   </div>
</section>
