<app-colored-overlay [template]="applicationReview" [backOption]="false" [isVisible]="true" [altButtonText]="'Close'" [alternate]="true"
   (onHide)="goToAccount($event)">
   <ng-template #applicationReview>
      <section class="review-section">
         <span class="title review">{{title}}</span>
         <span class="status">{{status}}</span>
         <div class="section-info">
            <div class="info-part">
               <div class="part white-part">
                  <div class="inner-part">
                     <span class="circle-tick"></span>
                     <div class="content">
                        <span class="content-head">{{informations.onlineApplication}}</span>
                        <span class="content-message">{{informations.onlineApplicationStatus}}</span>
                     </div>
                  </div>
               </div>
               <span class="right-arrow"></span>
               <div class="part">
                  <div class="inner-part">
                     <span class="paper-plane"></span>
                     <div class="content">
                        <span class="content-head">{{informations.submitDocuments}}</span>
                        <span class="content-message">{{informations.submitDocumentsStatus}}</span>
                     </div>
                  </div>
               </div>
               <span class="right-grey-arrow"></span>
               <div class="part white-part">
                  <div class="inner-part">
                     <span class="icon-human"></span>
                     <div class="content">
                        <span class="content-head">{{informations.weContactYou}}</span>
                        <span class="content-message">{{informations.weContactYouStatus}}</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="documents">
            <span class="title">{{informations.howToSend}}</span>
            <div class="section-body">
               <div class="content-body" [class.open-toolotip]="!isTooltip">
                  <span class="icon-document"></span>
                  <div class="content">
                     <div class="content-message payslip">
                        <div class="message">
                           <span>{{informations.paySlips}}</span>
                        </div>
                        <span class="icon-info" (click)="openTooltip(!isTooltip)">
                        </span>
                     </div>
                  </div>
               </div>
               <span *ngIf="isTooltip" class="triangle" (click)="openTooltip(false)">
               </span>
               <div *ngIf="isTooltip" class="tooltip-part">
                  <div class="close" (click)="openTooltip(false)">
                     <span class="icon-cross"></span>
                  </div>
                  <div class="tooltip-section">
                     <div class="section-status">
                        <span class="head-status">{{labels.otherdocumentInfo}}</span>
                     </div>
                     <div class="section-content">
                        <span class="content">{{messages.ifYouAre}}</span>
                     </div>
                     <div class="section-content">
                        <span class="content-bold">{{messages.selfEmployed}}</span>
                        <span class="content">{{messages.selfEmployedInfo}}</span>
                     </div>
                     <div class="section-content">
                        <span class="content-bold">{{messages.salaryEarner}}</span>
                        <span class="content">{{messages.salaryEarnerInfo}}</span>
                     </div>
                     <div class="section-content">
                        <span class="content-bold">{{messages.contractWorker}}</span>
                        <span class="content">{{messages.contractWorkerInfo}}</span>
                     </div>
                     <div class="section-content">
                        <span class="content-bold">{{messages.employed}}</span>
                        <span class="content">{{messages.employedInfo}}</span>
                     </div>
                     <div class="section-content last">
                        <span class="content-bold">{{messages.salaryEarnerReturn}}</span>
                        <span class="content">{{messages.salaryEarnerReturnInfo}}</span>
                     </div>
                  </div>
               </div>
               <div class="content-body">
                  <span class="document-support"></span>
                  <div class="content">
                     <div class="content-message">
                        <span class="message">{{informations.addIdNumber}}</span>
                     </div>
                     <div class="content-message">
                        <span class="message">{{informations.mailSubject}}</span>
                     </div>
                     <div class="content-message">
                        <span class="message">{{informations.bodyOfMail}}</span>
                     </div>
                  </div>
               </div>
               <div class="content-body">
                  <span class="icon-email"></span>
                  <div class="content">
                     <div class="content-message">
                        <span class="message">{{informations.sendDocuments}}</span>
                        <span class="green" (click)="sendMail()">{{informations.emailId}}</span>
                        <span class="message">{{informations.orFax}}</span>
                        <span class="green">{{informations.phoneNumber}}</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="contact-us">
            <span class="title">{{informations.contactUs}}</span>
            <div class="content-body">
               <span class="icon-phone"></span>
               <div class="content-message">
                  <span class="message">{{informations.tractStaus}}</span>
                  <span class="green">{{informations.trackPhoneNumber}}</span>
               </div>
            </div>
         </div>
         <div class="bottom-button">
            <app-bottom-button [text]="'Go to account'" (click)="goToAccount(false)" [showLoader]='showLoader'></app-bottom-button>
         </div>
      </section>
   </ng-template>
</app-colored-overlay>
