<div class="schedule-container">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="back-header" *ngIf="accountType">
               <a class="icon" [routerLink]="['/dashboard/account/detail',accountId]"></a>
               <div class="page-header">
                  <p>{{ accountName }}</p>
                  <p class="account-number">{{ accountNumber }}</p>
               </div>

            </div>
         </div>

      </div>
      <div class="row" *ngIf="accountNumber">
         <div class="col-xs-12">
            <app-scheduled-card [accountNumber]="accountNumber" [accountType]="accountType" [ItemAccountId]="ItemAccountId"></app-scheduled-card>
         </div>
      </div>
   </div>
</div>