@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';
$svg-path: './../../../../assets/svg';
$account-card-border-left: 4px;
.option-black {
   font-family: $font-markpro;
   color: $text-color-primary;
   font-size: $font-default;
}

.option-green {
   font-family: $font-markpro;
   color: $tertiary-color;
   font-size: $font-default;
}

.line-part {
   width: 3px;
   height: 15px;
   border: 2px solid $tertiary-color;
   margin-right: 7px;
   margin-top: 3px;
}

.main-heading {
   font-family: $font-markpro-medium;
   color: $text-color-secondary;
}

.sub-heading {
   font-family: $font-markpro;
   font-size: $font-md;
   color: $text-color-secondary;
}

.documents {
   @include flexbox();
   margin-top: 20px;
   .sub-menu {
      width: 320px;
      margin-left: 78px;
      display: none;
      .retrieval-consent {
         @include flexbox();
         margin-bottom: 6px;
         .line {
            @extend .line-part;
         }
         .tick {
            @include svg-image-full-path($svg-path, 'round-tick', 12px, 12px);
            margin-right: 7px;
         }
         .text-black {
            cursor: pointer;
            @extend .option-black;
         }
         .text-green {
            cursor: pointer;
            @extend .option-green;
         }
      }
      .bank-account {
         @include flexbox();
         .line {
            @extend .line-part;
         }
         .tick {
            @include svg-image-full-path($svg-path, 'round-tick', 12px, 12px);
            margin-right: 7px;
         }
         .is-agree {
            margin-left: 10px;
         }
         .text-block {
            cursor: pointer;
            @extend .option-black;
         }
         .text-green {
            cursor: pointer;
            @extend .option-green;
         }
      }
   }
   .section-body {
      width: 100%;
      .retrieval-consent-part {
         margin: 0 10px;
         .consent-part {
            text-align: center;
            .consent-main-part {
               @extend .main-heading;
               font-size: $lg-heading-size;
               display: block;
               margin-bottom: 30px;
            }
            .consent-sub-part {
               @extend .sub-heading;
               line-height: 35px;
               display: block;
            }
         }
         .consent-button {
            margin: 30px 0;
            @include flexbox();
            @include flex-direction(column-reverse);
            .button-no {
               width: 100%;
               height: 50px;
               border: 2px solid $secondary-color;
               color: $secondary-color;
               background-color: $container-bg;
               margin: 30px 0 0;
               border-radius: 5px;
            }
            .button-yes {
               width: 100%;
               height: 50px;
               color: $text-color-highlight;
               background-color: $secondary-color;
               border-radius: 5px;
               margin: 30px 0 0;
            }
         }
      }
      .bank-account-part {
         margin: 0 10px;
         .section-title {
            display: block;
            @extend .main-heading;
            font-size: $font-md;
         }
         .section-sub-title {
            display: block;
            font-family: $font-markpro;
            font-size: $font-md;
            color: $text-color-secondary;
            margin: 0 70px 30px 0;
         }
         .gd-form-row {
            ::ng-deep .gd-dropdown .fields .field .right {
               display: none;
            }
            ::ng-deep .gd-dropdown {
               &.open {
                  div {
                     &.discrp-block {
                        border-top: 3px solid $secondary-color;
                        border-bottom: none;
                        border-right: 3px solid $secondary-color;
                     }
                  }
                  ul {
                     border-top: none;
                     border-bottom: 3px solid $secondary-color;
                     border-right: 3px solid $secondary-color;
                  }
               }
            }
            &.bottom-btn {
               padding-top: 30px;
               @include flexbox();
               @include flex-direction(column-reverse);
               .button-white {
                  width: 100%;
                  height: 50px;
                  border: 2px solid $secondary-color;
                  color: $secondary-color;
                  background-color: $container-bg;
                  margin: 30px 0 0;
                  border-radius: 5px;
               }
               .button-green {
                  width: 100%;
                  height: 50px;
                  color: $text-color-highlight;
                  background-color: $secondary-color;
                  margin: 30px 0 0;
                  border-radius: 5px;
               }
            }
         }
      }
   }
}

@media (min-width: $media-xs-up) {
   .documents {
      margin-top: 60px;
      .sub-menu {
         display: block;
      }
      .section-body {
         width: 618px;
         margin-left: 0;
         .retrieval-consent-part {
            .consent-part {
               .consent-main-part {
                  margin-bottom: 30px;
               }
            }
            .consent-button {
               margin: 48px 0 0 24px;
               @include flex-direction(row);
               .button-no {
                  width: 250px;
                  margin-right: 80px;
               }
               .button-yes {
                  width: 250px;
               }
            }
         }
         .bank-account-part {
            width: 440px;
            margin-left: 100px;
            .section-title {
               font-size: $lg-heading-size;
            }
            .section-sub-title {
               font-size: $para-title-size;
            }
            .gd-form-row {
               width: 400px;
               ::ng-deep .gd-dropdown .fields .field .right {
                  display: none;
               }
               &.bottom-btn {
                  @include flex-direction(row);
                  padding-top: 30px;
                  .button-white {
                     width: 185px;
                     margin-right: 80px;
                  }
                  .button-green {
                     width: 185px;
                  }
               }
            }
         }
      }
   }
}

@media (min-width: $media-lg) {
   .documents {
      margin-top: 60px;
      .sub-menu {
         display: block;
      }
      .section-body {
         margin-left: 85px;
      }
   }
}
