@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';
$icon-path: '../../../../assets/svg/';
$text-dark-grey:'dark-grey';
.maintain-overdraft-carousel-container {
   background: $container-bg;
   margin-top: 2px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   letter-spacing: normal;
   padding: 0px 20px;
   .title {
      font-weight: $weight-medium;
      margin-top: 68px;
      font-size: $section-title-size;
      color: $text-color-secondary;
   }
   .current-limit-label {
      font-size: $font-md;
      line-height: 1.11;
      color: $text-color-primary;
      margin-top: 2px;
      text-align: left;
      margin-top: 26px;
   }
   .current-limit-amt {
      font-size: $font-lg;
      line-height: normal;
      color: $color-black;
      margin-top: 4px;
   }
   .debit-interest-label {
      font-size: $font-xsm;
      text-align: right;
      margin-top: 31px;
      line-height: 1.25;
      color: $highlight-dark-bg;
   }
   .debit-interest-amt {
      font-size: $font-md;
      text-align: right;
      line-height: normal;
      text-align: right;
      color: $color-black;
      margin-top: 7px;
   }
   .progress-bar {
      margin-top: 37px;
      height: 4.1px;
   }
   .progress-bar-bg {
      @extend .progress-bar;
      z-index: -1;
      background-color: $color-overlay-header-box;
   }
   .progress-bar-fill {
      @extend .progress-bar;
      z-index: 0;
      background-color: $tertiary-color;
   }
   .overdraft-limit-amt {
      margin-top: 7.9px;
      height: 20px;
      font-size: $font-default;
      line-height: normal;
      color: $text-color-primary;
   }
   .overdraft-limit-label {
      height: 25px;
      opacity: 0.8;
      font-size: $font-sm;
      line-height: 1.79;
      color: $text-color-primary;
   }
   .overdraft-info {
      margin-top: 36px;
      height: 80px;
      background-color: $info-window-color;
      padding: 20px 15px;
   }
   .overdraft-info-msg {
      font-size: $font-sm;
      line-height: 1.5;
      text-align: left;
      color: $text-color-primary;
      margin-top: -22px;
      margin-left: 40px;
   }
   .overdraft-limit-icon {
      @include svg-image-full-path($icon-path, $text-dark-grey, 24px, 24px);
   }
   .btn {
      margin-top: 20px;
      height: 50px;
      border-radius: 5px;
      width: 100%;
      border: solid 2px $secondary-color;
   }
   .btn-green {
      @extend .btn;
      background-color: $secondary-color;
      cursor: pointer;
   }
   .btn-green-disabled {
      @extend .btn;
      background-color: $secondary-color;
      opacity: 0.7;
      cursor: not-allowed;
   }
   .btn-white {
      @extend .btn;
      background-color: $container-bg;
      cursor: pointer;
   }
   .btn-white-disabled {
      @extend .btn;
      background-color: $container-bg;
      opacity: 0.7;
      cursor: not-allowed;
   }
   .btn-name {
      height: 20px;
      font-size: $font-default;
      font-weight: bold;
      text-align: center;
   }
   .btn-green-name {
      @extend .btn-name;
      color: $container-bg;
   }
   .btn-white-name {
      @extend .btn-name;
      color: $secondary-color;
   }
   .button-margin {
      margin-top: 125px;
      margin-bottom: 20px;
   }
}

@media (min-width: $media-sm) {
   .maintain-overdraft-carousel-container {
      max-width: 664px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      .title {
         margin-top: 53px;
      }
      .current-limit-label {
         font-size: $label-size;
         line-height: 1.5;
         margin-top: 23px;
      }
      .current-limit-amt {
         font-size: $font-xlg;
         font-stretch: normal;
         line-height: 0.86;
         color: $text-color-secondary;
         margin-top: 14px;
      }
      .debit-interest-amt {
         line-height: 1.18;
         color: $text-color-message-block-content;
         margin-top: 8px;
      }
      .overdraft-limit-amt {
         font-size: $font-md;
         line-height: 0.83;
         color: $color-warmGrey;
      }
      .overdraft-limit-label {
         line-height: 1.43;
         color: $text-color-message-block-content;
      }
      .overdraft-info {
         height: 60px;
         margin-top: 33px;
      }
      .progress-bar-bg .progress-bar-fill {
         margin-top: 60px;
      }
      .overdraft-info-msg {
         margin-left: 32px;
         margin-top: -20px;
      }
      .button-margin {
         margin-top: 60px;
      }
   }
}
