@import '../../../styles/_mixins.scss';
@import '../../../styles/_base.scss';
$icon-account-detail: 'account-detail';
.account-share {
   margin-top: 0px;
   margin-left: -15px;
   margin-right: -15px;
   padding: 15px;
   background-color: $container-bg;
   .title {
      @include flexbox();
      @include align-items(flex-end);
      margin-bottom: 20px;
      .icon {
         margin-right: 15px;
         &.account-detail {
            @include svg-image($icon-account-detail, 36px, 36px);
         }
      }
      .page-title {
         @include markpro-medium();
         font-size: $page-title-size-mob;
         padding-bottom: 4px;
         font-weight: 500;
         color: $text-color-secondary;
      }
   }
   .section-title {
      @include markpro-medium();
      font-size: $section-title-secondary-size-mob;
      margin-bottom: 15px;
      font-weight: 500;
      color: $text-color-secondary;
   }
   .share-details {
      margin-bottom: 20px;
      .account-details {
         display: block;
         line-height: 1.5;
         .left-align,
         .right-align {
            @include flex(1);
         }
         .field {
            @include markpro-bold();
         }
      }
   }
   .link-share {
      color: $text-color-link;
      cursor: pointer;
   }
}

@media (min-width: $media-sm) {
   .account-share {
      padding-top: 64px;
      width: 50%;
      margin: 0 auto;
      .title {
         margin-bottom: 34px;
         .page-title {
            font-size: $page-title-size-mob;
         }
      }
      .section-title {
         margin-bottom: 20px;
      }
      .share-details {
         margin-bottom: 30px;
         .account-details {
            @include flexbox();
            @include align-items(flex-start);
         }
      }
   }
}
