<div class="profile-container  content-container-padding">
   <div class="error-block-success" [class.hide]="!isSuccess">
      <div class="icon-container">
         <span class="success" class="img-step-tick">
         </span>
      </div>
      <div class="error-message">Preferred name updated successfully</div>
      <div class="icon-container">
         <span class="img-step-close" (click)="closeSuccessError()">
         </span>
      </div>
   </div>
   <div class="error-block-failure" [class.hide]="!isFailure">
      <div class="icon-container">
         <span class="img-step-close-red" (click)="closeFailureError()">
         </span>
      </div>
      <span class="error-message">We were unable to update your preferred name.</span>
   </div>
   <div class="icon-field">
      <span class="icon left-arrow" (click)="openProfileMenu(profileMenu)"></span>
      <h4 class="section-title profile-detail-header"> Profile details</h4>
   </div>
   <app-profile-edit (isPreferredNameUpdated)="updateClientPreferredName($event)" [preferredName]='preferenceName' [actualName]= 'actualName' [clientInitials]='clientInitials'></app-profile-edit>
   <app-contact-details *ngIf="profileDetails" [profileDetails]='profileDetails'></app-contact-details>
</div>