@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';


$icon-path: '../../../assets/svg/';
$icon-tick: 'tickStatus';
$icon-close: 'closeStatus-Green';
$icon-close-red: 'close-red';

.profile-container {
   .error-block-success {
      color: $text-color-message-block;
      height: 80px;
      background-color: $color-success-bg;
      @include flexbox();
      @include align-items(center);
      padding: 10px;


      .error-message {
         margin: 0 20px;
         @include flex(1);
      }

      .icon-container {

         .img-step-tick {
            display: inline-block;
            @include svg-image($icon-tick,24px,18.9px);
            margin-left: 10px;
            margin-top: 5px;
         }

         .img-step-close {
            display: inline-block;
            @include svg-image($icon-close,24px,18.9px);
            margin-left: 10px;
            margin-top: 5px;
         }
      }
   }

   .error-block-failure {
      color: $text-color-message-block;
      height: 80px;
      display: flex;
      background-color: $color-error-bg;

      .error-message {
         margin-left: 5px;
         margin-top: 24px;
      }

      .icon-container {
         margin: 18px 15px;
         display: inline-block;

         .img-step-close-red {
            display: inline-block;
            @include svg-image($icon-close-red,24px,18.9px);
            margin-left: 10px;
            margin-top: 5px;
         }
      }
   }
   .icon-field {
      position: relative;

      .icon {
         width: 12px;
         display: inline-block;
         cursor: pointer;
         line-height: 1;

         &.left-arrow {
            margin: 0px 0px 0px 20px;
            @include rotate(180deg);
            @include svg-image-full-path($icon-path, 'right-arrow-cap');
         }
      }
      .profile-detail-header {
         @include markpro-medium();
         color: $text-color-primary;
         padding: 0;
         display: inline-block;
         margin-bottom: 25px;
         margin-left: 10px;
      }
   }
}

@media (min-width: $media-sm) {
   .profile-container {
      .profile-detail-header {
         text-align: left;
      }
      .left-arrow {
         display: none !important;
      }
   }
}
