<div class="lotto-view">
   <div class="container">
      <div class="row">

         <div class="col-md-4">
            <div class="bg-white yellow lotto-card">
               <div class="title">
                  <span *ngIf="skeletonMode && !palletFailed" [innerHtml]="'' | skeletonLoader:skeletonMode:'skeleton-icon'"></span>
                  <div class="lotto-inline">
                     <span class="icon lotto-icon"></span>
                     <span class="text amount">{{lottoLable}}</span>
                  </div>

               </div>
               <div class="next-draw" *ngIf="!palletFailed">
                  {{nextDrawIs}}
                  <b>{{gameNext}}</b>{{onLabel}}{{day}}, {{actualDate | date:drawDateFormat}}.
               </div>
               <div *ngIf="palletFailed" class="gd-form-row">
                  <span class="icon error-icon"></span>
                  <div class="error-message">{{lottoErrorLabel}}
                  </div>
               </div>
               <div *ngIf="!palletFailed" class="controls">
                  <ul>
                     <li>
                        <a *ngIf="skeletonMode" [innerHtml]="'' | skeletonLoader:skeletonMode:'skeleton-icon'"></a>
                        <a class="pallet icon-link" routerLink="/game">
                           <span class="lotto-buy-icon icon"></span>
                           <span class="text">{{buyLottoTicket}}</span>
                        </a>
                     </li>
                     <li>
                        <a *ngIf="skeletonMode" [innerHtml]="'' | skeletonLoader:skeletonMode:'skeleton-icon'"></a>
                        <a class="pallet icon-link" [routerLink]="['/game/winning/numbers']">
                           <span class="win-number-icon icon"></span>
                           <span class="text">{{viewWinningNumbers}}</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>

         </div>

         <div class="col-md-8">
            <div class="bg-white">
               <div class="lotto-grid">
                  <p class="para-title">
                     {{ticketPurchases}}
                  </p>

                  <div class="list-wrapper">
                     <div class="lotto-inline" *ngIf="historyFailed">
                        <span class="icon error-icon"></span>
                        <div class="error-message">{{lottoError}}
                        </div>
                     </div>
                     <table *ngIf="!historyFailed">
                        <thead>
                           <tr>
                              <th [innerHtml]="''| skeletonLoader:skeletonMode"></th>
                              <th [innerHtml]="''| skeletonLoader:skeletonMode"></th>
                              <th [innerHtml]="''| skeletonLoader:skeletonMode"></th>
                              <th [innerHtml]="''| skeletonLoader:skeletonMode"></th>
                           </tr>
                           <tr class="icon-link">
                              <th class="pointer" (click)="sort('purchaseDate')">
                                 {{dateLabel}}
                                 <span class="icon sort-icon"></span>
                              </th>
                              <th class="pointer">
                                 {{descriptionLabel}}

                              </th>
                              <th class="pointer align" (click)="sort('amount')">
                                 {{amountLabel}}
                                 <span class="icon sort-icon"></span>
                              </th>
                              <th>

                              </th>
                           </tr>
                        </thead>
                        <tbody *ngFor="let lottoList of lottoHistory[0] | orderBy: {property: column, direction: direction}">
                           <tr *ngIf="!noLottoRecords">

                              <td class="date icon-link">
                                 {{lottoList?.purchaseDate | date:dateFormat}}
                                 <div *ngIf="skeletonMode" [innerHtml]="''| skeletonLoader:skeletonMode:'skeleton-icon'"></div>
                              </td>
                              <td>
                                 <div class="descrp-block">
                                    <div class="descrp">
                                       <div class="title-block" [routerLink]="['/game/ticket','lottoHistory',lottoList?.batchID]">
                                          <div class="title">
                                             <b>{{lottoList.game}}</b>
                                             <span>{{forLabel}}</span>
                                             <b>{{lottoList.boardsPlayed}}{{boardsLabel}}</b>
                                             <span>{{forLabel}}</span>
                                             <b>{{lottoList.drawsPlayed}}{{lottoList.drawLabel}}</b>
                                             <span>{{startLabel}}{{lottoList?.purchaseDate | date:dateFormat}}.</span>
                                             <div class="from-account" x-ms-format-detection="none">{{lottoList.accountDetails}} </div>
                                          </div>
                                          <div class="amount debits" [class.debits]="lottoList.amount < 0" [class.credits]="lottoList.amount > 0" [innerHtml]="lottoList?.amount | amountTransform: amountPipeConfig | skeletonLoader:skeletonMode"></div>
                                       </div>
                                       <div class="pointer" (click)="onReplay(lottoList.batchID)">
                                          <span class="icon replay-icon"></span>
                                          <div *ngIf="skeletonMode" [innerHtml]="''| skeletonLoader:skeletonMode:'skeleton-icon'"></div>
                                       </div>
                                    </div>
                                 </div>
                              </td>
                              <td class="amount" [class.debits]="lottoList.amount < 0" [class.credits]="lottoList.amount > 0" [innerHtml]="lottoList?.amount | amountTransform: amountPipeConfig | skeletonLoader:skeletonMode"></td>
                              <td class="pointer" (click)="onReplay(lottoList.batchID)">
                                 <span class="icon replay-icon"></span>
                                 <div *ngIf="skeletonMode" [innerHtml]="''| skeletonLoader:skeletonMode:'skeleton-icon'"></div>
                              </td>
                           </tr>

                        </tbody>
                     </table>

                     <div class=" text-center">
                        <div *ngIf="showLoader"  class="loader inline">
                           <app-spinner [color]="'green'"></app-spinner>
                  </div>
                  <div class="inline">{{previousTickets}}</div>
               <button *ngIf="showViewMoreButton && !historyFailed"  (click)="viewMoreTickets()"  class="ticket-btn text-center">{{viewMoreTicketsLabel}}
                  <span class="icon chevron-icon"></span> </button>
                     <div class="ticket-btn"  *ngIf="noMoreTicketsRecords">
                        {{noTicketsFoundMsg}}
            </div>
         </div>
      </div>



   </div>
</div>

</div>
</div>
</div>
</div>
