<section class="summary">
   <div class="summary-section">
      <div class="title-section">
         <span class="main">{{labels.summary}}</span>
         <span class="sub">{{messages.summaryStatus}}</span>
      </div>
      <div class="summary-body">
         <div class="section">
            <div class="section-head">
               <span class="head">{{labels.income}}</span>
               <span class="edit" (click)="goToOption(0)">{{labels.edit}}</span>
            </div>
            <div class="section-body">
               <div class="content">
                  <span class="content-name">{{messages.grossIncome}}</span>
                  <span class="content-value">{{creditLimitDetails.grossMonthlyIncome | amountTransform}}</span>
               </div>
               <div class="content">
                  <span class="content-name">{{messages.netIncome}}</span>
                  <span class="content-value">{{creditLimitDetails.netMonthlyIncome | amountTransform}}</span>
               </div>
               <div class="content" *ngIf="creditLimitDetails.otherIncome">
                  <span class="content-name">{{messages.totalIncome}}</span>
                  <span class="content-value">{{creditLimitDetails.otherIncome | amountTransform}}</span>
               </div>
            </div>
         </div>
         <div class="section">
            <div class="section-head">
               <span class="head">{{labels.expenses}}</span>
               <span class="edit" (click)="goToOption(0)">{{labels.edit}}</span>
            </div>
            <div class="section-body">
               <div class="content">
                  <span class="content-name">{{messages.commitments}}</span>
                  <span class="content-value">{{creditLimitDetails.monthlyCommitment | amountTransform}}</span>
               </div>
               <div class="content">
                  <span class="content-name">{{messages.debt}}</span>
                  <span class="content-value">{{creditLimitDetails.monthlyDebt | amountTransform}}</span>
               </div>
            </div>
         </div>
         <div class="section" *ngIf="creditLimitDetails.bankName && creditLimitDetails.accountNumber">
            <div class="section-head">
               <span class="head">{{labels.bankAccountDetails}}</span>
               <span class="edit" (click)="goToOption(1)">{{labels.edit}}</span>
            </div>
            <div class="section-body">
               <div class="content">
                  <span class="content-name">{{labels.bankNameWithColon}}</span>
                  <span class="content-value">{{creditLimitDetails.bankName}}</span>
               </div>
               <div class="content">
                  <span class="content-name">{{labels.accountNumberWithColon}}</span>
                  <span class="content-value">{{creditLimitDetails.accountNumber}}</span>
               </div>
            </div>
         </div>
         <div class="section">
            <div class="section-head">
               <span class="head">{{labels.contactDetails}}</span>
               <span class="edit" (click)="goToOption(2)">{{labels.edit}}</span>
            </div>
            <div class="section-body">
               <div class="content">
                  <span class="content-name">{{labels.contactNumber}}</span>
                  <span class="content-value">{{creditLimitDetails.preferContactNumber}}</span>
               </div>
            </div>
         </div>
         <div class="declaration">
            <span class="declaration-text">{{messages.summaryDeclaration}}</span>
         </div>
         <div *ngIf="!creditLimitDetails.statementRetrival" class="declaration-statement">
            <div (click)='onAccept()' class="square" [ngClass]="{'square-white': !isAccept , 'square-green': isAccept}">
               <span class="tick"></span>
            </div>
            <p class="declaration-message" [innerHtml]="messages.declarationForManual"></p>
         </div>
         <div class="bottom-button">
            <app-bottom-button [text]="'Submit'" (click)="goToSuccess()" [disableButton]="!this.isAccept" [showLoader]='showLoader'></app-bottom-button>
         </div>
      </div>
   </div>
</section>
