<h1 role="alert" class="visuallyhidden" attr.aria-label="{{heading}}"></h1>
<div class="pay-status">
   <div class="work-flow final-status">
      <app-circle-icon-heading [heading]="this.isNoResponseReceived? labels.somethingWentWrong :heading" [successful]="successful"></app-circle-icon-heading>
      <div class="block">
         <div class="steps-track"></div>
         <div class="steps-block gd-form">
            <table class="tabular-data-col-2 gd-form-row">
               <tbody *ngIf="buyElectricityToVm">
                  <tr *ngIf="buyElectricityToVm?.recipientName && buyElectricityToVm.recipientName.length">
                     <td>Recipient:</td>
                     <td>{{ buyElectricityToVm.fbeRecipientName ? buyElectricityToVm.fbeRecipientName : buyElectricityToVm.recipientName}}</td>
                  </tr>
                  <tr>
                     <td>Meter no:</td>
                     <td id="buy-elec-mrt-nr">{{buyElectricityToVm?.meterNumber}}</td>
                  </tr>
                  <tr>
                     <td>Amount:</td>
                     <td id="buy-elec-no-fbe-amout" *ngIf="!buyElectricityToVm?.fbeTransactionID">{{buyElectricityAmountVm?.amount | amountTransform: amountPipeConfig}} prepaid electricity</td>
                     <td id="buy-elec-fbe-trans-id" *ngIf="buyElectricityToVm?.fbeTransactionID">Free {{ buyElectricityToVm?.fbeElectricityUnits }} Kwh</td>
                  </tr>
               </tbody>
            </table>
            <table class="tabular-data-col-2 gd-form-row" *ngIf="buyElectricityForVm">
               <tbody>
                  <tr>
                     <td>Your ref:</td>
                     <td id="buy-elec-your-ref">{{buyElectricityForVm.yourReference}}</td>
                  </tr>
                  <tr *ngIf='buyElectricityForVm?.notificationType!="None"'>
                     <td id="buy-elec-notify-label">{{labels.notify}}</td>
                     <td id="buy-elec-notif-typ">{{buyElectricityForVm.notificationType +" - "+ buyElectricityForVm.notificationInput}}</td>
                  </tr>
               </tbody>
            </table>
            <table class="tabular-data-col-2 gd-form-row">
               <tbody>
                  <tr *ngIf="successful && buyElectricityDetail && (this.buyElectricityService.execEngineRef || buyElectricityDetail.transactionID)">
                     <td>Transaction no:</td>
                     <td id="buy-elec-trans-id">{{this.buyElectricityService.execEngineRef || buyElectricityDetail.transactionID}}</td>
                  </tr>
                  <tr *ngIf="buyElectricityAmountVm && buyElectricityAmountVm.startDate">
                     <td>{{labels.paymentDate}}:</td>
                     <td id="buy-elec-start-dt">{{buyElectricityAmountVm.startDate | date:dateFormat}}</td>
                  </tr>

                  <tr *ngIf="successful && buyElectricityToVm && buyElectricityToVm.fbeTransactionID">
                     <td>Transaction no:</td>
                     <td id="buy-elec-fbe-trans-id">{{ buyElectricityToVm.fbeTransactionID }}</td>
                  </tr>
                  <tr *ngIf="buyElectricityToVm && buyElectricityToVm.fbeClaimedDate">
                     <td>Claim date:</td>
                     <td id="buy-elec-fbe-claim-dt">{{buyElectricityToVm.fbeClaimedDate | date:dateFormat}}</td>
                  </tr>
               </tbody>
            </table>
            <div class="gd-form-row no-print" *ngIf="successful" (click)="print()">
               <a class="download">
                  <span class="icon"></span>
                  <span class="text">Print proof of Payment</span>
               </a>
            </div>
            <div class="half-btns gd-form-row no-print" *ngIf="successful">
               <div class="left">
                  <app-bottom-button [disableButton]="false" (clickEmitter)="newPayment($event)" [text]="'New purchase'" ga-event-name="buy_electricity_confirmation_click_on_new_payment"></app-bottom-button>
               </div>
               <div class="right">
                  <app-bottom-button [disableButton]="false" (clickEmitter)="navigateToDashboard()" [text]="'Go to overview'" [alternateTheme]="true"
                     ga-event-name="buy_electricity_confirmation_click_on_go_to_overview"></app-bottom-button>
               </div>
            </div>
            <div class="half-btns gd-form-row no-print" *ngIf="!successful">
               <div class="left">
                  <app-bottom-button [disableButton]="disableRetryButton || requestInprogress" [showLoader]='isButtonLoader' (clickEmitter)="retryPayment()"
                     [text]="'Try again'"></app-bottom-button>
               </div>
               <div class="right">
                  <app-bottom-button [disableButton]="requestInprogress" (clickEmitter)="navigateToDashboard()" [alternateTheme]="true" [text]="this.isNoResponseReceived ? labels.cancelText : labels.cancelPurchase"></app-bottom-button>
               </div>
            </div>
            <div class="gd-error no-print">
               <span>{{errorMessage}}</span>
            </div>
         </div>
      </div>
   </div>