<div *ngIf="isAuthenticated">
   <div class="sub-menu-mob" [class.active]="selectedMenuItem && selectedMenuItem.subMenu?.length">
      <div class="details">
         <div class="sub-menu-close" (click)="closeSubMenu()">
            <span class="cross"></span>
         </div>
         <h6 class="menu-title para-title">{{selectedMenuItem?.text}}</h6>
         <ul class="mobile-header-menu">
            <li *ngFor="let subMenuItem of selectedMenuItem.subMenu" [ngClass]="{ 'disabled':subMenuItem.disable, 'no-ponter': subMenuItem.disable}">
               <a routerLink="{{ subMenuItem.path }}" (click)="onSubMenuItemClick(subMenuItem)">
                  <span class="text">{{subMenuItem.text}}</span>
                  <span class="icon arrow-icon"></span>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <header class="main-header" (mouseleave)="handleSubmenu()">
      <div class="container">
         <div class="row">
            <div class="col-xs-12">
               <div class="header-block">
                  <div class="left" role="application">
                     <span class="hamburger-icon" (click)="toggleMobileMenu()">
                     <span *ngIf="showPulsatingIcon" class="notification"></span>
                     </span>
                     <a class="logo nooutline" aria-label="Nedbank Logo" tabindex="0" routerLink="{{routeUrls.dashboard}}"></a>
                     <div *ngIf="!this.mobileMenuOpened" class="chat-icon-white chat-right" (click)="chatBoxOpen()"></div>
                     <nav class="main-nav" [ngClass]="{'side-nav':mobileMenuOpened}">
                        <div class="user-details">
                           <div class="pic">
                              {{clientInitials}}
                           </div>
                           <div class="details">
                              <p class="name">{{clientFullName}}</p>
                              <a class="link" (click)="onMenuItemClick(profileMenuObj)">
                                    <span class="profileLink">View profile</span>
                              </a>
                           </div>
                        </div>
                        <ul class="level-1-header-menu" role="menu">
<li role="menuitem" class="mob-only" *ngIf="isPreApprovedOffersEnabled" (click)="onNotificationClicked(agentMobile)">
                              <a class="main-header-menu-item dropdown-toggle offers">
                                 <span class="icon bell-icon"></span>
                                 <span class="text">{{notificationTitle}}</span>
                                 <div class="stage" *ngIf="showPulsatingIcon">
                                    <div class="pulse-icon pulsing" [class.active]="notificationIconCliked">
                                       <span *ngIf="showPulsatingIcon">{{ unreadOffers.length }}</span></div>
                                 </div>                                
                                 <span class="icon arrow-icon"></span>
                              </a>                              
                           </li>
                           <li role="menuitem" *ngFor="let menuItem of mainMenuItems" dropdown appArrowNavigation [dpRef]="dpmain" [submenuindex]="submenuindex"
                              triggers="hover click touchstart" #dpmain="bs-dropdown" (onShown)="submenuindex=-1;onSubMenuOpened($event)"
                              #topMenu="bs-dropdown" (mouseenter)="handleSubmenu(topMenu)" [ngClass]="{'pop-over-container': menuItem.subMenu, 'mob-only':menuItem.mobOnly }"
                              role="navigation" attr.aria-label="{{menuItem.text}}">
                              <a href="javascript:void(0)" role="presentation" dropdownToggle tabindex="0" class="dropdown-toggle" (click)="onMenuItemClick(menuItem)"
                                 [ngClass]="{'active':menuItem.active}">
                                 <span class="icon {{menuItem.iconCls}}"></span>
                                 <span class="text">{{menuItem.text}}</span>
                                 <span class="icon arrow-icon"></span>
                              </a>
                              <app-submenu attr.aria-hidden="!(menuItem?.subMenu?.length)" *ngIf="menuItem?.subMenu?.length" [selectedOption]="selectedBuyMenu"
                                 (mouseleave)="dpmain.hide()" [options]="menuItem.subMenu" class="pop-over arrow-left hidden-xs"
                                 [class.no-sub-menu]="!menuItem.subMenu"></app-submenu>
                           </li>
                        </ul>
                     </nav>
                  </div>
                  <div class="right top-right-header-section" role="application">
                     <ul role="menu">
                        <ng-container *ngIf="isPreApprovedOffersEnabled && showPreApprovedOffers">
                           <li class="offer-notification" (click)="onNotificationClicked($event)">
                              <div class="stage">
                                 <div [ngClass]="{'pulse-icon pulsing' : showPulsatingIcon, 'bell-icon': !showPulsatingIcon }" [class.active]="notificationIconCliked">
                                    <span *ngIf="showPulsatingIcon">{{ unreadOffers.length }}</span></div>
                              </div>
                           </li>
                        </ng-container>
                        <li role="menuitem" dropdown triggers="hover click touchstart" appArrowNavigation [dpRef]="dp" [submenuindex]="submenuindex"
                           #topMenu="bs-dropdown" (mouseenter)="handleSubmenu(topMenu)" #dp="bs-dropdown" class="user-container  pop-over-container"
                           placement="bottom left" (onShown)="onProfileMenuOpened($event);">
                           <button role="presentation" dropdownToggle type="button" class="btn-profile-menu user dropdown-toggle" tabindex="0">
                              <div class="initials">{{clientInitials}}</div>
                              <div class="name hidden-sm">{{clientFullName}}</div>
                              <span class="caret"></span>
                           </button>
                           <app-submenu attr.aria-hidden="!(menuItem?.subMenu?.length)" [selectedOption]="selectedUserMenu" (mouseleave)="dp.hide()"
                              [options]="profileSubMenuOptions" class="pop-over right arrow-left hidden-xs" [class.no-sub-menu]="!profileSubMenuOptions"></app-submenu>
                        </li>
                        <li class="logout">
                           <a tabindex="0" (click)="onMenuItemClick(logoutMenu)" (keydown.Enter)="onMenuItemClick(logoutMenu)">{{logoutMenu.text}}</a>
                        </li>
                        <li class="cross" *ngIf="mobileMenuOpened" (click)="toggleMobileMenu()"></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
</div>
<header class="main-header" *ngIf="!isAuthenticated" [class.un-auth]="!isAuthenticated">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="header-block">
               <div class="left">
                  <a class="logo" routerLink="/login"></a>
               </div>
               <div class="right top-right-header-section">
                  <ul>
                     <li class="chat" (click)="chatBoxOpen()">
                        <div class="chat-icon"></div>
                     </li>
                     <li class="branch">
                        <div class="icon"></div>
                        <div class="details">
                           <a tabindex="-1" href="#" routerLink="branchlocator">Branch locator</a>
                        </div>
                     </li>
                     <li class="contact-details">
                        <div class="icon"></div>
                        <div class="details">
                           <p class="call">+27 86 055 5111</p>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>