@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';

$report-font-size:8px;
$very-small-font-mob: 9px;
$pop-text-color: $text-color-accent-primary;
.pop-payment{
   .pop-title{
      font-size: $font-default;
      font-weight: bold;
      margin-bottom: 15px;
      color: $pop-text-color!important;
      -webkit-print-color-adjust: exact;
   }
   .note{
      font-size: $report-font-size;
      color: $pop-text-color!important;
      padding: 15px 10px;
      -webkit-print-color-adjust: exact;
   }
   .horz-line{
      height: 1px;      
      margin-bottom: 10px;
      border-bottom: 2px solid $primary-color!important; 
   }
   .sub-title{
      font-weight: bold;
      font-size: $font-sm;
      color: $pop-text-color!important;
      margin-bottom: 5px;
      margin-top: 10px;
      -webkit-print-color-adjust: exact;
   }
   .margin-top-botm-20{
      margin-top: 20px;
      margin-bottom: 20px;
   }
   .tabular-details{
      margin-bottom: 10px;
      position: relative;
      height: 40px;
      &.row{
         margin-bottom: 10px;
         .background-img{
            width: 100%;
            height: 45px;
         }
         .field-text{
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            .column{
               letter-spacing: 0;
               -webkit-print-color-adjust: exact;
               label{
                  font-size: $report-font-size;
                  color: $pop-text-color!important;
                  -webkit-print-color-adjust: exact;
                  font-weight: normal;
                  margin-bottom: 0px;
               }
               .field-value{
                  font-size: $very-small-font-mob;
                  color:$text-color-primary!important;
                  -webkit-print-color-adjust: exact;
                  font-weight: bold;
                  margin-top: -3px;
                  padding-bottom: 5px;
               }
            }
      }

      }
   }
   .pay-amount{
      margin-bottom: 10px;
      .amt-col-1{
         label{
            font-size: $font-sm;
            color: $pop-text-color!important;
            font-weight: bold;
            margin-bottom: 0px;
            -webkit-print-color-adjust: exact;
         }
         .payamount-number{
            font-size: $font-xsm;
            color: $text-color-success !important;
            font-weight: bold;
            -webkit-print-color-adjust: exact;
         }
      }
      .amt-col-2{
         font-size: $report-font-size;
         color: $pop-text-color!important;
         -webkit-print-color-adjust: exact;
      }
   }
   .tranx-date{
      .txn-col-1{
         padding: 0px;
         -webkit-print-color-adjust: exact;
         position: relative;
         .background-img{
            width: 100%;
            height: 54px;
         }
         .field-text{
            position: absolute;
            top: 10%;
            left: 6%;
            label{
               font-size: $report-font-size;
               color: $text-color-primary !important;
               margin-bottom: 0px;
            }
            .dot-value{
               color: $pop-text-color!important;
               font-weight: bold;
               font-size: $very-small-font-mob;
               letter-spacing: 0;
            }
      }
      }
      .txn-col-2{
         padding: 0px;
         .background-img{
            width: 100%;
            height: 54px;
         }
         .field-text{
            position: absolute;
            top: 10%;
            left: 6%;
            label{
               font-size: $report-font-size;
               color: $text-color-highlight!important;
               margin-bottom: 0px;
            }
            .reference-value{
               color: $text-color-success !important;
               font-weight: bold;
               font-size: $very-small-font-mob;
            }
         }
      }
   }
   .para-label{
      color: $pop-text-color!important;
      font-size: $report-font-size;
      font-weight: bold;
   }
   .details-para{
      font-size: $report-font-size;
      &.para_1{
         font-style: normal;
         font-stretch: normal;
         line-height: 1.63;
         letter-spacing: 0.2px;
         color: $text-color-primary!important;
         margin: 20px 0px;
      }
      &.para_2{
         font-style: normal;
         font-stretch: normal;
         line-height: normal;
         letter-spacing: 0.1px;
         color: $report-para-color!important;
         margin-bottom: 20px;
      }
   }
}
@media (min-width: $media-sm){
   .pop-payment{
       .tranx-date{
         .txn-col-1{
            .field-text{
               .dot-value{
                font-size: $font-xsm;
               }
            }
         }
         .txn-col-2{
            .field-text{
               .reference-value{
                font-size: $font-xsm;
               }
            }
         }
       }
       .tabular-details{
          &.row{
            .field-text{
               .column{
                  .field-value{
                     font-size: $font-xsm!important;
                  }
               }
            }
         }
       }
   }
}