<div class="formInput">
  <form #nedIdDelayedForm="ngForm" class="gd-form">
    <div class="gd-form-row">
      <h4 class="section-title darkText">For your security we need to confirm your banking information.</h4>
    </div>
    <div class="gd-form-row">
      <span>Please provide the following:</span>
    </div>
    <div class="top-margin30">
      <hr />
      <div class="gd-form-row">
        <a href="javascript:void(0)" class="icon-field" (click)="navigateRegister($event)" (touchstart)="navigateRegister($event)">
          <span class="iconImg iconPPP"></span>
          <div class="registerHeadingText mediumText">Profile, PIN and password</div>
          <div class="registerText">Your old Nedbank internet banking login details.</div>
        </a>
        <hr />
      </div>
    </div>
  </form>
</div>