<app-colored-overlay class="initiate-overlay" [template]="successOverlay" [altButtonText]="'Close'" [alternate]='true'
   [isVisible]="showSuccess" (onHide)="exitOverview()">
   <ng-template #successOverlay>
      <div class="success-page-container container">
         <div class="row">
            <div class="col-xs-12 success-wrapper">
               <div class="success-row success-heading">
                  <h1 class="header-title section-separator">{{messages.success}}</h1>
                  <div class="header-msg">{{messages.hasBeenSetUp}}</div>
               </div>
               <div class="what-happens-next row">
                  <h2 class="footer-msg col-md-12 col-xs-12 section-separator">{{messages.whatHappenNext}}</h2>
               </div>
               <div class="row notification-content">
                  <div class="what-happens-col-header section-separator">
                     <span class="chat-icon icon"></span>
                     <div class="info">{{messages.willReceive}}</div>
                  </div>
               </div>
               <div class="contact-us row">
                  <h2 class="contact-us-title col-md-12 col-xs-12 section-separator">{{messages.contactUs}}</h2>
               </div>
               <div class="row">
                  <div class="contact-no section-separator col-md-4">
                     <span class="phone-icon"></span>
                     <div class="cell-no">{{messages.callCenter}}</div>
                  </div>
               </div>
               <div id="btn-div" class="btn-div">
                  <app-bottom-button [text]=" 'Go to account' " (click)="exitOverview()">Next</app-bottom-button>
               </div>
            </div>
         </div>
      </div>
   </ng-template>
</app-colored-overlay>
