@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';

$svg-path: './../../../../assets/svg/';
$unit-trusts-status-bg: $container-bg;

.unit-trusts-status {
   font-size: $label-size;
   background: $unit-trusts-status-bg;

   .notice {
      text-align: center;
      color: $text-color-notice-block;
      max-width: 370px;
      line-height: 1.13;
      font-size: $font-default-1;
   }
   @include main-content();
   
   @media (min-width: $media-sm) {
      .unit-trusts-status {
         font-size: $status-size;
      }
   }
}