@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';

$bg-color-dashboard: $body-bg;
$icon-back: 'back-green';
$icon-buy: 'Buydashboard-gray';
$icon-pay: 'PayIcon-grey';
$icon-transfer: 'TransferIcon-gray';
$icon-tick: 'tick';
$close-gray: 'close-gray';
$notification-icon: 'Notification-warning-error';
$media-xs-down: $media-sm - 1;
$icon-close: 'closeStatus';
$view-schedule-card-bg: $container-bg;
$svg-path: './../../../../assets/svg';

.view-schedule-conatiner {
   background-color: $bg-color-dashboard;
   min-height: calc( 100vh - 170px);
}
.disableBtn-errorMsg{
   margin-top: 5px;
}

.overlay-title {
      color: $text-color-secondary;
}
.success-block {
   color: $text-color-accent-primary;
   position: relative;
   height: 80px;
   background-color: $color-success-bg;

   .sucess-message {
      margin-left: 5px;
      padding: 18px 20px;
   }

   .icon-container {
      margin: 18px 15px;
      display: inline-block;
      &.cross-icon{
         position: absolute;
         top: 10%;
         right: 5px;
         cursor: pointer;
      }
      .img-step-tick {
         display: inline-block;
         @include svg-image-full-path($svg-path,$icon-tick,24px,18.9px);
         margin-left: 10px;
         margin-top: 5px;
      }
      .img-step-close {
            display: inline-block;
            @include svg-image-full-path($svg-path,$icon-close,11.8px,11.4px);
            margin-left: 10px;
            margin-top: 5px;
         }
   }
}

.error-block {
   color: $text-color-accent-primary;
   height: 80px;
   background-color: $color-error-bg;
   position: relative;
   .error-message {
      color: $text-color-error;
      margin-left: 5px;
      padding: 18px 27px 18px 0px;
   }

   .icon-container {
      margin: 18px 15px;
      display: inline-block;
      width: 36px;
      height: 36px;
      border: solid 2px $border-error;
      border-radius: 25px;

      &.cross-icon{
         position: absolute;
         top: 10%;
         right: -5px;
         border: none;
         border-radius: 0px;
         cursor: pointer;
      }
      .img-step-close {
         display: inline-block;
         @include svg-image-full-path($svg-path,$icon-close,11.8px,11.4px);
         margin-left: 10px;
         margin-top: 5px;
      }
      .img-step-close2 {
            display: inline-block;
            @include svg-image-full-path($svg-path,$icon-close,11.8px,11.4px);
            margin-left: 10px;
            margin-top: 5px;
         }
   }
}

.header-container {
   padding: 33px 0px;

   .icon {
      cursor: pointer;
      width: 36px;
      height: 36px;
      display: block;
      @include svg-image-full-path($svg-path,$icon-back,13px,14px);
      margin-right: 10px;
   }

   .icon::before {
      position: relative;
      top: -3px;
   }

   .header {
      font-size: $font-xlg;
      font-weight: $weight-medium;
      text-align: left;
      color: $text-color-secondary;
   }

   .flex-box {
      @include flexbox();
   }
}

.success-msg {
   padding: 30px 20px;
   height: 80px;
   background-color: $color-success-bg;

   .tick-icon {
      font-size: $font-default;
      line-height: 1.25;
      text-align: left;
      color: $text-color-accent-primary;
      @include svg-image-full-path($svg-path,$icon-tick,24px,18.9px);
   }
}

.view-schedule-card {
   background-color: $view-schedule-card-bg;
   padding: 13px 33%;

   .card-header {
      @include flexbox();
      margin-bottom: 30px;
      margin-top: 60px;

      .icon {
         min-height: 100%;
         cursor: pointer;

         .buy-icon {
            @include svg-image-full-path($svg-path,$icon-buy,26px,20px);
         }

         .pay-icon {
            @include svg-image-full-path($svg-path,$icon-pay,26px,20px);
         }

         .transfer-icon {
            @include svg-image-full-path($svg-path,$icon-transfer,26px,20px);
         }
      }

      span.title {
         margin-left: 20px;
         font-size: $font-lg;
         font-weight: $weight-medium;
         text-align: left;
         color: $text-color-secondary;
      }

      .format-edit {
         cursor: pointer;
         margin-left: auto;
         font-size: $font-default;
         text-align: left;
         color: $secondary-btn-color;
      }
   }

   .section {
      margin-top: 30px;

      .header {
         font-size: $font-md;
         font-weight: $weight-medium;
         text-align: left;
         color: $text-color-secondary;
      }

      .table-format {
         margin-top: 15px;
         width: 100%
      }

      tr {
         td {
            width: 50%;
            padding: 1px 0px;
         }
      }
   }
}

.margin-top {
   margin-top: 60px;
}

.delete-msg {
   color: $text-color-error;
   font-size: $font-default;
   font-weight: bold;
   text-align: center;
}

.margin-top-btn {
   margin-top: 10px
}

.overlay-container {
   .cross {
      @include svg-image-full-path($svg-path, $close-gray, 100%, 100%);
      width: 18px;
      height: 18px;
      cursor: pointer;
      position: absolute;
      right: 18px;
      opacity: 0.7;
   }

   .overlay-body {
      padding: 100px 100px 30px 100px;

      .delete-failed-msg {
         color: $text-color-error;
      }

      .notification-icon {
         @include svg-image-full-path($svg-path,$notification-icon,80px,66px);
         position: relative;
         left: 40%;
      }

      .delete-info-msg {
         font-size: $font-xlg;
         font-weight: $weight-medium;
         text-align: center;
         margin-top: 70px;
      }

      .delete-info-msg-2 {
         font-size: $font-lg;
         text-align: center;
         color: $text-color-primary;
         margin-top: 30px;
      }
   }
}

.button-container {
   padding: 35px 0px 0px 0px;
}

@media (max-width: $media-sm-down) {

   .header-container {
      padding: 20px 0px;

      .icon {
         width: 36px;
         height: 36px;
         display: block;
         @include svg-image-full-path($svg-path,$icon-back,13px,14px);
         margin-right: 10px;
      }

      .icon::before {
         position: relative;
         top: -3px;
      }

      .header {
         font-size: $font-lg;
      }
   }

   .margin-top {
      margin-top: 20px;
   }

   .view-schedule-card {
      background-color: $view-schedule-card-bg;
      margin: auto -15px;

      .card-header {
         @include flexbox();
         margin-bottom: 30px;
         margin-top: 10px;

         .icon {
            min-height: 100%;

            .buy-icon {
               @include svg-image-full-path($svg-path,$icon-buy,15px,11px);
               top: 3px;
            }

            .pay-icon {
               @include svg-image-full-path($svg-path,$icon-pay,15px,11px);
               top: 3px;
            }

            .transfer-icon {
               @include svg-image-full-path($svg-path,$icon-transfer,15px,11px);
               top: 3px;
            }
         }

         span.title {
            margin-left: 10px;
            font-size: $font-lg;
            font-weight: $weight-medium;
            text-align: left;
            color: $text-color-secondary;
         }

         .format-edit {
            margin-left: auto;
            font-size: $font-default;
            text-align: left;
            color: $secondary-btn-color;
         }
      }

      .section {
         margin-top: 30px;

         .header {
            font-size: $font-sm;
            font-weight: $weight-medium;
            text-align: left;
            color: $text-color-secondary;
         }

         .table-format {
            margin-top: 15px;
            font-size: $font-sm;
            widows: 100%;

            tr {
               td {
                  width: 50%;
                  padding: 1px 0px;
               }
            }
         }
      }
   }

   .overlay-container {

      .overlay-body {
         padding: 60px 60px;

         .notification-icon {
            @include svg-image-full-path($svg-path,$notification-icon,60px,30px);
            position: relative;
            left: 40%;
         }

         .delete-info-msg {
            font-size: $font-lg;
            font-weight: $weight-medium;
            text-align: center;
            margin-top: 50px;
         }

         .delete-info-msg-2 {
            font-size: $font-default;
            text-align: center;
            color: $text-color-primary;
            margin-top: 20px;
         }

         .button-container {
            font-size: $font-default;
         }
      }
   }

   .margin-top-btn {
      margin-top: 10px;
      font-size: $font-sm;
   }
}

@media (max-width: $media-xs-down) {
   .view-schedule-card {
      background-color: $view-schedule-card-bg;
      padding: 10px 10%;
   }

   .error-block {
      background-color: $color-error-bg;
      margin: 0px -15px;

      .error-message {
         color: $text-color-error;
         font-size: $font-sm;
         display: flex;
      }

      .icon-container {
         margin: 18px 15px;
         display: inline-block;
         width: 36px;
         height: 36px;
         border: solid 2px $border-error;
         border-radius: 25px;

         .img-step-close {
            display: inline-block;
            @include svg-image-full-path($svg-path,$icon-close,11.8px,11.4px);
            margin-left: 10px;
            margin-top: 5px;
         }
      }
   }


   .overlay-container {

      .overlay-body {
         padding: 10px 10px;

         .notification-icon {
            @include svg-image-full-path($svg-path,$notification-icon,60px,30px);
            position: relative;
            left: 33%;
         }

         .delete-info-msg {
            font-size: $font-lg;
            font-weight: $weight-medium;
            text-align: center;
            margin-top: 50px;
         }

         .delete-info-msg-2 {
            font-size: $font-sm;
            text-align: center;
            color: $text-color-primary;
            margin-top: 20px;
         }

         .button-container {
            font-size: $font-sm;
            padding-bottom: 0px;
         }
      }
   }
}
@media (min-width: $media-sm) {
   .success-block {
      .sucess-message {
         padding: 25px 20px;
      }
   }
   .error-block {
      .error-message {
         padding: 25px 20px 25px 0px;
      }
   }
}

:host::ng-deep{
      .gd-ghost-btn
      {
         &.delete{
            &[disabled]{
               opacity: 0.5;
            }
         }
      }
}