@import '../../../styles/_mixins.scss';
@import '../../../styles/_base.scss';
@import '../../../styles/_theme.scss';
$svg-path: './../../../assets/svg/';
$search-input-border-radius: 2px;
$search-input-bg: $body-bg;
$search-input-border: $form-element-border;
.transaction-search-container {
   .container {
      background-color: $text-color-highlight;
      box-shadow: 0 1px 0 0 $info-window-color;
      padding: 20px;
      .search-field {
         position: relative;
         margin-bottom: 6px;
         background-color: $container-bg;
         .search-text {
            font-size: $font-sm;
            line-height: 1.5;
            color: $text-color-primary;
         }
         input {
            border-color: $search-input-border;
            &:focus {
               border-color: $search-input-border !important;
            }
         }
         .clear-field-block {
            @include flexbox();
            .clear-field {
               right: 50px;
               margin-right: 30px;
            }
         }
         .filter-text {
            @include align-self(center);
            padding-left: 6px;
            padding-right: 5px;
            line-height: 0.25;
            color: $text-color-info;
            font-size: $font-xsm;
         }
         .icon {
            cursor: pointer;
            @include align-self(center);
            &.filter {
               @include svg-image-full-path($svg-path, 'filter-green', 20px, 20px);
            }
            &.filter-grey {
               @include svg-image-full-path($svg-path, 'filter-grey', 20px, 20px);
            }
         }
      }
      .gd-form {
         .gd-form-row {
            margin-bottom: 0;
            .calendar-icon {
               @include svg-image-full-path($svg-path, 'calendar', 26px, 26px);
               position: absolute;
               top: 10px;
               right: 10px;
            }
         }
      }
      .gd-form-row {
         position: relative;
         ::ng-deep app-custom-date-picker {
            input[disabled] {
               border: $form-element-border-size solid $form-element-border !important;
               color: $form-element-border !important;
               font-size: $label-size;
            }
            .dp-input-container .dp-picker-input {
               font-size: $label-size;
            }
            .icon-field .icon.calendar {
               top: 10px;
            }
            .dp-input-container .dp-current-location-btn {
               display: none;
            }
         }
      }
      .search-labels {
         padding-top: 13px;
         font-size: $font-sm;
         line-height: 1.5;
         color: $text-color-primary;
         font-weight: normal;
      }
      .gd-period-label {
         padding-top: 13px;
         font-size: $font-sm;
         line-height: 1.5;
         color: $text-color-primary;
         font-weight: normal;
      }
      .to-from-container {
         @include flexbox();
         width: 95%;
         .from-container {
            padding-right: 0;
            input {
               border-color: $search-input-border;
            }
         }
         .to-container {
            padding-right: 0;
            input {
               border-color: $search-input-border;
            }
            .search-labels-blur {
               color: $text-color-primary;
               padding-top: 14px;
               opacity: 0.5;
               font-size: $font-sm;
            }
         }
         .err-msg {
            color: $warning-primary;
            font-size: $time-size;
         }
      }
      .buttons.row {
         .submit-btn {
            ::ng-deep app-bottom-button {
               .gd-primary-btn:disabled {
                  opacity: 0.8;
               }
               .gd-primary-btn {
                  background-color: $primary-color;
                  color: $text-color-highlight;
               }
               .gd-primary-btn:active,
               .gd-primary-btn:hover {
                  background-color: $primary-darker-color;
                  color: $text-color-highlight;
               }
               .gd-ghost-btn {
                  color: $primary-color;
               }
            }
         }
      }
      .period-container {
         width: 94%;
         @include flexbox();
         @include flex-direction(column);
         .btn-group {
            ::ng-deep app-toggle-button-group {
               .button-group label {
                  background-color: $text-color-highlight;
                  border-color: $primary-color;
                  color: $primary-color;
               }
               .button-group input:checked+label {
                  background: $primary-color;
                  border-color: $primary-color;
                  color: $text-color-highlight;
               }
            }
         }
      }
      .filter-option {
         @include flexbox();
         .filter-text {
            @include align-self(center);
            padding-left: 6px;
            padding-right: 5px;
            line-height: 0.25;
            color: $text-color-info;
            font-size: $font-xsm;
            &.filter-active {
               color: $secondary-color;
            }
         }
      }
      .buttons {
         padding: 20px 10px 10px 0;
         @include flexbox();
      }
   }
   .lazy-load-transactions {
      text-align: center;
      background-color: $container-bg;
      padding: 20%;
      .loader {
         display: inline-block;
         vertical-align: middle;
         width: 50px;
         color: $loader-bg;
      }
   }
   .error-screen {
      height: 160px;
      @include flexbox();
      @include justify-content(center);
      @include align-items();
      @include flex-direction(column);
      padding-bottom: 47px;
      .icon-warning {
         margin-bottom: 25px;
         @include svg-image-full-path($svg-path, 'warning-error', 60px, 60px);
      }
      .text {
         font-size: $font-default;
         color: $text-color-warmGrey;
         line-height: 1.16;
      }
   }
}

@media (min-width: $media-sm) {
   .transaction-search-container {
      .clear-field-block {
         .clear-field {
            right: 75px;
         }
      }
      .error-screen {
         height: 400px;
         padding: 40px;
         padding-bottom: 90px;
         .text {
            font-size: $font-lg;
         }
      }
   }
}

@media (max-width: $media-sm) {
   .transaction-search-container {
      .container {
         .period-container {
            .btn-group {
               ::ng-deep app-toggle-button-group {
                  .button-group label {
                     font-size: $time-size;
                  }
               }
            }
         }
         .search-labels,
         .search-field .search-text,
         .gd-period-label {
            font-size: $font-xxx-sm;
         }
      }
   }
}
