@import "../../../styles/_base.scss";
@import "../../../styles/_mixins.scss";
$svg-path: "../../../assets/svg/";

.cancel-loan-section {
   margin: 45px 15px;

   .title {
      @include markpro-medium();
      font-size: $para-title-size-mob;
      font-weight: $weight-medium;
      color: $text-color-secondary;
      text-align: center;
      letter-spacing: 0;
      line-height: 1.25;
      margin-bottom: 30px;
      display: block;
   }

   .section-paid-up {
      .paid-up-msg {
         font-size: $status-size;
         line-height: normal;
         letter-spacing: normal;
         color: $text-color-secondary;
         margin-bottom: 20px;
         display: block;
      }

      .req-cancel {
         @include markpro-medium();
         font-weight: $weight-medium;
         line-height: 1.38;
         margin-bottom: 30px;
         display: block;
      }

      .term-fee {
         margin-bottom: 30px;
         display: block;
      }
   }

   .section-not-paid-up {
      .not-paid-up-msg {
         font-size: $status-size;
         line-height: normal;
         letter-spacing: normal;
         color: $text-color-secondary;
         margin-bottom: 45px;
         display: block;
      }

      .cancel-notice-msg {
         font-size: $message-size;
         font-weight: $weight-medium;
         line-height: 1.38;
         letter-spacing: 0.2;
         color: $text-color-primary;
         margin-bottom: 85px;
         display: block;
      }

      .like-to-place-notice {
         @include markpro-medium();
         font-weight: $weight-medium;
         line-height: 1.22;
         letter-spacing: 0.2;
         color: $text-color-primary;
         margin-bottom: 30px;
         display: block;
      }

      .gd-secondary-btn {
         margin-bottom: 30px;
      }

      .early-termination-msg {
         font-size: $message-size;
         line-height: normal;
         letter-spacing: normal;
         color: $text-color-primary;
         margin-bottom: 30px;
         display: block;
      }

      .term-fee {
         margin-bottom: 30px;
         display: block;
      }
   }

   .email-input-container {
      margin-bottom: 30px;
      max-width: 400px;

      .input-email-container {
         margin-bottom: 40px;
      }

      .input-email {
         color: $text-color-secondary;
         line-height: 1.5;
      }

      .icon-block {
         margin-left: 18px;
      }

      .ng-valid {
         border-color: $form-element-border;
      }
   }

   .checkbox-container {
      margin-bottom: 30px;

      .checkbox-label {
         padding-left: 0;
         cursor: pointer;

         .text {
            text-align: left;
            font-weight: $weight-medium;
         }

         .tick-mark-container {
            position: relative;
            border: 2px solid $form-element-border;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            margin-top: -4px;
            float: left;
            margin-right: 6px;

            .tick-mark-icon {
               color: $text-color-highlight;
               position: absolute;
               font-size: $font-default;
               line-height: 0;
               top: 50%;
               left: 20%;
            }
         }

         .checkbox {
            display: none;

            &:checked+.tick-mark-container {
               background-color: $checkbox-bg-active;
               border-color: $checkbox-bg-active;

               .tick-mark-icon {
                  opacity: 1;
               }
            }

            &:disabled+.tick-mark-container {
               opacity: .5;
            }

            &+.tick-mark-container {
               &>.tick-mark-icon {
                  opacity: 0;
               }
            }
         }
      }
   }
}

.success-cancel-section {
   margin: 45px 15px 0;

   .title {
      @include markpro-medium();
      font-weight: $weight-medium;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: $text-color-secondary;
      margin-bottom: 30px;
      display: block;
   }

   .msg-success {
      margin-bottom: 30px;

      .success-msg {
         @include markpro-medium();
         font-weight: $weight-medium;
         line-height: normal;
         letter-spacing: normal;
         color: $text-color-secondary;
         margin-bottom: 10px;
         display: block;
      }
   }

   .what-happens-nxt {
      @include markpro-medium();
      font-weight: $weight-medium;
      line-height: normal;
      letter-spacing: normal;
      color: $text-color-secondary;
      margin-bottom: 30px;
      display: block;
   }

   .cancel-process-msg {
      font-size: $message-size;
      line-height: normal;
      letter-spacing: normal;
      color: $text-color-primary;
      margin-bottom: 35px;
      display: block;
   }

   .for-further-info {
      @include markpro-medium();
      font-weight: $weight-medium;
      line-height: 1.94;
      letter-spacing: normal;
      color: $text-color-secondary;
      margin-bottom: 30px;
      display: block;
   }

   .icon-container {
      @include flexbox();
      margin-top: 10px;

      .icon {
         margin-right: 10px;
         @include border-radius(50%);

         .icon-phone {
            @include svg-image-full-path($svg-path, 'phone', 30px, 30px);
         }

         .icon-email-with-at {
            @include svg-image-full-path($svg-path, 'email-with-at', 30px, 30px);
         }
      }

      .icon-title {
         width: 132px;
         font-size: $message-size;
         line-height: 1.5;
         letter-spacing: normal;
         color: $text-color-primary;
         margin-bottom: 15px;
         display: block;
      }
   }
}

.req-in-progress-section {
   margin: 45px 15px;

   .title {
      @include markpro-medium();
      font-weight: $weight-medium;
      line-height: 1.25;
      letter-spacing: normal;
      text-align: center;
      color: $text-color-secondary;
      margin-bottom: 30px;
      display: block;
   }

   .process-req-msg {
      @include markpro-medium();
      font-weight: $weight-medium;
      line-height: normal;
      letter-spacing: 0;
      color: $text-color-secondary;
      margin-bottom: 30px;
      font-size: $section-title-secondary-size-mob;
      display: block;
   }

   .what-happens-nxt {
      @include markpro-medium();
      font-weight: $weight-medium;
      line-height: normal;
      letter-spacing: normal;
      color: $text-color-secondary;
      margin-bottom: 30px;
      display: block;
   }

   .process-contact-info {
      font-size: $message-size;
      line-height: normal;
      letter-spacing: normal;
      color: $text-color-primary;
      margin-bottom: 30px;
      display: block;
   }

   .process-contact-msg {
      font-size: $message-size;
      line-height: normal;
      letter-spacing: normal;
      color: $text-color-primary;
      margin-bottom: 15px;
      display: block;
   }

   .for-further-info {
      @include markpro-medium();
      font-weight: $weight-medium;
      line-height: 1.94;
      letter-spacing: normal;
      color: $text-color-secondary;
      margin-bottom: 30px;
      display: block;
   }

   .icon-container {
      @include flexbox();
      margin-top: 10px;

      .icon {
         margin-right: 10px;
         @include border-radius(50%);

         .icon-phone {
            @include svg-image-full-path($svg-path, 'phone', 30px, 30px);
         }

         .icon-email-with-at {
            @include svg-image-full-path($svg-path, 'email-with-at', 30px, 30px);
         }
      }

      .icon-title {
         width: 132px;
         font-size: $message-size;
         line-height: 1.5;
         letter-spacing: normal;
         color: $text-color-primary;
         margin-bottom: 15px;
         display: block;
      }
   }
}

@media (min-width: $media-sm) {
   .cancel-loan-section {
      margin: 30px 85px;

      .title {
         font-size: $main-title-size;
         line-height: 1.33;
         margin-bottom: 60px;
         color: $primary-color;
         text-align: left;
         font-family: $font-markpro;
         font-weight: $weight-normal;
      }

      .section-paid-up {
         .paid-up-msg {
            font-size: $page-title-secondary-size;
            line-height: 1.25;
            margin-bottom: 30px;
         }

         .req-cancel {
            font-size: $para-title-size-mob;
            line-height: 1.22;
            margin-bottom: 20px;
         }

         .term-fee {
            &.with-margin-bottom-60 {
               margin-bottom: 60px;
            }
         }
      }

      .section-not-paid-up {
         .not-paid-up-msg {
            font-size: $main-title-size-mob;
            line-height: 1.25;
            color: $text-color-primary;
            margin-bottom: 30px;
         }

         .cancel-notice-msg {
            max-width: 850px;
            font-size: $message-size;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
            margin-bottom: 30px;
         }

         .like-to-place-notice {
            font-size: $message-size;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
            margin-bottom: 15px;
         }

         .gd-secondary-btn {
            margin-bottom: 60px;
         }

         .early-termination-msg {
            font-size: $message-size;
            font-weight: normal;
            margin-bottom: 30px;
         }
      }

      .checkbox-container {
         margin-bottom: 30px;
      }
   }

   .success-cancel-section {
      margin-left: 85px;
      margin-top: 30px;

      .title {
         font-size: $main-title-size;
         line-height: normal;
         text-align: left;
         margin-bottom: 60px;
      }

      .msg-success {
         margin-bottom: 60px;

         .success-msg {
            font-size: $lg-heading-size;
            font-weight: normal;
         }
      }

      .what-happens-nxt {
         font-size: $lg-heading-size;
         font-weight: normal;
         margin-bottom: 60px;
      }

      .cancel-process-msg {
         width: 924px;
         font-size: $message-size;
         margin-bottom: 40px;
      }

      .for-further-info {
         font-size: $lg-heading-size;
         font-weight: normal;
         line-height: 1.25;
         margin-bottom: 35px;
      }

      .icon-container {
         display: flex;
         margin-top: 10px;

         .icon {
            margin-right: 10px;
            @include border-radius(50%);

            .icon-phone {
               @include svg-image-full-path($svg-path, 'phone', 30px, 30px);
            }

            .icon-email-with-at {
               @include svg-image-full-path($svg-path, 'email-with-at', 30px, 30px);
            }
         }

         .icon-title {
            width: 132px;
            font-size: $message-size;
            line-height: 1.5;
            letter-spacing: normal;
            color: $text-color-primary;
            margin-bottom: 15px;
            display: block;
         }
      }
   }

   .req-in-progress-section {
      margin: 30px 85px;
      max-width: 910px;

      .title {
         font-size: $main-title-size;
         line-height: 1.33;
         text-align: left;
         font-weight: normal;
         margin-bottom: 60px;
         color: $primary-color;
         font-family: $font-markpro;
      }

      .process-req-msg {
         font-size: $main-title-size-mob;
         margin-bottom: 12px;
         color: $text-color-primary;
         line-height: 1.25;
         font-weight: $weight-normal;
         font-family: $font-markpro;
      }

      .what-happens-nxt {
         font-size: $lg-heading-size;
         font-weight: normal;
         margin-bottom: 25px;
      }

      .process-contact-info {
         width: 924px;
         font-size: $message-size;
         margin-bottom: 80px;
      }

      .process-contact-msg {
         font-size: $message-size;
         margin-right: 71px;
         margin-bottom: 60px;
      }

      .set-margin-btm {
         margin-bottom: 50px;
      }

      .for-further-info {
         font-size: $lg-heading-size;
         font-weight: normal;
         line-height: 1.25;
         margin-bottom: 35px;
      }

      .icon-container {
         display: flex;
         margin-top: 10px;

         .icon {
            margin-right: 10px;
            @include border-radius(50%);

            .icon-phone {
               @include svg-image-full-path($svg-path, 'phone', 30px, 30px);
            }

            .icon-email-with-at {
               @include svg-image-full-path($svg-path, 'email-with-at', 30px, 30px);
            }
         }

         .icon-title {
            width: 132px;
            font-size: $message-size;
            line-height: 1.5;
            letter-spacing: normal;
            color: $text-color-primary;
            margin-bottom: 15px;
            display: block;
         }
      }
   }
}
