<div class="slider-container" [ngClass]="{'slide':show}" [class.is-skeleton-loading]='skeletonMode' *ngIf="show">
   <div class="header">
      <span class="text">{{title}}</span>
      <span class="cross-bar" (click)="closeSlider($event)"></span>
   </div>
      <ul class="item-list" *ngIf="offers">
         <li *ngFor="let item of offers" class="item" (click)="readNotification(item)">
            <div class="item-text" >
                  <span class="circle" *ngIf="item.status === null || item.status === labels.OFFER_PRESENTED"></span>
                  <span  class="title" [class.unread]="item.status === null || item.status === labels.OFFER_PRESENTED" [innerHTML]="item.shortMessage | skeletonLoader:skeletonMode" ></span>
                  <p class="description" [innerHTML]="item.message | skeletonLoader:skeletonMode" ></p>
            </div>
            <span class="arrow"></span>
         </li>
      </ul>
</div>