@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';


$svg-path: './../../../assets/svg';
$icon-back-gray: 'close-light-gray';

.slider-container{
   .header{
      @include flexbox();
      @include align-items(center);
       font-size: $md-heading-size;
       color: $color-menuMobileFull;
       padding:24px 30px;
       border-bottom: 1px solid $color-lightGrey-d1;
       position: relative;
       .text{
          @include flex(1);
       }
       .cross-bar{
          @include svg-image-full-path($svg-path, $icon-back-gray);
          width: 20px;
          height: 20px;
          cursor: pointer;
          margin-top: -8px;
       }
   }
  .item-list{
  font-weight: 400;
  list-style: none;
      .item{
         @include flexbox();
         @include align-items(center);
         padding: 20px 10px 18px 30px;
         cursor: pointer;
        .item-text{     
         @include flex(0.9);
         .circle{
            height: 10px;
            width: 10px;
            background-color: $color-parrotGreen;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 3px;
            margin-right: 6px;
         }
         .title{       
            color: $color-menuMobileFull;
            font-size: $section-title-secondary-size-mob;
            font-weight: 300;
            &.unread{
               font-weight: bold;

            }
         }
         .description{
            color: $coloy-lightGrey-d4;
            font-size: 14px;
         }
        }
        border-bottom: 1px solid $color-lightGrey-d1;
        .arrow {
         @include svg-image-full-path($svg-path,'Arrow');
         width: 10px;
         position: absolute;
         right: 29px;
         cursor: pointer;
        }
      }
   }

}