<div class="payout-type-container">
   <div class="inner-container">
      <div class="row">
         <div class="page-title">
            <span class="payment-title" [innerHtml]="payoutTypeLabel?.selectPaymentTitle"></span>
            <span class="title-divider"></span>
         </div>
         <div class="prop-address">
            <span class="prop-title" [innerHtml]="payoutTypeLabel?.propertyAddress"></span>
            <span class="prop-addr-val" [innerHtml]="propertyAddress"></span>
         </div>
         <div class="progress-pay-out green-rect-border-div" (click)="onPayoutTypeSelect(payoutTypeLabel?.progress.toLowerCase())">
            <div class="icon progress-payout-icon">
            </div>
            <div class="icon right-arrow-icon">
            </div>
            <span class="heading" [innerHtml]="payoutTypeLabel?.progressPayment"></span>
         </div>
         <div class="green-rect-border-div final-pay-out" (click)="onPayoutTypeSelect(payoutTypeLabel?.final.toLowerCase())">
            <div class="icon final-payout-icon">
            </div>
            <div class="icon right-arrow-icon">
            </div>
            <span class="heading second-heading" [innerHtml]="payoutTypeLabel?.finalPayment"></span>
         </div>
      </div>
   </div>
</div>
<app-small-overlay [template]="finalOverlay" alternate='true' *ngIf="showFinalPopup">
   <ng-template #finalOverlay>
      <app-popup-stepper (userActionClick)="userAction($event)"></app-popup-stepper>
   </ng-template>
</app-small-overlay>
