@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';
$svg-path: './../../../assets/svg';
$progress-payout-icon: 'ProgressIcon';
$final-payout-icon: 'Finalicon';
$right-arrow-icon: 'rightarrow';
@mixin default-font {
   letter-spacing: normal;
   line-height: normal;
   font-weight: 500;
   font-family: $font-markpro-medium;
}

.payout-type-container {
   display: table;
   margin: 0 auto;
   padding: 0px 20px;
   cursor: default;
   .page-title {
      margin-top: 60px;
      .payment-title {
         @include default-font;
         font-size: $font-xlg;
         color: $text-color-secondary;
         margin-bottom: 15px;
      }
   }
   .prop-address {
      .prop-title {
         @include default-font;
         display: block;
         font-size: $font-lg;
         color: $color-greyDark;
         line-height: 1.25;
         margin-bottom: 5px;
         margin-top: 15px;
      }
      .prop-addr-val {
         color: $color-greyDark;
         line-height: 1;
         font-family: $font-markpro;
         font-size: $para-title-size;
      }
   }
   .green-rect-border-div {
      cursor: pointer;
      height: 200px;
      max-width: 400px;
      width: 400px;
      margin: auto 0;
      border: solid 2px $color-greenMedium;
      border-radius: 5px;
      position: relative;
      margin: 30px 0px;
      text-align: center;
      .heading {
         @include default-font;
         position: absolute;
         bottom: 22px;
         color: $color-greenMedium;
         font-size: $font-default;
         left: 135px;
      }
      .second-heading {
         left: 138px;
      }
      .progress-payout-icon {
         @include svg-image-full-path($svg-path, $progress-payout-icon, 81.9px, 52.1px);
         margin: 0 auto;
         display: inline-block;
         top: 50%;
         transform: translateY(-50%);
      }
      .final-payout-icon {
         @include svg-image-full-path($svg-path, $final-payout-icon, 85.9px, 96.1px);
         margin: 0 auto;
         display: inline-block;
         top: 50%;
         transform: translateY(-50%);
      }
      .right-arrow-icon {
         @include svg-image-full-path($svg-path, $right-arrow-icon, 48px, 48px);
         margin: auto;
         position: absolute;
         display: inline-block;
         top: 50%;
         transform: translateY(-50%);
         right: 0;
      }
   }
}

@media (max-width: $media-sm) {
   .payout-type-container {
      padding: 0px 16px 0 19px;
      width: 100%;
      max-width: 400px;
      .page-title {
         margin-top: 30px;
         .payment-title {
            font-size: $font-lg;
            margin-top: 30px;
            margin-bottom: 0px;
            padding-bottom: 30px;
         }
      }
      .prop-address {
         margin-top: 24px;
         span.prop-addr-val {
            font-size: $font-default;
         }
      }
      .green-rect-border-div {
         width: unset;
         .heading,
         .second-heading {
            left: 0;
            right: 0;
         }
         .progress-payout-icon {
            width: 69.7px;
            height: 52.1px;
         }
         .final-payout-icon {
            width: 73px;
            height: 63.3px;
         }
         .right-arrow-icon {
            width: 40.8px;
            height: 48px;
         }
      }
      .final-pay-out {
         margin-bottom: 15px;
      }
   }
   .title-divider {
      display: block;
      border-bottom: 1px solid $color-offWhite;
      margin: 30px -20px;
   }
}

@media (max-width: $media-xs) {
   .payout-type-container {
      padding: 0px 16px 0 19px;
      width: 100%;
      .page-title {
         margin-top: 0px;
         .payment-title {
            font-size: $font-lg;
            margin-top: 30px;
            margin-bottom: 0px;
            padding-bottom: 30px;
         }
      }
      .prop-address {
         margin-top: 24px;
         span.prop-addr-val {
            font-size: $font-default;
         }
      }
      .green-rect-border-div {
         width: unset;
         .heading,
         .second-heading {
            left: 0;
            right: 0;
         }
         .progress-payout-icon {
            width: 69.7px;
            height: 52.1px;
         }
         .final-payout-icon {
            width: 73px;
            height: 63.3px;
         }
         .right-arrow-icon {
            width: 40.8px;
            height: 48px;
         }
      }
      .final-pay-out {
         margin-bottom: 15px;
      }
   }
}
