<app-header (change)="closeChat($event)"></app-header>
<div class="scroll-page main-page " id="scroll-page" [ngClass]=" {'chat-active' : chatBox , 'trusteer-active' : showTrusteerSplash}">
   <div [ngClass]="{'page-content-footer-wrapper' : showChat || showTrusteerSplash}" >
      <span *ngIf='showChat' class="chat-icon-position chat-icon no-print" (click)="chatBoxOpen()"> </span>
      <div class=" app-content-inner">
         <app-system-error [type]='sysErrorInstanceType.Body'></app-system-error>
         <router-outlet>
         </router-outlet>
      </div>
      <app-footer></app-footer>

   </div>
   <div class="chat-app no-print">
      <div class="chat-box-main-container no-print" *ngIf="chatBox">
         <app-chat [isloggedIn]='isloggedIn' (change)="closeChat($event)"> </app-chat>
      </div>
   </div>
   <div class="trusteer-app">
      <div class="trusteer-main-container"  *ngIf="showTrusteerSplash">
            <app-trusteer (onCloseTrusteerEmit)="onCloseTrusteer($event)"></app-trusteer>
      </div>
   </div>
   <app-unsave-overlay>
   </app-unsave-overlay>
</div>
<app-loader></app-loader>
<app-browser-back-overlay></app-browser-back-overlay>
