@import '../styles/_mixins.scss';
@import '../styles/_base.scss';
$default-svg-image-path: "./../assets/svg/";
$icon-chat: 'group-3';
.chat-icon {
   @include svg-image-full-path($default-svg-image-path, $icon-chat, 60px, 60px);
}

.scroll-page {
   padding-top: 0;
   @include box-sizing(border-box);
   .app-content1 {
      overflow: hidden;
      width: 100%;
      @include main-content();
   }
   .app-content-inner {
      overflow: hidden;
      @include main-content();
   }
   app-footer {
      display: block;
      @include app-footer();
   }
}

app-header {
   display: block;
   height: $header-height-mob;
}

.footer {
   width: 75%;
}

.chat-icon-position {
   cursor: pointer;
   position: fixed;
   bottom: 46%;
   right: 0%;
   right: 1.25%\0;
   z-index: 1000;
   transition-duration: 0.5s;
}

.chat-box-main-container {
   position: fixed;
   height: 100%;
   width: 30%;
   overflow: hidden;
   margin-top: 1px;
   background-color: $container-bg;
   border-left: 1px solid $divider-secondary;
   z-index: 1000;
}
.trusteer-main-container {
   position: fixed;
   right:0px;
   height: 100%;
   overflow: hidden;
   margin-top: 1px;
   background-color: $container-bg;
   border-left: 1px solid $divider-secondary;
   z-index: auto;
}

.page-content-footer-wrapper {
   transition-duration: 0.5s;
   width: 100%;
}

.main-page {
   &.chat-active {
      .page-content-footer-wrapper {
         width: calc(100% - 30%);
         float: left;
      }
      .chat-app {
         display: block;
         width: 30%;
         float: right;
         background-color: $color-white;
         height: 100%;
      }
   }
   &.trusteer-active {
      .page-content-footer-wrapper {
         width: calc(100% - 400px);
         float: left;         
      }
      .trusteer-app {
         display: block;
         width: 400px;
         background-color: $color-white;
         height: 100%;
      }
   }
}

@media (max-width: $media-xs-down) {
   .page-content-footer-wrapper {
      width: 100%;
   }
   .chat-icon-position {
      display: none;
   }

   .main-page {
      &.trusteer-active {
         .page-content-footer-wrapper {
            width: 100%;
         }
         .trusteer-app {
            display: none;
         }
      }
   }
}

@media (min-width: $media-sm) {
   app-header {
      height: $header-height + 1;
   }
}

@media screen and (min-width: $media-xxs) and (max-width: $media-md) {
   .chat-box-main-container {
      width: 100%;
      z-index: 1000;
   }
   .main-page {
      &.chat-active {
         .page-content-footer-wrapper {
            display: none;
         }
         .chat-app {
            display: block;
            width: 100%;
            background-color: $color-white;
            height: 100%;
         }
      }
   }
}
