@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';
$icon-path: '../../../../assets/svg/';
.title {
   font-size: $para-title-size;
   @include markpro-medium();
   margin: 40px auto;
   color: $text-color-primary;
   text-align: center;
   padding: 0px;
}

.reverse-successful {
   .title {
      margin-top: 50px;
      font-size: $font-md;
      color: $secondary-color;
      text-align: center;
      .tick-icon {
         display: inline-block;
         margin-right: 10px;
         top: 7px;
         @include svg-image-full-path($icon-path, 'tick_circle', 24px, 24px);
      }
   }
   .disclaimer-container {
      @include flexbox();
      padding: 20px 12px;
      font-size: $font-sm;
      background-color: $info-window-color;
      margin: 50px;
   }
   .btn-container {
      .reverse-debit-btn,
      .stop-debit-btn {
         margin-bottom: 20px;
      }
      position: fixed;
      bottom: 0;
      width: 80%;
      left: 10%;
      ::ng-deep {
         .gd-primary-btn,
         .gd-ghost-btn {
            max-width: 100%;
         }
      }
   }
}

.header-row {
   max-width: 450px;
   margin: 0 auto;
   .padding-top {
      padding-top: 10px;
   }
   .success-icon {
      &.icon-field {
         position: relative;
         margin: 20px 0;
         .icon {
               display: inline-block;
               right: 9%;
               top: 9px;
               cursor: pointer;
               &.success {
                  @include svg-image-full-path($icon-path, 'success', 34px, 34px);
               }
         }
      }
   }
   .error-icon {
      &.icon-field {
         position: relative;
         margin: 20px 0;
         .icon {
               width: 60px;
               height: 60px;
               display: inline-block;
               right: 5px;
               top: 9px;
               border: 2px solid $border-error;
               border-radius: 50%;
               padding: 15px;
               cursor: pointer;
               &.error {
                  @include svg-image-full-path($icon-path, 'closeStatus');
               }
         }
      }
   }
}

.block-form {
   max-width: 400px;
   margin: 0 auto;
   .sub-title {
      font-size: $font-xsm+1;
      color: $text-color-primary;
      padding-bottom: 30px;
   }
   .info-container {
      background-color: $info-container-bg;
      margin-top: 30px;
      margin-bottom: 40px;
      padding: 22px 14px;
      .info-msg {
         margin-left: 35px;
         .dispute-notes {
               padding-left: 18px;
               li {
                  span {
                     position: relative;
                     left: 10px;
                  }
               }
         }
      }
      .icon {
         float: left;
         @include svg-image-full-path($icon-path, 'information', 23px, 23px);
      }
   }
}

@media (min-width: $media-sm) {
   .reverse-successful {
      .title {
         font-size: $font-xlg;
         padding-left: 20px;
         margin-bottom: 20px;
         .tick-icon::before {
            width: 32px;
            height: 32px;
         }
      }
      .disclaimer-container {
         width: 400px;
         margin: 0 auto;
         margin-bottom: 50px;
         margin-top: 25px;
      }
      .btn-container {
         position: relative;
         @include flexbox();
         justify-content: center;
         .reverse-debit-btn {
            display: inline-block;
            padding: 0 25px;
            ::ng-deep .gd-primary-btn {
               padding: 0 115px;
            }
         }
         .stop-debit-btn {
            ::ng-deep .gd-ghost-btn {
               padding: 0 85px;
            }
         }
      }
   }
}

@media screen and (min-width: $media-md-up) {
   .title {
      font-size: $section-title-size-sm;
      padding-left: 20px;
   }
   .block-form {
      .sub-title {
         font-size: $para-title-size;
         padding-bottom: 20px;
      }
   }
}
