<div class="row reverse-successful" *ngIf="status===notificationTypes.Success">
   <div class="title">
      <span class="tick-icon"></span>
      <span>{{messages.reverseDebitOrderSuccessful}}</span>
   </div>
   <div class="disclaimer-container">
      <span class="info-icon"></span>
      <span class="disclaimer">{{messages.reverseDebitOrderSuccessDisclaimer}}</span>
   </div>
   <div class="btn-container">
      <div class="reverse-debit-btn">
         <app-bottom-button id="reverse-debit-order-done-btn" [text]="labels.doneBtnText" (click)="onClose()"></app-bottom-button>
      </div>
      <div class="stop-debit-btn" *ngIf="showStopDebitOrder">
         <app-bottom-button id="stop-debit-order-btn" [alternateTheme]="true" [text]="labels.stopDebitOrderTitle" (click)="stopDebitOrder()"></app-bottom-button>
      </div>
   </div>
</div>

<div class="row header-row" *ngIf="status===notificationTypes.Error">
   <div class="col-xs-12 col-sm-1 no-padding text-center">
      <div class="icon-field error-icon">
         <div class="icon error text-center"></div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-11 title text-left">
      Request to reverse your debit order was unsuccessful
   </div>
   <div class="block-form">
      <div class="col-xs-12 sub-title text-left no-padding">
         {{debitReverseHelplineText}}
      </div>
      <app-bottom-button [text]="'Try again'" [disableButton]="isLoading || retryLimitExceeded" [showLoader]="isLoading" (click)="onRetrybuttonClick()"></app-bottom-button>
      <div class="gd-error padding-top" *ngIf="retryLimitExceeded">
         <span>Your debit order cannot be reversed right now. Please try again later.</span>
      </div>
   </div>
</div>
