<div class="component-container animated fadeIn">
   <div class="content-container clearfix">
      <div class="information-container tableCell">
         <div class="key">
            <div class="key-img-container" role="alert" aria-label="Please login with your Nedbank ID or register for one using your profile pin and password.">
               <img src={{images.login}} alt="">
            </div>
            <div class="key-content">
               <div>
                  <h3>Experience our
                     <br>new online banking.</h3>
                  <div class="key-content-icons">
                     <div class="key-content-icon">
                        <img src={{images.fast}} alt="Fast">
                        <small>Fast</small>
                     </div>
                     <div class="key-content-icon">
                        <img src={{images.easy}} alt="Easy">
                        <small>Easy</small>
                     </div>
                     <div class="key-content-icon">
                        <img src={{images.secure}} alt="Secure">
                        <small>Secure</small>
                     </div>
                  </div>

                  <p>This enhanced banking experience is packed with new features. While functionality is currently limited and not yet available to business users, many great updates are coming soon!</p>

                  <p>While you’re at it, download our new
                     <a class="link-text" #downloadMoneyAppClick target="_blank" href={{links.moneyAppLink}}>Nedbank Money App</a>
                  </p>
               </div>
            </div>

         </div>
      </div>
      <div class="login-container tableCell">
         <div class="formInput">
            <form #loginForm="ngForm" class="gd-form">
               <div *ngIf="nedIdFederated;else notFederated">
                  <div class="information-container-small">
                     <h3 class="headingText">Experience our
                        <br>new online banking.</h3>
                     <div class="anchorDiv" *ngIf="showPPPEnrolment">
                        <div>New to our latest online banking?</div>
                        <div class="link-text" (click)="scrollToLink('#buttonDiv')" (touchstart)="scrollToLink('#registerDiv')">Register here</div>
                     </div>
                  </div>

                  <div class="gd-form-row">
                     <div>&nbsp;</div>
                     <h4 class="section-title step-title boldText login-title">Log in with Nedbank ID.</h4>
                  </div>
                  <app-message-alert [class.visuallyhidden]="showAccessibilitySuccess" *ngIf="loginError != ''" [showAlert]="loginError != ''" [displayMessageText]="loginError" [linkDisplayText]="errorLinkText" [action]="alertAction"
                     [alertType]="alertType" (onAlertLinkEmit)="onAlertLinkSelected($event)"></app-message-alert>
                  <div *ngIf="alertType != 2 || !showPPPEnrolment">
                     <div class="gd-form-row">
                        <label for="username" class="active gd-sm-label">Username</label>
                        <input id="username" aria-label="Nedbank ID Username" name="username" autocomplete="off" [disabled]="showLoader" #username="ngModel" type="text" class="validate form-element"
                           (ngModelChange)="onInputChanged($event)" [(ngModel)]="user.username" appValidateOnblur appValidateRequired
                        />
                        <ng-container *ngIf="username.invalid && (username.dirty || username.touched);else noUsernameValidationError">
                           <div class="error-msg">
                              <ng-container *ngIf="username.errors.required;else patternCheck">
                                 {{messages.usernameMandatory}}
                              </ng-container>
                              <ng-template #patternCheck>
                                 <ng-container *ngIf="username.errors.pattern;else lengthCheck">
                                    <span>{{messages.userNameValidationText}}</span>
                                 </ng-container>
                              </ng-template>
                              <ng-template #lengthCheck>
                                 <ng-container *ngIf="username.hasError('minlength') || username.hasError('maxlength');else defaultError">
                                    <span>{{messages.userNameValidationText}}</span>
                                 </ng-container>
                              </ng-template>
                              <ng-template #defaultError>
                                 <span>{{messages.userNameHelpText}}</span>
                              </ng-template>
                           </div>
                        </ng-container>
                        <ng-template #noUsernameValidationError>
                           <span class="helpText">{{messages.userNameHelpText}}</span>
                        </ng-template>
                     </div>
                     <div class="gd-form-row">
                        <label for="password" class="active gd-sm-label">Password</label>
                        <div class="input-container">
                           <input type="password" class="stealthy" tabindex="-1">
                           <input id="password" aria-label="Nedbank ID Password" name="password" autocomplete="off" [disabled]="showLoader" #input #password="ngModel" [type]="getPasswordField(isPasswordView)"
                              class="validate form-element passwordInput" [(ngModel)]="user.password" (ngModelChange)="onInputChanged($event)"
                              appValidateOnblur appValidateRequired />
                           <input type="password" class="stealthy" tabindex="-1">
                           <span class="input-img" #toggler>
                              <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isPasswordView"></i>
                           </span>
                        </div>
                        <ng-container *ngIf="password.invalid && (password.dirty || password.touched);else noPasswordValidationError">
                           <div class="error-msg">
                              <ng-container *ngIf="password.errors.required;else patternCheck">
                                 {{messages.passwordMandatory}}
                              </ng-container>
                              <ng-template #patternCheck>
                                 <ng-container *ngIf="password.errors.pattern;else lengthCheck">
                                    <span>{{messages.passwordValidationText}}</span>
                                 </ng-container>
                              </ng-template>
                              <ng-template #lengthCheck>
                                 <ng-container *ngIf="password.hasError('minlength') || password.hasError('maxlength');else defaultError">
                                    <span>{{messages.passwordValidationText}}</span>
                                 </ng-container>
                              </ng-template>
                              <ng-template #defaultError>
                                 <span>{{messages.passwordValidationText}}</span>
                              </ng-template>
                           </div>
                        </ng-container>
                        <ng-template #noPasswordValidationError>
                           <span class="helpText">{{messages.passwordHelpText}}</span>
                        </ng-template>
                     </div>
                     <div class="gd-form-row" *ngIf="showForgotDetails">
                        <a href="javascript:void(0)" aria-label="To recover your Nedbank ID, go to Forgot your details?" class="link-text" (click)="navigateForgotDetails()" (touchstart)="navigateForgotDetails()">Forgot your details?</a>
                        <a class="link-text assistance" #needSomeAssistanceClick aria-label="To learn more about Online Banking, go to Need some assistance?" target="_blank" href={{links.helpLink}}>Need some assistance?</a>
                     </div>
                     <div class="registerText">
                        By logging in you accept the
                        <a href={{termsAndConditionsPath}} #tandcAboveLogonClick aria-label="To read our terms and conditions, go to terms and conditions?" target="_blank" class="link-text">terms and conditions.</a>
                     </div>
                     <div id="buttonDiv">
                        <app-bottom-button [text]="'Log in'" [class.btn-disabled]='!this.isFormValid' (click)="onLogon($event)" [showLoader]='showLoader'>Log in</app-bottom-button>
                     </div>
                  </div>
                  <div class="registerBlock top-margin30" *ngIf="showPPPEnrolment">
                     <div class="boldText">Register for the new online banking.</div>
                     <div class="top-margin30">
                        <hr />
                        <div class="gd-form-row">
                           <a href="javascript:void(0)" aria-label="Register for the new online banking, using your old Nedbank internet banking login details." class="icon-field" (click)="navigateRegister()" (touchstart)="navigateRegister()">
                              <span class="iconImg iconPPP"></span>
                              <div class="registerHeadingText mediumText">Profile, PIN and password</div>
                              <div class="registerText">Your old Nedbank internet banking login details.</div>
                           </a>
                           <hr />
                        </div>
                     </div>
                  </div>
               </div>

               <ng-template #notFederated>
                  <div class="gd-form-row">
                     <div>&nbsp;</div>
                     <h4 class="section-title">Looks like your Nedbank ID is not connected to a banking profile.</h4>
                  </div>
                  <div *ngIf="showPPPEnrolment;else noPPPEnrolment">
                     <div class="registerBlock top-margin50">
                        <div class="gd-form-row">
                           <span>Let’s connect it quickly using your:</span>
                        </div>
                        <div class="top-margin30">
                           <hr />
                           <div class="gd-form-row">
                              <a href="javascript:void(0)" class="icon-field" (click)="navigateRegister()" (touchstart)="navigateRegister()">
                                 <span class="iconImg iconPPP"></span>
                                 <div class="registerHeadingText mediumText">Profile, PIN and password</div>
                                 <div class="registerText">Your old Nedbank internet banking login details.</div>
                              </a>
                              <hr />
                           </div>
                        </div>
                     </div>
                  </div>
                  <ng-template #noPPPEnrolment>
                     <div class="gd-form-row">
                        <span class="info-text">Please log in on the new Nedbank Money app.</span>
                     </div>
                  </ng-template>
               </ng-template>
            </form>
         </div>
      </div>
   </div>
   <div class="entrustContainer">
      <div class="tableCell">
         <a href={{links.entrustProfileLink}} target="blank" class="entrustAnchor">
            <img class="iconEntrust" alt="Entrust" src="../../../assets/png/entrust_site_seal_ssl.png" />
         </a>
      </div>
      <div class="entrustText tableCell">Integrated with secure online infrastructure</div>
   </div>
   <div class="information-container-small">
      <div class="login-container tableCell">
         <div class="top-margin30">
            Manage your money like never before.
         </div>
         <div class="boldText">
            Get the new Nedbank Money app now!
         </div>
         <div class="linkButtons">
            <span>
               <a href={{links.googlePlayLink}}>
                  <img alt="Get it on Google Play" src="../../../assets/svg/GooglePlay.svg" />
               </a>
            </span>
            <span>
               <a href={{links.iTunesLink}}>
                  <img alt="Available on the App Store" src="../../../assets/svg/AppStoreBadge.svg" />
               </a>
            </span>
         </div>
      </div>
   </div>
</div>
<div #scrollToElement></div>