<section class="summary">
      <div class="summary-section">
         <span class="section-title">{{labels.summary}}</span>
         <div class="section-body-1">
            <span class="section-part-title">{{labels.requestDetails}}</span>
            <div class="section">
               <div class="section-head cards">
                  <span class="head">{{labels.cards}}</span>
                  <span class="edit" (click)="onEditClick(0)">{{labels.edit}}</span>
               </div>
               <div class="section-body" *ngFor="let card of cards; let currentIndex = index">
                  <div class="content">
                     <span class="content-name">{{card.nameLine | titlecase}}</span>
                     <div class="content-value">
                        <span class="value plastic-desc">{{card.plasticDescription | titlecase}}</span>
                        <span class="value">{{card.plasticNumber | cardMask:4:4}}</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="section">
               <div class="section-head">
                  <span class="head">{{labels.travelDates}}</span>
                  <span class="edit" (click)="onEditClick(1)">{{labels.edit}}</span>
               </div>
               <div class="section-body">
                  <div class="content">
                     <span class="content-name">From</span>
                     <div class="content-value">
                        <span class="value">{{overseasTravelDetails.fromDate | date:dateFormat}}</span>
                     </div>
                  </div>
                  <div class="content">
                     <span class="content-name">To</span>
                     <div class="content-value">
                        <span class="value">{{overseasTravelDetails.toDate | date:dateFormat}}</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="section">
               <div class="section-head">
                  <span class="head">{{labels.destinationCountries}}</span>
                  <span class="edit" (click)="onEditClick(2)">{{labels.edit}}</span>
               </div>
               <div class="section-body">
                  <div class="content">
                     <span class="content-name">{{labels.countries}}</span>
                     <div class="content-value countries">
                        <span *ngFor="let country  of overseasTravelDetails.countries; let lastIndex = last">
                           <span class="value country">{{country | titlecase}}{{ lastIndex ? '' : ','}}</span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="section">
               <div class="section-head contact-details">
                  <span class="head">{{labels.contactDetails}}</span>
                  <span class="edit" (click)="onEditClick(3)">{{labels.edit}}</span>
               </div>
               <div class="section-body">
                  <div class="content">
                     <span class="content-name">{{labels.personalDetails}}</span>
                     <div class="content-value">
                        <span class="value">{{overseasTravelDetails.primaryNumber}}</span>
                        <span class="value">{{overseasTravelDetails.alteranteNumber}}</span>
                        <span class="value email">{{overseasTravelDetails.email}}</span>
                        <span class="value">{{overseasTravelDetails.contactNumber}}</span>
                     </div>
                  </div>
               </div>
               <div class="section-body">
                  <div class="content" *ngIf="(overseasTravelDetails.overseasContactPerson.name || overseasTravelDetails.overseasContactPerson.number) !== ''">
                     <span class="content-name">{{labels.foreignContactPerson}}</span>
                     <div class="content-value">
                        <span class="value">{{overseasTravelDetails.overseasContactPerson.name | titlecase}}</span>
                        <span class="value">{{overseasTravelDetails.overseasContactPerson.number}}</span>
                     </div>
                  </div>
                  <div class="content" *ngIf="(overseasTravelDetails.localContactPerson.name || overseasTravelDetails.localContactPerson.number) !== ''">
                     <span class="content-name">{{labels.localContactPerson}}</span>
                     <div class="content-value">
                        <span class="value">{{overseasTravelDetails.localContactPerson.name | titlecase}}</span>
                        <span class="value">{{overseasTravelDetails.localContactPerson.number}}</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="bottom-btn">
            <app-bottom-button [showLoader]="isButtonLoader" [disableButton]="isButtonLoader" (clickEmitter)="submitOverseasTravelDetails()" [text]="'Submit'"></app-bottom-button>
         </div>
      </div>
   </section>