<div class="countdown-container modal-body">
  <form #sessionTimeoutForm="ngForm" class="gd-form">
    <div class="gd-form-row">
      <div class="iconLockContainer">
        <div class="iconLock"></div>
      </div>
    </div>
    <div class="section-title">To keep you safe, your <br /> session will timeout in:</div>
    <div>
      <div class="countdown">
        <ul>
          <li><span>{{minutes}}</span>
            <p>Minutes</p>
          </li>
          <li>:</li>
          <li><span>{{seconds}}</span>
            <p>Seconds</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="gd-form-row"></div>
    <div class="gd-form-row">
      <button class="gd-primary-btn" (click)="continue($event)">Continue</button>
    </div>
    <div class="gd-form-row"></div>
    <div class="gd-form-row">
      <button class="gd-ghost-btn" (click)="logoff($event)">Log out</button>
    </div>
  </form>
</div>
