@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';

.countdown-container {
    .section-title {
    font-family: $font-markpro-medium;
    padding: 15px 0;
    margin: 0;
    font-size: $font-xlg;
    color: $text-color-secondary;
    }

    .marginTop {
    margin-top: 20px;
    }

    .gd-primary-btn {
    max-width: 300px;
    }

    .countdown {
        font-family: $font-markpro-medium;


        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        
        }

        ul li {
            font-size: $font-xlg;
            display: inline-block;
            vertical-align: top;

            span {
                color: $text-color-accent-secondary;
            }
        }

        p {
            font-size: $font-sm;
            color: $text-color-secondary;
        }
    }

    .iconLockContainer {
        text-align: center;
    }

    .iconLock { 
        @include svg-image-full-path($default-svg-image-path, 'Secure', 100px, 100px);
        display: inline-block;
    }

    &.modal-body {
        overflow-y: auto;
        text-align: center;
        padding: 50px;
    }
}

.timeout-popup{
    &.modal-dialog {
        overflow-y: initial !important;
        overflow-wrap: break-word;
        max-width: 600px;
        height: initial !important;
        margin: 30px auto !important;
    }
    .modal-content {
       background-color: $modal-bg;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        box-shadow: none;
    }
}



@media screen and (max-width: ($media-sm)) {
    .countdown-container {
    .section-title {
        padding: 10px 0;
        font-size: $font-md;
        }

        .iconLock { 
            @include svg-image-full-path($default-svg-image-path, 'Secure', 60px, 60px);
            display: inline-block;
        }
    }
}
