@import '../../../styles/_mixins.scss';
@import '../../../styles/_base.scss';


.greeting-title {
   font-size: $para-title-size;
}

.textColorLastLogin {
   color: $text-color-info;
}

.fontSizeLastLogin {
   font-size: $label-size;
   margin-top: 5px;
   display: inline-block;
}

.user-name{
   word-break: break-all;
}

@media (min-width: $media-sm) {
   .greeting-title {
      font-size: $page-title-secondary-size;
   }
}
@media (min-width: $media-md) {
   .greeting {
      padding: 0;
   }
}