<div class="lotto-container" [class.is-skeleton-loading]='skeletonMode'>
   <div *ngIf="!isLottoError" class="container">

      <div class="row" *ngIf="skeletonMode" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
      <div class="row" *ngIf="!skeletonMode">
         <div class="col-xs-12">
            <a class="icon" [routerLink]="['/dashboard']" *ngIf="ticketType=='lottoTicket'"></a>
            <a class="icon" [routerLink]="['/game/lotto/history']" *ngIf="ticketType=='lottoHistory'"></a>
            <h2 class="lotto-title">{{lottoLabels.lottoPurchaseDetails}}</h2>
         </div>
      </div>

      <div class="row debit-orders-row to-approve" *ngIf="skeletonMode" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
      <div class="row debit-orders-row to-approve div-align" *ngIf="!skeletonMode">
         <h3 class="label-heading">{{lottoLabels.lottoTicketInformation}}</h3>

         <div class="col-md-4 col-sm-12">
            <div class="row label-border">
               <div class="label-title">{{lottoTicketDescription}}</div>
               <div class="label-details">
                  <span *ngIf="ticketInfo?.game == gameLabels.lottoType">{{lottoLabels.lottoTitle}}</span>
                  <span *ngIf="ticketInfo?.game == gameLabels.pwbType && !ticketInfo?.isLottoPlus">{{lottoLabels.powerballTitle}}</span>
                  <span *ngIf="ticketInfo?.game == gameLabels.pwbType && ticketInfo?.isLottoPlus">{{lottoLabels.winningNumberPowerball}}</span>
                  <span *ngIf="ticketInfo?.isLottoPlus && ticketInfo?.game == gameLabels.lottoType">{{lottoLabels.lottoPlusOneTitle}}</span>
                  <span *ngIf="ticketInfo?.isLottoPlusTwo && ticketInfo?.game == gameLabels.lottoType">{{lottoLabels.lottoPlusTwoTitle}}</span>
                  <span *ngIf="ticketInfo?.gameType == gameLabels.qpkType">{{lottoLabels.quickPick}}</span>
               </div>
            </div>
            <div class="row label-border">
               <div class="label-title">{{ lottoLabels.lottoNumberOfDraws }}</div>
               <div class="label-details">{{ ticketInfo?.drawsPlayed }}</div>
            </div>
            <div class="row label-border">
               <div class="label-title">{{ lottoLabels.lottoNumberOfBoards }}</div>
               <div class="label-details">{{ ticketInfo?.boardsPlayed }}</div>
            </div>
         </div>

         <div class="col-md-4 col-sm-12">
            <div class="row label-border">
               <div class="label-title">{{ lottoFromAccount }}</div>
               <div class="label-details" x-ms-format-detection="none">{{fromAccountDetails}}</div>
            </div>
            <div class="row label-border">
               <div class="label-title">{{ lottoLabels.lottoPurchaseDate }}</div>
               <div class="label-details">{{ ticketInfo?.purchaseDate | date : formats.ddMMYYYY }} {{ticketInfo?.ticketRequestedTime}}</div>
            </div>
            <div class="row label-border">
               <div class="label-title">{{ lottoLabels.lottoTicketReferenceNumber }}</div>
               <div class="label-details">{{ ticketInfo?.purchaseReferenceNumber }}</div>
            </div>
         </div>

         <div class="col-md-4 col-sm-12">
            <div class="row label-border">
               <div class="label-title">{{ lottoLabels.lottoDrawNumbers }}</div>
               <div class="label-details">#{{ ticketInfo?.drawNumber }}<span *ngIf="ticketInfo?.drawsPlayed > 1"> to #{{drawNumber}}</span></div>
            </div>
            <div class="row label-border">
               <div class="label-title">{{ lottoLabels.lottoCost }}</div>
               <div class="label-details">R{{ ticketInfo?.amount | number : '1.2-2'}}</div>
            </div>
            <div class="row btn-replay">
               <button type="button" class="gd-primary-btn" (click)="onReplay(ticketInfo.batchID)">{{ lottoLabels.lottoReplayBtn }}</button>
            </div>
         </div>

      </div>

      <div class="row debit-orders-row to-approve" *ngIf="skeletonMode" [innerHtml]="''| skeletonLoader:skeletonMode"></div>

      <div class="row debit-orders-row to-approve div-align" *ngIf="!skeletonMode">
         <h3 class="label-heading">{{ lottoLabels.lottoBoards }}</h3>

         <div class="col-md-4 col-sm-12 " *ngFor="let boards of ticketBoards">
            <div class="divider-bottom">
               <ul>
                  <li class="li-style"><span>{{boards.boardNumber}}</span></li>
                  <li class="noCircle" *ngFor="let numbersPlayed of boards.numbersPlayed; let i = index;" [ngClass]="getBallClass(numbersPlayed,i)"><span>{{numbersPlayed}}</span></li>
               </ul>
            </div>

         </div>

      </div>

   </div>
   <div *ngIf="isLottoError" class="container">
      <div class="gd-form-row">
         <span class="lottoerror-icon"></span>
         <div class="error-message">{{lottoErrorText}}
         </div>
      </div>
   </div>
</div>
