@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';
@import '../../../../styles/_lotto-numbers.scss';
$svg-path: './../../../../assets/svg';
$icon-back: 'back-green';
$bg-color-lotto: $body-bg;
.icon {
    width: 40px;
    height: 20px;
    cursor: pointer;
    margin: -3px 15px 10px -15px;
    display: table;
    float: left;
    margin-top: 13px;
    @include svg-image-full-path($svg-path, $icon-back);
    margin-right: 10px;
}

.lotto-container {
    background-color: $bg-color-lotto;
    padding: $landing-padding 0;
    min-height: calc( 100vh - #{$header-height-mob + $footer-height-mob});
    .lotto-title {
        font-family: $font-markpro;
        font-size: $para-title-size;
        font-weight: bold;
        text-align: left;
        color: $text-color-secondary;
        padding-left: 1%;
    }
    .debit-orders-row {
        &.to-approve {
            margin-bottom: 22px;
        }
        padding: 10px 0px;
        background-color: $container-bg;
    }
    .label-heading {
        font-family: $font-markpro;
        font-size: $section-title-secondary-size;
        font-weight: $weight-medium;
        text-align: left;
        color: $text-color-secondary;
        padding-left: 10px;
        padding-bottom: 1em;
    }
    .li-style {
        display: inline-block;
        margin-right: 15px;
    }
    .div-align {
        padding-left: 1%;
        padding-right: 1%;
    }
    .label-title {
        width: 335px;
        height: 20px;
        font-family: $font-markpro;
        font-size: $font-sm;
        text-align: left;
        color: $text-color-info;
        padding-left: 10px;
    }
    .label-details {
        max-width: 335px;
        height: 20px;
        font-family: $font-markpro;
        font-size: $font-md;
        line-height: 1.18;
        text-align: left;
        color: $text-color-secondary;
        padding-left: 10px;
        padding-bottom: 2em;
        word-break: break-all;
    }
    .btn-replay {
        width: 207px;
        margin: 0 -3px;
    }
    .gd-form-row {
        margin-top: 15%;
    }
    .lottoerror-icon {
        @include svg-image-full-path($svg-path, 'grey', 60px, 60px);
    }
    .lottoerror-icon::before {
        margin: 0px auto;
    }
}

.no-circle {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    text-align: center;
    font-size: $font-sm;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 2%;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    padding-left: 1.7%;
    padding-top: 0.4%;
    display: inline-block;
}

@media (min-width: $media-sm) {
    .lotto-container {
        padding-left: 0px;
        padding-right: 0px;
        min-height: calc( 100vh - #{$header-height + $footer-height-tab});
    }
    .divider-bottom {
        border-right: 1px solid $divider-secondary;
        margin: 0 4% 0 2%;
    }
}

@media (max-width: $media-xs) {
    .lotto-container {
        .label-details {
            word-break: break-all;
        }
        .btn-replay {
            margin: 0 auto;
        }
    }
    .label-border {
        border-bottom: 1px solid $divider-secondary;
        margin-bottom: 15px;
    }
}

@media (min-width: $media-md) {
    .lotto-container {
        padding: 30px;
        min-height: calc( 100vh - #{$header-height + $footer-height-tab});
    }
}

@media (min-width: $media-lg) {
    .lotto-container {
        padding: $landing-padding $landing-padding-lg;
        min-height: calc( 100vh - #{$header-height + $footer-height});
    }
}