<div class="enrol-container">
   <div class="left-container img-container fade fadeIn" [ngStyle]="{'background-image': service.pngImgUrl}">
   </div>

   <div class="component-container fade fadeIn">
      <div [ngSwitch]="service.activeView">
         <div *ngSwitchCase="View.ProfilePinPassword">
            <app-profile-pin-password></app-profile-pin-password>
         </div>
         <div *ngSwitchCase="View.NedIdState">
            <app-nedbank-id-state></app-nedbank-id-state>
         </div>
         <div *ngSwitchCase="View.NedIdExist">
            <app-nedbank-id-already-exist></app-nedbank-id-already-exist>
         </div>
         <div *ngSwitchCase="View.NedIdCreate">
            <app-nedbank-id></app-nedbank-id>
         </div>
         <div *ngSwitchCase="View.NedIdHelp">
            <app-nedbank-id-help [showAsModal]="false"></app-nedbank-id-help>
         </div>
         <div *ngSwitchCase="View.NedIdDelayed">
            <app-nedbank-id-delayed></app-nedbank-id-delayed>
         </div>
         <div *ngSwitchCase="View.NedIdLogin">
            <app-nedbank-id-login></app-nedbank-id-login>
         </div>
         <div *ngSwitchCase="View.NedIdNotFederated">
            <app-nedbank-id-not-federated></app-nedbank-id-not-federated>
         </div>
         <div *ngSwitchCase="View.ForgotPwdResetoptions">
            <app-nedbankid-forgotpwd-resetoptions></app-nedbankid-forgotpwd-resetoptions>
         </div>
         <div *ngSwitchCase="View.ForgotPwdGetusername">
            <app-nedbankid-forgotpwd-getusername></app-nedbankid-forgotpwd-getusername>
         </div>
         <div *ngSwitchCase="View.ForgotPwdCreatepwd">
            <app-nedbankid-forgotpwd-createpwd></app-nedbankid-forgotpwd-createpwd>
         </div>
         <div *ngSwitchCase="View.ForgotPwdGetidentity">
            <app-nedbankid-forgotpwd-getidentity></app-nedbankid-forgotpwd-getidentity>
         </div>
         <div *ngSwitchCase="View.ForgotPwdCreatepwdComplete">
            <app-nedbankid-forgotpwd-createpwd-complete></app-nedbankid-forgotpwd-createpwd-complete>
         </div>
         <div *ngSwitchCase="View.ForgotPwdShowUsername">
            <app-nedbankid-forgotpwd-showusername></app-nedbankid-forgotpwd-showusername>
         </div>
         <div *ngSwitchDefault>
            <app-profile-pin-password></app-profile-pin-password>
         </div>
      </div>
   </div>
</div>