@import '../../../../styles/_base.scss';
@import '../../../../styles/_mixins.scss';
$icon-path: '../../../../assets/svg/';
$icon-sucess:'success';
.maintain-overdraft-carousel-container {
   margin-top: 2px;
   background: $container-bg;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   padding: 0px 33px;
   .maintain-overdraft-icon {
      margin-left: 15px;
      margin-top: 41px;
      @include svg-image-full-path($icon-path, $icon-sucess, 24px, 24px);
   }
   .title {
      font-size: $font-md;
      font-weight: $weight-medium;
      text-align: left;
      color: $secondary-color;
      margin-left: 49px;
      margin-top: -20px;
   }
   .maintain-overdraft-msg {
      width: 308px;
      height: 82px;
      margin-top: 29px;
      height: 82px;
      font-size: $font-lg;
      font-weight: normal;
      text-align: left;
      color: $text-color-primary;
   }
}

@media (min-width: $media-sm) {
   .maintain-overdraft-carousel-container {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      .maintain-overdraft-icon {
         margin-left: 15px;
         margin-top: 61px;
         @include svg-image-full-path($icon-path, $icon-sucess, 32px, 32px);
      }
      .title {
         font-size: $font-xlg;
         margin-left: 57px;
         margin-top: -32px;
      }
      .maintain-overdraft-msg {
         margin-top: 36px;
         width: 400px;
         margin-left: 26px;
      }
   }
}
