<app-colored-overlay [template]="sucessOverdraft" [altButtonText]="'Close'" [alternate]='true' [isVisible]="isVisible" [backOption]="false"
   (onHide)="closeOverlay($event)">
   <ng-template #sucessOverdraft>
      <section class="maintain-overdraft-wrapper">
         <section class="maintain-overdraft-carousel-container">
            <div class="row">
               <div class="maintain-overdraft-icon"></div>
               <div class="title">{{label.successTitle}}</div>
            </div>
            <div class="maintain-overdraft-msg">{{label.successMessage}}</div>
         </section>
      </section>
   </ng-template>
</app-colored-overlay>
