@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';
$svg-path: '../../../assets/svg/';
$paymentIcon:'PaymentIcon';
$warningIcon:'warningIcon';
$lightIcon:'light';
$deleteErrorIcon:'delete-error';

::ng-deep .overlay {
   z-index: 9999;
   padding: 0;
   .container {
      max-width: 100% !important;
   }
}
.error-msg-amount {
   color: $warning-primary !important;
   font-size: $font-sm;
}

.property {
   font-size: $font-default;
   font-weight: $weight-medium;
   line-height: 1.5;
}

.notice-withdrawal-container {
   margin: 0 10px;
   .header {
      margin-top: 40px;
      font-weight: $weight-light;
      color: $text-color-secondary;
      line-height: 1.25;
   }
   .sub-header {
      padding-top: 10px;
      font-size: $font-default;
      font-weight: $weight-light;
      color: $text-color-secondary;
      line-height: 1.5;
   }
   .withdrawal-details {
      margin-top: 40px;
      font-size: $font-lg;
      font-weight: $weight-light;
      color: $text-color-secondary;
      line-height: 1.25;
      margin-bottom: 0;
   }
   .note-msg {
      margin: 15px 0;
      padding: 13px 0;
      background-color: $info-window-color;
      border-left: solid 2px $color-greenMedium;
      padding-left: 9px;
      .note {
         padding-bottom: 11px;
         font-size: $font-md;
         font-weight: $weight-bold;
         color: $secondary-color;
         line-height: 1.33;
      }
      .note-text {
         display: block;
         width: 275px;
         @extend .property;
         color: $text-color-primary;
         padding-top: 10px;
      }
   }
   .heading-label {
      display: block;
      color: $text-color-primary;
      margin-top: 20px;
   }
   .account-detail {
      @extend .property;
      padding: 13px 0 13px 15px;
      color: $text-color-secondary;
      background-color: $color-lightestNeutralGrey;
      border: solid 2px $color-lightestNeutralGrey;
      margin-bottom: 20px;
   }
   .withdraw-label {
      font-size: $font-sm;
      font-weight: $weight-medium;
      color: $text-color-primary;
   }
   .amount-label {
      font-size: $font-sm;
      font-weight: $weight-medium;
      color: $text-color-info;
      margin-bottom: 11px;
   }
   .submit {
      margin: 40px 0;
   }
   .table-title {
      font-size: $xlg-descrp-size;
      font-weight: $weight-light;
      line-height: 1.25;
      color: $text-color-secondary;
      margin-top: 40px;
   }
   .header-message {
      font-size: $font-default;
      font-weight: $weight-light;
      color: $text-color-primary;
      line-height: 1.5;
      padding-bottom: 0;
   }
   .btn-white {
      background: $text-color-highlight;
      border: solid 2px $secondary-color;
      color: $secondary-color;
      margin: 15px 0 40px;
   }
   .withdraw-heading {
      @extend .property;
      color: $text-color-secondary;
      padding: 20px 0 5px 0;
   }
   .account-info {
      @extend .property;
      color: $text-color-primary;
   }
   .gd-basic-dropdown {
      .dropdown-place {
         line-height: 1.5;
      }
      .dropdown-height {
         max-height: 241px;
         overflow-x: auto;
         margin-bottom: 30px;
      }
   }
   .footer-message {
      margin-top: 15px;
      padding: 14px;
      height: 136px;
      border-left: solid 2px $color-greenMedium;
      font-size: $font-default;
      line-height: 1.56;
      color: $text-color-primary;
      background-color: $info-window-color;
      .note {
         margin-bottom: 10px;
         font-size: $font-md;
         color: $color-greenMedium;
         font-weight: $weight-bold;
      }
   }
   .confirm-btn {
      margin-top: 40px;
   }
}

.notice-success-container {
   margin: 0 10px;
   .thank-you-heading {
      font-size: $page-title-secondary-size;
      padding-bottom: 5px;
      margin-top: 40px;
      color: $text-color-secondary;
      line-height: 1.25;
      font-weight: $weight-light;
   }
   .notice-received-msg {
      font-size: $xlg-descrp-size;
      padding-bottom: 15px;
      color: $text-color-primary;
      line-height: 1.25;
      font-weight: $weight-light;
   }
   .payment-dollar-icon {
      object-fit: contain;
      float: left;
      padding-right: 35px;
      margin-top: 5%;
      display: block;
      background-repeat: no-repeat;
      @include svg-image-full-path($svg-path, $paymentIcon, 45px, 45px);
   }
   .thank-you-text-msg {
      width: 300px;
      font-size: $font-default;
      line-height: 1.5;
      letter-spacing: 0.2px;
      color: $text-color-primary;
      margin-bottom: 60px;
   }
}

.delete-notice-container {
   margin: 118px 10px 0;
   @include flexbox();
   @include justify-content(center);
   .icons {
      display: block;
      @include flexbox();
      @include justify-content(center);
      .fica-icon {
         @include svg-image-full-path($svg-path, $warningIcon, 64px, 64px);
      }
      .right-icon {
         @include svg-image-full-path($svg-path, $lightIcon, 64px, 64px);
      }
      .error-icon {
         @include svg-image-full-path($svg-path, $deleteErrorIcon, 64px, 64px);
      }
   }
   .header-message {
      margin-top: 20px;
      font-size: $font-lg;
      font-weight: $weight-light;
      line-height: 1.25;
      text-align: center;
      color: $text-color-secondary;
   }
   .sub-header {
      font-size: $font-md;
      line-height: 1.56;
      text-align: center;
      color: $text-color-primary;
      margin-top: 15px;
   }
   .contact-details {
      width: 270px;
      margin: auto;
      height: 51px;
      font-size: $font-default;
      line-height: 1.56;
      text-align: center;
      color: $text-color-primary;
      margin-top: 40px;
   }
   .select {
      .yes-btn {
         margin-top: 40px;
         display: block;
         border-radius: 5px;
         color: $text-color-highlight;
         background-color: $secondary-color;
         border: solid 2px $secondary-color;
      }
      .no-btn {
         height: 50px;
         margin-top: 30px 0 178px 0;
         background-color: $text-color-highlight;
         color: $secondary-color;
      }
   }
   .back-to-overview {
      margin: 0 auto;
      height: 50px;
      border-radius: 5px;
      color: $text-color-highlight;
      background-color: $secondary-color;
      border: solid 2px $secondary-color;
      margin-top: 60px;
   }
}

@media(min-width:$media-sm) {
   .gd-form {
      .gd-form-row {
         margin-bottom: 30px;
      }
   }
   .notice-withdrawal-container {
      margin: 0 auto;
      width: 364px;
      margin-top: 60px;
      .header {
         margin-top: 60px;
      }
      .sub-header {
         font-size: $font-lg;
      }
      .note-msg {
         margin: 30px 0;
      }
      .subheader {
         font-size: $font-lg;
      }
      .submit {
         margin: 60px 0 120px;
      }
      .table-title {
         font-size: $page-title-size;
      }
      .header-message {
         font-size: $xlg-descrp-size;
         padding-bottom: 10px;
         width: 364px;
      }
      .edit-btn {
         .amend-btn {
            margin-top: 18px;
            width: 123px;
            font-size: $font-default;
            background-color: $text-color-highlight;
            font-weight: $weight-bold;
            float: right;
            color: $secondary-color;
         }
      }
      .withdraw-heading {
         padding-top: 30px;
      }
      .footer-message {
         height: 112px;
         margin-top: 30px;
      }
      .confirm-btn {
         margin: 60px 0 120px;
      }
      .withdrawal-details {
         margin-top: 60px;
         font-size: $font-xlg;
         margin-bottom: 7px;
         width: 267px;
      }
   }
   .notice-success-container {
      margin: 0 202px;
      .thank-you-heading {
         font-size: $main-title-size;
         margin-top: 60px;
      }
      .notice-received-msg {
         font-size: $main-title-size-mob;
         padding-bottom: 60px;
      }
      .payment-dollar-icon {
         padding-right: 51px;
         margin-top: 0;
      }
      .thank-you-text-msg {
         width: 352px;
         margin-bottom: 120px;
         line-height: 1.38;
      }
   }
   .delete-notice-container {
      margin: 250px 212px;
      .icons {
         margin-bottom: 30px;
      }
      .header-message {
         font-size: $font-xlg;
         margin-bottom: 10px;
         margin-top: 30px;
      }
      .sub-header {
         font-size: $font-lg;
         width: 344px;
         margin-top: 10px;
         margin: 0 auto;
      }
      .yes-btn {
         margin-top: 60px;
      }
      .no-btn {
         margin-top: 45px;
      }
   }
}

@media(min-width:$media-md) {
   .notice-withdrawal-container {
      margin: 0 auto;
      width: 400px;
      .header-message {
         width: 576px;
      }
      .withdrawal-details {
         width: 463px;
      }
      .edit-btn {
         width: 625px;
         .amend-btn {
            width: 153px;
         }
      }
   }
   .notice-success-container {
      margin: 0 87px;
      .payment-dollar-icon {
         padding-right: 30px;
         margin-top: 0;
      }
   }
   .delete-notice-container {
      margin: 250px 0;
      .back-to-overview {
         margin-left: 80px;
      }
   }
}
