@import '../../../../styles/_base.scss';
@import '../../../../styles/_mixins.scss';

$svg-path: '../../../../assets/svg/';
@keyframes spinner {
   to {
      transform: rotate(360deg);
   }
}

.approveit-container
{
  .section-title {
    font-family: $font-markpro-medium;
    padding: 15px 0;
    margin: 0;
    font-size: $font-lg;
    color: $text-color-secondary;
  }

  .marginTop {
    margin-top: 20px;
  }

  .gd-primary-btn {
    max-width: 200px;
  }

  sup {
    font-size: xx-small;
  }

  .spinnerContainer {
    position: relative;
    margin-bottom: 10px;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -32px;
    margin-left: -30px;
    border-radius: 50%;
    border: 3px solid $color-spinner-primary;
    border-top-color: transparent;
    animation: spinner 1s linear infinite;
  }

  .disabledSpinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -32px;
    margin-left: -30px;
    border-radius: 50%;
    border: 3px solid $color-spinner-disabled;
  }

  .blocked {
    @include svg-image-full-path($svg-path, 'noentry', 60px, 60px);
  }

  .blocked:before {
    fill: $text-color-secondary;
    display: inline;
  }

  .link-text {
    color: $text-color-link;
  }

  .darkGrey-text {
    color: $text-color-secondary;
  }

  &.modal-body {
    overflow-y: auto;
    text-align: center;
    padding: 50px;
  }

  .gd-form .gd-form-row:last-of-type {
    margin-bottom: initial;
  }

  .error-msg,
  .gd-sm-label {
     text-align: left;
  }
}

.modal-dialog {
  overflow-y: initial !important;
  overflow-wrap: break-word;
  max-width: 600px;
  height: initial !important;
  margin: 30px auto !important;
}

.modal-content {
   background-color: $modal-bg;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
}
