@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
$svg-path: './../../../../assets/svg';
$icon-buy: 'Buydashboard-gray';
$icon-schedule-trans: 'PayIcon-grey';
$icon-transfer: 'TransferIcon-gray';
 $edit-icon: 'edit';
.trans-container {
    &.showBorder {
        border: 1px solid $divider-secondary;
        border-left: none;
        border-right: none;
    }
    min-height: 30px;
    padding: 15px 0px;
    hr {
        margin: 10px -30px 0px -30px;
        height: 0.1px;
        background-color: $divider-primary;
    }
}

.flex-display {
    @include flexbox();
    @include align-items(center);
    cursor: pointer;
    .icon {
        margin: auto 0px;
        width: 36px;
        height: 36px;
    }
    .trans-description {
        padding-left: 30px;
        span {
            font-size: $font-default;
            font-weight: $weight-medium;
            text-align: left;
            color: $text-color-primary;
            color: var(--brownish-grey);
        }
        .recurrence-msg {
            font-size: $font-sm;
            text-align: left;
            color: $text-color-primary;
        }
    }
}

.buy-icon {
    @include svg-image-full-path($svg-path, $icon-buy, 26px, 20px);
}

.pay-icon {
    @include svg-image-full-path($svg-path, $icon-schedule-trans, 26px, 20px);
}

.transfer-icon {
    @include svg-image-full-path($svg-path, $icon-transfer, 26px, 20px);
}

.re-pay {
    .re-pay-btn {
        .btn {
            .icon {
                 @include svg-image-full-path($svg-path, $edit-icon);
                 &.edit-icon{
                    margin-right:5px;
                 }
            }
        }
    }
}

@media (max-width: $media-xs) {
    .flex-display {
        @include flexbox();
        .icon {
            left: 0%;
            top: 25%;
            height: 100%;
            position: relative;
        }
        .trans-description {
            padding-left: 15px;
            span {
                font-size: $font-sm;
            }
            .recurrence-msg {
                font-size: $font-xsm;
                text-align: left;
                color: $text-color-primary;
            }
        }
    }
}