@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';


$svg-relative-part: '../../../../assets/svg/';


.main-footer {
   background: $footer-bg;
   padding: 20px 0;
   color: $footer-color;
   position: relative;
   z-index: 9;
   @include app-footer();
   .footer-block {
      .footer-nav {
         list-style: none;
         padding: 0;
         @extend .clearfix;

         li {
            float: left;
            width: 50%;
            margin-bottom: 10px;
            line-height: 2;
            cursor: pointer;

            a {
               display: block;
               color: $footer-color;
               text-decoration: none;
               outline: 0;
               font-size: $label-size;
               &:active, &:focus, &:hover, &:active:focus {
                  color: $footer-color-hover;
               }

               .icon, .text {
                  display: inline-block;
                  vertical-align: middle;
                  line-height: 1;
               }

               .icon {
                  width: 16px;
               }

               .text {
                  width: calc( 100% - 25px );
               }

               .icon-security {
                  @include svg-image-full-path($svg-relative-part,'security',100%,100%);
               }

               .icon-location {
                  @include svg-image-full-path($svg-relative-part,'location-blank',100%,100%);
               }

               .icon-help {
                  @include svg-image-full-path($svg-relative-part,'phoneicon',100%,100%);
               }
               .contact {
                  @include svg-image-full-path($svg-relative-part,'contact-footer',100%, 100%);
               }
               .TnC {
                  @include svg-image-full-path($svg-relative-part,'tncs',100%,100%);
               }
            }
         }
      }

      .copyright {
         font-size: $font-xx-sm;
         .text {
            display: inline-block;
         }
      }
   }
}

@media (min-width: $media-sm) {
   .main-footer {
      .footer-block {
         .footer-nav {
            margin-bottom: 10px;

            li {
               width: auto;
               margin: 0 40px 0 0;

               &:last-child {
                  margin-right: 0;
               }

               a {
                  .text {
                     width: auto;
                     font-size: $base-size;
                  }
               }
            }
         }

         .copyright {
            font-size: $font-xsm;
         }
      }
   }
}

@media (min-width: $media-lg) {
   .main-footer {
      .footer-block {
         @include flexbox();
         @include align-items(center);

         .footer-nav {
            @include flex(1);
            margin-bottom: 0;
         }

         .copyright {
            .text {
               display: block;
               text-align: right;
               font-size: $label-size;
            }
         }
      }
   }
}