<footer class="main-footer">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="footer-block">
               <ul class="footer-nav">
                  <li *ngFor="let item of footerItems">
                     <a tabindex="-1" (click)="onItemClick(item)">
                        <span class="icon {{item.iconCls}}" *ngIf="item.iconCls"></span>
                        <span class="text">{{item.text}}</span>
                     </a>
                  </li>
               </ul>
               <div class="copyright">
                  <span class="text">
                     Nedbank Ltd Reg No 1951/000009/06.
                  </span>
                  <span class="text">
                     Authorised financial services and registered credit provider (NCRCP16).
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>