<div class="formInput">
  <form class="gd-form">
    <div class="gd-form-row">
      <h4 class="section-title darkText">Congrats!</h4>
    </div>
    <div class="gd-form-row">
      <span>You have successfully created your Nedbank ID username and password. Use them to log in.</span>
    </div>
    <div class="gd-form-row">
      <button class="gd-primary-btn" (click)="navigateNext($event)" (touchstart)="navigateNext($event)">Go to login</button>
    </div>
    <div class="gd-form-row">
    </div>
  </form>
</div>