@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';
$svg-path: './../../../../assets/svg';

.account-details {
   padding-left: 5%;
   .correct-tick {
      position: relative;
      display: inline-block;
      .correct-tick-icon {
         @include svg-image-full-path($svg-path, 'light-green', 20px, 20px);
      }
   }
   .left-navigation-option {
      margin-top: 282px;
   }
   .deposit-details {
      border-left: solid 4px $secondary-color;
      padding-left: 4%;
      padding-top: 3%;
      width: 254px;
      height: 50px;
      font-size: $font-default;
      font-weight: $weight-medium;
      color: $text-color-primary;
      .deposit-number {
         padding-right: 10px;
         width: 23.2px;
         height: 20px;
      }
   }
   .completed-tab {
      border-left: none !important;
      color: $text-color-tertiary !important;
      cursor: pointer;
   }
   .deposit-complete {
      color: $text-color-primary !important;
      border-left: solid 4px $secondary-color !important;
   }
   .interest-complete {
      color: $text-color-primary !important;
   }
   .interest-details {
      border-left: solid 4px $color-lightGrey-d1;
      padding-left: 4%;
      padding-top: 2%;
      width: 284px;
      height: 40px;
      font-size: $font-default;
      color: $text-color-info;
      .interest-number {
         padding-right: 10px;
         width: 23.2px;
         height: 20px;
      }
   }
   .recurring-details {
      border-left: solid 4px $color-lightGrey-d1;
      padding-left: 4%;
      padding-top: 3%;
      width: 346px;
      height: 50px;
      font-size: $font-default;
      color: $text-color-info;
      .recurring-number {
         padding-right: 10px;
         width: 23.2px;
         height: 20px;
      }
   }
}

@media (max-width: $media-xs-down) {
   .account-details {
      padding-left: 0;
      .left-navigation-option {
         margin: 20px 0;
      }          
   }
}
@media (max-width: $media-sm-down) {
   .account-details {
      padding-left: 0;
      .left-navigation-option {
         padding-left: 10px;
      }
   }
}
