<div class="account-details">
   <div class="col-sm-4 col-md-4 col-xxs-12 col-lg-4 left-navigation-option">
      <div class="deposit-details" [class.completed-tab]="isDepositCompleted" (click)="depositClick()">
         <span class="deposit-number" *ngIf="!isDepositCompleted">01</span>
         <div class="correct-tick" *ngIf="isDepositCompleted">
            <span class="correct-tick-icon"></span>
         </div>
         {{openAccountMessages.depositDetails}}
      </div>
      <div class="interest-details" [ngClass]="[isInterestCompleted ? 'completed-tab' : '', isInterestTab ? 'deposit-complete': '']"
         (click)="interestClick()">
         <span class="interest-number" *ngIf="!isInterestCompleted" [class.interest-complete]="isDepositCompleted">{{values.two}}</span>
         <div class="correct-tick" *ngIf="isInterestCompleted">
            <div class="correct-tick-icon"></div>
         </div>
         {{openAccountMessages.interestDetails}}
      </div>
      <div *ngIf="isNoticeDeposit" class="recurring-details" [class.deposit-complete]="isRecurringTab">
         <span class="recurring-number" [class.interest-complete]="isRecurringTab">{{values.three}}</span> {{openAccountMessages.recurringPayment}}
      </div>
   </div>
   <div class="col-sm-7 col-xxs-12 col-md-4 col-lg-4">
      <div *ngIf="depositDetails">
         <app-deposit-details [productInfo]="productDetails" (accountFlag)="accountFlags($event)">
         </app-deposit-details>
      </div>
      <div *ngIf="interestDetails">
         <app-interest-details [productInfo]="productDetails" (accountFlag)="accountFlags($event)" (interestnext)="interestNext($event)">
         </app-interest-details>
      </div>
      <div *ngIf="recurringDetails">
         <app-recurring-payment (accountFlag)="accountFlags($event)" (recurringnext)="recurringNext($event)"> </app-recurring-payment>
      </div>
   </div>
</div>