<div class="game-status">
   <div class="work-flow final-status">
      <app-circle-icon-heading [heading]="heading" [successful]="successful"></app-circle-icon-heading>
      <div class="block">
         <div class="steps-track"></div>
         <div class="steps-block gd-form">
            <div class="gd-form-row">
               <p>
                  {{labels.lottoLabels.winningLabel}}
               </p>
               <div class="line-padding"></div>
               <p>{{labels.lottoLabels.winningUnderLabel}} {{notifyWinLimit | amountTransform}} {{labels.lottoLabels.purchaseHeadingLabel}}</p>
               <span>{{notifyWinLimit | amountTransform}}.</span>
            </div>
            <table class="tabular-data-col-2 gd-form-row">
               <tbody>
                  <tr>
                     <td>Play:</td>
                     <td id="game-type">{{gameType}}</td>
                  </tr>
                  <tr>
                     <td>Amount:</td>
                     <td id="game-cost">{{selectedNumbers.TotalCost | amountTransform : amountPipeConfig}}</td>
                  </tr>
                  <tr>
                     <td>From account:</td>
                     <td>
                        <span class='capitalize' id="game-acc-nik-nam">{{accountNickName}}</span>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div *ngIf="selectGame.method !== 'a'">
               <div class="gd-form-row">
                  <div *ngFor="let board of selectedNumbers.BoardDetails;let boardNo=index;" class="board-table">
                     <div class="board-column" [id]="'board-' + boardNo">
                        Board {{board.BoardNumber}}
                     </div>
                     <div class="board-column">
                        <table>
                           <tr>
                              <td *ngFor="let selectedBall of board.SelectedBalls;let ballNo=index;">
                                 <span [id]="'game-ball-' + boardNo + '-' + ballNo" class="noCircle" [ngClass]="selectedBall.className">
                                    {{selectedBall.numberValue}}
                                 </span>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <table class="tabular-data-col-2 gd-form-row">
               <tbody>
                  <tr>
                     <td>Boards: </td>
                     <td id="game-boards-played">{{gameDetails.BoardsPlayed}}</td>
                  </tr>
                  <tr *ngIf="selectedNumbers.isLottoPlus || selectedNumbers.isLottoPlusTwo">
                     <td>
                        <span>Increased chances: </span>
                     </td>
                     <td>
                        <span>{{increasedChances}}</span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span>No of draws: </span>
                     </td>
                     <td>
                        <span *ngIf="selectedNumbers.DrawsPlayed>1">
                           {{selectedNumbers.DrawsPlayed}} draws (#{{selectedNumbers.DrawNumber.drawNumber}} to #{{ selectedNumbers.DrawNumber.drawNumber
                           + selectedNumbers.DrawsPlayed - 1 }})
                        </span>
                        <span *ngIf="selectedNumbers.DrawsPlayed==1">{{selectedNumbers.DrawsPlayed}} draw (#{{selectedNumbers.DrawNumber.drawNumber}})</span>
                     </td>
                  </tr>

               </tbody>
            </table>
            <table class="tabular-data-col-2 gd-form-row">
               <tbody>
                  <tr>
                     <td id="game-notify">{{labels.notify}}</td>
                     <td>
                        <span>{{selectGameFor.notification.name}}</span>
                        <span *ngIf="selectGameFor.notificationInput"> - {{selectGameFor.notification.name === smsNotificationType ? (selectGameFor.notificationInput |
                           mobileNumberMask : 4) : selectGameFor.notificationInput}}</span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span>Your reference: </span>
                     </td>
                     <td>
                        <span id="game-description">{{gameDetails.MyDescription}}</span>
                     </td>
                  </tr>
               </tbody>
            </table>
            <table class="tabular-data-col-2 gd-form-row">
               <tbody>
                  <tr>
                     <td id="game-trans-no" *ngIf="successful && gameDetails.transactionID">
                        <span>Transaction no: </span>
                     </td>
                     <td *ngIf="successful && gameDetails.transactionID">
                        <span id="game-trans-id">{{gameDetails.transactionID}}</span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span>{{labels.paymentDate}}: </span>
                     </td>
                     <td>
                        <span id="game-draw-dt">{{gameDetails.DrawDate | date : 'dd/MM/yyyy'}}</span>
                     </td>
                  </tr>
               </tbody>
            </table>
            <div class="gd-form-row no-print" *ngIf="successful" (click)="print()">
               <a class="download">
                  <span class="icon"></span>
                  <span class="text">Print proof of Payment</span>
               </a>
            </div>
            <div class="half-btns gd-form-row no-print" *ngIf="successful">
               <div class="left">
                  <app-bottom-button [disableButton]="false" (clickEmitter)="newPurchase($event);sendEvent('buy_'+gameType+'_confirmation_click_on_play_again');"
                     [text]="'New purchase'"></app-bottom-button>
               </div>
               <div class="right" *ngIf="!showOverview; else historyList">
                  <app-bottom-button [disableButton]="false" (clickEmitter)="navigateToDashboard();sendEvent('buy_'+gameType+'_confirmation_click_on_go_to_overview');"
                     [text]="'Go to overview'" [alternateTheme]="true"></app-bottom-button>
               </div>
               <ng-template #historyList>
                  <div class="right">
                     <app-bottom-button [disableButton]="false" (clickEmitter)="goToHistory();sendEvent('buy_'+gameType+'_confirmation_click_on_go_to_overview');"
                        [text]="'Go to tickets'" [alternateTheme]="true"></app-bottom-button>
                  </div>
               </ng-template>
            </div>
            <div class="half-btns gd-form-row no-print" *ngIf="!successful">
               <div class="left">
                  <app-bottom-button [showLoader]='isButtonLoader' [disableButton]="disableRetryButton || requestInprogress" (clickEmitter)="retryPayment()"
                     [text]="labels.tryAgain"></app-bottom-button>
               </div>
               <div class="right">
                  <app-bottom-button [disableButton]="false" [disableButton]="requestInprogress" (clickEmitter)="navigateToDashboard()" [text]="labels.cancelPurchase"
                     [alternateTheme]="true"></app-bottom-button>
               </div>
            </div>
            <div class="gd-error margin-bottom-30 no-print" *ngIf="gameDetails?.failureReason">
               <span>{{gameDetails?.failureReason}}</span>
            </div>
            <div class="gd-error margin-bottom-30 no-print" *ngIf="disableRetryButton">
               <span>{{labels.purchaseRetryMessage}}</span>
            </div>
         </div>
      </div>
   </div>
</div>
<app-game-timeout *ngIf="gameTimeOut" (onButtonClick)="hideTimeOutOverlay($event)"></app-game-timeout>
