<div class="password-container">
    <div class="error-block-success" [class.hide]="!isSuccess">
        <div class="icon-container">
            <span class="success" class="img-step-tick">
            </span>
        </div>
        <div class="error-message">Your Password has been successfully changed</div>
        <div class="icon-container">
            <span class="img-step-close" (click)="closeSuccessError()">
            </span>
        </div>
    </div>
    <div class="error-block-failure" [class.hide]="!isFailure">
        <div class="icon-container">
            <span class="img-step-close-red" (click)="closeFailureError()">
            </span>
        </div>
        <span class="error-message">We were unable to change your password</span>
    </div>
    <div class="content-container-padding">
        <div class="icon-field">
            <span class="icon left-arrow" (click)="openProfileMenu(profileMenu)"></span>
            <h4 class="section-title password-detail-header">Change Password</h4>
        </div>
        <div class="change-password-container">
            <div class="formInput password-update">
                <form #changePasswordForm="ngForm" class="gd-form">
                    <div class="gd-form-row name-input">
                        <label for="oldPassword" class="gd-sm-label">Current Nedbank ID password</label>
                        <div class="passord-Container">
                            <div class="eye-container">
                                <input id="oldPassword" ga-event-name="change_password_enter_current_password" autocomplete="off" class="validate form-element"
                                    [type]="getPasswordField(isOldPasswordView)" [(ngModel)]="changePasswordDetails.OldPassword"
                                    #inputOldPassword #oldPassword="ngModel" [disabled]="showLoader" name="oldPassword" maxlength="16"
                                    required appValidateOldPassword appCheckBlur/>
                                <span class="eye-img" #togglerOldPassword>
                                    <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isOldPasswordView"></i>
                                </span>
                            </div>
                        </div>
                        <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched) && oldPassword.isBlurred" class="error-msg">
                            <ng-container *ngIf="oldPassword.errors.required;else defaultError">
                                {{messages.requiredField}}
                            </ng-container>
                            <ng-template #defaultError>{{messages.passwordValidationText}}</ng-template>
                        </div>
                    </div>
                    <hr />
                    <div class="gd-form-row name-input">
                        <label for="password" class="gd-sm-label">New password</label>
                        <div class="passord-Container">
                            <div class="eye-container">
                                <input id="password" ga-event-name="change_password_enter_new_password" autocomplete="off" class="validate form-element passwordInput"
                                    [type]="getPasswordField(isPasswordView)" [(ngModel)]="changePasswordDetails.NewPassword"
                                    #inputPassword #password="ngModel" [disabled]="showLoader" name="password" maxlength="16"
                                    required appValidateInput (ngModelChange)="onPasswordVerify($event)" (focus)="showPasswordMeter = true"
                                    (blur)="showPasswordMeter = !isPasswordValid" appCheckBlur />
                                <span class="eye-img" #togglerPassword>
                                    <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isPasswordView"></i>
                                </span>
                            </div>
                            <span class="validationCheck" [class.success]="changePasswordDetails.NewPassword && isPasswordValid">
                                <i class="checkIcon"></i>
                            </span>
                        </div>
                        <app-password-strength-meter [passwordValue]="changePasswordDetails.NewPassword" [showPasswordMeter]="showPasswordMeter"
                            (onPasswordVerified)="onPasswordVerified($event)"></app-password-strength-meter>
                        <div *ngIf="!showPasswordMeter && (password.dirty || password.touched) && password.isBlurred">
                            <ng-container *ngIf="password.invalid; else validPasswordFormatCheck">
                                <div class="error-msg">
                                    <ng-container *ngIf="password.errors.required;else defaultError">
                                        {{messages.requiredField}}
                                    </ng-container>
                                    <ng-template #defaultError>{{messages.passwordValidationText}}</ng-template>
                                </div>
                            </ng-container>
                            <ng-template #validPasswordFormatCheck>
                                <div *ngIf="!isPasswordValid" class="error-msg">
                                    <span>{{messages.passwordValidationText}}</span>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="gd-form-row name-input">
                        <label for="verifyPassword" class="gd-sm-label">Reenter password</label>
                        <div class="passord-Container">
                            <div class="eye-container">
                                <input id="verifyPassword" ga-event-name="change_password_reenter_new_password" autocomplete="off" class="validate form-element passwordInput"
                                    [type]="getPasswordField(isVerifyPasswordView)" [(ngModel)]="confirmNewPassword" #inputVerifyPassword
                                    #verifyPassword="ngModel" [disabled]="showLoader" name="verifyPassword" maxlength="16" appValidateInput
                                    (ngModelChange)="onPasswordVerify($event)" (focus)="showPasswordVerify = true" (blur)="showPasswordVerify = false"
                                />
                                <span class="eye-img" #togglerVerifyPassword>
                                    <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isVerifyPasswordView"></i>
                                </span>
                            </div>
                            <span class="validationCheck" [class.success]="isPasswordMatch">
                                <i class="checkIcon"></i>
                            </span>
                        </div>
                        <!-- <div *ngIf="showPasswordVerify" class="passwordVerifyMeter">
                    <ul>
                        <li [class.greenCheck]="isPasswordMatch">
                        <div>Passwords match</div>
                        </li>
                    </ul>
                    </div> -->
                        <div *ngIf="isPasswordMatch" class="passwordVerifyMeter">
                            <div>Passwords match</div>
                        </div>
                    </div>
                    <div class="gd-form-row update-btns">
                        <div class="btn-container">
                            <app-bottom-button [text]="'Change'" [disableButton]='!this.isValid' (click)="changePassword($event); sendEvent('change_password_click_on_change')"
                                [showLoader]='showLoader'></app-bottom-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>