@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';


$icon-path: '../../../assets/svg/';
$icon-tick: 'tickStatus';
$icon-close: 'closeStatus-Green';
$icon-close-red: 'close-red';
$change-pwd-container-bg: $container-bg;
$form-element-max-width: 400px;


.password-container {
  .passord-Container{
    position: relative;
  }
   .error-block-success {
      color: $text-color-message-block;
      height: 80px;
      background-color: $color-success-bg;
      @include flexbox();
      @include align-items(center);
      padding: 10px;
      width: 100%;
      z-index: 1;
      margin-bottom: 20px;

      .error-message {  
        margin: 0 20px;
        @include flex(1);
      }

      .icon-container {

         .img-step-tick {
            display: inline-block;
            @include svg-image($icon-tick,24px,18.9px);
            margin-left: 10px;
            margin-top: 5px;
         }

         .img-step-close {
            display: inline-block;
            @include svg-image($icon-close,24px,18.9px);
            margin-left: 10px;
            margin-top: 5px;
         }
      }
   }

   .error-block-failure {
      color: $text-color-message-block;
      height: 80px;
      @include flexbox();
      @include align-items(center);
      background-color: $color-error-bg;
      z-index: 1;
      margin-bottom: 10px;

      .error-message {
         margin-left: 5px;
         @include flex(1);
      }

      .icon-container {
         display: inline-block;
         width: 20px;
         height: 20px;
         margin: 0 10px 0 30px;
         .img-step-close-red {
             display: inline-block;
             @include svg-image($icon-close-red, 24px, 18.9px);
         }
     }
   }

   .icon-field {
    position: relative;

    .icon {
       width: 12px;
       display: inline-block;
       cursor: pointer;
       line-height: 1;

       &.left-arrow {
          margin: 0px 0px 0px 20px;
          @include rotate(180deg);
          @include svg-image-full-path($icon-path, 'right-arrow-cap');
       }
    }
    .password-detail-header {
       @include markpro-medium();
       color: $text-color-primary;
       padding: 0;
       display: inline-block;
       margin-bottom: 30px;
       margin-left: 10px;
    }
 }

   .change-password-container {
    background-color: $change-pwd-container-bg;
    align-items: center;
    padding: 22px;
      
    .eye-container {
        position: relative;
        width: 100%;
        max-width: $form-element-max-width;
    
        .eye-img {
          position: absolute;
          bottom: 36%;
          right: 12px;
          width: 25px;
          height: 25px; 
        }
    
        .fa-fa-eye {
          @include svg-image-full-path($default-svg-image-path, 'PasswordIcon');
        }
      }
    
      .checkIcon{
        @include svg-image-full-path($default-svg-image-path, 'PasswordSuccess', 30px, 30px);
      }
    
      .validationCheck {
        opacity: 0.3;
        position: absolute;
        bottom: 3px;
        left: $form-element-max-width;
        margin-left: 20px;
        top: 50%;
        width: 30px;
        height: 30px;
        @include translate(0, -50%);
        display: none;
        &.success {
          opacity: 1;
        }
      }

    .user-pic-container {
       width: 48px;
       height: 48px;
       text-align: center;
       font-family: $font-markpro;
       background-color: $user-pic-bg;
       border: 2px solid $user-pic-border;
       font-size: $label-size;
       border-radius: 25px;
       padding: 12px 0;
 
       a {
          color: $text-color-secondary;
       }
    }
 
    .user-name-container {
       padding: 5px 0 0 15px;
   
       .user-name {
          font-family: $font-markpro-medium;
          font-size: $section-title-size-sm;
          color: $text-color-primary;
       }
 
       .link-text-normal {
          margin-left: 20px;
          font-size: $font-md;
          cursor: pointer;
          color: $text-color-accent-primary;
          text-decoration: underline;
          font-weight: bold;
       }
    }
 }
 
 .btn-container {
    padding: 10px 0 0 0;
 }
}  

.passwordVerifyMeter {
    font-size: $font-xsm;
    margin-top: 5px;
    color: $text-color-accent-primary;
  
    .hide {
      display: none;
    }
  
    ul {
      list-style: none;
  
      li {
        font-weight: normal;
        position: relative;
      }
  
      li:before {
        position: absolute;
        display: block;
        content: '\2022'; // bullet point
        width: 2em;
        height: 2em;
      }
  
      .greenCheck:before {
        content: ' ';
        background-repeat: no-repeat;
        background-image: url($icon-path + 'tickStatus.svg');
        background-size: 0.8em;
        background-position: 0 0.3em;
      }
  
      div {
        margin-left: 20px;
      }
    }
  }

@media (min-width: $media-sm) {
   .password-container {
      .password-detail-header {
         text-align: left;
      }
      .left-arrow {
        display: none !important;
     }
   }
}

@media (min-width: $media-md) {
   .password-container {
      .change-password-container{
        .validationCheck{
            display: block;
          }
      }
   }
}

form {
    width: 100%;
 }
 
 @media (min-width: $media-lg) {
    .change-password-container {
 
       .password-update {
 
          .name-input {
             margin-right: 30px;
          }

          input {
            width: 100%;
            max-width: $form-element-max-width;
          }
 
          .update-btns {
             padding-top: 15px;
             width: $form-element-max-width;
          }
       }
 
       .user-pic-container {
          width: 77px;
          height: 77px;
          background-color: $user-pic-bg;
          border: 3px solid $user-pic-border;
          font-size: $label-size;
          border-radius: 40px;
          padding: 24px 0;
 
          .user {
             font-size: $font-default;
          }
       }
 
       .user-name-container {
 
          .user-name {
             font-size: $md-heading-size;
          }
       }
    }
 }

 ::-ms-reveal {
  display: none;
}