<app-colored-overlay [isVisible]="true" [alternate]="true" [altButtonText]="'Close'" [template]="donePayment" [backOption]="false"
   (onHide)="exitAction($event)">
   <ng-template #donePayment>
      <section class="success">
         <div class="section-success">
            <span class="section-title">{{labels.youAreDone}}</span>
            <div class="section-body">
               <span class="section-status-title">{{labels.interested}}</span>
               <div class="section-body-part">
                  <div class="section-information">
                     <div class="section-first-part">
                        <span class="details-image card"></span>
                        <span class="details-name">{{labels.travelCard}}</span>
                     </div>
                     <div class="section-second-part travel">
                        <span class="details">{{labels.travelCardInfo}}</span>
                        <span class="more-details branch-locator" (click)="openBranchLocator()">{{labels.branchLocator}}</span>
                     </div>
                  </div>
                  <div class="section-information">
                     <div class="section-first-part">
                        <span class="details-image umbrella"></span>
                        <span class="details-name">{{labels.travelInsurance}}</span>
                     </div>
                     <div class="section-second-part insurance">
                        <span class="details">{{labels.travelInsuranceInfo}}</span>
                        <div class="more-details">
                           <span class="normal font-size-16">{{labels.viewContacts}}</span>
                           <span (click)="openTooltip()" class="info"></span>
                        </div>
                     </div>
                     <div class="show-message" *ngIf="isTooltipOpen">
                        <span class="triangle">
                        </span>
                        <div class="tooltip-part">
                           <div class="tooltip-section">
                              <div class="section-content">
                                 <span class="content">{{labels.nedBankCard}}</span>
                                 <span class="content end">{{labels.nedBankTravelEmail}}</span>
                                 <span class="content">{{labels.saaVoyagerCard}}</span>
                                 <span class="content end">{{labels.saaTravelEmail}}</span>
                                 <span class="content">{{labels.americanExpressCard}}</span>
                                 <span class="content end">{{labels.amexTravelEmail}}</span>
                                 <span class="content">{{labels.centurionCard}}</span>
                                 <span class="content">{{labels.centurionCardEmail}}</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bottom-btn" [ngClass]="{'add-margin': !isTooltipOpen, 'no-margin': isTooltipOpen}">
               <app-bottom-button [showLoader]="false" (clickEmitter)="navigateToDashboard()" [text]="'Go to overview'"></app-bottom-button>
            </div>
         </div>
      </section>
   </ng-template>
</app-colored-overlay>