@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';
$svg-path: './../../../../assets/svg';
$card: 'pay-to-card';
$umbrella: 'umbrella';
$information: 'information';
.success {
   .section-success {
      margin: 60px 0px 0px 80px;
      .section-title {
         font-family: $font-markpro-medium;
         font-weight: $weight-medium;
         font-size: $main-title-size;
         color: $text-color-secondary;
      }
      .section-body {
         margin-top: 60px;
         .section-status-title {
            display: block;
            width: 63%;
            font-family: $font-markpro;
            font-size: $page-descrp-size;
            color: $secondary-color;
         }
         .section-body-part {
            margin-top: 30px;
            @include flexbox();
            @include flex-direction(row);
            .section-information {
               width: 28%;
               margin-right: 55px;
               .section-first-part {
                  @include flexbox();
                  @include flex-direction(row);
                  border-bottom: 1px solid $form-content-border;
                  .details-image {
                     margin-right: 33px;
                     &.card {
                        @include svg-image-full-path($svg-path, $card, 72px, 72px);
                     }
                     &.umbrella {
                        @include svg-image-full-path($svg-path, $umbrella, 60px, 60px);
                     }
                  }
                  .details-name {
                     padding-bottom: 22px;
                     font-family: $font-markpro-medium;
                     font-weight: $weight-medium;
                     font-size: $font-descrp;
                     color: $secondary-color;
                  }
               }
               .section-second-part {
                  margin-top: 10px;
                  &.travel {
                     width: 75%;
                  }
                  &.umbrella {
                     width: 378px;
                  }
                  .details {
                     font-family: $font-markpro-medium;
                     font-weight: $weight-medium;
                     font-size: $font-md;
                     color: $text-color-secondary;
                     display: block;
                     padding-bottom: 15px;
                  }
                  .more-details {
                     font-family: $font-markpro;
                     font-size: $font-default;
                     &.normal {
                        color: $text-color-primary;
                     }
                     &.branch-locator {
                        color: $secondary-color;
                        cursor: pointer;
                     }
                  }
                  .info {
                     @include svg-image-full-path($svg-path, $information, 24px, 24px);
                     position: absolute;
                     margin-left: 20px;
                     cursor: pointer;
                  }
               }
               .show-message {
                  .triangle {
                     width: 0;
                     height: 0;
                     position: absolute;
                     margin-top: -10px;
                     left: 45%;
                     border-left: 12px solid transparent;
                     border-right: 12px solid transparent;
                     border-bottom: 12px solid $tooltip-back-ground;
                  }
                  .tooltip-part {
                     margin: 15px 0px 15px 0px;
                     background-color: $tooltip-back-ground;
                     border-left: 2px solid $secondary-color;
                     .tooltip-section {
                        padding: 0px 9px 0px 15px;
                        .section-content {
                           padding: 25px 60px 15px 0px;
                           font-size: $font-sm;
                           .content {
                              color: $text-color-primary;
                              font-family: $font-markpro;
                              display: block;
                              padding-bottom: 10px;
                              &.end {
                                 margin-bottom: 20px;
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      }
      .bottom-btn {
         margin-bottom: 71px;
         &.add-margin {
            margin-top: 60px;
         }
         &.no-margin {
            margin-top: 50px;
         }
      }
   }
}

@media (max-width: $media-sm) {
   .success {
      .section-success {
         margin-left: 18px;
         .section-title {
            font-size: $main-title-size-mob;
         }
         .section-body {
            margin-top: 30px;
            .section-status-title {
               font-size: $para-title-size;
               width: 100%;
            }
            .section-body-part {
               @include flex-direction(column);
               .section-information {
                  margin-bottom: 34.4px;
                  width: 95%;
                  .section-first-part {
                     width: 95%;
                     .details-name {
                        font-size: $font-descrp-1;
                     }
                     .details-image {
                        &.card {
                           @include svg-image-full-path($svg-path, $card, 32px, 32px);
                        }
                        &.umbrella {
                           @include svg-image-full-path($svg-path, $umbrella, 30px, 30px);
                        }
                     }
                  }
                  .section-second-part {
                     &.travel {
                        width: 100%;
                     }
                     .details {
                        font-size: $font-default;
                        padding-bottom: 12px;
                     }
                     .more-details {
                        font-size: $font-sm;
                     }
                     .info {
                        @include svg-image-full-path($svg-path, $information, 12px, 12px);
                        margin-top: 2px;
                        margin-left: 10px;
                        position: absolute;
                     }
                  }
                  .show-message {
                     width: 100%;
                     .triangle {
                        left: 33%;
                     }
                     .tooltip-part {
                        .tooltip-section {
                           .section-content {
                              padding-right: 45px;
                           }
                        }
                     }
                  }
               }
            }
         }
         .bottom-btn {
            margin-right: 17px;
            margin-bottom: 60px;
            &.add-margin {
               margin-top: 60px;
            }
         }
      }
   }
}
