   <div class="transactions" *ngIf="trips&&trips.length>0" [class.is-skeleton-loading]='skeletonMode'>
      <h6 class="para-title transaction-label">{{labels.mytrips}}</h6>

      <div class="div-row header">
            <div *ngIf="skeletonMode" [innerHtml]="labels.myTripLabels.tripLoadText"></div>
            <div class="div-col">
                  <span class="trip-col per20">{{labels.myTripLabels.destinationCountryiText}}</span>
                  <span class="trip-col per20">{{labels.myTripLabels.departureDateText}}</span>
                  <span class="trip-col per20">{{labels.myTripLabels.returnDateText}}</span>
                  <span class="trip-col per20">{{labels.myTripLabels.tripStatusText}}</span>
                  <span class="action-with-icon trip-col per20"></span>
            </div>
      </div>
      <div class="div-row">
            <div *ngIf="skeletonMode" [innerHtml]="labels.myTripLabels.tripLoadText"></div>
            <div class="div-col" *ngFor="let trip of trips">
                  <span class="gd-lg-label trip-col per20">{{trip.destination}}</span>
                  <span class="trip-col per20">{{trip.departureDate|date:dateFormat}}</span>
                  <span class="trip-col per20">{{trip.returnDate|date:dateFormat}}</span>
                  <span class="trip-col per20" *ngIf="trip.tripStatus===labels.myTripLabels.tripStatusActive">{{labels.myTripLabels.statusActive}}</span>
                  <span class="trip-col per20" *ngIf="trip.tripStatus===labels.myTripLabels.tripStatusFutureYes">{{labels.myTripLabels.statusFuture}}</span>
                  <span class="trip-col per20" *ngIf="trip.tripStatus===labels.myTripLabels.tripStatusFutureNo">{{labels.myTripLabels.statusFuture}}</span>
                  <span class="action-with-icon trip-col per20"><span *ngIf="showHideBuyCurrencyButton(trip)" (click)="openFundTrip(trip);"><span class="icon-fund"></span><span class="icon-text">{{labels.myTripLabels.buyCurrencyText}}</span></span></span>
            </div>
      </div>
      <div class="div-row">

      </div>
      <div class="div-row table-footer">
         <span class="message-block-footer-button">
            <app-bottom-button id="done-btn" [text]="labels.loadtrip" (click)="openLoadTrip()"></app-bottom-button>
         </span>
      </div>
   </div>

   <div class="transactions" *ngIf="(!trips&&!serviceUnavailable)||(trips&&!trips.length)" [class.is-skeleton-loading]='skeletonMode'>
      <h6 class="para-title transaction-label" [innerHtml]="labels.mytrips | skeletonLoader:skeletonMode"></h6>
      <div class="div-row no-trip-available-block" [class.is-skeleton-loading]='skeletonMode'>
         <div *ngIf="skeletonMode" [innerHtml]="labels.myTripLabels.tripLoadText | skeletonLoader:skeletonMode"></div>
         <div class="div-col">
            <span class="message-block-container" [class.is-skeleton-loading]='skeletonMode'>
               <span class="mesasge-block-titile" [innerHtml]="labels.myTripLabels.addTripHeading | skeletonLoader:skeletonMode"></span>
               <span class="mesasge-block-description" [innerHtml]="labels.myTripLabels.addTripSubHeading | skeletonLoader:skeletonMode"></span>
               <span class="message-block-footer" *ngIf="!skeletonMode">
                  <app-bottom-button id="done-btn" [text]="labels.loadtrip" (click)="openLoadTrip()"></app-bottom-button>
               </span>
            </span>
         </div>
      </div>
   </div>
   <div class="transactions" *ngIf="serviceUnavailable" [class.is-skeleton-loading]='skeletonMode'>
      <h6 class="para-title transaction-label">{{labels.mytrips}}</h6>
      <div class="div-row no-trip-available-block">
         <div *ngIf="skeletonMode" [innerHtml]="labels.myTripLabels.tripLoadText"></div>
         <div class="div-col">
            <span class="message-block-container">
               <span class="mesasge-block-description">{{labels.myTripLabels.serviceUnavailableText}}</span>
               <br/><br/>
               <span class="mesasge-block-description">{{labels.myTripLabels.forexHelpDeskText}}
                  <span class="text-active">{{labels.myTripLabels.forexHelpDeskNumber}}</span>
               </span>
            </span>
         </div>
      </div>
   </div>

   <app-colored-overlay [isVisible]="loadTripOverlayVisible" [alternate]="true" [altButtonText]="'Cancel'" [template]="loadTripTemplate"
   [backOption]="false" (onHide)="resetLoadTrip()">
      <ng-template #loadTripTemplate>
         <app-load-trip [cardNumber]="accountNumber"></app-load-trip>
      </ng-template>
   </app-colored-overlay>

   <app-colored-overlay [isVisible]="loadTripStatusOverlayVisible" [alternate]="true" [altButtonText]="'Cancel'" [template]="loadTripStatusTemplate"
   [backOption]="false" (onHide)="resetLoadTrip()" [showCloseBtn]="false">
      <ng-template #loadTripStatusTemplate>
         <app-load-trip-status></app-load-trip-status>
      </ng-template>
   </app-colored-overlay>
   