@import '../../../styles/_mixins.scss';
@import '../../../styles/_base.scss';
$svg-path: './../../../assets/svg/';
$icon-pay: 'Paydashboard';
$transactions-bg: $container-bg;
$transactions-border: $body-bg;
$list-padding-sm: 10px;
$list-padding: 20px;
$icon-fund-trip: 'Pay-Green';

.transactions {
    background: $transactions-bg;
    margin-top: 30px;
    padding: 20px 0 0;
    .para-title {
        padding: 0 $list-padding-sm;
        color: $text-color-secondary;
        &.transaction-label {
            color: $text-color-secondary;
            font-size: $para-title-size-mob;
            font-weight: 500;
            padding-bottom: 20px;
            margin-bottom: 0;
        }
    }
    .gd-lg-label {
      font-size: 1rem;
      font-weight:bold;
    }
    .div-row {
       display: table;
       width: 100%;
       .div-col{
          min-height: 80px;
          width: 100%;
          text-align: center;
          border-bottom: 1px solid $color-lightGrey-d1;
          .per20 {
               display: inline-block;
               vertical-align: middle;
               width: 20%;
               height: 100%;
               padding: 20px 0px 20px 0px;
               &.action-with-icon {
                  width: 18%;
                  display: inline-block;
                  vertical-align: middle;
                  
                  .icon-fund{
                     @include svg-image($icon-fund-trip, 100%, 100%);
                     display: inline-block;
                     vertical-align: middle;
                     height: 30px;
                     width: 30px;
                     cursor: pointer;
                  }
                  .icon-text{
                     display: inline-block;
                     vertical-align: middle;
                     cursor: pointer;
                  }
               }
            }
       }
       .action-with-icon {
          color: $color-lightGreen;
       }
       &.header {
         height: 100%;
         width: 100%;
         border-bottom: 1px solid $color-lightGrey-d1;
       }
    }
    .message-block-container {
      display: table;
      height: auto;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      .mesasge-block-titile {
         font-size: $font-md;
         font-weight: bold;
         display: block;
         text-align: center;
         width: 40%;
         margin: 0px auto;
         margin-bottom: 15px;
      }
      .mesasge-block-description {
         font-size: $font-default;
         display: block;
         text-align: center;
         width: 50%;
         margin: 0px auto;
         line-height: 30px;
         .text-active {
            color: $color-lightGreen;
         }
      }
      .message-block-footer {
         font-weight: bold;
         display: block;
         text-align: center;
         width: 40%;
         margin: 20px auto;
      }
    }
    .message-block-footer-button{
      display: block;
      width: 135px;
      float: right;
    }
    
    .table-footer{
      padding: 10px;
      text-align: right;
    }
}

@media (min-width: $media-sm) {
    .transactions {
        margin-top: 0;
        .para-title {
            padding: 0 $list-padding;
            &.transaction-label {
                font-size: $xlg-descrp-size;
                padding-left: 30px;
                padding-bottom: 15px;
                border-bottom: 8px solid $transactions-border;
            }
        }
    }
}
