<div class="formInput">
  <form #nedIdDelayedForm="ngForm" class="gd-form">
    <div class="gd-form-row">
      <h4 class="section-title darkText">Congrats!</h4>
    </div>
    <div class="gd-form-row">
      <span>You have successfully created your Nedbank ID username and password. Please wait for a SMS to confirm registration before logging on.</span>
    </div>
    <div class="gd-form-row">
      <button class="gd-primary-btn" (click)="navigateNext($event)" (touchstart)="navigateNext($event)">Start Banking</button>
    </div>
    <div class="gd-form-row">
    </div>
  </form>
</div>