@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';
@import '../../../../styles/_lotto-numbers.scss';
$svg-path: './../../../../assets/svg';

$bg-color-dashboard: $body-bg;

.draw-details {
   background-color: $bg-color-dashboard;
   min-height: calc( 100vh - #{$header-height-mob + $footer-height-mob});
}

.draw-details-container {
   padding: 32px 111px 0px 111px;
   background-color: $bg-color-dashboard;
}

.gd-form-row{
   margin-top: 15%;
}

.lottoerror-icon {
   @include svg-image-full-path($svg-path, 'grey', 60px, 60px);      
}

.lottoerror-icon::before {
   margin: 0px auto;
}

@media (max-width: $media-sm) {
   .draw-details-container {
      padding: 0;
   }
}
