@import "../../../styles/_base.scss";
@import "../../../styles/_mixins.scss";

.notice-details-section {

   .placed-info {
      font-size: $status-size;
      line-height: normal;
      letter-spacing: 0;
      color: $text-color-message-block;
      margin-bottom: 20px;
      display: block;
   }

   .title {
      @include markpro-medium();
      font-size: $section-title-secondary-size-mob;
      font-weight: $weight-medium;
      line-height: 1.22;
      margin-bottom: 20px;
      display: block;
   }

   .notice-details {
      line-height: 1.5;
      letter-spacing: 0;
      color: $text-color-message-block-content;
      margin-bottom: 30px;

      .placed-dates {
         margin-bottom: 10px;
      }
   }
}

@media (min-width: $media-sm) {
   .notice-details-section {

      .placed-info {
         font-size: $section-title-size;
         line-height: 1.34;
         margin-bottom: 30px;
         color: $text-color-primary;
      }
   }
}
