<section class="notice-details-section">
   <span class="placed-info">{{labels.noticePlacedInfo}}</span>
   <span class="title">{{labels.noticeDetails}}</span>
   <div class="notice-details">
      <div class="placed-dates">
         <span>{{labels.noticePlacedOn}}</span>
         <span [innerHtml]='noticeDetails?.loanCancellationDate | skeletonLoader:skeletonMode'></span>
      </div>
      <div class="placed-dates">
         <span>{{labels.noticeValidUntil}}</span>
         <span [innerHtml]='noticeDetails?.loanCancellationNoticeExpiryDate | skeletonLoader:skeletonMode'></span>
      </div>
      <div class="placed-dates">
         <span>{{labels.noEarlyTerminationFee}}</span>
         <span [innerHtml]='noticeDetails?.loanExpectedClosureDate | skeletonLoader:skeletonMode'></span>
      </div>
   </div>
</section>
