<app-search-recipients [isOverlay]="isSearchRecipients" (onBeneficiaryListHidden)="hideSearchRecipients()" (onBeneficiaryDataSelection)="handleBeneficiarySelection($event)"
   [options]="{ isPrepaid: true }" (sendBeneficiaryData)="getContactCards($event)"></app-search-recipients>
<ng-template #searchBeneficiaryTemplate let-model="item" let-index="index" let-match="match" let-query="query">
   <div class="benificiary-list" ga-event-name="buy_prepaid_recipient_and_provider_select_recipient_name">
      <div class="name" [innerHtml]="model.beneficiaryName | highlight:query:'highlightText'"></div>
      <div class="details">
         <div class="icon-type"></div>
         <div class="account-type">
            <span [innerHtml]="model.accountNumber | highlight:query:'highlightText'"></span>
         </div>
      </div>
   </div>
</ng-template>
<form class="buy-to-section gd-form autocomplete-container" #buyToForm="ngForm">
   <div class="gd-form-row">
      <label class="gd-sm-label active" for="recipient_name">Recipient name</label>
      <div class="field-with-icon">
         <div class="field-block clear-field-block">
            <input appFocus autofocus [readonly]="!processedBeneficiaryData" id="recipient_name" type="search" autocomplete="off" class="validate"
               #recipientname="ngModel" [typeaheadOptionsLimit]="processedBeneficiaryData && processedBeneficiaryData.length"
                        [(ngModel)]="vm.recipientName" (ngModelChange)="onRecipientNameChanged()" [typeahead]="processedBeneficiaryData"
               [typeaheadItemTemplate]="searchBeneficiaryTemplate" (typeaheadOnSelect)="selectBeneficiary($event)"             typeaheadOptionField="beneficiaryName"
               name="beneficiaryName" appValidateRequired appClearField appCheckBlur appValidationLatinWord appClipBoardValidation
               ga-event-name="buy_prepaid_recipient_and_provider_enter_recipient_name" />
         </div>
         <div class="icon-block">
            <div class="icons">
               <span class="receipient-search-icon icon" (click)="showSearchRecipients()"></span>
            </div>
         </div>
      </div>
      <div *ngIf="recipientname.invalid && (recipientname.dirty || recipientname.touched) && recipientname.isBlurred" class="error-msg">
         <span *ngIf="recipientname.errors.required">
            Recipient name is required.
         </span>
      </div>
   </div>
   <div class="gd-form-row">
      <label class="gd-sm-label active" for="mobile_number">Recipient cellphone number</label>
      <input ga-event-name="buy_prepaid_recipient_and_provider_enter_cellphone_number" id="mobile_number" autocomplete="off" type="tel"
         class="validate" #mobileNumberRef="ngModel" [(ngModel)]="vm.mobileNumber" name="mobileNumber" appValidateRequired [pattern]="mobilePattern"
         appValidateOnblur appValidateInput appCheckBlur validateFor='mobile' (ngModelChange)="onMobileNumberChange($event)"
         [readonly]="(this.vm.isRecipientPicked && vm.mobileNumber)" />

      <div *ngIf="mobileNumberRef.invalid && (mobileNumberRef.dirty || mobileNumberRef.touched) && mobileNumberRef.isBlurred" class="error-msg">
         <span *ngIf="mobileNumberRef.errors.required">
            Cellphone number is required.
         </span>
         <span *ngIf="mobileNumberRef.errors.pattern">
            Incorrect cellphone number.
         </span>
      </div>
   </div>
   <div class="gd-form-row">
      <label class="gd-sm-label">Select a provider</label>
      <div id="serviceprovider" class="gd-basic-dropdown" tabindex="0" dropdown [(isOpen)]="isOpen">
         <div dropdownToggle class="dropdown-place" [class.drpdwn-initial]="checkDefaultSelected(displaySelectedServiceProvider)"
            [class.drpdwn-error]="providerRef.invalid && (providerRef.dirty || providerRef.touched)">
            <div class="text">
               {{displaySelectedServiceProvider}}
            </div>
            <div class="icon">
               <span class="caret"></span>
            </div>
         </div>
         <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem" *ngFor="let provider of providers" (click)="onProviderSelection(provider);sendEvent('buy_prepaid_recipient_and_provider_select_service_provider')"
               [class.active]="isProviderSelected(provider.serviceProviderCode)">

               <div class="icon" [ngClass]="getProviderIconClass(provider.serviceProviderCode)">
               </div>
               <div class="text">{{provider.serviceProviderName}}</div>
            </li>
         </ul>
         <input type="hidden" name="providerInput" [(ngModel)]="vm.serviceProviderName" #providerRef="ngModel" required appCheckBlur
         />
         <div *ngIf="!isOpen && providerRef.invalid && (providerRef.dirty || providerRef.touched) && providerRef.isBlurred" class="error-msg">
            <span *ngIf="providerRef.errors.required">
               Provider is required.
            </span>
         </div>
      </div>
   </div>
   <div class="info-text">
      <span class="info-icon"></span>
      <span>{{buyPrepaidWarningNotification}}</span>
   </div>
</form>