@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';


$svg-path: './../../../../assets/svg/';
$icon-cellc: 'icon-cellc';
$icon-mtn: 'icon-mtn';
$icon-telkom: 'icon-telkom';
$icon-telkom-mobile: 'icon-telkom-mobile';
$icon-virgin: 'icon-virgin';
$icon-vodacom: 'icon-vodacom';

.buy-to-section {
   margin-top: 30px;

   .receipient-search-icon {
      @include svg-image-full-path($svg-path,$icon-search-recipient, 30px, 30px);
      position: relative;
      display: block;
   }

   .icon-clc {
      @include svg-image-full-path($svg-path,$icon-cellc, 60px, 60px);
      position: relative;
      display: block;
   }

   .icon-mtn {
      @include svg-image-full-path($svg-path,$icon-mtn, 60px, 60px);
      position: relative;
      display: block;
   }

   .icon-tlk {
      @include svg-image-full-path($svg-path,$icon-telkom, 60px, 60px);
      position: relative;
      display: block;
   }

   .icon-vdc {
      @include svg-image-full-path($svg-path,$icon-vodacom);
      position: relative;
      display: block;
   }

   .icon-vgn {
      @include svg-image-full-path($svg-path,$icon-virgin);
      position: relative;
      display: block;
   }

   .icon-8ta {
      @include svg-image-full-path($svg-path,$icon-telkom-mobile);
      position: relative;
      display: block;
   }

   ul {
      max-height: 315px;
      overflow: auto;

      li {
         padding: 15px;
         @include flexbox();
         @include align-items(center);

         .text {
            @include flex(1);
         }

         .icon {
            margin-right: 20px;
            height: 60px;
            width: 60px;
         }

      }
   }
}

.overlay-template {
   .para-title {
      color: $color-overlay;
   }

   .content {
      margin-bottom: 20px;
   }
}

.vertical-overlay-content-wrapper {
   .icon {
      @include svg-image-full-path($svg-path, 'mobile-grey');
      width: 60px;
   }
}

.benificiary-list {
   .name {
      color: $text-color-primary;
      margin-bottom: 5px;
   }

   .details {
      @include flexbox();
      @include align-items(center);
      color: $text-color-info;

      .icon-type {
         margin-right: 10px;
      }

      .account-type {
         @include flex(1);
         white-space: normal;

         .text {
            &::after {
               content: ' - ';
            }
         }
         .account-type{
             @include flex(1);
             white-space: normal;
             .text{
                 &::after {
                     content: ' - ';
                 }
             }
         }
     }
     .icon-type{
        @include svg-image-full-path($svg-path, 'mobile');
        width: 14px;
     }
   }
}

@media (min-width: $media-sm) {
   .overlay-template {
      @include flex(1);
      max-width: 700px;

      .para-title {
         font-size: $section-title-size;
      }

      .content {
         margin-bottom: 20px;
      }
   }

   .overlay-content-wrapper {
      .icon {
         @include svg-image-full-path($svg-path, 'mobile');
         position: relative;
         display: block;
         width: 120px;
         height: 120px;
      }
   }
}

@media (min-width: $media-md) {
   .overlay-content-wrapper {
      .icon {
         @include svg-image-full-path($svg-path, 'mobile');
         position: relative;
         display: block;
         width: 170px;
         height: 170px;
      }
   }
}
