<div class="container">
  <div class="gd-form-row navigateClose">
    <button class="gd-secondary-btn" (click)="navigateClose()" (touchstart)="navigateClose()">Close</button>
  </div>
  <div class="formInput">
    <form #noDetailsForm="ngForm" class="gd-form top-margin50">
      <div class="gd-form-row">
        <div class="blocked"></div>
      </div>
      <div class="gd-form-row">
        <h4 class="section-title darkText">Your profile has been blocked.</h4>
      </div>
      <div class="gd-form-row">
        Please visit your nearest branch to gain access to the new online banking.
      </div>
      <div class="gd-form-row">
        <strong>Everyday banking</strong>
        <div class="number-text">{{ContactCentrePhone}}</div>
        <div class="number-text">
          <a href={{ContactCentreEmailMailto}} target="_top" data-rel="external">{{ContactCentreEmail}}</a>
        </div>
      </div>
      <div class="gd-form-row top-margin50">
        <button class="gd-primary-btn" (click)="findBranch($event)" (touchstart)="findBranch($event)">Find a branch</button>
      </div>
    </form>
  </div>
</div>