<div class="maintenance-container">
   <div class="container">
      <div class="row">
         <div class="col-xs-12 col-md-8 first-column">
            <div class="title-first">WE ARE BUSY WORKING ON SOMETHING AMAZING.</div>
            <div class="title-second">WE SHOULDN'T BE LONG</div>
            <div class="title-hint">Please try again soon</div>
         </div>
         <div class="col-xs-12 col-md-4 second-column no-padding">
            <div class="icon-field pull-right">
               <span class="icon maintenance-icon"></span>
            </div>
         </div>
      </div>
   </div>
</div>
