<app-colored-overlay [alternate]="true" [isVisible]="isOverlayVisible" [template]="settlementTermsTemplate" [altButtonText]="closeBtnText"
   (onHide)="closeOverlay()">
   <ng-template #settlementTermsTemplate>
      <section class="settlement-terms-section">
         <h4 class="title">{{labels.title}}</h4>
         <ul class="term-list">
            <li *ngIf="isPlSettlement || isMfCSettlement">
               <span [innerHtml]="labels.term1[0]"></span>
               <span [innerHtml]="labels.term1[1] | highlight:settlementDate:'highlightTextInBold'"></span>
            </li>
            <li *ngIf="isPlSettlement">
               <span [innerHtml]="labels.term2 | highlight:settlementDate:'highlightTextInBold'"></span>
            </li>
            <li *ngIf="isMfCSettlement">
               <span [innerHtml]="labels.term2[0]"></span>
               <span [innerHtml]="labels.term2[1] | highlight:lastPaymentDate:'highlightTextInBold'"></span>
               <span [innerHtml]="labels.term2[2]"></span>
               <span [innerHtml]="labels.term2[3] | highlight:lastPaymentAmount:'highlightTextInBold'"></span>
               <span [innerHtml]="labels.term2[4]"></span>
            </li>
            <li *ngIf="isPlSettlement || isMfCSettlement">
               <span>{{labels.term3}}</span>
            </li>
            <li *ngIf="isMfCSettlement">
               <span>{{labels.term4}}</span>
            </li>
            <li *ngIf="isMfCSettlement">
               <span>{{labels.term5}}</span>
            </li>
            <li *ngIf="isHlSettlement">
               <span>{{labels.term1}}</span>
            </li>
            <li *ngIf="isHlSettlement">
               <span>{{labels.term2}}</span>
            </li>
         </ul>
         <section *ngIf="isPlSettlement">
            <span class="terms-info">{{labels.termsInfoRememberText}}
               <span class="terms-bold">{{labels.termsInfoInBold}}</span>
               {{labels.termsInfo}}</span>
            <a class="link-website" href="{{nedBankHomeLink}}" target='_blank'>{{labels.homePageLink}}</a>
         </section>
      </section>
   </ng-template>
</app-colored-overlay>
