<section [style.display]="isPLSettlementQuote ? 'inherit': 'none'">
   <app-request-quote-email [accountId]="accountId" [navigateFrom]="navigateFrom"></app-request-quote-email>
</section>
<section [style.display]="isMFCSettlementQuote || isHLSettlementQuote ? 'inherit': 'none'">
   <app-colored-overlay [alternate]="true" [isVisible]="isOverlayVisible" [template]="selectedTemplate" [altButtonText]="btnText"
      (onHide)="closeOverlay()">
      <ng-template #settlementQuoteTemplate>
         <section class="settlement-quote-section">
            <div *ngIf="isHLSettlementQuote">
               <span class="sq-secondary-title">{{labels.settlementQuote}}</span>
               <div class="settlement-details">
                  <div class="lbl">{{labels.accountHolder}}</div>
                  <div class="val">{{accountHolderName}}</div>
               </div>
               <div class="settlement-details">
                  <div class="lbl">{{labels.accountNumber}}</div>
                  <div class="val">{{settlementDetails?.loanAccountNumber}}</div>
               </div>
               <div class="settlement-details">
                  <div class="lbl">{{labels.homeLoanFor}}</div>
                  <div class="val">{{loanDescription}}</div>
               </div>
               <div class="settlement-details">
                  <div class="lbl">{{labels.settlementAmount}}</div>
                  <span class="val amount" [innerHtml]="settlementDetails?.settlementAmt | amountTransform:amountPipeConfig"></span>
               </div>
               <div class="settlement-details">
                  <div class="quote-date">{{labels.quoteRequestedOn}}</div>
                  <div class="quote-date">{{labels.quoteValidUntil}}</div>
               </div>
            </div>
            <div *ngIf="isMFCSettlementQuote">
               <h4 class="title">{{labels.settlementQuote}}</h4>
               <span class="account-number">{{settlementDetails?.loanAccountNumber}}</span>
               <span class="article">{{settlementDetails?.article}}</span>
               <div class="settlement-amount">
                  <span class="text">{{labels.settlementAmount}}</span>
                  <span class="amount" [innerHtml]="settlementDetails?.settlementAmt | amountTransform:amountPipeConfig"></span>
               </div>
               <span class="validation-time">{{labels.validateDateInfo}}</span>
               <div class="info-text">
                  <span class="info-icon"></span>
                  <div class="text">
                     <div class="text-process-info">{{labels.detailedQuoteInfo}}</div>
                  </div>
               </div>
            </div>
            <div>
               <span class="link-send-quote" (click)="showQuote()">{{isHLSettlementQuote ? labels.sendQuoteToEmailLink : labels.sendQuoteToAnotherEmailLink}}</span>
               <span class="link-terms" [innerHtml]="viewTCLink | highlight:query:'highlightText'" (click)="showTerms()"></span>
               <div class="btn-settle-loan">
                  <app-bottom-button (click)="showSettleLoan()" [text]="labels.settleLoan"></app-bottom-button>
               </div>
            </div>
         </section>
      </ng-template>
      <ng-template #loadingTemplate>
         <section class="loader-mask">
            <div id="loaders-spinner" class="loader-spinner">
               <app-spinner [color]="'green'"></app-spinner>
               <div class="loader-text">
                  <span class="loader-text">{{labels.loading}}</span>
                  <span class="loader-text-almost-done">{{labels.almostDone}}</span>
                  <span class="loader-text-in-progress">{{labels.requestIsInProgress}}</span>
               </div>
            </div>
         </section>
      </ng-template>
      <ng-template #settlementQuoteEmailTemplate>
         <app-request-quote-email [accountType]="accountType" [navigateFrom]="navigateFromRequestQuote" (onClose)="onEmailQuoteClose($event)"
            [accountId]="accountId"></app-request-quote-email>
      </ng-template>
      <ng-template #termsTemplate>
         <app-settlement-terms [settlementDetails]="settlementDetails" (onClose)="onTermsClose($event)"></app-settlement-terms>
      </ng-template>
      <ng-template #directPayTemplate>
         <app-direct-pay [accountId]="accountId" [accountType]="accountType" [settlementDetails]="settlementDetails" (onClose)="onDirectPayClose($event)"></app-direct-pay>
      </ng-template>
      <ng-template #settlementStatus>
         <app-request-quote-status *ngIf="getSettlementQuoteStatus()" [showLoader]="showLoader" [retryLimitExceeded]="retryLimitExceeded"
            [settlementQuoteStatus]="settlementQuoteStatus" (onRetry)="onRetrySettlementQuote($event)"></app-request-quote-status>
      </ng-template>
   </app-colored-overlay>
</section>
