@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
$svg-relative-part: './../../../../assets/svg';
.payment-date-container {
   margin-top: 60px;
   .payment-date-form-wrapper {
      width: 100%;
      text-align: center;
   }
   .payment-date-gd-form {
      display: inline-block;
      text-align: left;
      width: 100%;
      .information-container-small {
         .date-text {
            color: $tertiary-color;
         }
         .section-title {
            margin-bottom: 20px;
         }
         .dark-grey-text {
            color: $text-color-secondary;
            font-family: $font-markpro-medium;
         }
      }
      .paymentDateForm{
         .info-text{
            padding: 20px;
            .text{
               font-size: $font-default;
               padding: 0 20px;
            }
         }
      }
   }
}

@media (min-width: $media-xxs) {
   .payment-date-container {
      margin-top: 20px;
      .payment-date-form-wrapper {
         .payment-date-gd-form {
            .information-container-small {
               .margin-31 {
                  margin-bottom: 30px;
               }
            }
            .paymentDateForm{
               margin-top: -20px;
               .buttonDiv {
                  margin: 60px -10px 0;
               }
            }
         }
      }
   }
}

@media (min-width: $media-xs-up) {
   .payment-date-container {
      margin-top: 60px;
      .payment-date-form-wrapper {
         .payment-date-gd-form {
            width: 400px;
            display: inline-block;
            text-align: left;
            .information-container-small {
               margin-bottom: 20px;
               .date-container {
                  .medium-text {
                     color: $text-color-notice-block;
                  }
                  label {
                     margin-bottom: 0;
                  }
               }
               .gd-form-row {
                  margin-bottom: 20px;
               }
               .dark-grey-text {
                  color: $text-color-secondary;
                  line-height: 1.25;
                  font-size: $section-title-size-sm;
                  &.section-title {
                     line-height: normal;
                     font-family: $font-markpro-medium;
                     font-size: $section-title-size;
                  }
               }
            }
            .paymentDateForm {
               .gd-form-row {
                  margin-bottom: 30px;
               }
               .buttonDiv {
                  margin: 60px 0 0;
               }
            }
            ::ng-deep {
               .custom-inrange-day-selector {
                  .gd-inrange-calender {
                     .dropdown-menu {
                        padding-top: 5px;
                        padding-bottom: 60px;
                     }
                     .dropdown-menu {
                        .dropdown-item {
                           padding-bottom: 20px;
                           padding-top: 30px;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
