<div class="formInput">
   <form #registerForm="ngForm" class="gd-form">
      <div class="gd-form-row">
         <h4 class="section-title darkText">{{headingText}}</h4>
      </div>
      <app-message-alert [showAlert]="serviceError != ''" [displayMessageText]="serviceError" [linkDisplayText]="errorLinkText"
         [action]="alertAction" [alertType]="alertType" (onAlertLinkEmit)="onAlertLinkSelected($event)"></app-message-alert>
      <div class="gd-form-row">
         <label for="profile" class="gd-sm-label">Profile number</label>
         <input id="profile" autocomplete="off" class="validate form-element" type="tel" [(ngModel)]="vm.profile" #profile="ngModel"
            (keypress)="onProfileKeyPress($event)" [disabled]="showLoader" [pattern]="patterns.number" name="profile" minlength="10"
            maxlength="10" required appValidateInput appValidateOnblur validateFor='number' (ngModelChange)="onInputChanged($event)"
            (blur)="onClearValidationErrors($event)" />
         <ng-container *ngIf="profile.invalid && (profile.dirty || profile.touched);else checkAlphaProfileInput">
            <div class="error-msg">
               <ng-container *ngIf="profile.errors.required;else patternCheck">
                  {{messages.profileMandatory}}
               </ng-container>
               <ng-template #patternCheck>
                  <ng-container *ngIf="profile.errors.pattern;else lengthCheck">
                     {{messages.profilePattern}}
                  </ng-container>
               </ng-template>
               <ng-template #lengthCheck>
                  <ng-container *ngIf="profile.hasError('minlength') || profile.hasError('maxlength');else defaultError">
                     {{messages.profilePattern}}
                  </ng-container>
               </ng-template>
               <ng-template #defaultError>Incorrect format</ng-template>
            </div>
         </ng-container>
         <ng-template #checkAlphaProfileInput>
            <ng-container *ngIf="!profilePatternValid;else noProfileValidationError">
               <div class="error-msg">
                  {{messages.invalidNumber}}
               </div>
            </ng-container>
            <ng-template #noProfileValidationError>
               <div class="textPlaceholder">*</div>
            </ng-template>
         </ng-template>
      </div>
      <div class="gd-form-row">
         <label for="pin" class="gd-sm-label">PIN</label>
         <div class="eye-container">
            <input id="pin" autocomplete="off" class="validate form-element passwordInput" [type]="getPasswordField(isPinPasswordView)"
               [(ngModel)]="vm.pin" #inputPin #pin="ngModel" (keypress)="onPinKeyPress($event)" [disabled]="showLoader" [pattern]="patterns.number"
               name="pin" minlength="4" maxlength="4" required appValidateOnblur appValidateInput validateFor='number' (ngModelChange)="onInputChanged($event)"
               (blur)="onClearValidationErrors($event)" />
            <span class="eye-img" #togglerPin hidden>
          <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isPinPasswordView"></i>
        </span>
         </div>
         <ng-container *ngIf="pin.invalid && (pin.dirty || pin.touched);else checkAlphaInput">
            <div class="error-msg">
               <ng-container *ngIf="pin.errors.required;else patternCheck">
                  {{messages.pinMandatory}}
               </ng-container>
               <ng-template #patternCheck>
                  <ng-container *ngIf="pin.errors.pattern;else lengthCheck">
                     {{messages.pinPattern}}
                  </ng-container>
               </ng-template>
               <ng-template #lengthCheck>
                  <ng-container *ngIf="pin.hasError('minlength') || pin.hasError('maxlength');else defaultError">
                     {{messages.pinPattern}}
                  </ng-container>
               </ng-template>
               <ng-template #defaultError>Incorrect format</ng-template>
            </div>
         </ng-container>
         <ng-template #checkAlphaInput>
            <ng-container *ngIf="!pinPatternValid;else noPinValidationError">
               <div class="error-msg">
                  {{messages.invalidNumber}}
               </div>
            </ng-container>
            <ng-template #noPinValidationError>
               <div class="textPlaceholder">*</div>
            </ng-template>
         </ng-template>
      </div>
      <div class="gd-form-row">
         <label for="password" class="gd-sm-label">Password</label>
         <div class="eye-container">
            <input id="password" autocomplete="off" class="validate form-element passwordInput" [type]="getPasswordField(isPasswordView)"
               [(ngModel)]="vm.password" #inputPassword #password="ngModel" [disabled]="showLoader" name="password" minlength="6"
               maxlength="10" required appValidateOnblur appValidateInput validateFor='alphaNumeric' (ngModelChange)="onInputChanged($event)"
            />
            <span class="eye-img" #togglerPassword>
          <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isPasswordView"></i>
        </span>
         </div>
         <ng-container *ngIf="password.invalid && (password.dirty || password.touched);else noPswValidationError">
            <div class="error-msg">
               <ng-container *ngIf="password.errors.required;else patternCheck">
                  {{messages.profilePasswordMandatory}}
               </ng-container>
               <ng-template #patternCheck>
                  <ng-container *ngIf="password.errors.pattern;else lengthCheck">
                     {{messages.profilePasswordPattern}}
                  </ng-container>
               </ng-template>
               <ng-template #lengthCheck>
                  <ng-container *ngIf="password.hasError('minlength') || password.hasError('maxlength');else defaultError">
                     {{messages.profilePasswordPattern}}
                  </ng-container>
               </ng-template>
               <ng-template #defaultError>Incorrect format.</ng-template>
            </div>
         </ng-container>
         <ng-template #noPswValidationError>
            <div class="textPlaceholder">*</div>
         </ng-template>
      </div>
      <div class="gd-form-row">
         <a href="javascript:void(0)" class="link-text" (click)="needHelp()" (touchstart)="needHelp()">I need help with this.</a>
      </div>
      <app-bottom-button [text]="'Next'" [disableButton]='!this.isValid' (clickEmitter)="navigateNext($event)" [showLoader]='showLoader'></app-bottom-button>
   </form>
</div>
<div class="helpModal" [class.display]="showHelp">
   <div>
      <div>
         <app-nedbank-id-help [showAsModal]="true" (onToggleHelp)="onToggleHelp($event)"></app-nedbank-id-help>
      </div>
   </div>
</div>