@import '../../../styles/_base.scss';
@import '../../../styles/_mixins.scss';
@import '../../../styles/_tokens.scss';
$default-svg-image-path: "../../../assets/svg/";
$icon-star-empty: 'star_empty';
$icon-star-filled: 'star_filled';
.star-empty-icon {
   @include svg-image-full-path($default-svg-image-path, $icon-star-empty, 23px, 22px);
}

.star-filled-icon {
   @include svg-image-full-path($default-svg-image-path, $icon-star-filled, 23px, 22px);
}

.stars-wrapper {
   display: inline-block;
}

.active:hover {
   content: "\f005";
   color: $star-rating-color;
   fill: $star-rating-color;
}

.active {
   @include svg-image-full-path($default-svg-image-path, $icon-star-filled, 23px, 22px);
   background-repeat: no-repeat;
}

.disabled {
   @include svg-image-full-path($default-svg-image-path, $icon-star-empty, 23px, 22px);
   background-repeat: no-repeat;
}

.star {
   margin-right: 10px;
   display: inline-block;
}
