<app-colored-overlay [isVisible]="true" [alternate]="true" [altButtonText]="'Cancel'" [template]="joinGreenbacks" [backOption]="false"
   (onHide)="close()" [headerFixed]="true" class="app-join-greenbacks">
   <ng-template #joinGreenbacks>
      <div class="join-container">
         <header class="header">
            <span class="head-message block-text">
               Congratulations!
            </span>
            <span class="block-text">You qualify to join Nedbank's Greenbacks rewards programme.</span>
         </header>
         <section class="main-section">
            <span class="block-text">Nedbank Greenbacks lets you choose how to spend your rewards:</span>
            <ul class="list">
               <li class="list-item">in-store with our fabulous partners;</li>
               <li class="list-item">online at nedbankgreenbacks.co.za;</li>
               <li class="list-item">by investing in Nedgroup Investments unit trusts; or</li>
               <li class="list-item">by donating to a deserving charity.</li>
            </ul>
            <span class="block-text">Earn points when you shop online or swipe a linked Greenbacks card.</span>
            <span class="note block-text">
               All for a monthly fee of just R20,18 (incl. VAT).
            </span>
         </section>
         <footer class="footer">
            <div class="checkbox-container">
               <label class="checkbox-label" for="tnc-checkbox">
                  <input type="checkbox" id="tnc-checkbox" [checked]="isAccepted" class="checkbox" (change)="isAccepted = !isAccepted" value="">
                  <span class="tick-mark-container">
                     <i class="tick-mark-icon glyphicon glyphicon-ok"></i>
                  </span>
                  <span class="text block-text">
                     <span>I accept the </span>
                     <button class="btn btn-link" (click)="showTermsAndConditions()">
                        terms and conditions</button>
                     <span> and monthly fee.</span>
                  </span>
               </label>
            </div>
            <app-bottom-button [text]="'Join'" [disableButton]='!isAccepted' (click)="joinProgram()" [showLoader]='showLoader'>
               Join
            </app-bottom-button>
         </footer>
      </div>
   </ng-template>
</app-colored-overlay>