@import '../../../../styles/_base.scss';
@import '../../../../styles/_mixins.scss';

.app-join-greenbacks{
   .join-container {
      width: 300px;
      margin: auto;
      padding: 0;
      .block-text {
         display: block;
      }
      .header {
         margin-top: 40px;
         text-align: center;
         font-size: $font-lg;
         font-weight: $weight-bold;
         line-height: 1.5;
         .head-message {
            margin-bottom: 7px;
         }
      }
      section {
         letter-spacing: 0;
         margin: 28px auto;
         width: 300px;
         .list {
            padding: 15px;
            .list-item {
               margin: 0 0 15px 15px;
            }
         }
         .note {
            margin: 15px 0;
         }
      }
      .footer {
         text-align: center;
         margin-bottom: 20px;
         .checkbox-container {
            margin-bottom: 40px;
            .checkbox-label {
               padding-left: 0;
               cursor: pointer;
               .text {
                  text-align: left;
                  font-weight: $weight-medium;
               }
               .tick-mark-container {
                  position: relative;
                  border: 2px solid $form-element-border;
                  border-radius: 5px;
                  width: 30px;
                  height: 30px;
                  margin-top: -4px;
                  float: left;
                  margin-right: 6px;
                  .tick-mark-icon {
                     color: $text-color-highlight;
                     position: absolute;
                     font-size: $font-default;
                     line-height: 0;
                     top: 50%;
                     left: 20%;
                  }
               }
               .checkbox {
                  display: none;
                  &:checked+.tick-mark-container {
                     background-color: $checkbox-bg-active;
                     border-color: $checkbox-bg-active;
                     .tick-mark-icon {
                        opacity: 1;
                     }
                  }
                  &:disabled+.tick-mark-container {
                     opacity: .5;
                  }
                  &+.tick-mark-container {
                     &>.tick-mark-icon {
                        opacity: 0;
                     }
                  }
               }
            }
         }
      }
      .btn-link {
         outline: none;
         margin: 0;
         padding: 0;
         text-decoration: none;
         font-size: $font-default;
         color: $text-color-link;
         font-family: $font-markpro;
         &:focus, &:visited, &:active, &:hover {
            outline: none;
            text-decoration: none;
            color: $text-color-link;
            font-size: $font-default;
            font-family: $font-markpro;
         }
      }
   }
   .overlay.header-fixed .container .container-content {
      height: calc(100vh - 79px);
   }
   .btn-cntnr {
      #ovrly-cancel {
         color: $secondary-btn-color;
         height: 40px;
         width: 105px;
         border: $secondary-btn-border;
         font-family: $font-markpro;
         font-weight: $weight-bold;
         border-radius: 5px;
         padding: 8px;
         &:hover {
            background-color: $secondary-btn-bg-hover;
            color: $secondary-btn-color-hover;
         }
      }
   }
   .overlay.header-fixed {
      .container-header {
         padding: 8px 4px;
      }
      .logo-cntnr {
         .logo {
            margin: 4px;
            width: 30px;
            height: 30px;
         }
      }
   }

   @media (min-width: $media-sm) {
      .join-container {
         width: 655px;
         .header {
            margin-top: 60px;
            font-size: $font-xlg;
         }
         .main-section {
            width: 400px;
         }
         .footer {
            text-align: center;
            margin-bottom: 20px;
            .checkbox-container {
               margin-bottom: 60px;
            }
            .tick-mark-container {
               margin-right: 10px;
            }
         }
      }
      .overlay.header-fixed {
         .container-header {
            padding: 8px;
         }
         .logo-cntnr {
            .logo {
               width: 40px;
               height: 40px;
               margin: 10px;
            }
         }
      }
      .btn-cntnr {
         #ovrly-cancel {
            height: 50px;
            width: 185px;
            padding: 13px 22px 9px 22px;
            margin: 5px;
         }
      }
   }
}
