@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
$icon-path: './../../../../assets/svg/';
.overlay-modal {
   position: fixed;
   z-index: 10000;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   overflow: auto;
   background-color: $container-bg;
}

.overlay {
   position: relative;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: $color-white;
   overflow-x: hidden;
   @include box-sizing(border-box);
}

.step-container {
   min-height: 67.5%;
}

.faded-background {
   background-color: $color-greyMedium;
   padding-top: 63px;
   padding-bottom: 122px;
}

.hideStep {
   display: none;
}

.mobile-div {
   .round-tick {
      @include svg-image-full-path($icon-path, 'round-tick', 27px, 27px);
      border: 0px !important;
   }
}
