@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';
@import '../../../../styles/_lotto-numbers.scss';
$svg-path: './../../../../assets/svg';
$icon-back: 'back-green';
$no-cards-bg: $container-bg;
$bg-color-dashboard: $body-bg;
$headings-font-weight: $weight-medium !default;

.lotto-header {
    margin-bottom: 31px;
}

.icon {
    width: 40px;
    height: 20px;
    cursor: pointer;
    margin: -3px 15px 10px 0px;
    display: table;
    float: left;
    @include svg-image-full-path($svg-path, $icon-back);
    margin-right: 20px;
}

table tr th td {
    border: none;
}

.winning-head th {
    vertical-align: middle;
    font-size: $label-size;
    color: $text-color-info;
    padding: $steps-space;
}

table {
    background-color: $no-cards-bg;
}

tr {
    height: 60px;
}

tr td {
    vertical-align: middle;
    font-size: $label-size;
    padding: $steps-space;
    cursor: pointer;
}

.draw-details {
    background-color: $bg-color-dashboard;
    min-height: calc( 100vh - #{$header-height-mob + $footer-height-mob});
}

.draw-details-container {
    padding: 32px 111px 0px 111px;
    background-color: $bg-color-dashboard;
}

ul {
    list-style: none;
}

.lotto-header span {
    font-size: $para-title-size;
    color: $text-color-secondary;
    font-weight: $headings-font-weight;
    margin-left: -14px;
}

tr td.game-font {
    font-size: $font-default;
    font-weight: bold;
}

.second-header {
    margin: 14px 0 32px 0;
    font-size: $xlg-descrp-size;
    font-weight: $headings-font-weight;
}

li h6 {
    font-size: $font-md;
    font-family: Roboto;
    color: $text-color-secondary;
    height: 20px;
    margin: 0 0 19px 0;
    line-height: 1.18;
}
.plus-margin
{
    margin-right: 1px;
    margin-left: -15px;
}

.no-circle {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    text-align: center;
    font-size: $font-sm;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px 5px 5px;
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid $color-debit;
    padding-left: 1.7%;
    padding-top: 0.4%;
    display: inline-block;
}

@media (max-width: $media-sm) {
    .draw-details-container {
        padding: 0;
    }
    .lotto-header {
        margin: 10px 0px 15px 0px;
    }
    table tr {
        margin-top: 9px;
        margin-left: 30px;
        td {
            margin-left: 0px;
            padding: 9px 0px 15px 35px;
        }
    }
    .add-circle {
        margin-top: 11px;
        margin-bottom: 20.8px;
    }
    table.responsive {
        width: 100%;
        thead {
            position: absolute !important;
            clip: rect(1px 1px 1px 1px);
            overflow: hidden;
            height: 1px;
            width: 1px;
        }
        tbody th {
            vertical-align: top;
        }
        tr:nth-of-type(2n) {
            background-color: inherit;
        }
        tr td:first-child {
            font-weight: bold;
            margin-top: 1em;
        }
        tr td:nth-child(2){
            border-top: hidden;
        }
        tr td:nth-child(3){
            border-top: hidden;
        }
        tr:first-of-type {
            td:first-child {
                margin-top: 0;
            }
        }
        tbody td {
            display: block;
        }
        tbody td:before {
            content: attr(data-th);
            display: block;
            font-size: $label-size;
            color: $text-color-info;
        }
    }
}