@import '../../../../../styles/_mixins.scss';
@import '../../../../../styles/_base.scss';
$svg-path: './../../../../../assets/svg';
$email-icon: 'email-green';
$icon-close: 'close-gray';
$info-icon:'information';
$download-icon:'download';
$bold: 700;

$down-icon:'down';
.active-tab {
   border-bottom: solid 1px $secondary-color;
   border-top: solid 1px $secondary-color;
   padding: 13px 35px 50px;
}

.active-title {
   font-size: $font-base;
   font-weight: $bold;
   color: $text-color-primary;
}

.info {
   font-size: $font-sm;
   line-height: 1.5;
   color: $text-color-primary;
   width: auto;
   margin-top: 18px;
   margin-left: -30px;
}

.close-icon {
   position: absolute !important;
   margin-left: -15px;
   @include svg-image-full-path($svg-path, $icon-close, 15px, 15px);
}

.info-icon {
   margin-left: -15px;
   margin-top: 18px;
   @include svg-image-full-path($svg-path, $info-icon, 18px, 18px);
}

.right-align {
   text-align: right;
}

.active-email {
   font-size: $font-sm;
   line-height: 1.5;
   color: $text-color-primary;
   margin-top: 18px;
}

.error-msg {
   font-size: $font-sm;
   color: $warning-primary;
}

.button-container {
   margin-top: 18px;
}

.statement {
   .mobile-margin {
      padding-left: 10px;
      .info-text{
         padding: 20px 20px;
         .info-icon{
            margin-left: 0;
            margin-top: 0;
         }
         .text{
            .text-process-info{
               margin-left: 30px;
            }
         }
      }
   }
   .top {
      margin-top: 30px;
   }
   .background-col {
      background-color: $info-message;
      height: 60px;
      padding: 20px 0 0 10px;
      .info {
         font-size: $font-sm;
         line-height: 1.5;
         color: $text-color-primary;
         width: auto;
         margin-left: 10px;
      }
      .info-icon {
         position: absolute !important;
         margin-left: -15px;
         @include svg-image-full-path($svg-path, $info-icon, 18px, 18px);
      }
   }
}


@media (min-width: $media-sm) {
   .button-container {
      margin-top: 0;
   }
   .active-email {
      margin-top: 0;
   }
   .icon{
      float: right;
   }
}