@import '../../../styles/_mixins.scss';
@import '../../../styles/_base.scss';


.main-report-class{
   .modal-body{
      height: 500px;
      overflow-y: auto;

      &::-webkit-scrollbar {
            width: 7px;
      }
         
      &::-webkit-scrollbar-thumb {
            background-color: $report-background;
            outline: 1px solid $report-outline;
            border-radius: $box-border-radius;
      }
      .print-section{
         width: auto;
         margin: 0 auto;
         padding: 15px 5px 0px 10px;
      }
}
}
@media (min-width:$media-md){

   .main-report-class{
       .modal-body{
         .print-section{
            width: 680px;
            padding: 15px 5px 0px 0px;
         }
      }
   }

}