@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';
$svg-path: './../../../../assets/svg';
$icon-protect: 'trusteer-protect';
$icon-shield: 'trusteer-shield';
$icon-thumb: 'trusteer-thumb-up';
$icon-trusteerLogo: 'trusteer-logo';
$close-gray: 'close-gray';
$icon-size: 35px;
$icon-size-small: 25px;

.trusteer-container {
   @include transition(all 0.3s ease-in-out);
   background-color: $container-bg;
   // border-left: 1px solid $divider-secondary;
   padding: 20px;
   font-size: $label-size;
   width: 400px;

   .info {
      margin: 30px 0;
   }

   .title {
      margin-top: 15px;
      font-size: $section-title-size-sm;
      line-height: $section-title-size-sm;
      color: $text-color-secondary;
   }

   .trusteerLogo {
         @include svg-image-full-path($svg-path, $icon-trusteerLogo);
         position: relative;
         display: block;
   }

   .closeDiv {
      text-align: right;
      display: block;
      .cross {
         width: 20px;
         height: 20px;
         cursor: pointer;
      }
   }   

   .protect-info {
      @include flexbox();
      @include align-items(center);
      padding-bottom: 20px;

      .protect-info-icon {
         @include svg-image-full-path($svg-path, $icon-protect);
         position: relative;
         display: block;
         width: $icon-size-small;
         height: $icon-size-small;
         margin-right: 15px;
      }

      .protect-info-text {
         @include flex(1);
         color: $text-color-primary;
         margin-left: 10px;
      }
   }

   .anti-virus-info {
      @include flexbox();
      @include align-items(center);
      padding-bottom: 20px;

      .anti-virus-icon {
         @include svg-image-full-path($svg-path, $icon-shield);
         position: relative;
         display: block;
         width: $icon-size-small;
         height: $icon-size-small;
         margin-right: 15px;
      }

      .anti-virus-text {
         @include flex(1);
         color: $text-color-primary;
         margin-left: 10px;
      }
   }

   .rapport-info {
      @include flexbox();
      @include align-items(center);

      .rapport-info-icon {
         @include svg-image-full-path($svg-path, $icon-thumb);
         position: relative;
         display: block;
         width: $icon-size-small;
         height: $icon-size-small;
         margin-right: 15px;
      }

      .rapport-info-text {
         @include flex(1);
         color: $text-color-primary;
         margin-left: 10px;
      }
   }
   a {
      text-decoration: none;
      color: $text-color-highlight;
   }
}

@media screen and (min-width: $media-md-up) {
   .trusteer-container {
      padding: 40px;
      width: 400px;     

      .info {
         margin: 50px 20px 50px 0;
      }

      .title {
         font-size: $md-heading-size;
         line-height: $md-heading-size;
      }

      .protect-info {
         padding-bottom: 40px;
   
         .protect-info-icon {
            width: $icon-size;
            height: $icon-size;
         }
   
         .protect-info-text {
            color: $text-color-primary;
            margin-left: 0;
         }
      }
   
      .anti-virus-info {
         padding-bottom: 40px;
   
         .anti-virus-icon {
            width: $icon-size;
            height: $icon-size;
         }
   
         .anti-virus-text {
            color: $text-color-primary;
            margin-left: 0;
         }
      }
   
      .rapport-info { 
         .rapport-info-icon {
            width: $icon-size;
            height: $icon-size;
         }
   
         .rapport-info-text {
            color: $text-color-primary;
            margin-left: 0;
         }
      }
   }
}

