<div class="trusteer-container col-xs-12 hidden-xs">
   <div class="content">
      <div class="closeDiv" (click)="onCloseMsg($event)" (touchstart)="onCloseMsg($event)">
         <svg class="cross" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Cross--Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
               <g id="Cross--Cross" transform="translate(1.000000, 1.000000)" stroke="#bbbbbb" stroke-width="1.5">
                  <path d="M1.42108547e-14,0 L15.6883425,15.6883425" id="Cross--Line"></path>
                  <path d="M1.42108547e-14,0 L15.6883425,15.6883425" id="Cross--Line" transform="translate(7.844171, 7.844171) scale(-1, 1) translate(-7.844171, -7.844171) "></path>
               </g>
            </g>
         </svg>
      </div>
      <div class="trusteerLogo"></div>
      <div class="title">Online security you can bank on.</div>
      <div class="info">
         <div class="protect-info">
            <span class="protect-info-icon"></span>
            <span class="protect-info-text">{{messages.protectMessage}}</span>
         </div>
         <div class="anti-virus-info">
            <span class="anti-virus-icon"></span>
            <span class="anti-virus-text">{{messages.antivirusMessage}}</span>
         </div>
         <div class="rapport-info">
            <span class="rapport-info-icon"></span>
            <span class="rapport-info-text">{{messages.rapportMessage}}</span>
         </div>
      </div>
      <button class="gd-primary-btn" (click)="onDownload($event)" (touchstart)="onDownload($event)">Download now</button>
   </div>
</div>