<div class="select-game-for-container">
   <form #selectGameForForm="ngForm" class="gd-form select-game-for-form" novalidate>
      <div class="gd-form-row">
         <label for="example-text-input" class="gd-sm-label">{{labels.yourReference}}</label>
         <input autofocus appFocus id="your_reference" autocomplete="off" class="validate" type="text" [(ngModel)]="vm.yourReference" #yourReference="ngModel"
                name="yourReference" [maxlength]="referenceMaxLength" appValidateRequired appValidateInput validateFor="alphanumericwithspace" [attr.ga-event-name]="'buy_'+gameTypeSelected+'_notification_enter_your_reference'"/>
         <div *ngIf="yourReference.invalid && (yourReference.dirty || yourReference.touched)" class="error-msg">
            <span *ngIf="yourReference.errors.required">
               {{messages.requiredField}}
            </span>
         </div>
      </div>
      <div class="gd-form-row">
         <label for="example-search-input" class="gd-sm-label">{{labels.notification}}</label>
         <div class="gd-basic-dropdown" tabindex="0" dropdown>
            <div dropdownToggle class="dropdown-place">
               <div class="text">
                  {{this.vm.notification.name}}
               </div>
               <div class="icon">
                  <span class="caret"></span>
               </div>
            </div>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
               <li [class.active]="c.name == vm.notification.name" role="menuitem" *ngFor="let c of notifications" (click)="onNotificationChange($event,c);sendEvent('buy_'+gameTypeSelected+'_notification_select_notification_type');">
                  {{c.name}}
               </li>
            </ul>
         </div>
         <p class="dropdown-text transfer-hint">We'll send you your {{gameTypeSelected}} ticket numbers with your notification.</p>
         <p class="transfer-hint">Please choose how you'd like to receive your ticket numbers, above.</p>
      </div>
      <div class="gd-form-row" *ngIf="vm.notification.value === 'SMS'">
         <label for="example-search-input" class="gd-sm-label">{{labels.cellphoneNumber}}</label>
         <div class="cellphone-container">
            <input [attr.ga-event-name]="'buy_'+gameTypeSelected+'_notification_enter_notification_type_sms'" id="notificationInput" type='tel' name="notificationInput" #mobileNumber
            [(ngModel)]="vm.notificationInput" #mobileNumberRef="ngModel"
            (focusout)="onMobileFocusOut()"
            appValidateRequired [pattern]="patterns.mobile"
            appValidateOnblur appValidateInput appCheckBlur validateFor='mobile'/>
            <div class="input-type-div" *ngIf="!isCellphoneEditMode"
            [class.error]="mobileNumberRef.invalid && ((mobileNumberRef.dirty || mobileNumberRef.touched) || !isCellphoneEditMode)"
            (click)="onEditClick()">{{vm.notificationInput | mobileNumberMask : 4}}</div>
         </div>
         <div *ngIf="mobileNumberRef.invalid && ((mobileNumberRef.dirty || mobileNumberRef.touched) || !isCellphoneEditMode) && mobileNumberRef.isBlurred" class="error-msg">
            <div *ngIf="mobileNumberRef.errors.required">
               {{messages.requiredField}}
            </div>
            <div *ngIf="mobileNumberRef.errors.pattern">
               {{messages.invalidNumber}}
            </div>
         </div>
      </div>
      <div class="gd-form-row" *ngIf="vm.notification.value === 'Fax'">
         <label for="example-search-input" class="gd-sm-label">{{labels.enterNumber}}</label>
         <input [attr.ga-event-name]="'buy_'+gameTypeSelected+'_notification_enter_notification_type_fax'" id="notificationFaxInput" type='tel' name="notificationFaxInput" #notificationFaxInput="ngModel" [(ngModel)]="vm.notificationInput" [pattern]="patterns.mobile" appValidateRequired appValidateOnblur appValidateInput validateFor='mobile' (ngModelChange)="onMobileNumberChange($event)" />
         <div *ngIf="notificationFaxInput.invalid && (notificationFaxInput.dirty || notificationFaxInput.touched)" class="error-msg">
            <div *ngIf="notificationFaxInput.errors.required">
               {{messages.requiredField}}
            </div>
            <div *ngIf="notificationFaxInput.errors.pattern">
               {{messages.invalidNumber}}
            </div>
         </div>
      </div>
      <div class="gd-form-row" *ngIf="vm.notification.value === 'Email'">
         <label for="example-search-input" class="gd-sm-label">{{labels.enterEmail}}</label>
         <input [attr.ga-event-name]="'buy_'+gameTypeSelected+'_notification_enter_notification_type_email'" id="notificationInput" [pattern]="patterns.email" type="text" name="notificationInput" #notificationInput="ngModel" [(ngModel)]="vm.notificationInput" appValidateRequired appValidateOnblur />
         <div *ngIf="notificationInput.invalid && (notificationInput.dirty || notificationInput.touched)" class="error-msg">
            <div *ngIf="notificationInput.errors.required">
               {{messages.requiredField}}
            </div>
            <div *ngIf="!notificationInput.errors.required && notificationInput.errors.pattern">
               {{messages.invalidEmail}}
            </div>
         </div>
      </div>
   </form>
</div>
