
@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';

.dropdown-text {
   margin-top: 10px;
}
.cellphone-container{
   position: relative;
}

.readonly{
   cursor: pointer;
}

.input-type-div{
   position: absolute;
   top: 0;
   left: 0;
}