@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';
$svg-path: './../../../assets/svg';
.payout-details-container {
   max-width: 400px;
   margin: auto;
   .amount-title-tooltip {
      .amount-label {
         font-size: $label-size;
         margin-left: 3px;
      }
   }
   .amount-div {
      margin-left: 39px;
      margin-top: -20px;
   }
   .amount-error-div {
      margin-left: -39px;
   }
   .tooltip-question {
      font-size: $label-size;
      position: relative;
      background-color: $color-almostWhite;
      padding: 15px;
      margin-bottom: 10px;
   }
   .btn-max {
      max-width: 100%;
   }
   .tooltip-question::after {
      content: "";
      position: absolute;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 11px solid $color-almostWhite;
      transform: rotate(180deg);
      right: 11px;
      bottom: -9px;
   }
   .gd-basic-dropdown .dropdown-place {
      border-color: $color-greyLight;
   }
   .bank-dropdown {
      max-height: 200px;
      overflow-y: auto;
   }
   .gd-form-row {
      &.acc-type {
         margin-bottom: 34px;
      }
   }
   .acc-type {
      /deep/ .radio-button-list {
         padding: 0px;
         height: 30px;
         margin-bottom: 6px;
         input[type=radio]:checked~label {
            color: $color-greyMedium;
         }
         ul {
            li {
               label {
                  padding: 8px 48px 0px 40px !important;
                  margin: 0 0 20px 0px !important;
               }
               &:last-child {
                  label {
                     padding: 8px 8px 0px 40px !important;
                  }
               }
               .check {
                  &::before {
                     left: -7px;
                  }
               }
            }
         }
      }
      .error {
         ::ng-deep .radio-button-list {
            ul li .check {
               &::before {
                  background-image: none;
                  width: 30px;
                  height: 30px;
                  border: solid 2px $warning-primary;
                  border-radius: 100px;
                  left: 0px;
               }
            }
            ul li label {
               padding: 7px 57px 0px 40px !important;
            }
         }
      }
      &.error-margin {
         margin-bottom: 10px;
      }
   }
   .section-title {
      margin: 60px 0 48px 0;
      font-family: $font-markpro-medium;
      color: $color-greyDark;
      font-size: $font-xlg;
   }
   .tooltip-margin {
      margin-bottom: 30px;
   }
   .info-text {
      color: $text-color-warning;
   }
   .transfer-hint {
      margin: 5px 0 0;
   }
   .amount-top-padding {
      padding-top: 5px;
   }
   .radio-inline {
      display: inline-block;
      padding: 0px 30px;
   }
   .gd-form-row:last-of-type {
      margin-top: 60px;
   }
   .gd-form-row {
      .gd-sm-label {
         color: $color-warmGrey;
      }
   }
   .error-form-msg {
      color: $warning-primary;
      font-size: $label-size;
      display: block;
   }
   .title-divider {
      display: none;
   }
   .type.page-padding {
      padding-left: 2px;
      margin-left: -9px;
   }
   .tooltip-icon {
      @include svg-image-full-path($svg-path, '/help', 24px, 24px);
      float: right;
      margin-right: 11px;
   }
   .amount-type {
      /deep/ .radio-button-list {
         padding: 0px;
         display: inline-block;
         ul li {
            float: none;
            label {
               padding-left: 36px !important;
            }
            &:last-child {
               label {
                  padding-top: 9px;
               }
            }
         }
         input[type=radio]:checked~label {
            color: $color-greyMedium;
         }
      }
      .error {
         ::ng-deep .radio-button-list {
            ul li .check {
               &::before {
                  background-image: none;
                  width: 30px;
                  height: 30px;
                  border: solid 2px $warning-primary;
                  border-radius: 100px;
                  left: 6px;
                  margin-top: 2px;
               }
            }
         }
      }
   }
}

@media(max-width: $media-sm) {
   ::ng-deep {
      .main-footer {
         position: absolute;
         bottom: auto;
      }
   }
   .payout-details-container {
      width: 100%;
      max-width: 400px;
      padding: 0px 18px;
      .section-title {
         font-family: $font-markpro-medium;
         font-size: $para-title-size;
         padding: 30px 0px;
         margin: 0;
      }
      .title-divider {
         display: block;
         border-bottom: 1px solid $color-offWhite;
         margin: 0 -20px 26px -20px;
      }
      .next-button {
         margin: 61px 0;
         button {
            max-width: 100%;
         }
      }
   }
   .gd-form .gd-form-row {
      margin-bottom: 25px;
   }
}
