@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
$svg-relative-part: './../../../../assets/svg';
.payment-amount-container {
   margin-top: 60px;
   .payment-amount-form-wrapper {
      .gd-form {
         width: 100%;
         margin-top: -50px;
         .buttonDiv {
            margin-top: 200px;
         }
         .radio-group{
            ::ng-deep{
               .radio-button-list{
                  li{
                     width: 100%;
                  }
               }
            }
         }
         input{
            &.ng-valid{
               border-color: $form-element-border;
            }
         }
      }
   }
   .information-container-small {
      .medium-text {
         font-size: $font-md;
      }
      .bold-text {
         color: $text-color-secondary;
         font-family: $font-markpro-medium;
      }
   }
   .preferred-notice-msg {
      margin-top: 5px;
      color: $text-color-info;
      font-size: $font-sm-1;
   }
   .currency-symbol {
      position: relative;
      .symbol {
         position: absolute;
         top: 19px;
         left: 17px;
         line-height: 1;
      }
      .preferred-inputbox {
         padding-left: 40px;
      }
   }
}

@media (min-width: $media-xxs) {
   .payment-amount-container {
      .information-container-small {
         margin-top: 30px;
      }
      .bold-text {
         font-size: $font-md;
         font-family: $font-markpro-medium;
      }
   }
}

@media (min-width: $media-sm) {
   .payment-amount-container {
      .information-container-small {
         margin-top: 30px;
      }
   }
}

@media (min-width: $media-xs-up) {
   .payment-amount-container {
      .payment-amount-form-wrapper {
         text-align: center;
         .information-container-small {
            .medium-text {
               font-size: $font-lg;
            }
            .bold-text {
               font-size: $section-title-size;
               margin-top: 50px;
            }
         }
         .gd-form {
            width: 400px;
            display: inline-block;
            text-align: left;
            .buttonDiv {
               margin-top: 31px;
            }
         }
      }
   }
}
