<form class="block-form" #reverseOrderForm="ngForm" *ngIf="currentStatus==notificationTypes.None">
   <div class="row">
      <div class="col-xs-12">
         <div class="title">
            <span>{{labels.reverseDebitOrder}}</span>
         </div>
      </div>
   </div>
   <div class="gd-form-row">
      <label class="gd-sm-label" for="account_type">{{labels.reasonTitle}}</label>
      <div class="gd-basic-dropdown" dropdown>
         <div dropdownToggle class="dropdown-place">
            <div class="text">
               {{ selectedReason ? selectedReason.description : labels.selectReason }}
            </div>
            <div class="icon">
               <span class="caret"></span>
            </div>
            <div class="loader-mask" *ngIf="reasonsLoader" [class.reason-loader]="reasonsLoader">
               <div class="loader-spinner">
                  <app-spinner [color]="'green'"></app-spinner>
               </div>
            </div>
         </div>
         <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li [class.active]="reason.description === selectedReason?.description" role="menuitem" *ngFor="let reason of reasons; let i = index"
               (click)="onReasonChanged(i)">
               {{reason.description}}
            </li>
         </ul>
      </div>
   </div>
   <div class="gd-form-row description-row" *ngIf="selectedReason && selectedReason.description && selectedReason.description=='Other'">
      <div class="col-xs-12 no-padding">
         <label class="gd-sm-label" for="account_type">{{labels.tellUsMore}}</label>
         <textarea #otherDescRef="ngModel" [maxlength]="descLimit" name="description" class="description" [class.error]="(otherDescRef.dirty || otherDescRef.touched) && otherDescRef.errors"
            [(ngModel)]="otherDescription" rows="4" cols="50" required></textarea>
         <div class="feedback-info">{{descChange()}}</div>
         <div *ngIf="(otherDescRef.dirty || otherDescRef.touched) ">
            <div *ngIf="otherDescRef.errors" class="error-msg">
               <span>{{messages.requiredField}}</span>
            </div>
         </div>
      </div>
   </div>
   <div class="row ">
      <div class="col-xs-12 ">
         <div class="info-container ">
            <span class="icon glyphicon glyphicon-info-sign "></span>
            <div class="info-msg ">
               <p>
                  {{messages.reverseDebitOrder.title}}
               </p>
               <ul class="dispute-notes ">
                  <li *ngFor="let point of messages.reverseDebitOrder.disclaimer">
                     <span>{{point}}</span>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <app-bottom-button [text]="labels.reverseDebitOrder" [showLoader]="isLoading" [disableButton]="!isValid || isLoading " (click)="!isLoading ? disputeOrder() : false; sendEvent('reverse_debit_order_step1_click_on_reverse'); "></app-bottom-button>
</form>
<app-reverse-order-status [status]="currentStatus" [retryLimitExceeded]="retryLimitExceeded" [isLoading]="isLoading " *ngIf="currentStatus==notificationTypes.Success || currentStatus==notificationTypes.Error"
   (onRetry)="onRetryDispute()" (onDone)="onDone($event); sendEvent('reverse_debit_order_step2_click_on_done');" (stopDebitOrderClicked)="stopDebitOrderClickedFromReverse($event)" [showStopDebitOrder]="showStopOnSuccess">
</app-reverse-order-status>
