<form class="buy-amount-section gd-form" #buyElectricityAmountForm="ngForm" [class.is-skeleton-loading]='skeletonMode'>
   <div class="gd-form-row">
      <div class="field-block">
         <label for="amount" class="gd-sm-label">Amount</label>
         <input ga-event-name="buy_electricity_amount_and_account_enter_amount" appFocus id="amount" autocomplete="off" ngControl="amount" #amount="ngModel" class="validate" [class.warning]="(isTransferLimitExceeded || isMinimumViolated || isMaximumExceeded) && (vm.amount > 0)"
            [class.error]="!(vm.amount > 0) && (amount.dirty || amount.touched)" [ngModel]="vm.amount | amountTransform" [readonly]="!areAccountsLoaded"
            (ngModelChange)="onAmountChange($event)" [amount]="true" type="text" name="amount" [noDecimal]="true" appValidateRequired appAmountFormatMask appCheckBlur
         />
         <div *ngIf="!(vm.amount > 0) && (amount.dirty || amount.touched)">
            <div class="error-msg" *ngIf="areAccountsLoaded && amount.isBlurred">
               <span>Please enter an amount.</span>
            </div>
         </div>
         <div *ngIf="isTransferLimitExceeded" class="info-text">
            <span class="info-icon"></span>
            <span> Daily limit exceeded.</span>
         </div>
         <div *ngIf="isMinimumViolated" class="info-text">
            <span class="info-icon"></span>
            <span> A minimum purchase of {{allowedMinimumValue | amountTransform: amountPipeConfig}} is allowed.</span>
         </div>
         <div *ngIf="isMaximumExceeded" class="info-text">
            <span class="info-icon"></span>
            <span> A maximum purchase of {{allowedMaximumValue | amountTransform: amountPipeConfig}} is allowed.</span>
         </div>
         <div class="transfer-hint">
            {{availableTransferLimit | amountTransform: amountPipeConfig}} daily purchase limit remaining.
         </div>
      </div>
   </div>
   <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
   <div class="gd-form-row icon-link">
      <app-account-list id="buy-elec-acc" [insufficientFunds]="insufficientFunds" [title]=" 'From account' " [accounts]="accounts" [selectedAccount]="vm.selectedAccount"
         (onAccountSelection)="onAccountSelection($event); sendEvent('buy_electricity_amount_and_account_select_from_account')">
      </app-account-list>
   </div>
</form>