<div class="statement-documents-container">
   <div class="container header-container">
      <div class="row">
         <div class="col-xs-12">
            <div class="back-header">
               <a class="icon" [routerLink]="['/dashboard/account/detail',itemAccountId]"></a>
               <div class="page-header">
                  <span>{{ accountName }}</span>
                  <span x-ms-format-detection="none" class="account-number">{{ accountNumber }}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <app-message-alert class="message-alert" [showAlert]="showAlert" [displayMessageText]="displayMessageText"
      [linkDisplayText]="''" [action]="action" [alertType]="alertType" (onAlertLinkEmit)="onAlertLinkSelected()"></app-message-alert>
   <section class="container">
      <header class="title">
         <span>{{labels.title}}</span>
      </header>
      <section class="tab-container">
         <app-toggle-tab-group [toggleButtonGroup]="toggleButtonGroup" [selectedButtonValue]="type" (onSelectionChange)="onTypeChange($event)"></app-toggle-tab-group>
      </section>
      <div class="tab-border"></div>
      <section [ngSwitch]="type">
         <div *ngSwitchCase="labels.statement.value">
            <ng-container *ngIf="isCasaAccount; then appStatemntCasa else appStatement"></ng-container>
            <ng-template #appStatemntCasa>
               <app-statement-casa [itemAccountId]="itemAccountId"> </app-statement-casa>
            </ng-template>
            <ng-template #appStatement>
               <app-statement [itemAccountId]="itemAccountId" [accountType]="accountType"></app-statement>
            </ng-template>
         </div>
         <div *ngSwitchCase="labels.document.value">
            <ng-container *ngIf="isCasaAccount || isInvAccount || isDSAccount || isCreditCardAccount; then appStatemntCasa else appStatement"></ng-container>
            <ng-template #appStatemntCasa>
               <app-income-tax-details [accountNumber]="accountNumber" [accountType]="accountType"></app-income-tax-details>
            </ng-template>
            <ng-template #appStatement>
               <app-documents [documentList]="documentList" [itemAccountId]="itemAccountId" [accountType]="accountType"></app-documents>
            </ng-template>
         </div>
         <div *ngSwitchCase="labels.preference.value">
            <app-preferences *ngIf="approveIt"></app-preferences>
         </div>
      </section>
   </section>
</div>
