<div class="stepper-container">
   <div class="icon-div">
      <span class="nedbank-icon" (click)="goToDashboard()"></span>
   </div>
   <table class="steps-table" *ngIf="!isMobile">
      <tbody>
         <tr>
            <ng-container *ngFor="let step of steps ; let i=index">
               <td>
                  <div class="step-container">
                     <div class="step-div" [ngClass]="{'active-step': currentStep === i, 'inactive-step': currentStep !== i}" (click)="onStepClick(i)"
                     *ngIf="(showErrorOnInvalidSteps && currentStep !== i && !workflowService.isStepValid(i) && workflowService.isStepVisited(i))">
                        <span class="error">
                        </span>
                        <span class="error-step-span step-span" [ngClass]="{'done-color': workflowService.isStepValid(i)}">{{step}}</span>
                        <span *ngIf="i !== steps.length - 1" class="right-arrow step-chevron" ></span>
                     </div>
                     <div class="step-div" [ngClass]="{'active-step': currentStep === i, 'inactive-step': currentStep !== i}" (click)="onStepClick(i)"
                     *ngIf="!(showErrorOnInvalidSteps && currentStep !== i && !workflowService.isStepValid(i) && workflowService.isStepVisited(i))">
                        <span *ngIf="!workflowService.isStepValid(i)" class="number-span add-circle">
                           <h6 class="step-number">{{i+1}}</h6>
                        </span>
                        <span *ngIf="workflowService.isStepValid(i)" class="number-span round-tick"></span>
                        <span class="step-span" [ngClass]="{'done-color': workflowService.isStepValid(i)}">{{step}}</span>
                        <span *ngIf="i !== steps.length - 1" class="right-arrow step-chevron" ></span>
                     </div>
                     <div [ngClass]="{'step-selected':currentStep === i, '': currentStep !== i }"></div>
                  </div>
               </td>
            </ng-container>
         </tr>
      </tbody>
   </table>
   <div class='vertical-line-div'>
      <img class="left-border" />
   </div>
   <div class="exit-div" (click)="exitStepper()">
      <h4 *ngIf="!alternateExitButton" class="exit-link">Exit</h4>
      <span *ngIf="alternateExitButton" class="cross-icon"></span>
   </div>
</div>
<div class="divider"></div>
