@import './../../../../styles/_base.scss';

.unit-trusts-review {
   margin-bottom: 30px;
   font-size: $label-size;
   margin-top: 32px;
   
   .text {
      margin-bottom: 30px;
      letter-spacing: 0;
      color: $text-color-notice-block;
      font-weight: $weight-light;
      font-size: $font-sm;
      text-align: center;
      line-height: 1.21;
   }
   
   .tabular-data-col-2 {
      tr {
         line-height: 24px;
         td {
            color: $text-color-secondary;
            &:nth-child(even) {
               padding-left: 0;
            }
            
         }
      }
   }
   
   @media (min-width: $media-xs) {
      margin-top: 26px;
   }

   @media (min-width: $media-sm) {
      font-size: $status-size;
      margin-top: 21px;
      .tabular-data-col-2 {
         tr {
            td {
               color: $text-color-primary;
               &:first-child {
                  width: 200px;
               }
            }
         }
      }
      
      .text {
         font-size: $font-default-1;
         line-height: 1.13;
      }
   }
   
   @media (min-width: $media-lg) {
      margin-top: 37px;
   }
}
