<div class="unit-trusts-review">
   <ng-container *ngFor="let fund of buyVm.toAccounts">
      <table *ngIf="fund.productCostRands > 0" class="tabular-data-col-2">
         <tbody>
            <tr>
               <td>{{labels.toAccount}}:</td>
               <td>
                  <span class='capitalize'>{{fund.productPropertyList[1].propertyValue}}</span>
               </td>
            </tr>
            <tr>
               <td>{{labels.randValue}}:</td>
               <td>
                  {{fund.productCostRands | amountTransform: amountPipeConfig}}
               </td>
            </tr>
            <tr>
               <td>{{labels.gbValue}}:</td>
               <td>{{fund.productCostPoints | amountTransform: amountPipeConfigRewards: labels.gbtype}}</td>
            </tr>
            <tr>
               <td colspan="2">&nbsp;</td>
            </tr>
         </tbody>
      </table>
   </ng-container>
   <table *ngIf="buyVm?.yourReference" class="tabular-data-col-2">
      <tbody>
         <tr>
            <td>{{labels.yourReference}}:</td>
            <td>{{buyVm?.yourReference}}</td>
         </tr>
      </tbody>
   </table>
   <tr>
      <td colspan="2">&nbsp;</td>
   </tr>
   <table class="tabular-data-col-2">
      <tbody>
         <tr>
            <div class="text">
               <p>By clicking below, you agree to Nedgroup Investments latest investment agreement, portfolio characteristics and relevant fund fact sheet as applicable to this instruction/transaction.
               </p>
               <p>&nbsp;</p>
               <p>
                  To access and read the above documents please visit 
                  <a href="https://www.nedgroupinvestments.com" target="_blank">
                     www.nedgroupinvestments.com
                  </a>
               </p>   
            </div>
         </tr>
      </tbody>
   </table>
</div>