<div class="container">
  <div class="sub-conatiner" *ngIf="reviewVm.fieldSections.length > 0">
     <div class="header">
        <p class="heading">{{heading}}</p>
        <p class="sub-heading">{{subHeading}}</p>
     </div>
     <div class="divider-spacer"></div>
     <div class="monthly-repayment-container" *ngFor="let sections of reviewVm.fieldSections; let s = index; ">
       <p class="repayment-title">{{sections.title}}</p>
       <div class="repayment-info-spacer"></div>
       <div class="repayment-info">
         <table>
           <ng-container *ngFor="let data of sections.fields; let i = index; ">
               <tr *ngIf="data.subText">
                 <td colspan="2" class="no-padding">
                 <div class="tooltip-question" *ngIf="reviewVm.isToolTip[s][i]">
                       <div class="tooltip-header-container">
                            <div class="text-green">{{note}} </div>
                           <div class="close-icon-container">
                       <span class="close-icon" (click)="reviewVm.isToolTip[s][i] = !reviewVm.isToolTip[s][i]">&#10005;</span>
                           </div>

                       </div>
                       <div class="tooltip-spacer"></div>
                       <p> {{data.subText}} </p>
                     </div>
                 </td>
               </tr>                
               <tr>
                   <td class="plan-detail-info-name">
                     <span>{{data.name}}</span>
                 <span class="tooltip-icon" *ngIf="data.subText" (click)="reviewVm.isToolTip[s][i] = !reviewVm.isToolTip[s][i]"></span>
               </td>
               <td >
                 <div class="plan-detail-info-value">
                   {{data.value}} 
                 </div>
                   </td>
               </tr>
             </ng-container>
           </table>
         <div class="repayment-total-spacer" *ngIf="sections.total" ></div>
         <div class="total-repayment" *ngIf="sections.total">
           <p class="total">{{sections.total}}</p>
       </div>
       </div>

     <div class="divider-spacer"></div>
     <div class="divider">
       <hr>
     </div>
     <div class="divider-spacer"></div>
     </div>

     <div class="life-insurance">
       <div class="life-insurance-title">
          <p>{{lifeInsurance}}</p>
       </div>
       <div class="text-spacer"></div>
       <div class="life-insurance-text">
          <p>{{lifeInsuranceText}}</p>
         <div class="text-spacer"></div>
          <p innerHTML="{{lifeInsuranceSubtext}}"></p>
       </div>
     </div>
     <div class="divider-spacer"></div>
     <div class="accept-credit">
       <table>
         <tr>
           <td>
                <p class="accept-credit-title">{{acceptCredit}}</p>
           </td>
           <td>
             <div class="col-right">
             <div class="accept-credit-button">
                <a class="left" [ngClass] = "{active: reviewVm.acceptCredit}" (click)="reviewVm.acceptCredit = true" href="javascript:void(0)">{{yes}}</a>
                <a class="right" [ngClass] = "{active: !reviewVm.acceptCredit}" (click)="reviewVm.acceptCredit = false" href="javascript:void(0)">{{no}}</a>
             </div>
             </div>
           </td>
         </tr>
       </table>
     </div>
     <div class="tooltip-div-spacer"></div>
     <div class="toolTip">
       <div class="tooltip-question no-after" *ngIf="!reviewVm.acceptCredit">
          <p class="text-green">{{pleaseNote}}</p>
         <div class="tooltip-spacer"></div>
         <div class="toolTipText">
            <p>{{toolTipTxtOne}}</p>
           <div class="tooltip-spacer"></div>
            <p>{{toolTipTwo}}</p>
           <div class="tooltip-spacer"></div>
            <p>{{toolTipThree}}</p>
         </div>
       </div>
     </div>
     <div class="next-button-spacer"></div>
     <div class="next-button-container">
       <app-bottom-button  text="Next" (click)="next()"></app-bottom-button>
     </div>
  </div>
</div>

<div class="spinner-container" *ngIf="reviewVm.fieldSections.length <= 0">
  <div class="spinner">
     <app-spinner class="spinner" [color]="'green'"></app-spinner>
  </div>
</div>