@import '../../../styles/_mixins.scss';
@import '../../../styles/_base.scss';
$icon-path: '../../../assets/svg/';
$icon-card: 'Cards';
$icon-everyday: 'Everyday';
$icon-investment: 'Investments';
$icon-club-accounts: 'club-accounts';
$icon-loan: 'Loans';
$icon-buy: 'Buydashboard';
$icon-pay: 'Paydashboard';
$icon-transfer: 'Transferdashboard';
$icon-rewards: 'rewards';
$account-card-border-left: 4px;
$icon-foreign: 'Foreign';
$icon-settle-loan:'Settleloan';
$icon-error: 'Error';
$icon-dormant:'information';
.dropdown-container {
   padding: 10px 0;
}

.account-no {
   padding-bottom: 0;
}

.dropdown-scroll {
   max-height: 285px;
   overflow-y: scroll;
   width: calc( 100% + #{$account-card-border-left});
}

.dropdown-place {
   border: none;
   padding: 0 15px;
   height: auto;
}

.gd-basic-dropdown {
   .dropdown-menu li {
      padding: 15px 15px;
      margin: 1px 0;
   }
}

.gd-basic-dropdown.open {
   .dropdown-menu {
      border: 1px solid $drp-border;
      border-left: none;
      margin-top: 42px;
      border-top: 1px solid $drp-border;
      z-index: 9;
      left: -$account-card-border-left;
   }
}

.account-card {
   .account-color {
      color: $text-color-secondary;
      font-size: $font-md;
      font-weight: $weight-medium;
   }
   &.savings {
      border-left: $account-card-border-left solid $color-savings;
   }
   &.current {
      border-left: $account-card-border-left solid $color-current;
   }
   &.credit-card {
      border-left: $account-card-border-left solid $color-credit-card;
   }
   &.club-accounts {
      border-left: $account-card-border-left solid $color-club;
   }
   &.loan {
      border-left: $account-card-border-left solid $color-loan;
   }
   &.investment {
      border-left: $account-card-border-left solid $color-investment;
   }
   &.foreign {
      border-left: $account-card-border-left solid $color-investment;
   } // added for rewards account type
   &.rewards {
      border-left: $account-card-border-left solid $color-savings;
   }
   &.default {
      border-left: $account-card-border-left solid $color-account-default;
   }
   background: $container-bg;
   .card-details {
      padding: 15px 0;
   }
   .title {
      @include flexbox();
      @include align-items(flex-end);
      padding: 0 15px;
      .icon {
         margin-right: 10px;
      }
      &.Bank {
         .account-type-icon {
            @include svg-image($icon-everyday, 36px, 36px);
         }
      }
      &.Card {
         .account-type-icon {
            @include svg-image($icon-card, 36px, 36px);
         }
      }
      &.Loan {
         .account-type-icon {
            @include svg-image($icon-loan, 36px, 36px);
         }
      }
      &.ClubAccount {
         .account-type-icon {
            @include svg-image($icon-club-accounts, 49px, 46px);
         }
      }
      &.Investment {
         .account-type-icon {
            @include svg-image($icon-investment, 36px, 36px);
         }
      }
      &.Foreign {
         .account-type-icon {
            @include svg-image($icon-foreign, 36px, 36px);
         }
      }
      &.Rewards {
         .account-type-icon {
            @include svg-image($icon-rewards, 36px, 36px);
         }
      }
      .text {
         @include flex(1);
         margin: 0;
         padding: 2px;
         padding-bottom: 10px;
         line-height: 1;
      }
   }
   .section-title {
      font-weight: bold;
      padding: 0 0 15px 15px;
      margin: 0;
      font-size: $md-heading-size;
   }
   .section-title {
      &.account-name-dropdown {
         padding: 0;
      }
   }
   .account-no {
      margin-bottom: 30px;
      color: $text-color-info;
      padding: 0 15px;
   }
   .account-no {
      &.account-num-dropdown {
         margin-bottom: 0;
         padding: 0;
      }
   }
   .balance {
      padding: 0 15px;
      @include flexbox();
      @include align-items(flex-start);
      td {
         padding-bottom: 30px;
      }
      .payout-balances-section {
         width: 100%;
      }
      .left,
      .right {
         @include flex(1);
      }
      .right {
         text-align: right;
         .settlement-error {
            display: inline-flex;
            .icon-error {
               @include svg-image($icon-error, 32px, 32px);
            }
            .settlement-bal-error {
               font-size: $font-sm;
               font-family: $font-markpro;
               color: $text-color-error;
            }
         }
      }
      .type {
         font-size: $font-sm;
         color: $text-color-info;
         margin-bottom: 5px;
      }
      .bal {
         color: $text-color-primary;
         margin-bottom: 0;
      }
      .dark {
         font-weight: bold;
      }
   }
   .controls {
      padding: 10px 0;
      .pop-over-container {
         @include pop-over(10px);
         .pop-over {
            ul li a {
               color: $text-color-info;
            }
         }
      }
      .dormant {
         .text-style {
            height: 20px;
            font-size: $font-default;
            line-height: 1.25;
            text-align: left;
            color: $text-color-secondary;
            margin-left: 15px;
         }
         .dormant-icon {
            background-color: $info-container-bg;
            color: $text-color-message-block-content;
            margin: 0 5%;
            padding: 13px;
            .icon {
               float: left;
               position: relative;
               margin-left: 80px;
               @include svg-image( $icon-dormant, 22px, 22px);
            }
         }
      }
      border-top: 1px solid $divider-secondary;
      .buy-icon {
         @include svg-image($icon-buy);
      }
      .pay-icon {
         @include svg-image($icon-pay);
      }
      .transfer-icon {
         @include svg-image($icon-transfer);
      }
      .settle-loan-icon {
         @include svg-image($icon-settle-loan, 17px, 21px);
      }
      ul {
         list-style: none;
         margin: 0;
         padding: 0;
         @include flexbox();
         @include align-items(center);
         li {
            @include flex(1);
            a {
               color: $text-color-info;
               display: block;
               text-align: center;
               cursor: pointer;
               .icon,
               .text {
                  display: inline-block;
                  vertical-align: middle;
               }
               .text {
                  display: block;
                  margin-top: 5px;
                  font-size: $font-sm;
               }
               .icon {
                  width: 15px;
                  height: 15px;
                  &.icon-margin-pl {
                     margin-bottom: 10px;
                     margin-right: 5px;
                  }
               }
               .text-loan {
                  margin-top: 7px;
                  margin-bottom: 7px;
                  display: inline-block;
               }
            }
         }
      }
   }
}
.account-notice {
   text-align: center;
   padding: 18px 0;
   cursor: pointer;
   border-top: 1px solid $divider-secondary;
   .submit-title {
      display: inline-block;
      font-size: $font-sm;
      color: $text-color-info;
   }
   .icon-dropdown {
      display: inline-block;
      margin-left: 6px;
      vertical-align: middle;
      .dropdown-large-icon {
         @include svg-image-full-path($icon-path, 'notice', 24px, 24px);
         &::before {
            transform-origin: center;
         }
      }
   }
}

@media (min-width: $media-xxs) {
   .non-fica {
      width: 300px;
      height: 400px;
      margin: 0 auto;
      margin-top: 8%;
      .fica-icon {
         margin: auto;
         display: block;
         margin-left: 46%;
         @include svg-image-full-path($icon-path, 'warningIcon', 64px, 64px);
         background-repeat: no-repeat;
      }
      .header-message {
         margin-top: 35px;
         font-size: $font-xlg;
         font-weight: $weight-medium;
         line-height: 1.25;
         text-align: center;
         color: $text-color-secondary;
      }
      .sub-header {
         width: 300px;
         margin: auto;
         height: 51px;
         font-size: $font-default;
         line-height: 1.56;
         text-align: center;
         color: $text-color-primary;
         margin-top: 35px;
      }
      .back-to-overview {
         margin-top: 61px;
         height: 50px;
         border-radius: 5px;
         color: $color-white;
         background-color: $secondary-color;
         border: solid 2px $secondary-color;
      }
   }
}
@media (min-width: $media-xs) {
   .non-fica {
      width: 350px;
      height: 400px;
      margin: 0 auto;
      margin-top: 8%;
      .fica-icon {
         margin: auto;
         display: block;
         margin-left: 46%;
         @include svg-image-full-path($icon-path, 'warningIcon', 64px, 64px);
         background-repeat: no-repeat;
      }
      .header-message {
         margin-top: 35px;
         font-size: $font-xlg;
         font-weight: $weight-medium;
         line-height: 1.25;
         text-align: center;
         color: $text-color-secondary;
      }
      .sub-header {
         margin: auto;
         height: 51px;
         font-size: $font-default;
         line-height: 1.56;
         text-align: center;
         color: $text-color-primary;
         margin-top: 35px;
      }
      .back-to-overview {
         margin-top: 61px;
         height: 50px;
         border-radius: 5px;
         color: $color-white;
         background-color: $secondary-color;
         border: solid 2px $secondary-color;
      }
   }
}
@media (min-width: $media-sm) {
   .non-fica {
      width: 400px;
      height: 400px;
      margin: 0 auto;
      margin-top: 8%;
      .fica-icon {
         margin: auto;
         display: block;
         margin-left: 46%;
         @include svg-image-full-path($icon-path, 'warningIcon', 64px, 64px);
         background-repeat: no-repeat;
      }
      .header-message {
         margin-top: 35px;
         font-size: $font-xlg;
         font-weight: $weight-medium;
         line-height: 1.25;
         text-align: center;
         color: $text-color-secondary;
      }
      .sub-header {
         margin: auto;
         height: 51px;
         font-size: $font-default;
         line-height: 1.56;
         text-align: center;
         color: $text-color-primary;
         margin-top: 35px;
      }
      .back-to-overview {
         margin-top: 61px;
         height: 50px;
         border-radius: 5px;
         color: $color-white;
         background-color: $secondary-color;
         border: solid 2px $secondary-color;
      }
   }
}
.new-account {
   margin-top: 5%;
   background-color: $color-white;
}