<div class="formInput">
  <form #nedIdAlreadyExistForm="ngForm" class="gd-form">
    <div class="gd-form-row">
      <h4 class="section-title darkText">Good news! You already have a Nedbank ID.</h4>
    </div>
    <div class="gd-form-row">
      <div>Your Nedbank ID username is:</div>
      <div class="boldText userText">{{userName}}</div>
    </div>
    <div class="gd-form-row"> You may have created it when logging in to
      <span class="mediumText">Nedbank Money</span>,
      <span class="mediumText">Greenbacks</span>,
      <span class="mediumText">MFC</span> or
      <span class="mediumText">My Financial Life</span>.
    </div>
    <div class="gd-form-row">
      <div>Nedbank ID is a simple username and password combination. You'll need it to log in to this
        <span class="mediumText">new online banking platform</span> and
        <span class="mediumText">Nedbank Money</span>.
      </div>
    </div>
    <div class="half-btns gd-form-row">
      <div class="left">
        <app-bottom-button [disableButton]="false" (clickEmitter)="navigateResetPassword($event)" [text]="'Reset your password'"></app-bottom-button>
      </div>
      <div class="right">
        <app-bottom-button [cssClass]="'btnWithBorder'" [disableButton]="false" (clickEmitter)="navigateLogon($event)" [text]="'Log in'" [alternateTheme]="true"></app-bottom-button>
      </div>
    </div>
  </form>
</div>