<div class="row">
   <div class="col-xs-12">
      <div class="title">
         <span>Why are you blocking your Nedbank {{cardInfo?.cardType}}</span>
         <span class="no-break">({{ cardInfo.cardNumber | cardMask:4:4 }})?</span>
      </div>
   </div>
</div>
<div class="block-form">
   <div class="gd-form-row">
      <label class="gd-sm-label" for="account_type">Reason</label>
      <div class="gd-basic-dropdown" dropdown>
         <div dropdownToggle class="dropdown-place">
            <div class="text">
               {{selectedReason?selectedReason.text : 'Select reason' }}
            </div>
            <div class="icon">
               <span class="caret"></span>
            </div>
         </div>
         <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li [class.active]="reason.value.text == selectedReason?.text" role="menuitem" *ngFor="let reason of blockingReasons" (click)="onBlockReasonChanged(reason.value.code)">
               {{reason.value.text}}
            </li>
         </ul>
      </div>
   </div>
   <div *ngIf="isDamaged" class="row reason-warning">
      <div class="col-xs-12">
         <span *ngIf="!isTravelAccountCard" class="transfer-hint">
            {{labels.damagedCardThreeDaysMessage}}<br />
            Alternatively, you can replace your card by <a class="btn-replace" (click)="onReplaceCard.emit()">clicking here</a>.
         </span>
         <span *ngIf="isTravelAccountCard"  class="transfer-hint">
            A damaged card will take 3 days to be blocked.<br />
            Please visit your nearest Forex branch to replace your card.
         </span>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-12">
         <div class="info-container">
            <span class="icon glyphicon glyphicon-info-sign"></span>
            <div class="info-msg">
               <p>Please note that once you block a card you can't reverse this action.</p>
            </div>
         </div>
      </div>
   </div>
   <app-bottom-button [text]="'Block Card'" [showLoader]='inProgress' [disableButton]="!selectedReason || inProgress" (click)="blockCard()"></app-bottom-button>
</div>
