@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
.detail-debit-order {
   padding-left: 5px;
   .label-do-detail {
      font-size: $font-xsm;
      color: $text-color-warmGrey;
      padding-bottom: 6px;
   }
   .value-do-detail {
      font-size: $font-default + 1;
      color: $text-color-message-block-content;
      margin-bottom: 20px;
   }
   .action-link {
      font-size: $font-xsm;
      line-height: $md-heading-size;
      padding-bottom: 10px;
      cursor: pointer;
      .link {
         color: $color-lottery-number-group-1;
      }
   }
}

@media (min-width: $media-sm) {
   .detail-debit-order {
      padding-left: 50px;
      .label-do-detail {
         font-size: $font-sm;
      }
      .action-link {
         font-size: $font-default;
         line-height: $para-title-size;
      }
   }
}