@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
$icon-path: './../../../../assets/svg/';
.stop-debit-order-container {
   padding-top: 20px;
   height: calc(100vh - 80px);
   width: 86%;
   margin: 0 auto;
   .stop-order-form {
      padding-bottom: 30px;
      .title {
         font-size: $font-md;
         font-weight: $weight-bold;
         color: $text-color-secondary;
         line-height: $para-title-size;
         padding-bottom: 18px;
      }
      .dropdown-title {
         padding-bottom: 10px;
         font-size: $font-sm;
         line-height: $md-heading-size;
         color: $text-color-primary;
         float: left;
      }
      .gd-basic-dropdown {
         .dropdown-place {
            height: auto;
            padding: 5px 15px;
            min-height: 50px;
            .text {
               text-align: left;
               line-height: normal;
               margin-right: 4%;
            }
            .reason-loader {
               position: absolute;
               height: 20px;
               top: 12px;
               cursor: not-allowed;
            }
         }
         .dropdown-menu {
            margin-bottom: 20px;
            li {
               line-height: normal;
               padding: 10px 15px;
               font-size: $font-default;
            }
         }         
      }
      .descp-text-other {
         margin-top: 20px;
         .tell-more {
            display: block;
            margin-bottom: 5px;
         }
         .remaining {
            color: $text-color-primary;
            display: block;
            text-align: right;
            margin-bottom: 20px;
         }
      }
   }
   .disclaimer-container {
      @include flexbox();
      padding: 20px 12px 0 12px;
      font-size: $font-sm;
      color: $text-color-primary;
      text-align: initial;
      margin-top: 20px;
      background-color: $info-window-color;
      .disclaimer {
         .unordered-list {
            margin-left: 14px;
            li {
               padding-bottom: 5px;
            }
         }
      }
   }
   .btn-container {
      position: absolute;
      bottom: 0;
      width: 80%;
      left: 10%;
      ::ng-deep .gd-primary-btn {
         max-width: 100%;
      }
   }
   .successful-stopped {
      .title {
         margin-top: 20px;
         font-size: $font-md;
         color: $secondary-color;
         text-align: center;
      }
      .disclaimer-container {
         @include flexbox();
         margin-top: 25px;         
         padding-bottom: 20px
      }
   }
   .tick-icon {
      display: inline-block;
      margin-right: 10px;
      top: 7px;
      @include svg-image-full-path($icon-path, 'tick_circle', 24px, 24px);
   }
   .info-icon {
      @include svg-image-full-path($icon-path, 'information', 24px, 24px);
   }
   &.other-reason-textarea {
      height: 100%;
      .btn-container {
         bottom: auto;
         margin-top: 15px;
      }
   }
}

@media (min-width: $media-sm) {
   .stop-debit-order-container {
      height: auto;
      padding: 30px 0;
      .stop-order {
         width: 400px;
         margin: 0 auto;
         .stop-order-form {
            .title {
               text-align: center;
               font-size: $font-lg + 2px;
            }
            .gd-basic-dropdown {
               .dropdown-place {
                  .text {
                     font-size: $font-md;
                  }
               }
               .dropdown-menu {
                  position: relative;
                  li {
                     font-size: $font-md;
                  }
               }
            }
         }
         .btn-container {
            position: static;
            width: 100%;
            padding-top: 8%;
         }
      }
      .successful-stopped {
         .title {
            font-size: $font-xlg;
            text-align: center;
         }
         .tick-icon {
            @include svg-image-full-path($icon-path, 'tick_circle', 32px, 32px);
         }
         .disclaimer-container {
            width: 400px;
            margin: 25px auto 50px auto;
         }
         .btn-container {
            width: 400px;
            margin: 0 auto;
            left: 0;
            position: relative;
         }
      }
   }
}