<div class="stop-debit-order-container" [class.other-reason-textarea]="selectedReason?.code === otherReasonCode">
   <ng-container *ngIf="!debitOrderStopped; then stopOrder else stopOrderSuccessful"></ng-container>
   <ng-template #stopOrder>
      <section class="stop-order">
         <form #stopOrderForm="ngForm" class="stop-order-form">
            <div class="title">{{labels.stopDebitOrderTitle}}</div>
            <div class="dropdown-title">{{labels.reasonTitle}}</div>
            <div class="gd-basic-dropdown" dropdown>
               <div dropdownToggle class="dropdown-place">
                  <div class="text">
                     {{ selectedReason ? selectedReason.description : labels.selectReason }}
                  </div>
                  <div class="icon">
                     <span class="caret"></span>
                  </div>
                  <div class="loader-mask" *ngIf="reasonsLoader" [class.reason-loader]="reasonsLoader">
                     <div class="loader-spinner">
                        <app-spinner [color]="'green'"></app-spinner>
                     </div>
                  </div>
               </div>
               <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li [class.active]="reason.description === selectedReason?.description" role="menuitem" *ngFor="let reason of reasons; let i = index"
                     (click)="onReasonChanged(i)">
                     {{reason.description}}
                  </li>
               </ul>
            </div>
            <div *ngIf="selectedReason?.code === otherReasonCode" class="descp-text-other">
               <span class="tell-more">{{labels.tellUsMore}}</span>
               <textarea class="other-description" autofocus appFocus placeholder="Input text" appValidateRequired [maxLength]="120" name="otherReason"
                  [(ngModel)]="otherReasonDescription" (ngModelChange)="reasonTextChanged(otherReasonDescription?.length)" [class.success-border]="otherReasonDescription?.length>=1"></textarea>
               <span class="remaining">{{remainingLength}}/{{maxLength}}</span>
            </div>
            <div class="disclaimer-container">
               <span class="info-icon"></span>
               <div class="disclaimer">
                  {{messages.stopDebitOrder.title}}
                  <ul class="unordered-list">
                     <li *ngFor="let point of messages.stopDebitOrder.disclaimer">{{point}}</li>
                  </ul>
               </div>
            </div>
            <div class="btn-container">
               <app-bottom-button id="stop-debit-order-btn" [disableButton]="!isValid" [text]="labels.stopDebitOrderTitle" [showLoader]='showLoader'
                  (click)="!showLoader ? stopDebitOrder() : false"></app-bottom-button>
            </div>
         </form>
      </section>
   </ng-template>
   <ng-template #stopOrderSuccessful>
      <section class="successful-stopped">
         <div class="title">
            <span class="tick-icon"></span>
            <span>{{messages.stopDebitOrder.stopDebitOrderSuccessful}}</span>
         </div>
         <div class="disclaimer-container">
            <span class="info-icon"></span>
            <span class="disclaimer">{{messages.stopDebitOrder.stopDebitOrderSuccessDisclaimer}}</span>
         </div>
         <div class="btn-container">
            <app-bottom-button id="stop-debit-order-done-btn" [text]="labels.doneBtnText" [showLoader]='showLoader' (click)="closeStopDebitOrder()"></app-bottom-button>
         </div>
      </section>
   </ng-template>
</div>
