<div class="cancel-stop-order-container">
   <ng-container *ngIf="!stopOrderCancelled;then cancelStopOrder else cancelStopSuccess"></ng-container>
   <ng-template #cancelStopOrder>
      <div class="title">{{labels.cancelStopBtnText}}</div>
      <div class="disclaimer-container">
         <input class="accept-checkbox" id="chk-cancel-stop-order" type="checkbox" [ngModel]="checkboxValue" (ngModelChange)="checkBoxClick($event)">
         <label for="chk-cancel-stop-order" class="checkbox-style"></label>         
         <span class="disclaimer">{{messages.cancelStopOrder.cancelStopDisclaimer}}</span>
      </div>
      <div class="btn-container">
         <app-bottom-button id="cancel-stop-btn" [disableButton]="!checkboxValue" [text]="labels.cancelStopBtnText" [showLoader]='showLoader' (click)="!showLoader && checkboxValue ? cancelStopDebitOrder() : false"></app-bottom-button>
      </div>
   </ng-template>

   <ng-template #cancelStopSuccess>
      <section [class.successful-cancel]="stopOrderCancelled">
         <div class="title">
            <span class="tick-icon"></span>
            <span>{{messages.cancelStopOrder.cancelStopSuccessful}}</span>
         </div>
         <div class="disclaimer-container">
            <span class="info-icon"></span>
            <span class="disclaimer">{{messages.cancelStopOrder.cancelStopSuccessDisclaimer}}</span>
         </div>
         <div class="btn-container">
            <app-bottom-button id="cancel-stop-done-btn" [text]="labels.doneBtnText" (click)="closeCancelStopDebitOrder()" [showLoader]='showLoader'></app-bottom-button>
         </div>
      </section>
   </ng-template>   
</div>