@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';
$svg-path: './../../../../assets/svg';
.request-credit-limit {
   .title-section {
      .title {
         font-family: $font-markpro;
         color: $text-color-accent-primary;
      }
   }
   .body-section {
      .section-title {
         font-family: $font-markpro-medium;
         color: $text-color-primary;
         display: block;
      }
      .credit-facility {
         .duration {
            @include flexbox();
            .icon-clock {
               @include svg-image-full-path($svg-path, 'duration-icon', 37px, 37px);
            }
            .duration-info {
               font-family: $font-markpro;
               color: $text-color-primary;
               font-size: $font-default;
            }
         }
      }
      .document-information {
         .document-row {
            @include flexbox();
            .document {
               @include flexbox();
               .icon-money {
                  @include svg-image-full-path($svg-path, 'money-bag', 37px, 31px);
               }
               .icon-payslip {
                  @include svg-image-full-path($svg-path, 'documents-icon', 27px, 34px);
               }
               .document-info {
                  @include flexbox();
                  font-family: $font-markpro;
                  color: $text-color-primary;
                  .icon-info {
                     @include svg-image-full-path($svg-path, 'information', 17px, 17px);
                     position: absolute;
                     cursor: pointer;
                  }
               }
            }
         }
         .triangle {
            width: 0;
            height: 0;
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $tooltip-back-ground;
         }
         .tooltip-part {
            background-color: $tooltip-back-ground;
            border-left: 2px solid $secondary-color;
            .close {
               .icon-cross {
                  @include svg-image-full-path($svg-path, 'close-gray', 12px, 12px);
                  position: relative;
                  cursor: pointer;
               }
            }
            .tooltip-section {
               .section-status {
                  .status {
                     font-family: $font-markpro-medium;
                     color: $text-color-message-block;
                  }
               }
               .section-content {
                  color: $text-color-message-block;
                  .content-bold {
                     font-family: $font-markpro-bold;
                  }
                  .content {
                     color: $text-color-primary;
                     font-family: $font-markpro;
                  }
               }
            }
         }
      }
      .declaration {
         @include flexbox();
         .square {
            width: 30px;
            height: 30px;
            border-radius: 5px;
         }
         .square-white {
            border: 2px solid $divider-primary;
         }
         .square-green {
            background-color: $tertiary-color;
            .tick {
               @include svg-image-full-path($svg-path, 'tickCheckbox', 17px, 13px);
               position: absolute;
            }
         }
      }
   }
}

@media (min-width: $media-xxs) {
   .request-credit-limit {
      padding: 0 20px;
      background-color: $overlay-bg;
      .title-section {
         margin-bottom: 20px;
         margin-right: 60px;
         .title {
            font-size: $page-title-size;
         }
      }
      .body-section {
         .credit-facility {
            .duration {
               margin-top: 55px;
               .icon-clock {
                  display: block;
                  left: 40%;
               }
               .duration-info {
                  position: relative;
                  top: 50px;
                  left: -35px;
                  &.add-size {
                     width: 320px;
                  }
               }
            }
         }
         .document-information {
            margin-top: 80px;
            .section-title {
               padding-right: 80px;
            }
            .document-row {
               margin-bottom: 10px;
               @include flex-direction(column);
               .document {
                  .icon-money {
                     left: 40%;
                  }
                  .icon-payslip {
                     left: 40%;
                  }
                  &.add-group {
                     width: 100%;
                     padding-left: 0;
                     padding-top: 30px;
                  }
                  margin-top: 25px;
                  .document-info {
                     position: relative;
                     top: 45px;
                     left: -25px;
                     &.add-size {
                        width: 100%;
                        top: 35px;
                        left: -35px;
                     }
                     .info {
                        width: 272px;
                        padding-left: 0;
                     }
                     .icon-info {
                        left: 110px;
                        margin-top: 45px;
                     }
                  }
               }
            }
            .triangle {
               left: 145px;
               padding-top: 55px;
            }
            .tooltip-part {
               width: 95%;
               margin-top: 75px;
               .close {
                  .icon-cross {
                     @include svg-image-full-path($svg-path, 'close-gray', 9px, 9px);
                     right: 10px;
                     top: 0;
                  }
               }
               .tooltip-section {
                  padding: 10px 20px 0 25px;
                  .section-status {
                     padding: 10px 0;
                  }
                  .section-content {
                     padding-bottom: 15px;
                     font-size: $font-sm;
                     &.last {
                        padding-bottom: 40px;
                     }
                  }
               }
            }
         }
         .must-accept {
            padding-top: 45px;
            .section-title {
               width: 285px;
            }
         }
         .declaration {
            padding: 30px 0 65px 0;
            .square-green {
               .tick {
                  padding: 6px 0 0 6px;
               }
            }
            .declaration-message {
               width: 275px;
               padding: 5px 0 0 10px;
            }
         }
      }
   }
}

@media (min-width: $media-sm) {
   .request-credit-limit {
      .body-section {
         .document-information {
            .document-row {
               .document {
                  .document-info {
                     .info {
                        width: 100%;
                     }
                     .icon-info {
                        left: 655px;
                        margin-top: 0;
                     }
                  }
               }
            }
            .triangle {
               left: 690px;
            }
         }
         .must-accept {
            padding-top: 45px;
            .section-title {
               width: 100%;
            }
         }
         .declaration {
            padding: 30px 0 65px 0;
            .square-green {
               .tick {
                  padding: 6px 0 0 6px;
               }
            }
            .declaration-message {
               width: 566px;
               padding: 5px 0 0 10px;
            }
         }
      }
   }
}

@media (min-width: $media-xs-up) {
   .request-credit-limit {
      padding: 35px 0 180px 75px;
      background-color: $container-bg;
      .title-section {
         margin-bottom: 15px;
         .title {
            font-size: $main-title-size;
         }
      }
      .body-section {
         .section-title {
            font-size: $status-size;
         }
         .credit-facility {
            .duration {
               margin-top: 30px;
               .icon-clock {
                  margin-top: 5px;
                  left: 0;
               }
               .duration-info {
                  width: 255px;
                  top: 5px;
                  left: 20px;
                  font-size: $font-default;
                  .add-info {
                     width: 255px;
                  }
               }
            }
         }
         .document-information {
            margin-top: 60px;
            .document-row {
               @include flex-direction(row);
               .document {
                  margin-top: 25px;
                  .icon-money {
                     left: 0;
                  }
                  .icon-payslip {
                     left: 0;
                  }
                  &.add-group {
                     width: 60%;
                     padding-left: 48px;
                     padding-top: 0;
                  }
                  .icon-money {
                     margin-top: 10px;
                  }
                  .icon-payslip {
                     margin-top: 10px;
                  }
                  .document-info {
                     padding-left: 20px;
                     top: 5px;
                     left: 0;
                     font-size: $font-default;
                     &.add-size {
                        max-width: 232px;
                        top: 5px;
                        left: 0;
                     }
                     .info {
                        width: 360px;
                        padding-left: 20px;
                     }
                     .icon-info {
                        left: 356px;
                        margin-top: 25px;
                     }
                  }
               }
            }
            .triangle {
               left: 788px;
               padding-top: 5px;
            }
            .tooltip-part {
               width: 750px;
               margin-top: 25px;
               .close {
                  .icon-cross {
                     @include svg-image-full-path($svg-path, 'close-gray', 12px, 12px);
                     top: 5px;
                     right: 25px;
                  }
               }
               .tooltip-section {
                  padding: 0 20px 0 25px;
                  .section-status {
                     padding: 20px 0;
                     .status {
                        font-size: $font-sm;
                     }
                  }
                  .section-content {
                     padding-bottom: 15px;
                     font-size: $font-sm;
                     &.last {
                        padding-bottom: 40px;
                     }
                  }
               }
            }
         }
         .must-accept {
            padding-top: 60px;
         }
      }
   }
}
