@import "./../../../styles/_base.scss";
@import "./../../../styles/_mixins.scss";
$icon-path: "../../../assets/svg/";
$icon-credit-review: "credit-review";
.message-alert {
   ::ng-deep {
      .alertMessage {
         .alert-container {
            .message {
               &.success {
                  .successIcon {
                     @include svg-image-full-path($icon-path, "success-tick", 32px, 32px);
                  }
               }
            }
         }
      }
   }
}

.preference-container {
   .icon-field {
      padding-top: 10px;
      .icon {
         width: 12px;
         display: inline-block;
         right: 9px;
         top: 3px;
         cursor: pointer;
         &.left-arrow {
            float: left;
            margin: -61px 8px 8px 13px;
            @include rotate(180deg);
            @include svg-image-full-path($icon-path, "right-arrow-cap", 100%, 100%);
         }
      }
      .preference-container-header {
         font-family: $font-markpro-medium;
         font-size: $steps-space;
         font-weight: 500;
         text-align: left;
         color: $text-color-secondary;
         margin-bottom: 20px;
         margin-top: 20px;
         padding: 0 42px;
      }
      .preference-container-sub-header {
         font-family: $font-markpro;
         font-size: $steps-space;
         margin-bottom: 30px;
         display: flex;
         padding: 0 0px;
      }
   }
   .preference-widget {
      width: 100%;
      margin: 30px 0;
      background-color: $header-color;
      display: flex;
      &.individual-widget {
         flex-direction: column;
      }
      .switch {
         height: 11px;
         input:checked+.slider {
            &::before {
               @include translate(20px, 0);
            }
         }
         .slider {
            &::before {
               height: 16px;
               width: 16px;
               left: 1px;
               bottom: 1.6px;
            }
            &.round {
               width: 38px;
               height: 19px;
               margin-left: -10px;
            }
         }
      }
      .limit-widget {
         &.credit-card {
            border-left: 4px solid $color-credit-card;
            padding-right: 0;
            .account-color {
               color: $text-color-error;
            }
         }
         border-bottom: 1px solid $divider-secondary;
         min-height: 81px;
         padding: 15px;
         background-color: $container-bg;
         .account-details {
            width: 78%;
            float: left;
            .account-name-and-number {
               .account-name {
                  font-family: $font-markpro-medium;
                  font-weight: normal;
                  text-align: left;
                  color: $text-color-secondary;
                  font-size: $para-title-size-mob;
               }
               .account-number {
                  letter-spacing: 1px;
                  text-align: left;
                  color: $text-color-primary;
                  padding-top: 5px;
               }
            }
         }
         .account-toggle {
            float: left;
            .freeze-toggle {
               padding-top: 2px;
            }
            .switch {
               .slider {
                  &.round {
                     margin-left: 0px;
                  }
               }
            }
         }
      }
   }
   .preference-widget-header {
      font-size: $section-title-secondary-size;
      font-family: $font-markpro-medium;
      font-weight: 400;
      margin: 0;
      padding: 28px 29px 20px 22px;
      line-height: 1.11;
      text-align: left;
      position: relative;
      color: $text-color-secondary;
      &.limit-indicator {
         position: relative;
         right: 0px;
      }
   }
   .preference-widget-sub-info {
      font-size: $label-size;
      font-family: $font-markpro;
      font-weight: 400;
      margin: 0;
      padding: 5px 20px 10px;
      position: relative;
      text-align: left;
      color: $text-color-primary;
   }
}

.preference-widget-sub-header {
   font-size: $base-size;
   font-family: $font-markpro;
   font-weight: 400;
   margin: 0;
   padding: 5px 30px;
   position: relative;
   text-align: left;
   color: $text-color-primary;
   &.last-sub-header {
      padding-bottom: 30px;
   }
}

.list-title {
   font-size: $lg-heading-size;
   font-family: $font-markpro-medium;
   font-weight: 500;
   margin: 30px 0px 21px;
   padding: 20 20px;
   position: relative;
   text-align: left;
   color: $nav-menu-color;
}

.list {
   position: absolute;
   padding: 12px 10px;
   .list-dot {
      width: 6px;
      height: 6px;
      background-color: $text-color-primary;
      border-radius: 5px;
   }
}

.optInOptOut {
   margin: 0;
   padding: 32px 20px 30px;
   font-family: $font-markpro-medium;
   font-size: $section-title-secondary-size;
   color: $text-color-secondary;
}

@media (min-width: $media-sm) {
   .preference-container {
      padding: 0 0 0 15px;
      .optInOptOut {
         padding: 28px 34px 29px;
      }
      .left-arrow {
         display: none !important;
      }
      .list-title {
         margin: 0;
         padding: 20px 29px;
      }
      .list {
         padding: 12px 17px;
      }
      .preference-widget-sub-header {
         padding: 5px 35px;
      }
      .preference-widget {
         width: 80%;
         margin-left: 30px;
         .limit-widget {
            display: inline-flex;
            &.credit-card {
               padding-right: 16px;
            }
            .account-details {
               width: 83%;
            }
         }
         .switch {
            .slider {
               &.round {
                  margin-left: 0px;
               }
            }
         }
         .preference-widget-sub-info {
            font-size: $font-default;
            font-family: $font-markpro;
            font-weight: normal;
            margin: 0px;
            padding: 5px 28px 10px;
            position: relative;
            text-align: left;
            color: $text-color-primary;
         }
      }
      .preference-widget-header {
         padding: 28px 29px 20px 20px;
      }
      .icon-field {
         padding-left: 20px;
         .preference-container-sub-header {
            margin-bottom: 24px;
            padding: 0 10px;
            font-family: $font-markpro;
            font-size: $font-lg;
            text-align: left;
            color: $text-color-secondary;
            display: inline-block;
         }
         .preference-container-header {
            font-family: $font-markpro-medium;
            font-size: $lg-heading-size;
            font-weight: 500;
            text-align: left;
            color: $text-color-secondary;
            margin-bottom: 5px;
            margin-top: 26px;
            padding: 0 10px;
         }
      }
      .no-creditCard-message-container {
         margin-left: 30px;
         width: 50%;
         @include flexbox;
         @include flex-direction(column);
         .icon-field {
            .icon {
               &.left-arrow {
                  visibility: hidden;
               }
            }
            .preference-container-sub-header {
               &.no-credit-card {
                  margin-left: -44px;
               }
            }
            .preference-container-header {
               font-family: $font-markpro-medium;
               font-size: $lg-heading-size;
               font-weight: 500;
               text-align: left;
               color: $text-color-secondary;
               padding-top: 26px;
               cursor: default;
            }
            .credit-review-icon {
               @include svg-image-full-path($icon-path, "credit-review", 66px, 52px);
               margin-top: 30px;
               position: relative;
               margin-left: 212px;
            }
         }
         .noCredit-card-label {
            &.first-label {
               margin-top: 25px;
               margin-bottom: 30px;
            }
         }
      }
   }
}

@media (max-width: $media-xs + 1) {
   .preference-container {
      padding: 0;
   }
}

@media (min-width: $media-md) {
   .preference-container {
      .icon-field {
         .preference-container-sub-header {
            margin-bottom: 24px;
            padding: 0 10px;
            font-family: $font-markpro;
            font-size: $font-lg;
            text-align: left;
            color: $text-color-secondary;
            display: inline-block;
         }
      }
      .preference-widget {
         width: 43%;
         .limit-widget {
            &.credit-card {
               padding-right: 0;
            }
            .account-details {
               width: 79%;
            }
         }
         .preference-widget-header {
            font-size: $font-md;
            padding: 24px 20px 28px 16px;
            &.limit-indicator {
               position: relative;
               right: 30px;
            }
         }
      }
      .preference-widget-header {
         font-size: $section-title-secondary-size;
         font-family: $font-markpro-medium;
         font-weight: 400;
         margin: 0;
         padding: 24px 20px 7px;
         line-height: 1.11;
         text-align: left;
         position: relative;
         color: $text-color-secondary;
         &.limit-indicator {
            position: relative;
            right: 30px;
         }
      }
      .preference-widget-sub-header {
         padding: 5px 33px;
         &.last-sub-header {
            padding-bottom: 33px;
         }
      }
      .list-title {
         font-family: $font-markpro-medium;
         font-weight: 500;
         padding: 20px 30px;
      }
      .list {
         padding: 12px 17px;
      }
   }
}

.no-creditCard-message-container {
   margin: 20px 20 20 212;
   margin-left: 20px;
   margin-right: 20px;
   width: 80%;
   @include flexbox;
   @include flex-direction(column);
   .icon-field {
      .icon {
         width: 12px;
         display: inline-block;
         right: 9px;
         top: 3px;
         cursor: pointer;
         &.left-arrow {
            float: left;
            @include rotate(180deg);
            @include svg-image-full-path($icon-path, "right-arrow-cap", 100%, 100%);
         }
      }
      .preference-container-sub-header {
         margin-bottom: 0px;
      }
      .credit-review-icon {
         @include svg-image-full-path($icon-path, "credit-review", 66px, 52px);
         margin-top: 30px;
         position: relative;
         margin-left: 153px;
      }
   }
   .noCredit-card-label {
      font-size: $label-size;
      font-family: $font-markpro;
      color: $color-greyMedium;
      &.first-label {
         margin-top: 25px;
         margin-bottom: 30px;
      }
   }
}
