<section class="travel-information">
   <form class="section  gd-form" #travelInformationForm="ngForm">
      <span class="section-title">{{labels.title}}</span>
      <div class="section-body">
         <div class="first-section">
            <div class="gd-form-row">
               <label class="gd-sm-label" for="selected-country">{{labels.countryYouAreVisiting}}</label>
               <div class="gd-form-row" *ngFor="let selectedCountry of selectedCountry; let currentItem=index;">
                  <div class="gd-dropdown" tabindex="0" dropdown>
                     <div class="discrp-block" dropdownToggle dropdown-open>
                        <div class="fields">
                           <div class="field">
                              <div class="left">{{selectedCountry.name}}</div>
                           </div>
                        </div>
                        <div class="icon-field" id="account-list-arrow">
                           <span class="icon toggle-icon down"></span>
                        </div>
                     </div>
                     <ul *dropdownMenu class="dropdown-menu">
                        <li *ngFor="let country of values.countries;" class="dropdown-item discrp-block" (click)="onCountrySelect(currentItem, country)">
                           <div class="fields">
                              <div class="field">
                                 <div class="left" x-ms-format-detection="none">{{country}}</div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="gd-form-row" (click)="addAnotherCountry()">
               <div class="add">
                  <i class="add-icon"></i>
                  <span class="country-visit"> {{labels.addAnotherCountry}} </span>
               </div>
            </div>
            <div class="gd-form-row">
               <label class="gd-sm-label">{{labels.leavingDate}}</label>
               <app-custom-date-picker [config]="calendarConfig" [date]="tempDateOfLeaving"  (dateChanged)="setLeavingDate($event)"></app-custom-date-picker>
            </div>
            <div class="gd-form-row">
               <label class="gd-sm-label">{{labels.retuningDate}}</label>
               <app-custom-date-picker [config]="calendarConfig" [date]="tempDateOnReturn"  (dateChanged)="setRetuningDate($event)"></app-custom-date-picker>
            </div>
            <div class="gd-form-row">
               <label class="gd-sm-label" for="license-plate-number">{{labels.plate}}</label>
               <input id="license-plate-number" type="text" name="licensePlateNumber" #licensePlateNumberRef="ngModel" [(ngModel)]="licensePlateNumber">
            </div>
            <div class="gd-form-row">
               <label class="gd-sm-label" for="insurance-company-name">{{labels.name}}</label>
               <input id="insurance-company-name" type="text" name="insuranceCompanyName" #insuranceCompanyNameRef="ngModel" [(ngModel)]="insuranceCompanyName">
            </div>
            <div class="gd-form-row">
               <label class="gd-sm-label" for="insurance-policy-number">{{labels.number}}</label>
               <input id="insurance-policy-number" type="text" name="insurancePolicyNumber" #insurancePolicyNumberRef="ngModel" [(ngModel)]="insurancePolicyNumber">
            </div>
         </div>
         <div class="bottom-btn">
            <app-bottom-button [showLoader]="false" (clickEmitter)="onNextClick()" [disableButton]="!isValueSelected" [text]="'Next'"></app-bottom-button>
         </div>
      </div>
   </form>
</section>>
