<form class="gd-form">
   <div class="gd-form-row">
      <div class="payment-options game">
         <div class="payment-option-box game-opt game-lotto" [class.selected]="selectedGameType.code == gameLottoCode" (click)="populateGameType(gameLottoCode);changeCategory('Buy '+selectedGameType.text)">
            <span class="icon lotto-icon selected"></span>
         </div>
         <div class="payment-option-box game-opt game-powerball" [class.selected]="selectedGameType.code == gamePowerballCode" (click)="populateGameType(gamePowerballCode);changeCategory('Buy '+selectedGameType.text)">
            <span class="icon powerball-icon"></span>
         </div>
      </div>
   </div>
   <hr *ngIf="!isLesstimeleft()" />
   <div class="gd-form-row" *ngIf="!gameTimeout && gameTimeLeft<gameHurryTime">
      <div class="view-jkpot-block">
         <div class="draw-date-label">Next draw:</div>
         <div class="draw-date">
            <div>
               <span *ngIf="drawDate">{{drawDate | date : formats.ddMMYYYY }}</span>
            </div>
            <div><a class="view-jkpot" (click)="showJackpots()">View jackpots</a></div>
         </div>
      </div>
   </div>

   <div class="gd-form-row" *ngIf="gameTimeout">
      <div>
         Unfortunately entries are closed for now, you can play
         <span class="highlight-text" (click)="populateGameType(gamePowerballCode)" *ngIf="selectedGameType.code===gameLottoCode">PowerBall</span>
         <span class="highlight-text" (click)="populateGameType(gameLottoCode)" *ngIf="selectedGameType.code===gamePowerballCode">LOTTO</span>
         instead
      </div>
   </div>
   <hr *ngIf="!isLesstimeleft()" />
   <div class="gd-form-row endingSoon" *ngIf="!gameTimeout &&  gameTimeLeft>=gameHurryTime ">
      <div>
         Hurry, entries close at {{gameTodaySheet.endTime }}
      </div>
   </div>

   <div *ngIf="gameTimeout">
      <table class="tabular-data-col-2 gameSheetTable">
         <tbody>
            <tr>
               <td colspan="2" class="timeSheetheader">
                  You can only enter during these times:
               </td>
            </tr>
            <tr *ngFor="let timeSheet of gameDayChart">
               <td class='capitalize'>{{timeSheet.text}}</td>
               <td> {{timeSheet.startTime}} - {{timeSheet.endTime}}</td>
            </tr>
         </tbody>
      </table>
      <br>
   </div>

   <div class="gd-form-row bank-container autocomplete-container" *ngIf="!gameTimeout">
      <label class="gd-lg-label" for="">How would you like to play?</label>
   </div>
   <div class="gd-form-row" *ngIf="!gameTimeout">
      <label class="gd-sm-label" for="account_type">Select method</label>
      <div class="gd-basic-dropdown" tabindex="0" dropdown>
         <div dropdownToggle class="dropdown-place" id="game-select-method">
            <div class="text">
               {{ selectedPlayMethod.text }}
            </div>
            <div class="icon">
               <span class="caret"></span>
            </div>
         </div>
         <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li [class.active]="playMethod.value.text == selectedPlayMethod.text" role="menuitem" *ngFor="let playMethod of playMethods" (click)="onPlayMethodChanged(playMethod.value);sendEvent('buy_'+selectedGameType.text+'_how_to_play_select_'+selectedPlayMethod.text.replace(' ', '_'));">
               {{playMethod.value.text}}
            </li>
         </ul>
      </div>
   </div>
</form>

<app-small-overlay [template]="jackpotsOverlay" alternate='true' *ngIf="isVisible">
   <ng-template #jackpotsOverlay>
      <div class="overlay-container">
         <div class="overlay-header text-right">
            <span class="cross" (click)="hideJackpots()"></span>
         </div>
         <div class="overlay-body">
            <div class="title">Estimated {{ selectedGameType.text | uppercase }} jackpots</div>
            <div class="next-draw-date">Draw date {{ jackpotsByGame[0].nextDrawDate | date: formats.ddMMYYYY }}</div>
            <div class="jackpot" *ngFor="let jackpot of jackpotsByGame">
               <div class="icon_{{ jackpot.game.toLowerCase() }}"></div>
               <div class="amount">{{ jackpot.jackpotAmount | amountTransform }}</div>
            </div>
            <div class="button-container text-center">
               <button class="gd-primary-btn" (click)="hideJackpots()">Done</button>
            </div>
         </div>
      </div>
   </ng-template>
</app-small-overlay>
<app-game-timeout *ngIf="bothGameNotAvailable" (onButtonClick)="hideTimeOutOverlay($event)"></app-game-timeout>
