@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';

$svg-path: '../../../../assets/svg/';
$close-gray: 'close-gray';
$lotto-game: 'lotto-game';
$lotto-plus1-game: 'lotto-plus1-game';
$lotto-plus2-game: 'lotto-plus2-game';
$powerball-game: 'powerball-game';
$powerball-plus-game: 'powerball-plus-game';
$game-opt-bg: $highlight-bg;


.payment-options {
   .payment-option-box{
      margin: 7px 0 0 20px;
      .icon{
         margin-bottom: 0px;
      }
   }
}
.game {
   padding-top: 30px;
   width: 290px;
   .game-lotto {
      &.selected {
         background-color: $lotto-selected-bg;
         margin-top: 5px;
      }

      .lotto-icon {
         @include svg-image-full-path($svg-path,'game-lotto-grey', 100%, 100%);
      }

      &.selected {
         .lotto-icon {
            @include svg-image-full-path($svg-path, 'game-lotto', 100%, 100%);
         }
      }
   }

   .game-powerball {
      .powerball-icon {
         @include svg-image-full-path($svg-path, 'game-powerball-grey', 100%, 100%);
      }

      &.selected {
         background-color: $powerball-selected-bg;

         .powerball-icon {
            @include svg-image-full-path($svg-path,'game-powerball', 100%, 100%);
         }
      }
   }

   .game-opt {
      background-color: $game-opt-bg;
      border: none;
      width: auto;
      padding: 28px 5px 20px 5px;

      .icon {
         width: 120px;
      }
   }
}

.highlight-text {
   font-size: $font-md;
   cursor: pointer;
   color: $text-color-accent-primary;
   text-decoration: underline;
   font-weight: bold;
}

.purch-limit {
   font-size: $font-md;
}

.draw-date-label {
   font-size: $font-md;
}

.draw-date {
   clear: both;
   font-size: $font-md;
   @include markpro-medium();
}

.view-jkpot {
   font-size: $font-md;
   cursor: pointer;
   color: $text-color-accent-primary;
   text-decoration: underline;
   font-weight: bold;
}

.view-jkpot-block {
   @include flexbox();
   @include align-items(flex-start);

   .draw-date {
      @include flex(1);
      text-align: right;
      margin-left: 20px;
   }
}

.overlay-container {
   .overlay-header {
      .cross {
         @include svg-image-full-path($svg-path, $close-gray, 100%, 100%);
         width: 18px;
         height: 18px;
         cursor: pointer;
         position: absolute;
         right: 18px;
         opacity: 0.7;
      }
   }

   .overlay-body {
      padding: 50px 3px 20px 3px;

      .title {
         font-size: $section-title-size-sm;
         font-weight: bold;
         text-align: center;
         color: $text-color-secondary;
      }

      .next-draw-date {
         padding: 15px 0 35px 0;
         font-weight: bold;
         text-align: center;
      }

      .jackpot {
         padding-top: 5px;
         text-align: center;

         .icon_lotto {
            @include svg-image-full-path($svg-path, $lotto-game, 100%, 100%);
            position: relative;
         }

         .icon_lottoplus {
            @include svg-image-full-path($svg-path, $lotto-plus1-game, 100%, 100%);
            position: relative;
         }

         .icon_lottoplus2 {
            @include svg-image-full-path($svg-path, $lotto-plus2-game, 100%, 100%);
            position: relative;
         }

         .icon_powerball {
            @include svg-image-full-path($svg-path, $powerball-game, 100%, 100%);
            position: relative;
         }

         .icon_powerballplus {
            @include svg-image-full-path($svg-path, $powerball-plus-game, 100%, 100%);
            position: relative;
         }

         .amount {
            padding-bottom: 15px;
            font-size: $para-title-size;
            font-weight: bold;
         }
      }

      .button-container {
         padding: 15px 0;
      }
   }
}

@media screen and (min-width: $media-xs) {
   .payment-options{
         .payment-option-box{
            margin: 7px 0 0 30px;
         }
   }
   .game {
      padding-top: 30px;
      width: 310px;
      .game-opt {
         padding: 28px 5px 20px 5px;
      }
   }

}

@media screen and (min-width: $media-sm) {
   .overlay-container {
      .overlay-header {
         .cross {
            right: 24px;
            top: 10px;
         }
      }

      .overlay-body {
         padding: 50px 50px 20px 50px;

         .title {
            font-size: $section-title-size;
         }

         .next-draw-date {
            font-size: $para-title-size;
         }

         .jackpot {
            padding-top: 15px;
         }

         .button-container {
            padding: 25px 0;
         }
      }
   }
}

@media screen and (min-width: $media-md) {
   .overlay-container {
      .overlay-header {
         .cross {
            right: 34px;
            top: 20px;
         }
      }

      .overlay-body {
         padding: 75px 75px 20px 75px;

         .jackpot {
            padding-top: 15px;
         }

         .button-container {
            padding: 20px 0;
         }
      }
   }
}

@media screen and (min-width:$media-lg) {
   .draw-date {
      clear: none;
      float: right;
   }

   .jkpot-row {
      text-align: right;
   }
}

:host::ng-deep {
   .gameSheetTable {
      .timeSheetheader {
         padding-bottom: 20px;
      }
   }

   .endingSoon {
      height: 93px;
      background-color: $color-warn-msg-background;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $divider-secondary;
      border-top: 1px solid $divider-secondary;
      margin-top: 35px;
   }
}
