<div class="container">

   <div class="row">
      <div class="col-xs-12">
         <div class="recipients-section">
            <div class="head">
               <h4 class="section-title">Recipients</h4>

               <div class="link" *ngIf="!addRecipient && !isEmptyState" (click)="onAddRecipientClick();sendEvent('add_recipients_click_on_add_recipient');">
                  <a>
                     <span class="icon add-icon"></span>
                     <span class="text">Add a new recipient</span>
                     <span class="text mob">Add new</span>
                  </a>
               </div>
               <ng-container *ngIf="enableAddRecipient">
               <app-bottom-button *ngIf="addRecipient" [disableButton]="!isValid || isSaveLoading" [showLoader]="isSaveLoading" [text]="'Save recipient'" (clickEmitter)="saveRecipient(); sendEvent('add_recipient_click_on_save_recipient');">
               </app-bottom-button>
               </ng-container>
            </div>
            <div *ngIf="isShowMessageBlock" class="error-block-success">
               <div class="icon-container">
                  <span class="success img-step-tick">
                  </span>
               </div>
               <div class="error-message">Success! The recipient has been deleted.</div>
               <div class="icon-container">
                  <span class="img-step-close" (click)="closeMessageBlock()">
                  </span>
               </div>
            </div>
            <div class="blocks" [class.active]="isSlide">
               <div class="left" id="left">
                  <app-search-recipients [isOverlay]="false" [onPage]="true" [refreshContactCardId]="contactCardId" (onBeneficiaryDataSelection)="handleBeneficiarySelection($event);sendEvent('search_recipients');"
                     [alphabetScroll]="true" [forcedTab]="activeTab"></app-search-recipients>
               </div>
               <div class="right" id="right" #recipeintArea>
                  <div class="mob-right-head" (click)="goBack()">
                     <div class="back"></div>
                     <h4 class="section-title">Recipients</h4>
                  </div>
                  

                  <app-edit-recipient [isEmptyState]="isEmptyState" [isAddMode]="addRecipient" [beneficiaryDetails]="beneficiaryData" (focusMessage)="onRecipientFocusMessage()"
                     (onOperationSuccess)="onOperationSuccess($event)" [parentNotification]="parentNotify" (childNotifying)="childNotifying($event)" (selectBankApprovedTab)='selectBankApprovedTab()'
                     (enableSaveRecipient)="onEnableSaveRecipient($event)" (editSchedule)="openScheduleOverlay($event)" [refreshSchedulePayments]="refreshSchedulePayments"></app-edit-recipient>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<app-small-overlay [template]="limitExceededOverlay" alternate='true' *ngIf="isMaxRecipientLimitExceeded">
   <ng-template #limitExceededOverlay>
      <div>
         <div class="logo-cntnr">
            <span class="cross" (click)="hideLimitExceededNotification()"></span>`
         </div>
         <div class="logo-cntnr">
            <span class="logo1"></span>
         </div>
         <span class="overlay-title">You’ve reached the maximum number of recipients.</span>
         <span class="ovelay-text">You’ll need to remove other recipients in order to add a new recipient.</span>
         <div class="ok-button">
            <app-bottom-button (clickEmitter)="hideLimitExceededNotification()" [disableButton]='false' [text]=" 'Continue'"></app-bottom-button>
         </div>
      </div>
   </ng-template>
</app-small-overlay>

<app-small-overlay [template]="deleteOverlay" alternate='true' *ngIf="deleteRecipientVisible">
   <ng-template #deleteOverlay>
      <span class="overlay-cross" (click)="hideDeleteRecipientNotification()"></span>
      <div class="template-content">
         <div class="logo-cntnr">

         </div>
         <div class="logo-cntnr">
            <span class="logo1"></span>
         </div>
         <span class="overlay-title">Delete this recipient?</span>
         <span class="ovelay-text">This will only delete the recipient. If you want to delete scheduled payments, go to ‘Features’ on the appropriate account page.</span>
         <div class="btns">
            <div class="ok-button">
               <app-bottom-button [disableButton]='false' [showLoader]="deleteLoading" (clickEmitter)="deleteRecipient()" [text]="'Delete Recipient'"></app-bottom-button>
            </div>
            <div class="cancel-button">
               <app-bottom-button (clickEmitter)="hideDeleteRecipientNotification()" alternateTheme='true' [disableButton]='false' [text]="'Cancel'"></app-bottom-button>
            </div>
         </div>
      </div>
   </ng-template>
</app-small-overlay>

<app-colored-overlay *ngIf="showEditScheduleTransaction" [isVisible]="showEditScheduleTransaction" [template]="editSchedulePayment" [alternate]="true"
   [altButtonText]="'Cancel'" (onHide)="hideOverlay($event);">
   <ng-template #editSchedulePayment>
      <app-edit-scheduled-payment [transactionDetail]="transactionDetail" [transactionType]="transactionType" [transactionID]="transactionID" (refreshPayment)="refreshPayment()"></app-edit-scheduled-payment>
   </ng-template>
</app-colored-overlay>

