@import '../../../styles/_base.scss';
@import '../../../styles/_mixins.scss';


$recipients-head-height: 70px;
$recipients-head-height-mob: 90px;
$svg-path: '../../../assets/svg';
$icon-tick: 'tickStatus';
$icon-close: 'close-light-gray';
$blocks-bg: $container-bg;
$recipients-bg: $container-bg;


.container{
    background: $recipients-bg;
}
.recipients-section {
    @include recipient-content();
    overflow: hidden;
    .head {
        @include flexbox();
        @include align-items(center);
        padding: 25px 0;
        .section-title {
            @include flex(1);
        }
        .link {
            cursor: pointer;
            a {
                display: block;
                color: $text-color-link;
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
                .icon {
                    width: 25px;
                    margin-right: 10px;
                    @include svg-image-full-path($svg-path, 'add-recipient');
                    &.add-icon {
                        width: 34px;
                        margin-right: 10px;
                        position: relative;
                        padding-left: 11px;
                        height: 34px;
                    }
                }
                .text {
                    font-weight: bold;
                    display: none;
                    &.mob {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .blocks {
        padding: 0 0 10px;
        height: calc( 100% - #{$recipients-head-height-mob});
        position: relative;
        .left,
        .right {
            height: 100%;
            background: $blocks-bg;
        }
        .left {
            width: 100%;
            app-search-recipients {
                display: block;
                height: 100%;
                overflow: hidden;
            }
        }
        .right {
            position: fixed;
            left: 0;
            top: $header-height-mob;
            right: 0;
            bottom: 0;
            height: calc( 100% - #{$header-height-mob});
            overflow-y: auto;
            z-index: 9;
            @include translate(100%, 0);
            @include transition(transform 300ms ease);
            hr {
                &.header-line {
                    margin: 0px 20px 10px 20px;
                    width: 85%;
                    border-top: 1px solid $divider-primary;
                }
            }
            .mob-right-head {
                @include flexbox();
                @include align-items(center);
                padding: 35px 0px 25px 10px;
                cursor: pointer;
                .section-title {
                    @include flex(1);
                }
                .back {
                    width: 30px;
                    height: 30px;
                    margin-top: -7px;
                    margin-right: 10px;
                    @include svg-image-full-path($svg-path, 'back-green');
                }
            }
        }
        &.active {
            .right {
                @include translate(0, 0);
            }
        }
    }
}

.empty-state {
    .icon-block {
        .icon {
            width: 100px;
            @include svg-image-full-path($svg-path, 'Recipient-book');
        }
    }
}

.btns {
   .cancel-button {
      margin-top: 15px;
   }
}

.error-block-success {
    margin-bottom: 10px;
    color: $text-color-secondary;
    height: 80px;
    background-color: $color-success-bg;
    @include flexbox();
    @include align-items(center);
    padding: 10px;
    .error-message {
        margin: 0 20px;
        @include flex(1);
    }
    .icon-container {
        .img-step-tick {
            display: inline-block;
            @include svg-image($icon-tick, 24px, 18.9px);
            margin-left: 10px;
            margin-top: 5px;
        }
        .img-step-close {
            cursor: pointer;
            display: inline-block;
            @include svg-image($icon-close, 24px, 18.9px);
            margin-left: 10px;
            margin-top: 5px;
        }
    }
}

@media (min-width: $media-sm) {
    .recipients-section {
        padding: 30px 0px 0px 20px;
        .head {
            padding: 0px 0px 20px 0px;
            .link {
                a {
                    .text {
                        display: inline-block;
                        &.mob {
                            display: none;
                        }
                    }
                }
            }
        }
        .blocks {
            @include flexbox();
            @include align-items(flex-start);
            height: calc( 100% - #{$recipients-head-height});
            border-top: 1px solid $divider-primary;
            .left,
            .right {
                height: 100%;
            }
            .left {
                width: 320px;
                border-right: 1px solid $divider-primary;
                padding-right: 22px;
                padding-top: 10px;
            }
            .right {
                position: relative;
                @include flex(1);
                overflow-y: auto;
                position: static;
                @include translate(0, 0);
                .mob-right-head {
                    display: none;
                }
                .header-line {
                    display: none;
                }
            }
            &.active {
                @include translate(0, 0);
            }
        }
    }
    .empty-state {
        .icon-block {
            .icon {
                width: 130px;
            }
        }
    }
}

@media (min-width: $media-md) {
    .recipients-section {
        .head {
            padding: 0px 0px 25px 0px;
        }
        .blocks {
            .left {
                width: 400px;
            }
        }
    }
}

@media (min-width: $media-lg) {
    .recipients-section {
        .head {
            padding: 0px 0px 30px 0px;
        }
    }
}
