<section id="row-success" class="row header-row" *ngIf="status===notificationTypes.Success">
   <div id="block-status" class="status-block">
      <div id="icon-and-text-success" class="status-icon-text">
         <div id="icon-success" class="col-xs-1 col-sm-1 icon-field no-padding">
            <div class="icon success"></div>
         </div>
         <div id="title-success" class="col-xs-11 col-sm-11 title success">
            {{messages.success}}
         </div>
      </div>
      <div id="info-success" class="status-info-block">
         <h5 id="msg-success" class="status-info-msg">{{labels.successInfo}}</h5>
         <div id="list-recipients" class="recipients-list">
            <span id="lbl-recipient" class="recipient-lbl">{{labels.recipient}}</span>
            <span *ngFor="let recipient of recipients; let i=index">
               <span class="recipient-email">{{recipient.emailId}}{{i === recipients.length - 1 ? '' : ', '}}</span>
            </span>
         </div>
      </div>
   </div>
</section>

<section id="row-error" class="row header-row" *ngIf="status===notificationTypes.Error">
   <div id="block-error" class="status-block">
      <div id="icon-and-text-error" class="status-icon-text">
         <div id="icon-error" class="col-xs-1 col-sm-1 icon-field no-padding">
            <div class="icon error"></div>
         </div>
         <div id="icon-error" class="col-xs-11 col-sm-11 title error" id="title-error">
            {{messages.error}}
         </div>
      </div>
      <div id="info-error" class="status-info-block">
         <h5 id="msg-error" class="status-info-msg">{{labels.errorInfo}}</h5>
      </div>
      <div id="btn-send" class="btn-tryagain">
         <app-bottom-button [text]="labels.tryAgain" [showLoader]="requestInprogress" [class.btn-disabled]="requestInprogress || retryLimitExceeded"
            (click)="onRetrybuttonClick()">
         </app-bottom-button>
      </div>
   </div>
</section>
