@import '../../../../styles/_lotto-numbers.scss';
.pay-review {
   margin-bottom: 20px;

   .with-margin-top {
      margin-top: 20px;
   }

   .with-margin-bottom {
      margin-bottom: 20px;
   }

   .with-padding-top {
      padding-top: 20px;
   }

   .terms-and-conditions-link {
      color: $text-color-primary;
      text-decoration: underline;

      &:hover {
         color: $text-color-secondary;
      }
   }

   @media (min-width: $media-sm) {
      .board-section {
         clear: both;

         .board-table {
            .board-column {
               &:nth-of-type(1) {
                  width: 50%;
               }

               &:nth-of-type(2) {
                  width: 50%;
               }
            }
         }
      }
   }
}
