@import './../../../styles/_lotto-numbers.scss';
@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';

$game-status-bg: $container-bg;

.margin-bottom-30 {
   margin-bottom: 30px;
}

.game-status{
   background: $game-status-bg;
   @include main-content();
}