<div class="amount-field-editor">
   <div class="amount-container">

      <span class="amount-initial">R</span>

      <input id="amnt-field-input" autocomplete="off" ngControl="amount" #amount="ngModel" class="validate" [class.error]="(amount.dirty || amount.touched) && amount.errors "
         [ngModel]="value | amountTransform:{hidePrefix:true}" type="text" name="amount" [ngClass]="{'amount-input-alternate':alternate}"
         required appAmountFormatMask [appMaxAmount]="maxValue" [appValidateMultipleN]="divisbleBy" (ngModelChange)="onAmountChange($event)"
         [hidePrefix]="true" (blur)="onAmountBlur($event)" />

   </div>

   <div class="error-msg-amount">
      <span *ngIf=" amount.errors && (!amount.errors.required && !isAmountLessThanMin && !amount.errors.maxAmount && amount.errors.multipleOfN)">{{errorMessages.divisibleMsg}} {{ divisbleBy }}.</span>
      <span *ngIf="( amount.dirty || amount.touched) && (amount.errors && amount.errors.required)">{{errorMessages.requiredMsg}}</span>
      <span *ngIf="( amount.errors?.maxAmount)">{{errorMessages.maximumMsg}}</span>
      <span *ngIf="amount.errors && (!amount.errors.required && isAmountLessThanMin)">{{errorMessages.minAmountMsg}}</span>
      <span *ngIf="(!(amount.errors && (!amount.errors.required && !amount.errors.maxAmount && amount.errors.multipleOfN)))
  && (!(( amount.dirty || amount.touched) && (amount.errors && amount.errors.required)))
  && (!(( amount.errors?.maxAmount)) && (!isAmountLessThanMin))
  && errorMessages?.customMsg">{{errorMessages.customMsg}}</span>
   </div>
</div>