@import '../../../styles/_base.scss';


.card-block-status {
   margin: 30px 0 40px 0;
}

.card-block-fail {
   font-size: $font-sm;
}

.card-block-success {
   font-size: $font-default;
}

@media screen and (min-width : $media-sm) {
   .card-block-success {
      font-size: $font-md;
   }
}
