@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';
$svg-path: './../../../../assets/svg';
$icon-calender: 'calendar';
.select-dates {
   @include flexbox();
   @include flex-direction(column);
   @include align-items(center);
   .section-body {
      width: 90%;
      margin: 60px 13px 60px 22px;
      .section-title {
         font-family: $font-markpro-medium;
         font-weight: $weight-medium;
         color: $text-color-secondary;
         font-size: $section-title-size-mob;
         margin-left: -5px;
      }
      .select-date {
         margin-top: 30px;
         .gd-form-row {
            margin-bottom: 30px;
         }
         .date-input {
            margin-bottom: 30px;
            .gd-sm-label {
               font-family: $font-markpro;
               font-size: $label-size;
               color: $text-color-primary;
            }
         }
      }
      .bottom-btn {
         margin-top: 60px;
      }
   }
}

@media (min-width: $media-xs-up) {
   .select-dates {
      .section-body {
         width: 400px;
         margin-top: 60px;
         .section-title {
            font-size: $section-title-size;
         }
         .select-date {
            margin-top: 60px;
            .date-input {
               margin-bottom: 30px;
               .gd-sm-label {
                  font-family: $font-markpro;
                  font-size: $label-size;
                  color: $text-color-primary;
               }
            }
         }
         .bottom-btn {
            margin-top: 30px;
         }
      }
   }
}