<div *ngIf="readOnlyFields">
   <ng-container *ngIf="!isHomeLoanPersonalLoan; then showLoanDetails else showLoanName"></ng-container>
   <ng-template #showLoanDetails>
      <app-loan-details [loanDebitOrder]="loanDebitOrder" [status]="postAction"></app-loan-details>
   </ng-template>
   <ng-template #showLoanName>
      <div class="loan-account-name">
         <span [innerHtml]="loanName"></span>
         <span [innerHtml]="loanDebitOrder?.accountNumber"></span>
      </div>
   </ng-template>
</div>
<div class="update-loan-details-container no-print">
   <form #mfcLoanForm="ngForm" class="gd-form">
      <div class="form-heading" [innerHtml]="isHomeLoanPersonalLoan ? labels.loanInfo : labels.dealInfo"></div>
      <div class="gd-form-row">
         <label class="gd-sm-label" [innerHtml]="isHomeLoanPersonalLoan ? labels.debitOrderAmount : labels.instalmentAmount"></label>
         <div class="outer-box">
            <input id="installment-amount" autocomplete="off" #amountRef="ngModel" class="validate" [ngModel]="loanDebitOrder?.totalInstallment | amountTransform"
               (ngModelChange)="onAmountChange($event)" type="text" name="amountRef" appValidateRequired appAmountFormatMask
               appCheckBlur [readonly]="readOnlyFields" />
            <div *ngIf="(amountRef.dirty || amountRef.touched) && loanDebitOrder?.totalInstallment <= 0" role="alert" class="error-msg">
               <span>{{messages.enterAmount}}</span>
            </div>
         </div>
         <label class="msg-label" *ngIf="!readOnlyFields" [innerHtml]="invalidInstalmentAmount"></label>
      </div>
      <div *ngIf="isHomeLoanPersonalLoan || (!isHomeLoanPersonalLoan && readOnlyFields)" class="gd-form-row minimum-instalment-container">
         <label class="gd-sm-label" [innerHtml]="isHomeLoanPersonalLoan ? labels.instalment : labels.minimumInstalment"></label>
         <div class="instalment-amount" [innerHtml]="minimumInstalmentAmt | amountTransform"></div>
      </div>
      <div class="gd-form-row">
         <label class="gd-sm-label active" [innerHtml]="newDebitOrderDateLabel"></label>
         <div class="outer-box">
            <app-custom-date-picker id="new-debit-order-date" [config]="config" [date]="formatDate" (dateChanged)="setDate($event);"
               [disabled]="readOnlyFields"></app-custom-date-picker>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="readOnlyFields">
         <label class="gd-sm-label" [innerHtml]="labels.freq"></label>
         <div class="outer-box">
            <input type="text" name="frequency" id="freq" [readOnly]="readOnlyFields" [(ngModel)]="loanDebitOrder.paymentFrequency">
            <span class="icon arrow"></span>
         </div>
      </div>

      <div *ngIf="readOnlyFields" class="gd-form-row">
         <label class="gd-sm-label" [innerHtml]="labels.paymentMethod">{{labels.paymentMethod}}</label>
         <div class="outer-box">
            <input type="text" name="paymentMethod" id="payment-method" [readOnly]="readOnlyFields" [(ngModel)]="loanDebitOrder.paymentMethod">
            <span class="icon"></span>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="readOnlyFields && isHomeLoanPersonalLoan">
         <label class="gd-sm-label" [innerHtml]="labels.paymentDay"></label>
         <div class="outer-box">
            <input type="text" name="paymentDay" id="paymentDay" [readOnly]="readOnlyFields" [(ngModel)]="loanDebitOrder.paymentDay">
            <span class="icon arrow"></span>
         </div>
      </div>

      <div *ngIf="showBankDetails">
         <div class="form-heading" [innerHtml]="labels.bankingDetails"></div>
         <div *ngIf="isBankName" class="gd-form-row bank-container autocomplete-container">
            <label class="gd-sm-label" [innerHtml]="labels.bankName"></label>
            <div class="outer-box">
               <input id="bank" autocomplete="off" type="text" class="validate" #bankNameRef="ngModel" [(ngModel)]="loanDebitOrder.bankName"
                  [typeahead]="banks" [typeaheadItemTemplate]="bankListTemplate" (typeaheadOnSelect)="selectBank($event)" [typeaheadMinLength]="0"
                  typeaheadOptionField="bankName" name="bankName" appValidateRequired [readonly]="readOnlyFields" [disabled]="readOnlyFields"
                  [typeaheadOptionsLimit]="banks && banks.length" />
            </div>
            <ng-template #bankListTemplate let-model="item" let-index="index" let-match="match" let-query="query">
               <span class="bankname-type-ahead" [innerHtml]="model.bankName | highlight:query:'highlightText'"></span>
            </ng-template>
            <div *ngIf="!isHomeLoanPersonalLoan && isBranchVisible" class="gd-form-row branch-container autocomplete-container">
               <label class="branch-label active" [innerHtml]="labels.branchCode"></label>
               <div class="outer-box">
                  <div class="branch-searcher">
                     <input id="contextual-search" type="search" autocomplete="off" name="filter" [(ngModel)]="filter" (ngModelChange)="filterContentContextual($event)"
                        appClearField appValidateRequired (click)="toggleFocus()" [disabled]="readOnlyFields" [readOnly]="readOnlyFields"
                     />
                     <ul id="branch-code-searcher" class="dropdown-menu" role="menu" [class.ul-loose-focus]="looseFocus">
                        <li role="menuitem" *ngFor="let item of branchCodeList" (click)="branchContextualSearch(item)">
                           <span [innerHtml]="item.displayName | highlight:filter:'highlightText'"> </span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div *ngIf="!isHomeLoanPersonalLoan && !isBranchVisible" class="gd-form-row">
            <label class="gd-sm-label active" [innerHtml]="labels.universalBranchCode"></label>
            <input type="text" appValidateRequired class="validate" name="branchCode" id="branch-code" [readOnly]="true" [(ngModel)]="loanDebitOrder.bankBranchCode">
         </div>
         <div class="gd-form-row">
            <label class="gd-sm-label active" [innerHtml]="labels.accountNumber"></label>
            <div class="outer-box">
               <input id="account_number" autocomplete="off" type="text" class="validate" #accountNumberRef="ngModel" [(ngModel)]="loanDebitOrder.bankAccNumber"
                  name="accountNumber" appValidateRequired appValidateInput validateFor="number" appCheckBlur [readonly]="readOnlyFields"
                  (focus)="onAcccountNumFocus()">
               <div *ngIf="accountNumberRef.invalid && (accountNumberRef.dirty || accountNumberRef.touched) && accountNumberRef.isBlurred && accountNumberRef.errors.required"
                  class="error-msg">
                  {{messages.enterAccountNumber}}
               </div>
            </div>
         </div>
         <div class="gd-form-row">
            <label class="gd-sm-label" [innerHtml]="labels.accountType"></label>
            <div class="outer-box">
               <input type="hidden" appValidateRequired [(ngModel)]="bankAccountTypeText" name="accountType" #accountTypeRef="ngModel" />
               <div class="gd-basic-dropdown" dropdown [isDisabled]="readOnlyFields">
                  <div dropdownToggle class="dropdown-place" [ngClass]="{'disable-dropdown' : readOnlyFields}">
                     <div class="text">
                        {{ bankAccountTypeText }}
                     </div>
                     <span class="icon toggle-icon down"></span>
                  </div>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                     <li role="menuitem" [class.active]="accountType.value.text == displaySelectedAccountType" *ngFor="let accountType of accountTypes"
                        (click)="onAccountTypeChanged(accountType)">
                        {{accountType.value.text}}
                     </li>
                  </ul>
               </div>
            </div>

            <div *ngIf="bankAccountTypeText.invalid" class="error-msg">
               <span *ngIf="bankAccountTypeText.errors.required">
                  {{messages.selectAccountType}}
               </span>
            </div>
         </div>
      </div>
      <ng-container *ngIf="!readOnlyFields">
         <div class="row update-add-section">
            <div class="col-xs-12 col-sm-12 toggle-container">
               <span class="col-sm-8 no-padding">{{messages.isThisYourBankAccount}}</span>
               <div class="toggle">
                  <label for="your-account" class="switch inline-block minimum-left-spacing">
                     <input id="your-account" name="isYourBankAccount" type="checkbox" [(ngModel)]="isYourBankAccount">
                     <div class="slider round inline-block"></div>
                  </label>
               </div>
            </div>
            <span class="col-xs-10 col-sm-8">
               {{messages.bankAccountDisclaimer}}
            </span>
         </div>
         <div class="details-section">
            <div class="form-heading" [innerHtml]="labels.details"></div>
            <div class="row update-add-section">
               <div class="col-xs-12 col-sm-12 toggle-container" *ngIf="similarAccounts.length">
                  <span class="col-xs-10 col-sm-8 no-padding">{{labels.applyToAllAccounts}}</span>
                  <div class="toggle">
                     <label for="apply-details" class="switch inline-block minimum-left-spacing">
                        <input id="apply-details" name="applyDetailsToAll" type="checkbox" [disabled]="checkIfAmountChanged()" [(ngModel)]="applyDetailsToAll"
                           (ngModelChange)="applyDetailsToAllAccountsToggle($event)">
                        <div class="slider round inline-block"></div>
                     </label>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-12 select-options-container">
                  <div class="optional-selection" *ngIf="applyDetailsToAll">
                     <div class="select-other-accounts" *ngFor="let account of similarAccounts;let ind = index;">
                        <input class="accept-checkbox" name="similarAccountNumber" [class.active]="account.selected" id="account-number-{{ind}}"
                           type="checkbox" [(ngModel)]="account.selected" (ngModelChange)="similarAccountCheck($event)">
                        <label for="account-number-{{ind}}" class="checkbox-style"></label>
                        <span>{{labels.accountNumberInline}} {{account.accountNumber}}...{{account.currentBalance}}</span>
                     </div>
                  </div>
                  <div class="default-options">
                     <div class="select-auth-nedbank">
                        <input class="accept-checkbox" name="authNedbank" [class.active]="authNedbank" id="auth-nedbank" type="checkbox" [(ngModel)]="authNedbank"
                           (ngModelChange)="checkDisableApplyChanges()">
                        <label for="auth-nedbank" class="checkbox-style"></label>
                        <span>{{messages.authoriseDisclaimer}}</span>
                     </div>
                     <div class="accept-tnc">
                        <input class="accept-checkbox" name="acceptTerms" [class.active]="acceptTerms" id="accept-terms" type="checkbox" [(ngModel)]="acceptTerms"
                           (ngModelChange)="checkDisableApplyChanges()">
                        <label for="accept-terms" class="checkbox-style"></label>
                        <span>{{messages.acceptThe}}
                           <span class="terms-condition" (click)="showTermAndConditions()">{{messages.termsAndCondition}}</span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </ng-container>
      <section *ngIf="showBankDetails && !isHomeLoanPersonalLoan">
         <ng-container *ngIf="!readOnlyFields; then applyChanges else editDetails"></ng-container>
      </section>
      <ng-template #editDetails>
         <div class="button-container" *ngIf="showEditPaymentLoan">
            <app-bottom-button [text]="labels.editDebitOrder" (click)="updateDetails($event)"></app-bottom-button>
         </div>
      </ng-template>
      <ng-template #applyChanges>
         <div class="button-container">
            <app-bottom-button [text]="labels.applyChanges" [disableButton]="disableApplyChangesBtn || !mfcLoanForm.valid || (!formValueChange && !amountRef.dirty) || !showTermsView || !checkApplyChangesButton() || !isAmountValid"
               (click)="!showLoader ? applyChangesClicked() : false" [showLoader]="showLoader"></app-bottom-button>
         </div>
      </ng-template>
   </form>
</div>

<div *ngIf="hasThirdPartyEmail">
   <app-small-overlay [template]="emailThirdPartyDetails" alternate='true' class="third-party-overlay">
      <ng-template #emailThirdPartyDetails>
         <div class="email-third-party-details-container">
            <span class="green-warning"></span>
            <span class="close-icon" (click)="closeOverlay()"></span>
            <div class="heading-block">
               {{messages.pleaseEmailDocs}}
            </div>
            <div class="descrp-block">
               {{messages.docsDisclaimer}} {{emailTo}}
            </div>
            <app-bottom-button id="email-btn" [text]="labels.emailUploadNow" (click)="onUpload()"></app-bottom-button>
            <div class="continue-container">
               <app-bottom-button [alternateTheme]="true" id="continue-btn" [text]="labels.continuebutton" (click)="onContinue()"></app-bottom-button>
            </div>
         </div>
      </ng-template>
   </app-small-overlay>
</div>
<section *ngIf="showTerms" class="inner-container terms-conditions">
   <app-colored-overlay [isVisible]="true" [alternate]="true" [altButtonText]="'X'" [template]="termsAndConditions" [headerFixed]="true"
      (onHide)="termsAndConditionsClose()">
      <ng-template #termsAndConditions>
         <div class="terms-container main-report-class">
            <div class="modal-header">
               <div class="col-sm-10">
                  <h2 class="modal-title pull-left">{{labels.tnc}}</h2>
                  <div class="last-updated-date">
                     <label class="date-tac-update">
                        <span>{{labels.mfcName}}: {{loanDebitOrder?.accountNumber}}</span>
                        <span>{{labels.lastUpdated}}: {{showTermsView?.noticeDetails?.versionDate | date:dateFormat }} </span>
                     </label>
                  </div>
               </div>
               <div class="col-sm-2 col-xs-12 print-icon no-print padding-top-20 text-left">
                  <a class="download" (click)="print()">
                     <span class="icon"></span>
                     <span class="text">{{labels.print}}</span>
                  </a>
               </div>
            </div>
            <div class="modal-body print-section">
               <div class="noticeContainer">
                  <div class="noticeContent" [innerHtml]="showTermsView?.noticeDetails?.noticeContent"></div>
               </div>
            </div>
         </div>
      </ng-template>
   </app-colored-overlay>
</section>
