<div class="feedback card">
   <div *ngIf="showError" class="message error hidden-xs">
      <div class="icon-field system-error">
         <span class="system-error icon warning"></span>
      </div>
      <div class="text">
         <p>{{failureMessage}}</p>
         <div class="try-again" (click)="onTryAgain()">{{label.tryAgain}}</div>
      </div>
      <div class="icon cross" (click)="onCloseErrorMsg()"></div>
   </div>
   <div class="gd-form-row" *ngIf="reportSuspiciousToggle">
      <app-toggle-button-group [toggleButtonGroup]='toggleButtonGroup' [selectedButtonValue]="contactType" (onSelectionChange)="onTypeChange($event)"></app-toggle-button-group>
   </div>
   <div *ngIf='contactType === buttonGroup[0].value'>
      <div class="sub-heading hidden-xs">{{label.feedback}}</div>
      <label class="hidden-xs">{{label.feedbackHeading}}</label>
      <div class="visible-xs hidden-sm">
         <div class="sub-heading">{{label.feedbackHeading}}</div>
         <div *ngIf="showError" class="message error">
            <div class="icon-field system-error">
               <span class="system-error icon warning"></span>
            </div>
            <div class="text">
               <p>{{failureMessage}}</p>
               <div class="try-again" (click)="onTryAgain()">{{label.tryAgain}}</div>
            </div>
            <div class="icon cross" (click)="onCloseErrorMsg()"></div>
         </div>
      </div>
      <div class="content">
         <div class="emoji-icons content-item">
            <div class="feedback-container" *ngFor="let feedbackType of feedbackTypes">
               <span class="icon {{feedbackType}}" [class.grey]="selectedFeedbackType !== feedbackType" (click)="onFeedbackTypeChange(feedbackType);sendEvent('click_on_web_'+feedbackType+'_icon');"></span>
               <label>{{feedbackType === label.querySuggestion ? label.queryOrSuggestion : feedbackType}}</label>
            </div>
         </div>
         <div class="content-item">
            <label *ngIf="feedbackTypes[0] === selectedFeedbackType">{{label.complimentMessage}}</label>
            <label *ngIf="feedbackTypes[1] === selectedFeedbackType">{{label.queryMessage}}</label>
            <label *ngIf="feedbackTypes[2] === selectedFeedbackType">{{label.complaintMessage}}</label>
            <textarea class="feedback-box" autofocus appFocus [placeholder]="placeholder.sendFeedbackInfo" appValidateRequired [maxLength]="feedbackLimit"
               ga-event-name="enter_feedback_from_web" [(ngModel)]="feedbackText" (ngModelChange)="feedbackChange()" [class.success-border]="feedbackText.length>=1"></textarea>
            <div class="feedback-info">{{feedbackInfo}}</div>
         </div>
         <div class="col-xs-12 pull-left no-padding content-item">
            <label class="inline-block width-custom">{{label.callbackHeading}}</label>
            <label class="switch inline-block minimum-left-spacing float-right">
               <input type="checkbox" [(ngModel)]="callBackAllowed" checked="callBackAllowed">
               <div class="slider round inline-block"></div>
            </label>
            <div *ngIf="callBackAllowed" class="callback">
               <label>Contact number</label>
               <div class="cellphone-container">
                  <input id="mobile_number" type="tel" class="validate" #mobileNumberRef="ngModel" [(ngModel)]="mobileNumber" name="mobileNumber"
                     #mobileNumberElem appValidateRequired [pattern]="mobilePattern" (input)="mobileNumberChange()" appValidateOnblur
                     appValidateInput ga-event-name="web_feedback_enter_contact_number" (focusout)="onMobileFocusOut()" validateFor='mobile'
                  />
                  <div class="input-type-div" *ngIf="!isCellphoneEditMode" [class.success-border]="!mobileNumberRef.invalid" [class.error]="mobileNumberRef.invalid && ((mobileNumberRef.dirty || mobileNumberRef.touched) || !isCellphoneEditMode)"
                     (click)="onEditClick()">{{mobileNumber | mobileNumberMask : 4}}</div>
               </div>
               <div *ngIf="mobileNumberRef.invalid && ((mobileNumberRef.dirty || mobileNumberRef.touched) || !isCellphoneEditMode)" class="error-msg">
                  <span *ngIf="mobileNumberRef.errors.required">
                     {{message.cellphoneRequired}}
                  </span>
                  <span *ngIf="mobileNumberRef.errors.pattern">
                     {{message.incorrectCellPhoneNumber}}
                  </span>
               </div>
               <label>{{label.chooseTime}}</label>
               <div class="gd-basic-dropdown" dropdown>
                  <div dropdownToggle class="dropdown-place">
                     <div class="text">
                        {{ selectedTime }}
                     </div>
                     <div class="icon">
                        <span class="caret"></span>
                     </div>
                  </div>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                     <li [class.active]="time == selectedTime" role="menuitem" *ngFor="let time of callTimings" (click)="onTimeChange(time);sendEvent('web_feedback_select_contact_time');">
                        {{time}}
                     </li>
                  </ul>
               </div>
               <div class="feedback-submit">
                  <app-bottom-button [showLoader]="showLoader" [disableButton]="(!isMobileNumberValid) || feedbackText.length < 1" (clickEmitter)="sendFeedBack();sendEvent('web_feedback_click_on_submit_feedback');"
                     [text]="label.submitFeedback"></app-bottom-button>
               </div>
            </div>
         </div>
         <div class="col-xs-12 pull-left no-padding content-item">
            <div *ngIf="!callBackAllowed" class="feedback-submit">
               <app-bottom-button [showLoader]="showLoader" [disableButton]="feedbackText.length < 1 || showLoader" (clickEmitter)="sendFeedBack();sendEvent('web_feedback_click_on_submit_feedback');"
                  [text]="label.submitFeedback"></app-bottom-button>
            </div>
         </div>
      </div>
   </div>
   <div *ngIf='contactType === buttonGroup[1].value'>
      <app-report-suspicious (alertMessage)="setAlertMessage($event);"></app-report-suspicious>
   </div>
</div>
