<section class="select-countries">
   <form class="gd-form">
      <span class="section-title">{{labels.selectCountriesHeading}}</span>
      <div class="section-body border">
         <div class="gd-form-row">
            <span class="gd-sm-label">{{labels.selectCountries}}</span>
            <div class="gd-basic-dropdown"  [ngClass]="{'selected': selectedCountry.length !== 0 }" multiple dropdown [autoClose]="dropdownOpen">
               <div dropdownToggle class="dropdown-place border" [ngClass]="{'selected': selectedCountry.length !== 0}" id="select-countries" (click)="setFocus()">
                  <div class="text">
                     <input class="query-input" #input [ngClass]="{'valid': selectedCountry.length !== 0 }" #country="ngModel" (focus)="searchQuery()" type="search" name="query" [(ngModel)]="query">
                  </div>
                  <div class="icon" (click)="setFocus()">
                     <span class="caret"></span>
                  </div>
               </div>
               <ul  class="dropdown-menu dropdown-menu-form" role="menu">
                  <div *ngIf="isRemoveAll()" class="remove-all">
                     <span class="remove-all-text" (click)="removeAllCheckedCountries()">{{labels.removeAll}}</span>
                  </div>
                  <div class="scrollable" [ngClass]="{'scrollableLength': (countries.length >= 7)}">
                     <li role="menuitem" *ngFor="let country of countries | search : query; let currentIndex = index">
                        <div class="country">
                           <div [ngClass]="{'white': !country.isChecked, 'green': country.isChecked}" (click)="onCountrySelected(country)">
                              <span class="tick"></span>
                           </div>
                           <span class="country-name" [ngClass]="{'country-name-selected': country.isChecked}">{{country.countries.description  | titlecase}}</span>
                        </div>
                     </li>
                  </div>
                  <div class="dropdown-button">
                     <div class="cancel" (click)="onCancelClicked()">
                        <span>{{labels.cancel}}</span>
                     </div>
                     <div class="done" (click)="onDoneClicked()">
                        <span>{{labels.done}}</span>
                     </div>
                  </div>
               </ul>
            </div>
         </div>
         <div class="selected-list" *ngIf="selectedCountry.length !== 0">
            <span class="section-title">{{labels.selectedCountries}}</span>
            <div class="country-list" *ngFor="let country of selectedCountry; let currentIndex = index">
               <span class="country-text">{{country.countries.description | titlecase }}</span>
               <span class="trash" (click)="removeSelectedCountry(country)"></span>
            </div>
         </div>
         <div class="bottom-btn">
            <app-bottom-button [showLoader]="false" [disableButton]='!validForm' (clickEmitter)="onNextClick()" [text]="'Next'"></app-bottom-button>
         </div>
      </div>
   </form>
</section>