<div class="formInput createPassword-Container">
   <form #createPasswordForm="ngForm" class="gd-form">
      <div class="gd-form-row">
         <h4 class="section-title darkText">What would you like your new Nedbank ID password to be?</h4>
      </div>
      <app-message-alert [showAlert]="serviceError != ''" [displayMessageText]="serviceError" [linkDisplayText]="errorLinkText"
         [action]="alertAction" [alertType]="alertType" (onAlertLinkEmit)="onAlertLinkSelected($event)"></app-message-alert>
      <div class="gd-form-row">
         <label for="password" class="gd-sm-label">Enter new password</label>
         <div class="password-Container">
            <div class="eye-container">
               <input id="password" autocomplete="off" class="validate form-element passwordInput" [type]="getPasswordField(isPasswordView)"
                  [(ngModel)]="vm.password" #inputPassword #password="ngModel" [disabled]="showLoader" name="password" maxlength="16"
                  required appValidateInput (ngModelChange)="onInputChanged($event);onPasswordVerify($event)" (focus)="showPasswordMeter = true"
                  (blur)="showPasswordMeter = !isPasswordValid" />
               <span class="eye-img" #togglerPassword>
                        <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isPasswordView"></i>
                    </span>
            </div>
         </div>
         <app-password-strength-meter [passwordValue]="vm.password" [showPasswordMeter]="showPasswordMeter" (onPasswordVerified)="onPasswordVerified($event)"></app-password-strength-meter>
         <div *ngIf="!showPasswordMeter && (password.dirty || password.touched)">
            <ng-container *ngIf="password.invalid; else validPasswordFormatCheck">
               <div class="error-msg">
                  <ng-container *ngIf="password.errors.required;else defaultError">
                     {{messages.passwordMandatory}}
                  </ng-container>
                  <ng-template #defaultError>{{messages.passwordValidationText}}</ng-template>
               </div>
            </ng-container>
            <ng-template #validPasswordFormatCheck>
               <div *ngIf="!isPasswordValid" class="error-msg">
                  <span>{{messages.passwordValidationText}}</span>
               </div>
            </ng-template>
         </div>
      </div>
      <div class="gd-form-row">
         <label for="verifyPassword" class="gd-sm-label">Reenter new password</label>
         <div class="password-Container">
            <div class="eye-container">
               <input id="verifyPassword" autocomplete="off" class="validate form-element passwordInput" [type]="getPasswordField(isVerifyPasswordView)"
                  [(ngModel)]="vm.verifyPassword" #inputVerifyPassword #verifyPassword="ngModel" [disabled]="showLoader" name="verifyPassword"
                  maxlength="16" appValidateInput (ngModelChange)="onInputChanged($event);onPasswordVerify($event)" (focus)="showPasswordVerify = true"
                  (blur)="showPasswordVerify = false" />
               <span class="eye-img" #togglerVerifyPassword>
                        <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isVerifyPasswordView"></i>
                    </span>
            </div>
         </div>
         <div *ngIf="isPasswordMatch" class="passwordVerifyMeter">
            <div>Passwords match</div>
         </div>
      </div>
      <app-bottom-button [text]="'Next'" [disableButton]='!this.isValid' (clickEmitter)="navigateNext($event) " [showLoader]='showLoader'></app-bottom-button>
   </form>
</div>