<div class="work-flow final-status" *ngIf="isLoaded">
   <app-circle-icon-heading [heading]="limitUpdatedStatus.isLimitUpdated?successMessage:failureMessage" [successful]="limitUpdatedStatus.isLimitUpdated"></app-circle-icon-heading>
   <div class="block">
      <div class="steps-track"></div>
      <div class="steps-block limit-change-msg">
         <div *ngIf="limitUpdatedStatus.isLimitUpdated">
            <span>Your new ATM limit is now</span>
            <span>{{limitUpdatedStatus.newLimit | amountTransform: amountPipeConfig}}</span>
         </div>
         <div *ngIf="!limitUpdatedStatus.isLimitUpdated">
            <span>Your ATM limit is still {{limitUpdatedStatus.oldLimit | amountTransform: amountPipeConfig}}</span>
         </div>
         <br>
         <br>
         <app-bottom-button *ngIf="!limitUpdatedStatus.isLimitUpdated" [text]="'Try again'" (click)="retryUpdateAtmLimit()" [disableButton]=" (retryCount>3) || isButtonLoader" [showLoader]='isButtonLoader'></app-bottom-button>
         <app-bottom-button *ngIf="limitUpdatedStatus.isLimitUpdated" [text]="'Done'" (click)="hide()"></app-bottom-button>
         <div class="gd-error" *ngIf="retryCount>3">
            <span>Your request cannot be processed right now. Please try again later.</span>
         </div>
      </div>
   </div>
</div>