<app-message-alert class="message-alert" [showAlert]="showAlert" [displayMessageText]="displayMessageText" [linkDisplayText]="''"
   [action]="action" [alertType]="alertType" (onAlertLinkEmit)="onAlertLinkSelected()"></app-message-alert>
<div *ngIf="!isSuccessPage" class="review-container">
   <div class="title col-xs-12">
      <span>{{openAccountMessages.almostDone}}</span>
   </div>
   <div class="sub-header col-xs-12">
      <span>{{openAccountMessages.allInformationMessage}}</span>
   </div>

   <div class="acc-details-sec">
      <div class="header col-xs-12">
         <span>{{openAccountMessages.accountDetails}}</span>
         <span class="edit-acc-detail hidden-xs" (click)="editAccountDetails()">{{labels.edit}}</span>
      </div>
      <div class="content">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.accountType}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{productName}}</p>
      </div>
      <div class="content">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.openDeposit}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{depositDetails[0].Amount | amountTransform : amountPipeConfig}}</p>
      </div>
      <div class="content">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.fromAccount}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{depositDetails[0].depositAccount}}</p>
      </div>
      <div class="content" *ngIf="!isNoticeDeposit">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.investmentPeriod}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{depositDetails[0].Months}}</p>
      </div>
      <div class="gd-form-row btn-sec col-xs-12 visible-xs">
         <button class="gd-primary-btn btn-white" (click)="editAccountDetails()">{{labels.edit}}</button>
      </div>
   </div>

   <div class="interest-payout-sec">
      <div class="header col-xs-12">
         <span>{{openAccountMessages.interestPayout}}</span>
         <span class="edit-interest-detail hidden-xs" (click)="interestEdit()">{{labels.edit}}</span>
      </div>
      <div class="sub-header col-xs-12 interest-rate">
         <span>{{openAccountMessages.interestRate}} <span class="interest-rate">{{interestRate + openAccountValues.percent}}.</span> {{openAccountMessages.validRate}}
         {{openAccountMessages.openYourAccount}}
         </span>
      </div>
      <div class="content" *ngIf="!isNoticeDeposit">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.payOutOption}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{interestDetails[0].payoutOption}}</p>
      </div>
      <div class="content">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.payOutDate}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{interestDetails[0].payoutDay}}</p>
      </div>
      <div class="content">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.payOutAccount}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{interestDetails[0].Account}}</p>
      </div>
      <div class="gd-form-row btn-sec col-xs-12 visible-xs">
         <button class="gd-primary-btn btn-white" (click)="interestEdit()">{{labels.edit}}</button>
      </div>
   </div>

   <div class="acc-details-sec" *ngIf="isNoticeDeposit && recurringSection">
      <div class="header col-xs-12">
         <span>{{openAccountMessages.recurringPayment}}</span>
         <span class="edit-acc-detail hidden-xs" (click)="recurringEdit()">{{labels.edit}}</span>
      </div>
      <div class="content">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.frequency}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{recurringDetails[0].Frequency}}</p>
      </div>
      <div class="content">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.day}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{recurringDetails[0].Day}}</p>
      </div>
      <div class="content">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.amount}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{recurringDetails[0].Amount | amountTransform  : amountPipeConfig }}</p>
      </div>
      <div class="content">
         <p class="content-label col-xs-12 col-sm-6 col-md-3 col-lg-3">{{openAccountMessages.fromAccount}}</p>
         <p class="value col-xs-12 col-sm-6 col-md-6 col-lg-3">{{recurringDetails[0].Account}}</p>
      </div>
      <div class="gd-form-row btn-sec col-xs-12 visible-xs">
         <button class="gd-primary-btn btn-white" (click)="recurringEdit()">{{labels.edit}}</button>
      </div>
   </div>

   <div class="terms-and-condition">
      <div class="header legal-stuff col-xs-12">
         <span>{{openAccountMessages.legalStuff}}</span>
      </div>
      <div class="content tc-content">
         <div>
            <input class="accept-checkbox" type="checkbox" id="chk-cancel-stop-order" (change)="change($event)">
            <label for="chk-cancel-stop-order" class="checkbox-style"></label>
         </div>
         <span class="t-c-text">
            {{openAccountMessages.confirmMessage}}
            <a href={{termsAndConditionsPath}} target="_blank">{{openAccountMessages.termsAndCondition}}</a>
         </span>
         <div class="gd-form-row btn-sec col-xs-12">
            <button class="gd-primary-btn btn-white hidden-xs" (click)="back()">{{labels.back}}</button>
            <button class="gd-primary-btn" [disabled]="isChecked" (click)="openAccount()">{{labels.openAccountBtn}}</button>
         </div>
      </div>
   </div>
</div>
<section class="loader-mask" *ngIf="showLoader">
   <div id="loaders-spinner" class="loader-spinner">
      <app-spinner [color]="'green'"></app-spinner>
   </div>
</section>
<div *ngIf="isSuccessPage">
   <app-open-account-success> </app-open-account-success>
</div>