@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
$svg-path: './../../../../assets/svg';
.review-container {
   .btn {
      background: $color-white;
      border: solid 2px $secondary-color;
      color: $secondary-color;
      margin-top: 40px;
   }
   .span-pro {
      font-size: $font-lg;
      color: $color-greyDark;
      line-height: 1.25;
      font-weight: $weight-medium;
   }
   .edit {
      padding-left: 10px;
      color: $secondary-color;
      font-family: $font-markpro-medium;
      font-size: $font-default;
      cursor: pointer;
   }
   .title {
      font-family: $font-markpro-medium;
      font-size: $page-title-size;
      color: $color-greyDark;
      line-height: 1.25;
      font-weight: $weight-light;
   }
   .sub-header {
      margin: 13px 0 60px 0;
      font-size: $font-md;
      color: $text-color-primary;
      line-height: 1.25;
      font-weight: $weight-light;
   }
   .acc-details-sec {
      padding: 60px 0px;
      .header {
         span {
            display: inline-block;
         }
         margin-bottom: 45px;
         @extend .span-pro;
         display: table-cell;
         text-align: left;
         span.edit-acc-detail {
            @extend .edit;
         }
      }
      .btn-white {
         @extend .btn;
      }
   }
   .interest-payout-sec {
      .header {
         span {
            display: inline-block;
            @extend .span-pro;
         }
         .edit-interest-detail {
            @extend .edit;
         }
      }
      .sub-header {
         span {
            margin-top: 10px;
            color: $text-color-primary;
            font-size: $font-default;
         }
         span.interest-rate {
            color: $secondary-color;
            font-family: $font-markpro-medium;
            font-size: $md-heading-size;
         }
      }
      .btn-white {
         @extend .btn;
      }
   }
   .terms-and-condition {
      .header {
         span {
            font-size: $section-title-size;
            color: $color-greyDark;
            line-height: 1.25;
            font-family: $font-markpro-medium;
            font-weight: $weight-medium;
         }
      }
   }
   .content {
      display: table;
      width: 100%;
      .accept-checkbox {
         position: absolute; // take it out of document flow
         opacity: 0; // hide it
         &+.checkbox-style {
            position: absolute !important;
            cursor: pointer;
            padding: 0;
            &::before {
               // Box checked
               content: '';
               margin: 0 10px;
               border-radius: 5px;
               display: block;
               width: 30px;
               height: 30px;
               padding-left: 1px;
               border: 2px solid $divider-primary;
               background: $container-bg;
            }
         } // box
         &:checked+.checkbox-style {
            @include svg-image-full-path($svg-path, 'tickCheckbox', 30px, 30px);
            &::before {
               margin-left: 10px;
               position: absolute;
               background: $tertiary-color;
               border: 6px solid $tertiary-color;
               border-radius: 5px;
            }
         }
      }
      .content-label {
         color: $color-greyDark;
         font-weight: $weight-medium;
         display: table-cell;
         text-align: left;
      }
      span.t-c-text {
         margin: 4px 0 0 60px;
         font-size: $font-default;
         display: inline-block;
         span.t-c-green {
            color: $tertiary-color;
            cursor: pointer;
         }
      }
   }
   .btn-sec {
      margin: 35px 0;
      .btn-white {
         @extend .btn;
      }
   }
}

@media(min-width: $media-xxs) {
   
   .review-container {
      .title {
         font-family: $font-markpro-medium;
         font-size: $page-title-size-mob;
      }
      margin:40px 10px;
      .header {
         span {
            width: 100%;
            font-size: $page-title-size-mob;
         }
      }
      .sub-header {
         span {
            padding-top: 10px 0;
            font-size: $font-md;
         }
      }
      .interest-rate {
         margin-bottom: 15px;
      }
      .content {
         .content-label {
            margin-bottom: 6px;
         }
      }
      content-label {
         font-size: $section-title-secondary-size-mob;
         width: 27%;
      }
      .acc-details-sec {
         padding: 35px 0px;
         .header {
            width: 100%;
            font-size: $font-lg;            
            margin-bottom: 6px;
         }
      }
      .interest-payout-sec {
         .header {
            font-size: $font-lg;
            .span{
               width: 100%;
            }
         }
      }
      .content {
         margin-top: 6px;
         font-size: $font-default;
         color: $text-color-primary;
         .span.t-c-text {
            padding-left: 5%;
         }
      }
      .btn-sec {
         button {
            width: 300px;
         }
         padding: 40px 0px;
         .btn-white {
            margin: 0px;
         }
      }
      .terms-and-condition {
         .legal-stuff {
            margin-bottom: 15px;
         }
      }
   }
}

@media(min-width: $media-sm) {
   .span-pro {
      font-size: $section-title-size;
   }
   .review-container {
      .title {
         font-size: $font-xlg;
      }
      padding-left: 106px;
      .header {   
         span {
            font-size: $font-xlg;      
            width: 50%;
         }
      }
      .sub-header {
         span {
            padding-top: 18px;
            font-size: $page-title-size-mob;
         }
      }
      .interest-rate {
         margin-bottom: 15px;
      }
      content-label {
         font-size: $section-title-secondary-size-mob;
         width: 27%;
      }
      .acc-details-sec {
         padding: 35px 0px;
         .header {
            margin-bottom: 12px;
            .span {
               width: 55%;
            }            
            font-size: $font-xlg;
            span.edit-acc-detail {
               width: 36%;
            }
         }
      }
      .interest-payout-sec {
         .header {
            span {
               width: 49%;
            }
         }
      }
      .content {
         margin-top: 15px;
         color: $text-color-primary;
         .span.t-c-text {
            padding-left: 5%;
         }
      }
      .btn-sec {
         display: grid;        
         @include justify-content(center);
         padding-top: 25px;
         margin-top: 40px;
         button {
            width: 364px;
         }
         .btn-white {
            margin-top: 40px;
            order: 2;
         }
      }
      .terms-and-condition {
         .legal-stuff {
            margin: 30px 0;
         }
      }
   }
}

@media(min-width: $media-md) {
   .span-pro {
      font-size: $section-title-size;
   }
   .review-container {
      padding-left: 120px;
      padding-top: 60px;
      .title {
         font-size: $page-title-size;
      }
      .header {
         font-size: $page-title-size;
      }
      .sub-header {
         margin-top: 10px;
         font-size: $page-title-size-mob;
      }
      .interest-rate {
         margin-bottom: 30px;
      }
      .content-label {
         font-size: $section-title-secondary-size-mob;
         width: 24%;
         color: $text-color-secondary;
      }
      .acc-details-sec {
         padding: 60px 0px;
         .header {
            margin-bottom: 45px;
            span {
               width: 23%;
               font-size: $section-title-size;
            }
         }
      }
      .interest-payout-sec {
         .header {
            span {
               width: 23%;
            }
            .edit-interest-detail {
               padding-left: 10px;
            }
         }
         .edit-interest-detail {
            width: 50%;
         }
      }
      .content {
         font-size: $font-md;
         font-weight: $weight-medium;
         margin-top: 30px;
         .span.t-c-text {
            padding-left: 5%;
         }
      }
      .tc-content {
         padding-left: 5px;
      }
      .btn-sec {
         padding: 20px 0px;
         button {
            width: 300px;
            margin: 0px 20px;
         }
         .btn-white {
            margin: 0px;
         }
         span.edit-acc-detail {
            color: $secondary-color;
            font-family: $font-markpro-medium;
            width: 73%;
            font-size: $font-default;
            cursor: pointer;
            padding-left: 8px;
         }
      }
   }
}
