@import '../../../../styles/_base.scss';
@import '../../../../styles/_mixins.scss';


$icon-path: '../../../../assets/svg/';


form {
   width: 100%;
}

.profile-container {
   background-color: $container-bg;
   display: flex;
   align-items: center;
   padding: 22px;
   flex-direction: row;

   .profile-detail-container {
      display: flex;
   }

   .user-pic-container {
      width: 48px;
      height: 48px;
      text-align: center;
      background-color: $user-pic-bg;
      border: 2px solid $user-pic-border;
      font-size: $label-size;
      border-radius: 25px;
      padding: 12px 0;

      a {
         color: $text-color-secondary;
      }
   }

   .user-name-container {
      padding: 5px 0 0 15px;
      display: flex;
      flex-direction: column;

      .user-name {
         @include markpro-medium();
         text-transform: capitalize;
         font-size: $section-title-size-sm;
         color: $text-color-primary;
      }

      .link-text-normal {
         font-size: $font-default;
         cursor: pointer;
         color: $text-color-link;
         text-decoration: underline;
      }
   }
}

.btn-container {
   padding: 10px 0 0 0;
}

@media (min-width: $media-lg) {
   .profile-container {

      .profile-update {
         display: flex;

         .name-input {
            margin-right: 30px;
         }

         .update-btns {
            padding-top: 15px;
            display: flex;
            width: 400px;
         }
      }

      .user-pic-container {
         width: 77px;
         height: 77px;
         background-color: $user-pic-bg;
         border: 3px solid $user-pic-border;
         font-size: $label-size;
         border-radius: 40px;
         padding: 24px 0;

         .user {
            font-size: $font-default;
         }
      }

      .user-name-container {

         .user-name {
            font-size: $md-heading-size;
         }
      }
   }
}
