<div class="profile-container">
  
   <div *ngIf="viewPreferredNameWidget" class="profile-detail-container">
      <div class="user-pic-container">
         <a class="user">{{ clientInitials }}</a>
      </div>
      <div class="user-name-container">
         <p class="user-name">{{actualName}}</p>
         {{preferredName}}
         <a class="link-text-normal" (click)="onEditClick()" ga-event-name="your_profile_click_on_edit_preferred_name">Edit preferred name</a>
      </div>
   </div>
   <form *ngIf="updatePreferredNameWidget" class="gd-form profile-update">
      <div class="gd-form-row name-input">
         <label for="preferredName" class="gd-sm-label">Preferred name</label>
         <input appFocus autofocus  id="preferredName" appValidateRequired maxlength="30" type="text" [ngModel]="preferredName" 
         name="preferredName" #preferredNameRef="ngModel" appCheckBlur />
         <div *ngIf="preferredNameRef.invalid && preferredNameRef.touched && preferredNameRef.isBlurred" class="error-msg">
            <span *ngIf="preferredNameRef.errors.required">
         Preferred name is required.
      </span>
         </div>
      </div>
      <div class="gd-form-row update-btns">
         <div class="btn-container">
            <app-bottom-button [text]="'Update'" (click)="onUpdateClick(preferredNameRef.value); sendEvent('your_profile_click_on_edit_preferred_name_update')" [showLoader]='isButtonLoader' [disableButton]="disabledSubmit(preferredNameRef.value)"></app-bottom-button>
         </div>
         <div class="btn-container">
            <app-bottom-button [text]="'Cancel'"  (click)="onCancelClick(); sendEvent('your_profile_click_on_edit_preferred_name_cancel')" [alternateTheme]=true></app-bottom-button>
         </div>
      </div>
   </form>
</div>