@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';
$svg-path: '../../../../assets/svg';
$bg-color-dashboard: $body-bg;

.equal-container {
   margin-top: 10px;
   margin-bottom: 30px;
   padding: 20px 14px;
}

.add-icon {
   float: left;
   @include svg-image-full-path($svg-path, 'green', 32px, 32px);
   cursor: pointer;
}

.error {
   border-color: $warning-primary !important;
}

.info-icon {
   @include svg-image-full-path($svg-path, 'dark-grey', 20px, 20px);
}

.search-block {
   .search-field {
      position: relative;
      margin-top: 20px;

      .search-icon {
         @include svg-image-full-path($svg-path, 'Trash', 30px, 30px);
         position: absolute;
         top: 8px;
         right: 0;
         cursor: pointer;
      }

      input {
         &.ng-valid {
            border-color: $form-element-border;
         }

         &.secondary-email {
            width: 90%;
         }
      }
   }
}

.primary-email {
   width: 100%;
   text-transform: lowercase;

   &.ng-valid {
      border-color: $form-element-border;
   }
}

.gd-sm-label {
   color: $text-color-primary;
}

.secondary-label {
   margin-bottom: -15px;
}

.secondary-email {
   text-transform: lowercase;
   width: 90%;
   border-color: $form-element-border;
}

.add-msg {
   padding-left: 45px;
   padding-top: 4px;
   font-size: $font-lg;
   font-weight: normal;
}

.gd-form {
   .gd-form-row {
      margin-bottom: 25px;

      &.add-email {
         margin-top: 5px;
      }

      &.button-update {
         padding-top: 35px;
         margin-bottom: 60px;
      }

      .error-msg {
         padding-left: 0;
      }

      .error-msg::before {
         content: none;
      }
   }
}

.info-container {
   @extend .equal-container;
   background-color: $color-no-records-background;

   .info-msg {
      font-size: $font-sm;
      font-family: $font-markpro;
      margin-left: 35px;

      .call-center-number {
         color: $secondary-color;
         font-size: $font-default-1;
      }
   }

   .icon {
      float: left;
      @include svg-image-full-path($svg-path, 'information', 20px, 20px);
   }
}

.frequency-label {
   font-family: $font-markpro-medium;
   font-size: $font-md;
   color: $text-color-secondary;
   font-weight: 500;
   margin-bottom: 0;
}

.frequency {
   font-family: $font-markpro;
   font-size: $font-md-1;
   color: $text-color-primary;
   display: block;
}

.disable {
   ::ng-deep {
      button {
         &.gd-primary-btn {
            color: $text-color-disable-button;
         }
      }
   }
}

@media (max-width: $media-xs-down) {
   .gd-form-row {
      &.add-email {
         margin-bottom: 10px;
      }
   }

   .add-msg {
      padding-left: 40px;
      padding-top: 5px;
      font-size: $font-md;
      font-weight: normal;
   }

   .search-block {
      .search-field {
         .search-icon {
            @include svg-image-full-path($svg-path, 'Trash', 30px, 30px);
            position: absolute;
            right: 0;
         }

         input {
            &.ng-valid {
               border-color: $form-element-border;
            }

            &.secondary-email {
               width: 90%;
            }
         }
      }
   }
}
