<div class = "contain">
    <div #wrap class="wrapPerspective">
        <div class="card-outer disable-animation-edge" (click)="onCardClick()" [ngClass]="isActive && isLoaded ? (rotated ? 'actual-container':'rotate-container') :''">
            <div class="back" #backCard>
                    <div class="card card-info">
                        <span class="shadowcard-overlay" [ngClass]="{'card-status card-opacity': getStatus()}"></span>
                        <span class="shadowcard" [ngClass]="{ 'blocked' : card.plasticStatus === 'Blocked', 'freezed': card.isCardFreeze, 'inactive': !getCardInactiveStatus()}"></span>
                        <span class="card-status-text">{{cardStatusText}}</span>
                        <div class="card-detail" style="visibility:hidden">
                            <div class="name">
                            {{ card?.plasticDescription | truncateDescription: truncateLimit}}
                            </div>
                        </div>
                        <div class="card-number">
                            <div class="title">
                            Card number
                            </div>
                            <div class="number">
                            {{ card?.plasticNumber | cardMask:4:4 }}
                            </div>
                        </div>
                        <div class="card-security">
                            <div class="validity">
                            <div class="title">
                                Expiry date
                            </div>
                            <div class="date">
                                {{ expiryDate | date: 'MM/yy'}}
                            </div>
                            </div>
                            <div class="cvv">
                            <div class="title">
                                CVV
                            </div>
                            <div class="number">
                                ***
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="front" #frontCard>
                    <img [src]="URL" class='card' *ngIf='!defaultImage' [style.visibility]="hideDetail?'visible':'hidden'" height="100%"  width="100%"  (load)="imageLoaded(true)"  (error)="imageLoaded(false)"/> 
                    <div class="card card-info" *ngIf='!hideDetail||defaultImage'>
                        <ng-container *ngIf='!ImageLoading||defaultImage'>
                            <div class="card-detail">
                                <div class="name">
                                    {{ card?.plasticDescription | truncateDescription: truncateLimit}}
                                </div>
                            </div>
                            <div class="card-number">
                                <div class="title">
                                    Card number
                                </div>
                                <div class="number">
                                    {{ card?.plasticNumber | cardMask:4:4 }}
                                </div>
                            </div>
                            <div class="card-security">
                                <div class="validity">
                                    <div class="title">
                                        Expiry date
                                    </div>
                                    <div class="date">
                                        {{ expiryDate | date: 'MM/yy'}}
                                    </div>
                                </div>
                                <div class="cvv">
                                    <div class="title">
                                        CVV
                                    </div>
                                    <div class="number">
                                        ***
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                <span class="shadowcard-overlay" [ngClass]="{'card-status card-opacity': getStatus()}"></span>
                <span class="shadowcard" [ngClass]="{ 'blocked' : card.plasticStatus === 'Blocked', 'freezed': card.isCardFreeze, 'inactive': !getCardInactiveStatus()}"></span>
                <span class="card-status-text">{{cardStatusText}}</span>
            </div>
        </div>
    </div>
  </div>
  