<app-colored-overlay [alternate]="true" [isVisible]="isOverlayVisible" [template]="transferNowTemplate" [altButtonText]="closeBtnText"
   (onHide)="closeOverlay()">
   <ng-template #transferNowTemplate>
      <section class="transfer-now-section">
         <div class="icon-transfer">
            <div class="circle">
               <span class="icon-arrows"></span>
            </div>
         </div>
         <h4 class="title">{{labels.title}}</h4>
         <p class="description">{{labels.description}}</p>
         <div class="info-text">
            <span class="info-icon"></span>
            <div class="text">
               <div class="text-process-info">{{labels.processInfo}}</div>
               <div>{{labels.paidUpLetterInfo}}</div>
            </div>
         </div>
         <div id="btn-proceed" class="btn-proceed">
            <app-bottom-button (click)="proceedNext()" [text]="proceedButton"></app-bottom-button>
         </div>
      </section>
   </ng-template>
</app-colored-overlay>
