@import '../../../../../styles/_base.scss';
@import '../../../../../styles/_mixins.scss';
$icon-path: '../../../../../assets/svg';
$icon-transfer: 'TransferIcon-green';
$icon-info-box: 'dark-grey';
.transfer-now-section {
   margin-left: 15px;
   margin-right: 15px;
   position: relative;
   overflow: auto;
   .icon-transfer {
      display: flex;
      @include align-items(center);
      @include justify-content(center);
      padding: 40px 0 3px;
      .circle {
         width: 80px;
         height: 80px;
         border: solid 2px $primary-btn-bg;
         border-radius: 50%;
         display: flex;
         @include align-items(center);
         @include justify-content(center);
         .icon-arrows {
            @include svg-image-full-path($icon-path, $icon-transfer, 32px, 32px);
         }
      }
   }
   .title {
      font-family: $font-markpro-medium;
      font-size: $section-title-size;
      font-weight: 500;
      text-align: center;
      color: $text-color-secondary;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0;
   }
   .description {
      font-family: $font-markpro;
      text-align: center;
      line-height: 1.5;
      padding-top: 10px;
      letter-spacing: 0;
   }
   .info-text {
      margin: 30px 0px 116px;
      padding: 20px 15px;
      .text {
         line-height: 1.5;
         .text-process-info {
            margin-bottom: 10px;
         }
      }
   }
   .btn-proceed {
      bottom: 20px;
      position: absolute;
      width: 100%;
   }
}

@media (min-width: $media-sm) {
   .transfer-now-section {
      width: 400px;
      margin: auto;
      .icon-transfer {
         padding-top: 61px;
      }
      .description {
         padding-top: 14px;
      }
   }
}
