@import '../../../styles/_mixins.scss';
@import '../../../styles/_base.scss';
$svg-path: '../../../assets/svg';
$input-max-width: 400px;
$avatar-size: 60px;
$avatar-readonly-size: 60px;
$avatar-margin: 20px;
$avatar-margin-lg: 45px;
$icon-buy: 'BuyGreen';
$icon-pay: 'PayIcon-green';
$icon-tick: 'tickStatus';
$icon-close: 'close-light-gray';
$icon-close-red: 'close-red';
$icon-contact: 'contact';
$icon-email: 'email';
$icon-fax: 'fax';
.margin-schedule {
    margin-bottom: 20px;
}

.gd-form {
    hr {
        border-top: 1px solid $divider-primary;
    }
    .margin-top-bottom {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .gd-form-row {
        &.add-item-row {
            margin-bottom: 5px;
        }
        .label-value {
            color: $text-color-secondary;
            font-size: $status-size;
        }
        &.reference-row {
            width: 100%;
            display: inline-block;
        }
        .padding-right-0 {
            padding-right: 0px;
        }
        .gd-sm-label {
            color: $text-color-info;
        }
        input,
        .gd-basic-dropdown {
            max-width: $input-max-width;
        }
        &.name-row {
            .name-input-ctr {
                margin: 0;
                input {
                    max-width: calc( #{$input-max-width} - #{$avatar-size + $avatar-margin});
                }
            }
        }
    }
}

form {
    padding: 15px 20px;
    .user-avatar {
        width: $avatar-size;
        height: $avatar-size;
        text-align: center;
        background-color: $user-pic-bg;
        font-size: $xlg-descrp-size;
        @include border-radius(50%);
        padding: 5px;
        margin-right: $avatar-margin;
        display: table;
        a {
            display: table-cell;
            color: $text-color-secondary;
            vertical-align: middle;
        }
        &.readonly {
            width: $avatar-readonly-size;
            height: $avatar-readonly-size;
        }
    }
    .gd-lg-label {
        color: $text-color-secondary;
        @include markpro-medium();
        font-size: $font-md;
    }
    .gd-sm-label {
        color: $text-color-primary;
        @include markpro-medium();
        font-size: $font-sm;
    }
    .name-row {
        @include flexbox();
        @include align-items(center);
        .name-input-ctr,
        .section-title {
            @include flex(1);
            margin: 0;
            font-size: $md-heading-size!important;
        }
        .delete-recipient {
            display: none;
            .gd-ghost-btn {
                color: $text-color-error;
            }
        }
    }
    .delete-recipient-mob {
        display: block;
        padding: 10px 0;
    }
    .edit-recipient-mob {
        display: block;
    }
    .edit-recipient {
        display: none;
    }
}

.icon-del {
    @include svg-image-full-path($svg-path, 'Trash', 30px, 30px);
}

.icon-add {
    @include svg-image-full-path($svg-path, 'add-small', 20px, 20px);
    display: inline-block;
    margin-right: 10px;
}

.add-item-row {
    font-size: $font-sm;
    button {
        padding: 0;
        border: 0;
        background-color: transparent;
        outline: none;
    }
    .icon {
        top: 5px;
    }
}

.btn-cntr {
    max-width: $input-max-width;
    margin-top: 30px;
}

.logo1 {
    @include svg-image-full-path($default-svg-image-path, 'Notification-warning-error', 100%, 100%);
}

.cross {
    @include svg-image-full-path($default-svg-image-path, 'close-gray', 100%, 100%);
}

.error-block-success {
    margin-bottom: 10px;
    color: $text-color-message-block;
    height: 80px;
    background-color: $color-success-bg;
    @include flexbox();
    @include align-items(center);
    padding: 10px;
    .error-message {
        margin: 0 20px;
        @include flex(1);
    }
    .icon-container {
        .img-step-tick {
            display: inline-block;
            @include svg-image($icon-tick, 24px, 18.9px);
            margin-left: 10px;
            margin-top: 5px;
        }
        .img-step-close {
            cursor: pointer;
            display: inline-block;
            @include svg-image($icon-close, 24px, 18.9px);
            margin-left: 10px;
            margin-top: 5px;
        }
    }
}

.error-block-failure {
    margin-bottom: 10px;
    color: $text-color-message-block;
    height: 80px;
    @include flexbox();
    @include align-items(center);
    background-color: $color-error-bg;
    .error-message {
        margin-left: 5px;
        font-size: $font-xsm;
        @include flex(1);
    }
    .icon-container {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0px 10px 0px 30px;
        .img-step-close-red {
            display: inline-block;
            @include svg-image($icon-close-red, 24px, 18.9px);
        }
        .img-step-close {
            cursor: pointer;
            display: inline-block;
            margin-left: -10px;
            @include svg-image($icon-close, 18px, 18px);
        }
    }
}

.disabled {
    pointer-events: none;
}

.empty-details {
    position: absolute;
    left: 50%;
    top: 50%;
    @include translate(-50%, -50%);
    font-size: $lg-heading-size;
    color: $text-color-info;
    text-align: center;
    padding: 20px;
}

.contact-details-row{
    
}
.text-with-icon{
    @include flexbox();
    @include align-items(center);
    margin-bottom: 10px;
    .icon{
        width: 20px;
        margin-right: 15px;
        &.contact{
            @include svg-image($icon-contact);
        }
        &.email{
            @include svg-image($icon-email);
        }
        &.fax{
            @include svg-image($icon-fax);
        }
    }
    .text{
        @include flex(1);

    }
}

@media (min-width: $media-sm) {
    form {
        .name-row {
            .delete-recipient {
                display: block;
            }
            .section-title {
                font-size: $para-title-size!important;
            }
        }
        .delete-recipient-mob {
            display: none;
        }
        .edit-recipient-mob {
            display: none;
        }
        .edit-recipient {
            display: block;
        }
        .btn-cntr {
            margin-top: 60px;
        }
    }
    .gd-form {
        .gd-form-row {
            .gd-sm-label {
                color: $text-color-primary;
            }
            .label-value {
                color: $text-color-secondary;
            }
        }
    }
    .error-block-failure {
        .error-message {
            font-size: $label-size;
        }
    }
}

@media (min-width:$media-md) {
    form {
        .user-avatar {
            margin-right: $avatar-margin-lg;
        }
        .name-row {
            .section-title {
                font-size: $md-heading-size!important;
            }
        }
    }
}

@media (min-width: $media-lg) {
    .user-pic-container {
        width: 77px;
        height: 77px;
        background-color: $user-pic-bg;
        border: 3px solid $user-pic-border;
        font-size: $label-size;
        border-radius: 40px;
        padding: 24px 0;
        .user {
            font-size: $font-default;
        }
    }
    .error-block-failure {
        .error-message {
            font-size: $font-default;
        }
    }
}

:host::ng-deep {
    .pay-icon {
        @include svg-image($icon-pay, 100%, 100%);
    }
    .buy-icon {
        @include svg-image($icon-buy, 100%, 100%);
    }
    .edit {
        line-height: 20px;
    }
    .go-to-section {
        position: relative;
        .gotobuttonHover{
         padding-top: 10px;
         padding-left: 10px;
         border-radius: 0.25rem; 
         &:hover{
            background: $ghost-btn-bg-hover;
            border-color: $ghost-btn-border-hover;
         }
        }
        .gotobutton {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 8px;
            vertical-align: middle;
            border-radius: 0.25rem;            
            .pay-redirect {
                margin-right: 10px;
                float: right;
                margin-left: 25px;
                margin-top: -4px;
                border-radius: 0.25rem; 
                padding: 10px;
                padding-top: 13px;
                &:hover{
                  background: $ghost-btn-bg-hover;
                  border-color: $ghost-btn-border-hover;
               }
            }
            .buy-prepaid{
               margin-top: -5px;
               display: inline-block;
               padding:10px;
               margin-right: -10px;
               border-radius: 0.25rem; 
               &:hover{
                  background: $ghost-btn-bg-hover;
                  border-color: $ghost-btn-border-hover;
               }
            }
            .icon {
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                position: relative;
            }
            .text {
                vertical-align: middle;
                display: inline-block;
                font-size: $font-sm;
                margin-top: -5px;
                color: $text-color-accent-secondary;
                padding-left: 5px;
            }
            .gd-ghost-btn{
               width:54%;
               height: 26px;
               padding-left: 4px;
               background: transparent;
               font-weight: normal;
               font-size: $label-size;
               &:hover{
                  background: transparent;
                  border-color: transparent;
                  box-shadow: none;
               }
            }
        }
    }
    @media (min-width:$media-sm) {
        .go-to-section {
            .gotobutton {
               right: 8px;
               padding-left: 10px;
               top: -10px;
            }
        }
    }
    @media (min-width:$media-lg) {
        .go-to-section {
            .gotobutton {
               right: 0;
               padding: 10px 0;
               padding-left: 10px;
               top: -10px;
            }
        }
    }
}
