<app-small-overlay [template]="unsaveOvelayTemplate" alternate='true' *ngIf="isVisible" id="brwsr-bck-overlay">
   <ng-template #unsaveOvelayTemplate>
      <span class="overlay-cross" (click)="close(false)"></span>
      <div class="template-content">
         <div class="logo-cntnr">
            <span class="logoLogout"></span>
         </div>
         <div class="overlay-title">{{labels.title}}</div>
         <div class="overlay-text">{{labels.text}}</div>
         <div class="btns">
            <div class="cancel-button">
               <app-bottom-button id="bck-ovrlay-cancel" (clickEmitter)="close(true)" [disableButton]='false' [text]='labels.cancelbutton'></app-bottom-button>
            </div>
            <div class="ok-button">
               <app-bottom-button id="bck-ovrlay-ok" (clickEmitter)="close(false)" [disableButton]='false' alternateTheme='true' [text]='labels.okbutton'></app-bottom-button>
            </div>
         </div>
      </div>
   </ng-template>
</app-small-overlay>