<div>
    <label class="gd-sm-label active">{{title}}</label>
    <div id="{{ getID() }}" class="gd-dropdown" tabindex="0" *ngIf="accounts?.length > 1" [class.disabled]="isDisabled(selectedAccount)" dropdown>
        <div class="discrp-block" [ngClass]="getStyle(selectedAccount?.accountType)" dropdownToggle dropdown-open>
            <div class="fields">
                <div class="field">
                    <h6 class="left para-title account-para-weight">{{ selectedAccount?.nickname }}</h6>
                    <div class="right" [class.avilable-para-title]="!(isAccountZero(selectedAccount) || insufficientFunds)" [class.gd-error]="isAccountZero(selectedAccount) || insufficientFunds"> {{(isAccountZero(selectedAccount) || insufficientFunds) ? accountStatusLabel.insufficient : accountStatusLabel.available}}</div>
                </div>
                <div class="field">
                    <div class="left">{{ selectedAccount?.accountNumber }}</div>
                    <div class="right" *ngIf="selectedAccount?.accountType != rewardsAccountType" [class.gd-error]="insufficientFunds || isAccountZero(selectedAccount)">{{selectedAccount?.availableBalance | amountTransform: amountPipeConfig }}</div>
                    <div class="right" *ngIf="selectedAccount?.accountType == rewardsAccountType" [class.gd-error]="insufficientFunds || isAccountZero(selectedAccount)">{{selectedAccount?.availableBalance | amountTransform: amountPipeConfigRewards : selectedAccount.rewardsProgram }}</div>
                </div>
            </div>
            <div *ngIf="accounts?.length > 1" class="icon-field" id="account-list-arrow">
                <span class="icon toggle-icon down"></span>
            </div>
        </div>
        <ul *dropdownMenu class="dropdown-menu">
            <li *ngFor="let account of accounts;" [class.disabled]="isDisabled(account)" [ngClass]="getStyle(account.accountType)" class="dropdown-item discrp-block" [class.active]="account.accountNumber === selectedAccount.accountNumber" (click)="onAccountSelect(account)">
                <div class="fields">
                    <div class="field">
                        <h6 class="left para-title">{{ account?.nickname }}</h6>
                        <div class="right" [class.available-title]="!isAccountZero(account)" [class.gd-error]="isAccountZero(account)"> {{isAccountZero(account) ?  accountStatusLabel.insufficient : accountStatusLabel.available}}</div>
                    </div>
                    <div class="field">
                        <div class="left" x-ms-format-detection="none">{{ account?.accountNumber }}</div>
                        <div class="right" *ngIf="account?.accountType != rewardsAccountType" [class.gd-error]="isAccountZero(account)">{{account?.availableBalance | amountTransform: amountPipeConfig }}</div>
                        <div class="right" *ngIf="account?.accountType == rewardsAccountType" [class.gd-error]="isAccountZero(account)">{{account?.availableBalance | amountTransform: amountPipeConfigRewards : account.rewardsProgram}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="gd-dropdown one-account" tabindex="0" *ngIf="accounts?.length <= 1" [class.disabled]="isDisabled(selectedAccount)">
        <div class="discrp-block" [ngClass]="getStyle(selectedAccount?.accountType)" dropdownToggle dropdown-open>
            <div class="fields">
                <div class="field">
                    <h6 class="left para-title">{{ selectedAccount?.nickname }}</h6>
                    <div class="right" [class.gd-error]="insufficientFunds || isAccountZero(selectedAccount)"> {{(isAccountZero(selectedAccount) || insufficientFunds) ?  accountStatusLabel.insufficient : accountStatusLabel.available}}</div>
                </div>
                <div class="field">
                    <div class="left" x-ms-format-detection="none">{{ selectedAccount?.accountNumber }}</div>
                    <div class="right" *ngIf="selectedAccount?.accountType != rewardsAccountType" [class.gd-error]="insufficientFunds || isAccountZero(selectedAccount)">{{selectedAccount?.availableBalance | amountTransform: amountPipeConfig }}</div>
                    <div class="right" *ngIf="selectedAccount?.accountType == rewardsAccountType" [class.gd-error]="insufficientFunds || isAccountZero(selectedAccount)">{{selectedAccount?.availableBalance | amountTransform: amountPipeConfigRewards : selectedAccount.rewardsProgram }}</div>
                </div>
            </div>
            <div *ngIf="accounts?.length > 1" class="icon">
                <span class="glyphicon glyphicon-triangle-bottom toggle-icon"></span>
            </div>
        </div>
    </div>
</div>