@import './../../styles/_mixins.scss';
@import './../../styles/_base.scss';
$svg-path: './../../assets/svg';
$icon-arrow: 'settingsMob';
$feedback-bg: $body-bg;
$icon-querygrey: 'Querygrey';
$icon-complaintgrey: 'Complaintgrey';
$icon-complimentgrey: 'Complimentgrey';
$icon-query: 'QuerySuggestion';
$icon-complaint: 'Complaint';
$icon-compliment: 'Compliment';
$icon-contact: '24_contact';
$icon-contact-blank: 'contact-blank';
$icon-success: 'tick';
$icon-cross: 'closeStatus';
$icon-close-gray: 'close-gray';
$card-padding: 15px;
.blocks {
   .block {
      margin-bottom: 30px;
   }
}

.feedback-wrapper {
   background-color: $feedback-bg;
   padding: 20px 0;
   @include main-content();
   textarea.feedback-box {
      padding: 15px;
   }
   .top-heading {
      width: 100%;
      font-size: $font-lg;
      font-weight: bold;
      padding: 15px 0 0 15px;
      text-align: left;
      color: $text-color-secondary;
   }
   .sub-heading {
      font-size: $font-lg;
      font-weight: $weight-medium;
      color: $text-color-secondary;
   }
   .card {
      margin-top: 10px;
      padding: $card-padding;
      min-height: 300px;
      background: $container-bg;
   }
   .contact {
      label {
         font-size: $font-sm;
         color: $text-color-primary;
         font-weight: normal;
      }
      .content {
         margin-top: 25px;
         .right a:focus {
            text-decoration: none;
         }
         ul {
            list-style-type: none;
            li {
               margin: 25px 0;
               display: flex;
            }
         }
         .left {
            width: 40px;
            height: 40px;
            float: left;
            .icon {
               margin-right: 20px;
               @include svg-image-full-path($svg-path, $icon-arrow, 22.8px, 22.8px);
               display: block;
               &.contact {
                  @include svg-image-full-path($svg-path, $icon-contact);
               }
               &.number {
                  @include svg-image-full-path($svg-path, $icon-contact-blank);
                  content: '* ';
                  height: 100%;
                  display: block;
               }
            }
         }
         .right {
            width: calc(100% - 40px);
            height: 40px;
            float: left;
         }
         .number {
            font-size: $font-default;
            color: $text-color-accent-secondary;
         }
         .location {
            font-size: $font-sm;
            color: $text-color-info;
         }
         .email {
            font-size: $font-default;
            color: $text-color-accent-secondary;
            word-break: break-all;
         }
      }
      .line {
         width: 90%;
         margin: auto;
         border-bottom: solid 1px;
         border-color: $divider-primary;
      }
      .margin-top {
         margin-top: 30px;
      }
   }
   .error-msg {
      color: $text-color-error;
      font-size: $font-sm;
      margin: 5px 0 0;
      position: relative;
      padding-left: 10px;
      &::before {
         content: '* ';
         position: absolute;
         left: 0;
      }
   }
}

.cellphone-container {
   position: relative;
}

.readonly {
   cursor: pointer;
}

.input-type-div {
   position: absolute;
   top: 0;
   left: 0;
}

.feedback-container {
   text-align: center;
}

.btn-cntnr {
   text-align: right;
}

.link {
   color: $text-color-link;
   cursor: pointer;
}

.icon-field {
   position: relative;
   padding-right: 10px;
   width: 36px;
   height: 36px;
   display: inline-block;
   vertical-align: middle;
   .icon {
      width: 100%;
      left: 0px;
      top: -3px;
      cursor: pointer;
      display: inline-block;
      height: 100%;
      &.warning {
         @include svg-image-full-path($svg-path, 'Error', 36px, 36px);
      }
      &.close {
         @include svg-image-full-path($svg-path, 'close-red', 20px, 20px);
      }
   }
}

.message {
   @include flexbox();
   @include align-items(center);
   padding: 10px;
   margin: 0;
   left: 0;
   top: auto;
   right: 0;
   z-index: 99;
   &.error {
      background: $color-error-bg;
   }
   &.success {
      background: $color-success-bg;
   }
   .icon {
      width: 15px;
      height: 15px;
   }
   .try-again {
      font-size: $font-xx-sm;
      width: 50px;
      cursor: pointer;
      color: $text-color-error;
   }
   .text {
      @include flex(1);
      font-size: $font-sm;
      margin: 0 10px;
   }
   .cross {
      @include svg-image-full-path($svg-path, $icon-cross);
   }
   .success {
      @include svg-image-full-path($svg-path, $icon-success);
   }
   .close-gray {
      @include svg-image-full-path($svg-path, $icon-close-gray);
   }
}

@media (min-width: $media-sm) {
   .blocks {
      @include flexbox();
      @include align-items(flex-start);
      max-width: 970px;
      margin: 0 auto;
      padding: 0 15px;
      .block {
         @include flex(1);
         &:first-child {
            margin-right: 15px;
         }
         &:last-child {
            margin-left: 15px;
         }
      }
   }
   .feedback-wrapper {
      .card {
         display: inline-block;
         width: 100%;
         min-height: 655px;
      }
      .top-heading {
         font-size: $font-xlg;
         padding: 17px;
         text-align: center;
         color: $text-color-secondary;
      }
      .message {
         position: static;
         left: auto;
         right: auto;
         top: 50px;
         margin: (-$card-padding) (-$card-padding) $card-padding;
         &.error {
            background: $text-color-error;
         }
         &.success {
            background: $color-success-bg;
         }
      }
   }
}
