<div *ngIf="showSuccess" class="message success">
   <div class="icon success"></div>
   <div class="text"> {{successMessage}}
      <br/>
      <span class="link" routerLink="/">Go to overview</span>
   </div>
   <div class="icon close-gray" (click)="onCloseSuccessMsg()"></div>
</div>
<div class="feedback-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <label class="top-heading">{{label.topHeading}}</label>
            <div class="blocks">
               <div class="block">
                  <div class="contact card">
                     <div class="sub-heading">{{label.contactUs}}</div>
                     <label>{{label.supportTiming}}</label>
                     <div class="content">
                        <ul>
                           <li>
                              <div class="left">
                                 <span class="icon number"></span>
                              </div>
                              <div class="right">
                                 <div class="number">{{label.SAcontactCenterNumber}}</div>
                                 <div class="location">{{label.SAcontactCenter}}</div>
                              </div>
                           </li>
                           <li>
                              <div class="left">
                                 <span class="icon number"></span>
                              </div>
                              <div class="right">
                                 <a class="number">{{label.INcontactCenterNumber}}</a>
                                 <div class="location">{{label.INcontactCenter}}</div>
                              </div>
                           </li>
                           <li>
                              <div class="left">
                                 <span class="icon number"></span>
                              </div>
                              <div class="right">
                                 <a class="number">{{label.reportFraudNumber}}</a>
                                 <div class="location">{{label.reportFraud}}</div>
                              </div>
                           </li>
                           <li>
                              <div class="left">
                                 <span class="icon number"></span>
                              </div>
                              <div class="right">
                                 <div class="number">{{label.publicHolidayNumber}}</div>
                                 <div class="location">{{label.publicHoliday}}</div>
                              </div>
                           </li>
                           <li>
                              <div class="left">
                                 <span class="icon contact"></span>
                              </div>
                              <div class="right">
                                 <a href="{{'mailto:'+label.contactEmail}}">
                                    <div class="email" ga-event-name="web_feedback_click_email_id_to_send_email">{{label.contactEmail}}</div>
                                 </a>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <app-bottom-button (clickEmitter)="showCallMeBackPopup();" [text]="label.callMeBackBtn"></app-bottom-button>
                     <div class="visible-xs">
                        <div class="margin-top" *ngIf="reportSuspiciousToggle">
                           <app-bottom-button (clickEmitter)="showFeedBackPopup(this.buttonGroup[0].value);" [text]="label.giveFeedbackBtn"></app-bottom-button>
                        </div>
                        <div class="margin-top" *ngIf="reportSuspiciousToggle">
                           <app-bottom-button (clickEmitter)="showFeedBackPopup(this.buttonGroup[1].value);" [text]="label.reportFraudBtn"></app-bottom-button>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="block hidden-xs">
                  <app-send-feedback (alertMessage)="setAlertMessage($event)" [showError]="showError" [showSuccess]="showSuccess">
                  </app-send-feedback>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<app-colored-overlay [isVisible]="showModal" [template]="callMeback" [alternate]="true" [backOption]="false" [altButtonText]="'Cancel'"
   (onHide)="hideOverlay($event);">
   <ng-template #callMeback>
      <app-call-me-back (hideOverlay)="hideOverlay($event);" (alertMessage)="setAlertMessage($event);"></app-call-me-back>
   </ng-template>
</app-colored-overlay>

<app-colored-overlay [isVisible]="showFeedbackModal" [template]="giveYourFeedback" [alternate]="true" [backOption]="false"
   [altButtonText]="'Cancel'" (onHide)="hideOverlay($event);">
   <ng-template #giveYourFeedback>
      <app-send-feedback [overlayType]="overlayType" (hideOverlay)="hideOverlay($event);" (alertMessage)="setAlertMessage($event);"></app-send-feedback>
   </ng-template>
</app-colored-overlay>
