@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';

$svg-path: './../../../assets/svg';

$icon-close: 'close-gray';
$max-container-width: 900px;
$container-padding: 50px;

.terms-component {
   height: 100%;
   background-color: $container-bg;

   .component-container {
      font-size: $font-default;
      font-family: $font-markpro;
      padding-top: $container-padding;
   }

   .terms-container {
      padding-left: $container-padding;
      padding-right: $container-padding;
      max-width: $max-container-width;
      margin: auto;
   }

   .titleDiv {
      color: $text-color-secondary;
      display: inline-block;
      vertical-align: middle;
   }

   .noticeContainer {
      text-align: left;

      .noticeTitle {
         font-size: $font-md;
         font-family: $font-markpro-medium;
         font-weight: normal;
      }

      .noticeContent {
         font-size: $font-default;
         margin-top: 1.5em;
         padding-bottom: 0.5em;
      }

      .notice-version {
         clear: both;
      }

      a, a:hover, a:active, a:visited {
         text-decoration: none;
         font-size: $font-default;
         font-family: $font-markpro;
         color: $text-color-primary;
      }
      
      p {
         margin: 1em 0 1em 0;
      }
      
      table {
         background-color: transparent;
         table-layout: fixed;
         width: 100% !important;
      }
   }

   .loadingMessage {
      text-align: center
   }

   .downloadDiv {
      float: right;
   }

   .download {
      color: $text-color-link;
      cursor: pointer;
      text-decoration: none;

      .icon, .text {
         display: inline-block;
         vertical-align: middle;
      }

      .icon {
         @include svg-image('green-download', 100%, 100%);
         width: 30px;
      }
   }

   .download:hover,
   .download:active,
   .download:visited {
      color: $text-color-link;
      text-decoration: none;
   }

   .sticky {
      width: 100%;
      position: fixed;
      bottom: 0px;
      background-color: $color-opague-background;
      border-top: 1px solid $divider-primary;
      padding-top:  20px;
   }

   .half-btns {
      width: 50%;
      text-align: center;
      float: right;
   }

   hr {
      border-top: 1px solid $divider-primary;
   }

   .closeBtn {
   position: fixed;
   right: 30px;
   top: 30px;
   z-index: 1011;
   }

   .closeIcon {
      @include svg-image-full-path($svg-path, $icon-close);
      cursor: pointer;
      width: 20px;
      height: 20px;
   }

   @media (max-width: $media-sm) {
      .component-container {
         font-size: $font-default;
         font-family: $font-markpro;
         padding-top: 25px;
      }
      
      .terms-container {
         padding-left: 25px;
         padding-right: 25px;
      }

      .downloadDiv {
         float: none;
         display: block;
         margin-top: 10px;
      }

      .displayInline {
         display: block;
      }

      .half-btns {
         width: 100%;
      }

      .closeBtn {
         top: 15px;
         right: 15px;
      }

      .closeIcon {
         width: 15px;
         height: 15px;
      }
   }

   @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
      .noticeTitle {
         font-weight: bold !important;
      } 
   } 
}
