@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';


$svg-path: './../../../../assets/svg';
$search-block-height: 175px;
$search-recipients-width: 375px;
$search-recipients-bg: $container-bg;
$search-block-bg: $highlight-bg;
$tabs-list-bg: $bg-tabs-list;
$search-block-vertical-pad: 25px;
$search-input-bg: $body-bg;
$search-input-border-radius: 2px;
$search-input-border: $form-element-border;
$alphabet-color: $text-color-info;
$alphabet-dark-color: $text-color-secondary;
$list-label-bg: $body-bg;
$recipients-list-border: $highlight-bg;
$list-title-color: $text-color-secondary;
$list-color: $text-color-primary;
$linked-cards-bg: $body-bg;
$icon-add-recipient: "Recipient-book";
$tab-content-margin-top: 20px;


.search-recipients {
    max-width: $search-recipients-width;
    width: 100%;
    position: fixed;
    top: $header-height-mob;
    left: 0;
    height: calc( 100vh - #{$header-height-mob});
    @include translate(-100%, 0);
    @include transition(transform 300ms ease-out);
    background: $search-recipients-bg;
    z-index: 999;
    .no-data {
        display: block;
        .add-recipient-icon {
            margin-top: 60px;
            @include svg-image-full-path($svg-path, $icon-add-recipient, 50px, 50px);
            float: left;
            left: calc(50% - 18px);
        }
        .no-recipients-message {
            margin-top: 20px;
            font-size: $status-size;
            line-height: 1.6;
            text-align: center;
        }
        .no-recipients-helper-text {
            margin: 20px 0 30px;
            line-height: 1.31;
            text-align: center;
            font-size: $font-sm;
        }
        .btns {
            text-align: center;
            button {
                max-width: 300px;
                display: inline-block;
            }
        }
        &.try-again {
            .btns {
                text-align: center;
                display: block;
                button {
                    max-width: 300px;
                    display: inline-block;
                }
            }
            .no-recipients-helper-text {
                margin: 30px 0;
            }
            .green-spinner {
                margin-top: 30px;
                .g-spinner {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background: none;
                    border: 2px solid $color-spinner-primary;
                    border-bottom-color: transparent;
                    @include border-radius(50%);
                    &.active {
                        animation: spinner 1000ms linear infinite;
                    }
                }
            }
        }
        &.no-search-data {
            .no-search-recipient-data {
                @include svg-image-full-path($svg-path, 'no-search-data', 50px, 50px);
            }
        }
    }
    &.active {
        @include translate(0, 0);
        @include box-shadow(0 0 30px rgba(74, 74, 74, 1));
    }
    .search-block {
        padding: $search-block-vertical-pad 20px;
        background: $search-block-bg;
        border-right: 1px solid $search-block-bg;
        .head {
            @include flexbox();
            @include align-items(center);
            .para-title {
                @include flex(1);
                margin: 0;
            }
            .icon {
                @include svg-image-full-path($svg-path, 'close-gray');
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
        .search-field {
            position: relative;
            margin-top: 20px;
            input {
                @include border-radius($search-input-border-radius);
                background-color: $search-input-bg;
                border-width: 1px;
                @include multi-box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12));
                border-color: $search-input-border;
                &:focus {
                    border-color: $search-input-border !important;
                }
            }
        }
        .tabs {
            margin-top: 20px;
            ul {
                list-style: none;
                @include flexbox();
                @include align-items(center);
                li {
                    position: relative;
                    color: $text-color-primary;
                    font-weight: normal;
                    font-size: $label-size;
                    cursor: pointer;
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.active {
                        font-weight: bold;
                        &::after {
                            content: '';
                            position: absolute;
                            display: inline-block;
                            border-bottom: 8px solid $search-recipients-bg;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            top: 100%;
                            left: 50%;
                            margin: ($search-block-vertical-pad - 8px) 0 0 -4px;
                        }
                    }
                }
            }
        }
    }
    .tabs-content {
        height: calc( 100% - #{$search-block-height + $tab-content-margin-top});
        padding: 0 0 10px;
        margin-top: $tab-content-margin-top;
        overflow: hidden;
        overflow-y: auto;
        @extend .clearfix;
        .recipients-list {
            min-height: $alphabets-list-height;
            float: left;
            width: calc( 100% - 20px);
            .list-block {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
                &.recent-recipients-list {
                    .label-title {
                        font-weight: bold;
                        background: none;
                        font-size: $base-size;
                        color: $text-color-secondary;
                    }
                }
                .label-title {
                    line-height: 30px;
                    background: $list-label-bg;
                    padding: 0 20px;
                    font-size: $font-sm;
                    margin: 0;
                    border-top: 1px solid $recipients-list-border;
                }
                .list {
                    padding: 0px;
                    margin: 0;
                    list-style: none;
                    >li {
                        border-top: 1px solid $recipients-list-border;
                        &.multi-cards {
                            border-bottom: none;
                            &.clicked {
                              border-top: 1px solid $recipients-list-border;
                            }
                        }
                        color: $list-color;
                        .card {
                            cursor: pointer;
                            padding: 20px 0 20px 10px;
                            @include flexbox();
                            &:hover, &.active {
                                background: $linked-cards-bg;
                            }
                        }
                        .card-info {
                            @include flex(1);
                            .title {
                                margin: 0;
                                padding: 0;
                                font-size: $status-size;
                                color: $list-title-color;
                                line-height: 1.3;
                            }
                            .account-type {
                                font-size: $font-sm;
                                margin-bottom: 5px;
                            }
                            .last-paid {
                                font-size: $font-xsm;
                            }
                        }
                        .icons {
                            ul {
                                list-style: none;
                                @include flexbox();
                                @include align-items(center);
                                li {
                                    width: 20px;
                                    margin-right: 6px;
                                    &.bankAccount {
                                        @include svg-image-full-path($svg-path, 'icon-recipient-account');
                                    }
                                    &.mobile {
                                        @include svg-image-full-path($svg-path, 'mobile');
                                        width: 14px;
                                    }
                                    &.electricity {
                                        @include svg-image-full-path($svg-path, 'electricity');
                                        width: 22px;
                                    }
                                    &.creditCard {
                                        @include svg-image-full-path($svg-path, 'bank-account-list');
                                    }
                                }
                            }
                        }
                        &.multi-cards {
                            &.clicked {
                                .cards-descrp {
                                    display: block;
                                }
                            }
                            .cards-descrp {
                                display: none;
                                .linked-cards {
                                    list-style: none;
                                    margin: 0;
                                    padding: 10px;
                                    background: $linked-cards-bg;
                                    li {
                                        @include flexbox();
                                        @include align-items(center);
                                        padding: 10px;
                                        cursor: pointer;
                                        .icon {
                                            width: 20px;
                                            margin-right: 15px;
                                            text-align: center;
                                            &.bankAccount {
                                                @include svg-image-full-path($svg-path, 'icon-recipient-account');
                                            }
                                            &.mobile {
                                                @include svg-image-full-path($svg-path, 'mobile');
                                            }
                                            &.electricity {
                                                @include svg-image-full-path($svg-path, 'electricity');
                                            }
                                            &.creditCard {
                                                @include svg-image-full-path($svg-path, 'bank-account-list');
                                            }
                                        }
                                        .info {
                                            @include flex(1);
                                            .type {
                                                font-size: $font-sm;
                                                line-height: 1.5;
                                            }
                                            .details {
                                                font-size: $font-xsm;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.no-recipient-list{
                min-height: auto;
            }
        }
        .alphabets-list {
            padding: 0 5px;
            text-align: center;
            width: 20px;
            float: right;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    font-size: $font-xx-sm;
                    line-height: 2.5;
                    cursor: pointer;
                    color: $text-color-secondary;
                    &.disabled {
                        pointer-events: none;
                        color: $alphabet-color;
                    }
                }
            }
            &.fixed {
                width: 20px;
                position: absolute;
                right: 0;
                overflow: hidden;
                margin-right: 20px;
            }
            &.bottom {
                bottom: 0;
                ul {
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
    &.on-page {
        max-width: none;
        width: 100%;
        position: static;
        top: auto;
        left: auto;
        height: 100%;
        @include translate(0, 0);
        @include transition(transform 300ms ease-out);
        .search-block {
            padding: 0;
            background: none;
            border-right: none;
            height: $search-recipients-height;
            .search-field {
                position: relative;
                margin-top: 0;
                input {
                    @include box-shadow(none);
                    background: $form-element-bg;
                    padding: 0 40px 0 15px;
                    border-width: 2px;
                }
                .icon {
                    right: 12px;
                }
            }
            .tabs {
                margin-top: 20px;
                ul {
                    background: $tabs-list-bg;
                    li {
                        @include flex(1);
                        text-align: center;
                        padding: 23px 5px;
                        margin: 0;
                        &.active {
                            &::after {
                                margin: -8px 0 0 -4px;
                            }
                        }
                    }
                }
            }
        }
        .tabs-content {
            height: calc( 100% - #{$search-recipients-height + $tab-content-margin-top});
        }
    }
}

@media (min-width: $media-sm) {
    .search-recipients {
        height: calc( 100vh - #{$header-height});
        top: $header-height;
        .tabs-content {
         .recipients-list {
            .list{
               .card{
                  @include flexbox();
                  @include align-items(flex-start);
               }
         }
         .no-data{
             padding: 20px;
         }
         }
      }
      &.on-page{
          .tabs-content{
            width: 100%;
          }
      }
    }
}
