<div class="formInput">
   <form #nedIdLoginForm="ngForm" class="gd-form">
      <div class="gd-form-row">
         <h4 class="section-title darkText">Great, let's log you in using your Nedbank ID details.</h4>
      </div>
      <app-message-alert [showAlert]="loginError != ''" [displayMessageText]="loginError" [linkDisplayText]="errorLinkText"
         [action]="alertAction" [alertType]="alertType" (onAlertLinkEmit)="onAlertLinkSelected($event)"></app-message-alert>
      <div class="gd-form-row">
         <div>Your Nedbank ID username is:</div>
         <div class="boldText userText">{{vm.username}}</div>
      </div>
      <div class="gd-form-row">
         <label for="password" class="active gd-sm-label">Enter Nedbank ID password</label>
         <div class="password-Container">
            <div class="eye-container">
               <input id="password" name="password" autocomplete="off" [disabled]="showLoader" #input #password="ngModel" [type]="getPasswordField(isPasswordView)"
                  class="validate form-element passwordInput" [(ngModel)]="vm.password" (ngModelChange)="onInputChanged($event)"
                  appValidateInput />
               <span class="eye-img" #toggler>
            <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isPasswordView"></i>
          </span>
            </div>
         </div>
         <ng-container *ngIf="password.invalid && (password.dirty || password.touched);else noPasswordValidationError">
            <div class="error-msg">
               <ng-container *ngIf="password.errors.required;else patternCheck">
                  {{messages.passwordMandatory}}
               </ng-container>
               <ng-template #patternCheck>
                  <ng-container *ngIf="password.errors.pattern;else lengthCheck">
                     <span>{{messages.passwordValidationText}}</span>
                  </ng-container>
               </ng-template>
               <ng-template #lengthCheck>
                  <ng-container *ngIf="password.hasError('minlength') || password.hasError('maxlength');else defaultError">
                     <span>{{messages.passwordValidationText}}</span>
                  </ng-container>
               </ng-template>
               <ng-template #defaultError>
                  <span>{{messages.passwordValidationText}}</span>
               </ng-template>
            </div>
         </ng-container>
         <ng-template #noPasswordValidationError>
            <span class="helpText">{{messages.passwordHelpText}}</span>
         </ng-template>
      </div>
      <div class="gd-form-row">
         <a href="javascript:void(0)" class="link-text" (click)="navigateForgotPassword($event)" (touchstart)="navigateForgotPassword($event)">Forgot your password?</a>
      </div>
      <div class="gd-form-row">
         <app-bottom-button [text]="'Log in'" [disableButton]='!this.isFormValid' (clickEmitter)="onLogon($event)" [showLoader]='showLoader'>Log in</app-bottom-button>
      </div>
   </form>
</div>