<app-colored-overlay [template]="isSettlementQuoteTemplate ? settlementQuoteTemplate : (isSuccessPage ? successPageTemplate : errorPageTemplate)"
   [alternate]="true" [isVisible]="isOverlay" [altButtonText]="btnTxt" (onHide)="closeOverlay()">
   <ng-template #settlementQuoteTemplate>
      <div class="quote-container col-xs-12 col-sm-6">
         <div id="div-title-section" class="info-container">
            <h4 id="lbl-title" class="section-title">{{labels.title}}</h4>
            <h4 id="lbl-sub-title" class="section-sub-title">{{labels.subTitle}}</h4>
         </div>
         <div class="input-container">
            <form id="form-add-recipients" class="gd-form" #settlementQuoteForm="ngForm">
               <div class="gd-form-row input-email-container">
                  <label id="lbl-email" class="gd-sm-label" for="email">{{labels.enterEmail}}</label>
                  <div class="field-with-icon">
                     <div class="field-block">
                        <input id="val-email" name="recipientEmailField" type="text" autocomplete="off" [placeholder]="placeHolder" required appValidateOnblur [pattern]="emailPattern"
                           class="validate input-email" #recipientEmailField="ngModel" [(ngModel)]="recipientEmail" (ngModelChange)="onEmailChange(recipientEmail)">
                     </div>
                  </div>
                  <div *ngIf="recipientEmailField.dirty || recipientEmailField.touched" class="text-danger">
                     <div *ngIf="!isValidEmail">
                        {{messages.invalidEmail}}
                     </div>
                  </div>
               </div>
               <div id="btn-send" class="gd-form-row">
                  <app-bottom-button [text]="labels.send" [showLoader]="requestInProgress" [disableButton]="!isValidEmail || requestInProgress || !settlementQuoteForm.valid"
                     [class.btn-disabled]="!isValidEmail || requestInProgress || !settlementQuoteForm.valid" (clickEmitter)="send($event)"></app-bottom-button>
               </div>
            </form>
         </div>
      </div>
   </ng-template>
   <ng-template #successPageTemplate>
      <div id="row-success" class="row header-row">
         <div id="block-status" class="status-block">
            <div id="icon-and-text-success" class="status-icon-text">
               <div id="icon-success" class="col-xs-1 col-sm-1 icon-field no-padding">
                  <div class="icon success"></div>
               </div>
               <div id="title-success" class="col-xs-11 col-sm-11 title success">
                  {{messages.success}}
               </div>
            </div>
            <div id="info-success" class="status-info-block">
               <h5 id="msg-success" class="status-info-msg">{{labels.successInfo}}</h5>
               <div id="list-recipients" class="recipients-list">
                  <p id="lbl-recipient" class="recipient-lbl">{{labels.recipient}}</p>
                  <span class="recipient-email">{{recipientEmail}}</span>
               </div>
            </div>
         </div>
      </div>
   </ng-template>
   <ng-template #errorPageTemplate>
      <div id="row-error" class="row header-row">
         <div id="block-error" class="status-block">
            <div id="icon-and-text-error" class="status-icon-text">
               <div id="icon-error" class="col-xs-1 col-sm-1 icon-field no-padding">
                  <div class="icon error"></div>
               </div>
               <div id="icon-error" class="col-xs-11 col-sm-11 title error" id="title-error">
                  {{isHLSettlementQuote ? messages.HL.error: messages.error}}
               </div>
            </div>
            <div id="info-error" class="status-info-block">
               <h5 id="msg-error" class="status-info-msg">{{isHLSettlementQuote ? labels.HL.errorInfo : labels.errorInfo}}</h5>
            </div>
            <div id="btn-send" class="btn-try-again">
               <app-bottom-button [text]="retryBtnText" [showLoader]="requestInProgress" [class.btn-disabled]="requestInProgress || retryLimitExceeded"
                  (click)="onRetryQuote()">
               </app-bottom-button>
            </div>
         </div>
      </div>
   </ng-template>
</app-colored-overlay>
