@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';
$svg-path: './../../../../assets/svg';
$icon-success: 'tick';
$icon-error: 'Error';
$icon-lock: 'lock-gray';
$icon-close: 'close-gray';
.no-padding{
   padding: 0;
}
.alert-container {
   -webkit-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
   .hidden {
      display: none;
   }
   .message {
      @include flexbox();
      @include align-items(center);
      padding: 15px;
      z-index: 99;
      &.error {
         background: $color-error-bg;
         .linkText {
            color: $text-color-error;
            cursor: pointer;
         }
      }
      &.lock {
         background: $color-error-bg;
         .linkText {
            color: $text-color-error;
            cursor: pointer;
         }
      }
      &.success {
         background: $color-success-bg;
         .linkText {
            color: $text-color-success;
         }
      }
      .icon {
         width: 15px;
         height: 15px;
      }
      .text {
         @include flex(1);
         color: $text-color-message-block;
         font-size: $font-sm;
         margin: 0 10px;
      }
      .errorIcon {
         @include svg-image-full-path($svg-path, $icon-error);
      }
      .lockIcon {
         @include svg-image-full-path($svg-path, $icon-lock);
      }
      .successIcon {
         @include svg-image-full-path($svg-path, $icon-success, 15px, 15px);
      }
      .closeIcon {
         @include svg-image-full-path($svg-path, $icon-close);
         cursor: pointer;
      }
   }
}
