<app-colored-overlay [template]="showErrorModal" [altButtonText]="label.close" [alternate]="true" [isVisible]="tryAgain"
   [backOption]="false" (onHide)="closeOverlay($event)">
   <ng-template #showErrorModal>
      <section id="row-technical-error" class="row header-row">
         <div id="block-error" class="status-block">
            <div id="icon-and-text-error" class="status-icon-text">
               <div id="icon-error" class="col-xs-1 col-sm-1 icon-field no-padding">
                  <div class="icon error"></div>
               </div>
               <div id="icon-error" class="col-xs-11 col-sm-11 title error" id="title-error">
                  {{label.errorHeader}}
               </div>
            </div>
            <div id="info-error" class="status-info-block">
               <span id="msg-error" class="status-info-msg">{{label.errorInfo}}</span>
            </div>
            <div id="btn-send" class="btn-try-again">
               <app-bottom-button [showLoader]="showLoader" [disableButton]="showLoader || numberOfAttempts === 2" (clickEmitter)="sendSuspiciousReport(); sendEvent(GAEvent.reportSubmitted, GALabel.reportSubmitted, null, GACategory);"
                  [text]="label.tryAgain"></app-bottom-button>
            </div>
         </div>
      </section>
   </ng-template>
</app-colored-overlay>
