@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';


$icon-path: '../../../../assets/svg/';
$horizontal-bg: $highlight-dark-bg;
$headerSuccess:#009639;


.tryAgain{
      padding-left: 43px;
      color:$color-bloodRed-d3;
      cursor: pointer;
}
.tempLimit{
      min-height: 1000px;
}
.header-message{
      font-family: $font-markpro;
      margin:0px 0px 0px 12px;
}
.limit-widget {
   float: left;
   margin: 10px 0;
   width: 100%;
   background-color: $container-bg;
   .margin-bottom-30{
      margin-bottom: 30px;
   }
   .horizontal-line {
      margin: 0px;
      width: 100%;
      background-color: $horizontal-bg;
      opacity: 0.31;
      height: 1px;

      &.margin-class {
         margin: 22px 0px 20px 0px;
      }
   }
   .update-message-row{
      &.message-type-icon {
         font-size: $font-default;
         font-weight: normal;
         color: $text-color-message-block;
      }

      &.success {
            .icon{
               @include svg-image-full-path($icon-path, 'tick', 20px, 20px);
               position: relative;
               display: inline-block;
            }
            .header-message{
                  color:$headerSuccess;
            }
            .close{
               @include svg-image-full-path($icon-path, 'close-gray', 16px, 16px);
               position: relative;
               margin: 3px 2px 0px 10px;
            }
      }

      &.error {            
            .icon{
                  @include svg-image-full-path($icon-path, 'Error-Red', 16px, 16px);
                  position: relative;
                  display: inline-block;
            }
            .header-message{
                  color:$color-bloodRed-d4;
            }
            .close{
               @include svg-image-full-path($icon-path, 'close-gray', 16px, 16px);
               position: relative;
               margin: 3px 2px 0px 10px;
            }
      }
   }
   .limit-header {
      margin: 0px;
      padding: 20px;
      font-size: $md-heading-size;
      font-weight: $weight-medium;
      line-height: 1;
      text-align: left;
      color: $text-color-secondary;
      position: relative;
      //ADDED
      display:inline-flex;

   }

   .widget-content {
      padding: 20px 25px;
      .limit-type-container{
         position:relative;
         .edit-link{
            text-decoration: underline;
            cursor: pointer;
            color: $text-color-link;
            font-size: $label-size;
            font-weight: bold;
            position: absolute;
            right: 0px;
            bottom: 12.5%;
      }
      }

      .temporary-section {
         margin: 40px 0 70px 0;

         .start-date-label {
            margin-bottom: 5px;
            font-size: $font-sm;
            text-align: left;
            color: $text-color-primary;
         }

         .start-date {
            font-size: $base-size;
            line-height: 1.69;
            letter-spacing: 0.2px;
            text-align: left;
            color: $text-color-primary;
         }

         .temp-limit-message {
            font-size: 13px;
            font-weight: bold;
            line-height: 1.23;
            letter-spacing: -0.3px;
            text-align: left;
            color: $text-color-secondary;
            margin-top: 0;
         }

         .end-date-section {
            margin: 40px 0;
         }
      }
   }
}
@media (max-width: $media-xs+1) {
   .limit-widget {
      .widget-content {
         .limit-type-container{
               .edit-link{
                  bottom: -3px!important;
            }
         }
      }

   }
}
:host::ng-deep {
   .limit-widget {
      .range-amount-control {
         flex-direction: column !important;

         .input-container {
            width: 100% !important;

            .amount-container {
               width: 200px;

               input {
                  margin-bottom: 0 !important;
               }
            }
         }

         .slider-container {
            margin: 0 !important;

            .slider-padding {
               padding: 50px 0 20px 0 !important;
               .noUi-connect{
                      background: $range-slider-ball-border;
               }
               .noUi-handle{
                  border-width: 4px;
                  border-color:  $range-slider-ball-border;
                  background-color: $range-slider-ball-bg;
                  position: relative;
                  &::before{
                     content: '';
                     display: block;
                     @include border-radius(50%);
                     background: none;
                     position: absolute;
                     left: -6px;
                     top: -6px;
                     right: -6px;
                     bottom: -6px;
                     border: 2px solid $container-bg;
                  }
                  &::after{
                        display: none;
                  }
               }
            }
         }
      }

      dp-date-picker > div:nth-child(2) {
         position: absolute !important;
         top: 45px !important;
      }
   }
}

@media(min-width:$media-xs){
      .message-type-icon{
            margin: 0px 0px 0px 10px;
      }
}

@media (min-width: $media-sm) {
      .message-type-icon{
            text-align: right;
            margin:0px 0px 0px 0px;
}
   .limit-success{      
      max-height: 530px;
   }
   .limit-widget {
      width: 94%;
      margin: 10px;
      min-height: 530px;
      .current-type {
         font-size: $status-size;
      }
      .update-message-row{
         .message-type-icon {
               font-size: $para-title-size;
               font-weight: normal;
         }
      }
      .limit-header {
         text-align: left;
         margin: 0px;
      }

      .widget-content {
         padding: 20px 25px;
         .edit-link{
            bottom: 14%!important;
         }
      }
   }
}

@media (min-width: $media-md) {
   .limit-success{           
      max-height: 555px;
   }   
   .limit-widget {
      width: 47%;
      min-height: 555px;

      .current-type {
         font-size: $status-size;
      }

      .limit-header {
         line-height: 0.83;
         text-align: left;
         margin: 0px;
      }
      .update-message-row{
         .success {
           .icon{
               @include svg-image-full-path($icon-path, 'tick', 13px, 13px);
               position: relative;
               margin: -7px 10px 0px 10px;
            }
         }

         .error {
           .icon{
               @include svg-image-full-path($icon-path, 'Error-Red', 13px, 13px);
               position: relative;
               margin: -7px 10px 0px 10px;
            }
         }

         .message-type-icon {
            font-size: ($font-xsm);
            font-weight: normal;
         }
      }
      .widget-content {
         padding: 20px 25px;
         &.padding-bottom-5px{
            padding-bottom: 5px;
         }
         .temporary-section {
            margin: 50px 0 133px 0;

            .end-date-section {
               margin: 50px 0;
            }
         }
      }
   }
}


@media (min-width: $media-lg) {
   .limit-widget {

      .limit-header {
         font-size: $md-heading-size;
      }
      .update-message-row{
         .success {
           .icon{
               @include svg-image-full-path($icon-path, 'tick', 18px, 18px);
               position: relative;
               margin: -7px 10px 0px 10px;
            }
         }

         .error {
            .icon{
               @include svg-image-full-path($icon-path, 'close-gray', 18px, 18px);
               position: relative;
               margin: -7px 10px 0px 10px;
            }
         }

         .message-type-icon {
            font-size: $para-title-size;
            font-weight: normal;
         }
      }
   }
}
