@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';
$white: $container-bg;
$color-parrotGreen: $tertiary-color;
.button-group {
   display: block;
   position: relative;
   padding-bottom: 50px;
}

.input-box {
   position: absolute !important;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   width: 1px;
   border: 0;
   overflow: hidden;
}

.button-group label {
   float: left;
}

.button-group label {
   display: inline-block;
   height: 50px;
   background-color: $white;
   color: $color-parrotGreen;
   text-align: center;
   text-shadow: none;
   padding: 13px 15px;
   border-top: solid 2px $color-parrotGreen;
   border-bottom: solid 2px $color-parrotGreen;
   border-left: solid 1px $color-parrotGreen;
   border-right: solid 1px $color-parrotGreen;
   @include transition(all 0.1s ease-in-out);
}

.button-group label:hover {
   cursor: pointer;
}

.button-group input:checked+label {
   background-color: $color-parrotGreen;
   color: $white;
   @include box-shadow(none);
}

.button-group input[disabled]:checked+label {
   background-color: $highlight-dark-bg;
   color: $white;
   @include box-shadow(none);
}

.button-group input:disabled+label {
   background-color: $white;
   border-color: $highlight-dark-bg;
   color: $highlight-dark-bg;
   @include box-shadow(none);
}

.first-of-type {
   border-radius: 5px 0 0 5px;
}

.last-of-type {
   border-radius: 0 5px 5px 0;
}

@media (min-width:$media-sm) {
   .button-group label {
      width: 100px;
   }
}
