<div class="account-loan-debit-orders">
   <div class="container">
      <section class="icon-field top-icon no-print">
         <a class="icon left-arrow" (click)="goToPreviousPage()"></a>
         <div class="section-heading">
            <h4 class="section-title">{{labels.sectionTitle}}</h4>
         </div>
      </section>
      <section *ngIf="showList" class="inner-container">
         <section class="row" *ngIf="infoMessage">
            <div class="row col-sm-12">
               <div class="col-xs-6 col-sm-6">
                  <div class="gd-form-row mobile-margin">
                     <div class="background-col">
                        <i class="col-xs-1 info-icon"></i>
                        <div class="col-xs-10 info">
                           {{infoMessage}}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <div class="debit-orders-row" *ngIf="loanDebitOrder">
            <h6 class="card-title" [innerHtml]="loanType === labels.mfcName ? labels.managePaymentDetails : labels.viewPaymentDetails"></h6>
            <div class="order-header row no-margin hidden-xs no-padding">
               <div class="col-sm-12 order-fields no-padding">
                  <div class="row no-margin">
                     <div class="col-sm-2">
                        <div class="order-label" [innerHtml]="labels.debitOrderDate | skeletonLoader:skeletonMode"></div>
                     </div>
                     <div class="col-sm-6">
                        <div class="order-label" [innerHtml]="labels.description | skeletonLoader:skeletonMode"></div>
                     </div>
                     <div class="col-sm-2">
                        <div class="order-label" [innerHtml]="labels.amount | skeletonLoader:skeletonMode"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="order-item row no-margin align-item" *ngFor="let loanDetails of loanDebitOrderCopy;let ind=index">
               <div class="col-xs-12 col-sm-12 order-fields">
                  <div class="row no-margin align-center" (click)="showLoanDetails(ind)">
                     <div class="col-xs-12 col-sm-2 field">
                        <div class="order-value">
                           <div [innerHtml]="loanDetails?.nextInstallmentDate | date: dateFormat | skeletonLoader:skeletonMode"></div>
                        </div>
                     </div>
                     <div class="order-value col-xs-8 col-sm-6 field">
                        <div [innerHtml]="loanType +' '+ loanDetails?.accountNumber | skeletonLoader:skeletonMode"></div>
                        <div class="order-value" *ngIf="loanDetails?.expiryDate && loanDetails.expiry!='' && !skeletonMode">
                           <span [innerHtml]="labels.expiryDate"></span>
                           <span [innerHtml]="loanDetails?.expiryDate | date: dateFormat"></span>
                        </div>
                     </div>
                     <div class="col-xs-4 col-sm-2 field amount-field">
                        <div class="order-value" [innerHtml]="loanDetails?.totalInstallment | amountTransform: amountPipeConfig | skeletonLoader:skeletonMode"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section *ngIf="showDetails" class="inner-container">
         <app-update-loan-details [loanDebitOrder]="loanDetails" [loanAccountType]="loanAccountType"></app-update-loan-details>
      </section>
      <section *ngIf="isClosedLoan">
         <app-small-overlay [template]="closedDebitOrders" alternate='true'>
            <ng-template #closedDebitOrders>
               <div class="no-debit-orders-container">
                  <span class="red-warning"></span>
                  <div class="heading-block">
                     {{messages.closedLoan}}
                  </div>
                  <div class="descrp-block">
                     {{messages.noPaymentDetails}}
                  </div>
                  <div class="btn-container">
                     <app-bottom-button id="done-btn" [text]="labels.doneBtnText" (click)="goToPreviousPage()"></app-bottom-button>
                  </div>
               </div>
            </ng-template>
         </app-small-overlay>
      </section>
   </div>
</div>
