@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';
$icon-path: '../../../assets/svg/';
$account-loan-debit-orders-bg: $body-bg;
$loan-debit-orders-row-bg: $container-bg;
$order-item-shadow: $workflow-shadow-color;
$info-icon: 'information';
.account-loan-debit-orders {
   background: $account-loan-debit-orders-bg;
   padding: $landing-padding 0;
   @include main-content();
   .container {
      padding-left: 4px;
      padding-right: 12px;
   }
   .top-icon {
      &.icon-field {
         position: relative;
         margin: 20px 0;
         .icon {
            display: inline-block;
            right: 13px;
            top: 9px;
            cursor: pointer;
            &.left-arrow {
               float: left;
               margin: 3px 0 0 32px;
               @include rotate(180deg);
               @include svg-image-full-path($icon-path, 'right-arrow-cap', 10px, 10px);
            }
         }
         .section-heading {
            display: inline-block;
            margin-left: 0;
         }
         .section-title {
            color: $text-color-secondary;
            margin-bottom: 5px;
            padding-left: 0;
            font-size: $lg-heading-size;
         }
      }
   }
   .inner-container {
      padding-left: 10px;
      font-size: $font-sm;
      line-height: $md-heading-size;
      .mobile-margin {
         padding-right: 0;
      }
      .background-col {
         width: 220%;
         background-color: $info-message;
         height: 70px;
         padding: 20px 0 0 10px;
         .info {
            font-size: $font-xxx-sm;
            line-height: 1.5;
            color: $text-color-primary;
            width: auto;
            margin-left: 10px;
            margin-top: 0;
         }
         .info-icon {
            position: absolute !important;
            margin-left: -15px;
            @include svg-image-full-path($icon-path, $info-icon, 18px, 18px);
         }
         .info-icon::before {
            margin-top: 0;
         }
      }
      .debit-orders-row {
         background: $loader-color;
         .card-title {
            font-size: $xlg-descrp-size;
            font-weight: bold;
            padding: 10px 0 0 15px;
         }
         .order-item {
            padding: 20px 0;
            cursor: pointer;
            .order-fields {
               padding: 0;
            }
         }
         .order-header {
            .order-fields {
               .field {
                  padding: 20px 0px 0px 0px;
                  .order-label {
                     font-size: $label-size;
                     text-align: left;
                     color: $text-color-info;
                  }
                  .order-value {
                     font-size: $font-default;
                     text-align: left;
                     color: $text-color-primary;
                     word-break: break-all;
                  }
                  &.amount-field {
                     float: right;
                     padding-left: 10px;
                  }
               }
            }
         }
      }
   }
   .no-debit-orders-container {
      color: $text-color-secondary;
      text-align: center;
      margin-top: -15px;
      .heading-block {
         font-size: $font-lg;
         line-height: $section-title-size-mob;
      }
      .descrp-block {
         font-size: $font-default;
         line-height: $md-heading-size;
         color: $text-color-primary;
         margin: 5% 9%;
         padding-bottom: 25px;
      }
      .btn-container {
         position: absolute;
         bottom: 7%;
         width: 90%;
         left: 0;
         margin: 0 20px;
      }
      .red-warning {
         display: inline-block;
         @include svg-image-full-path($icon-path, 'warning-error', 60px, 60px);
         padding-bottom: 20px;
      }
   }
}

@media (min-width: $media-sm) {
   .account-loan-debit-orders {
      .container {
         .inner-container {
            .background-col {
               height: 60px;
               .info {
                  font-size: $font-sm;
               }
            }
         }
      }
      .inner-container {
         padding-left: 60px;
         .mobile-margin {
            padding-right: 5.5%;
         }
         .debit-orders-row {
            .card-title {
               padding: 15px 0 0 30px;
            }
            .order-item {
               padding: 0;
               .order-fields {
                  padding: 15px;
               }
            }
            .order-header {
               @include box-shadow(0 1px 0 0 $order-item-shadow);
               padding: 17px 5px 18px 15px;
               .order-fields {
                  .field {
                     padding: 0px;
                     .order-label {
                        font-size: $label-size;
                        text-align: left;
                        color: $text-color-info;
                     }
                  }
               }
            }
         }
      }
      .top-icon {
         &.icon-field {
            .section-heading {
               margin-left: 15px;
            }
         }
      }
      .no-debit-orders-container {
         .heading-block {
            font-size: $font-xlg;
            line-height: $xlg-heading-size;
         }
         .descrp-block {
            font-size: $font-lg;
            line-height: $md-heading-size;
            margin: 5% 13%;
         }
         .btn-container {
            width: 100%;
            margin: 0 auto;
            bottom: 10%;
         }
      }
   }
}

@media (min-width: $media-lg) {
   .account-loan-debit-orders {
      padding: $landing-padding $landing-padding-lg;
   }
}
