@import '../../../styles/_base.scss';
@import '../../../styles/_mixins.scss';


$pay-status-bg: $container-bg;

.pay-status {
   font-size: $label-size;
   background: $pay-status-bg;
   @include main-content();
   .work-flow {
      .downlaod-icon {
         @include svg-image('green-download', 100%, 100%);
      }

      .download {
         color: $text-color-link;
         cursor: pointer;

         .icon, .text {
            &.infoColor{
               color: $text-color-info; 
            }
            display: inline-block;
            vertical-align: middle;
         }

         .icon {
            @include svg-image('green-download', 100%, 100%);
            width: 30px;
         }
      }
   }
}

@media (min-width: $media-sm) {
   .pay-status {
      font-size: $status-size;
   }
}