<div class="main-container" *ngIf="!showWrongInfo; else wrongInformation">
  <div class="header">
      <p class="heading">{{heading}}</p>
      <p class="sub-heading">{{subHeading}}</p>
  </div>
  <div class="reason-conatiner" *ngIf="content.length">
    <ng-container *ngFor="let item of content; let i=index">
          <div class="options-container">
              <div class="icon gd-checkbox">
                 <input type="checkbox" id="options-check-feedback-{{i}}" [disabled]="isDisabled && !reasons[i]" [(ngModel)]="reasons[i]" (change)="onCheckboxClick(i,item)" >
                 <label for="options-check-feedback-{{i}}"></label>
              </div>
              <div class="container-items" *ngFor="let text of item.content">
                 <div>{{ text }}</div>
              </div>
           </div>
          </ng-container>
      
    </div>
  <div class="next-button-container">
     <app-bottom-button text="Send Feedback" (click)="submitFeedback($event)" [class.btn-disabled]="isSubmitDisabled" [disableButton]="isSubmitDisabled"
        [showLoader]='IsNextInProgress'></app-bottom-button>
        <div class="next-button-spacer"></div>
        <app-bottom-button text="Back" (click)="cancel($event)" [alternateTheme]="true"
        [showLoader]='IsNextInProgress'></app-bottom-button>
  </div>
</div>
<ng-template #wrongInformation>
<app-wrong-information [offerId]="offerId" (hideOverlay)="navigateToFeedback()"> </app-wrong-information>
</ng-template>