<div class="formInput">
  <div class="gd-form-row navigateClose">
    <button class="gd-secondary-btn" (click)="navigateClose($event)" (touchstart)="navigateClose($event)">Close</button>
  </div>
  <form #noDetailsForm="ngForm" class="gd-form top-margin50">
    <div class="gd-form-row">
      <h4 class="section-title darkText">Don’t have the required details?</h4>
    </div>
    <div class="gd-form-row">
      If you do not have a Nedbank transactional account, you’ll need to open one to access the new Nedbank Online Banking.
    </div>
    <div class="gd-form-row">
      <a href="javascript:void(0)" class="link-text">Apply online.</a>
    </div>
    <div class="gd-form-row">
      For your safety, we can’t help you access your profile, PIN and password, card number or ATM PIN on this channel.
    </div>
    <div class="gd-form-row">
      <strong>Please visit your nearest branch or call the Nedbank Call centre on:</strong>
      <div class="number-text">0860 555 111</div>
    </div>
    <div class="gd-form-row top-margin50">
      <button class="gd-primary-btn" (click)="findBranch($event)" (touchstart)="findBranch($event)">Find a branch</button>
    </div>
  </form>
</div>