@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';

$svg-path: './../../../../assets/svg/';

.work-flow {
   background: $workflow-bg;
   @include main-content();
   .section-title, .para-title{
      color: $text-color-secondary;
   }
   .status {
      .success {
         @include svg-image-full-path($svg-path, $icon-work-flow-tick, 100%, 100%);
      }
   }
   .journey-info-block {
      background: $workflow-bg;
      margin: 0 auto;
      border-bottom: 1px solid $divider-tertiary;
      width: 100%;
      position: relative;
      max-width: none;
      .journey-title {
        font-size: $font-xsm;
        padding: 8px 0px 8px 0px;
      }
      .journey-cacnel {
        font-size: $font-xsm;        
        padding: 8px 0px 8px 0px;
        text-align: right;
      }
      .gd-secondary-btn,
      .gd-ghost-btn {
        font-size: $font-xsm;
        cursor: pointer;
        text-align: right;
      }
   }
   
}
@media (min-width: $media-sm) {
   .work-flow {
    .journey-info-block {
      border-bottom: 0px;
      .journey-title {
         font-size: $font-sm;
      }
    }
   }
}

@media (min-width: $media-lg) {
   .work-flow {
      .journey-info-block {
        width: $workflow-width-lg;
        max-width: 945px;
        background: $workflow-bg;
        margin: 0 auto;
        border-bottom: 0px;
        padding: 22px 0px 0px 0px;
        .journey-title {
           font-size: $font-sm;
           padding: 8px 0px 8px 0px;
        }
        .journey-cacnel {
          font-size: $font-sm;
          padding: 8px 20px 8px 0px;
          text-align: right;
          position: absolute;
          left: 100%;
        }
        .gd-secondary-btn,
        .gd-ghost-btn {
          font-size: $font-sm;
          cursor: pointer;
          text-align: right;
        }
     }
      
   }
}
