@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';
$line-height-label: 1.25;
@mixin default-font {
   letter-spacing: normal;
   line-height: normal;
   font-weight: $weight-medium;
   font-family: $font-markpro-medium;
}

.contact-person-container {
   display: table;
   margin: 0 auto;
   max-width: 505px;
   .divider {
      display: none;
   }
   .page-title {
      margin-top: 60px;
      .title-label {
         @include default-font;
         font-size: $font-xlg;
         color: $text-color-secondary;
      }
   }
   .page-sub-title {
      .subtitle-label {
         @include default-font;
         font-family: $font-markpro;
         font-size: $font-lg;
         color: $text-color-secondary;
         line-height: $line-height-label;
      }
   }
   .type.page-padding {
      padding-left: 2px;
      margin-left: -9px;
   }
   .type {
      margin-top: 30px;
      position: relative;
      .me-block {
         position: absolute;
         top: 50px;
         left: 54px;
         font-size: $font-xsm;
         .my-registered-email {
            display: block;
         }
      }
      /deep/ .radio-button-list {
         ul li {
            float: none;
            input[type=radio]:checked~label {
               color: $color-greyMedium;
            }
         }
      }
   }
   #contact-person-form {
      max-width: 400px;
      .gd-form-row {
         max-width: 360px;
         margin-left: 40px;
      }
   }
   .nextBtn {
      margin-bottom: 60px;
   }
   .error-form-msg {
      color: $warning-primary;
      font-size: $label-size;
   }
}

@media(max-width: $media-sm) {
   .contact-person-container {
      max-width: 374px;
      padding: 0;
      display: block;
      .page-padding {
         padding: 0 16px 0 18px;
      }
      .divider {
         display: block;
         border: solid 1px $color-offWhite;
         margin-top: 30px;
         margin-bottom: 25px;
      }
      .page-title {
         margin-top: 30px;
         .title-label {
            font-size: $font-lg;
            margin-top: 30px;
         }
      }
      .page-sub-title {
         .subtitle-label {
            font-size: $font-default;
            line-height: $line-height-label;
         }
      }
      .type {
         .my-registered-num {
            right: 128px;
         }
         .me-block {
            .my-registered-email {
               margin-left: 15px;
            }
         }
      }
      .type.page-padding {
         padding-left: 18px;
      }
      #contact-person-form {
         padding-left: 18px;
         width: 100%;
         div.gd-form-row {
            margin-left: 0;
         }
      }
      .nextBtn {
         margin-left: 18px;
         margin-right: 16px;
         max-width: 505px;
      }
   }
   button.gd-primary-btn.btn-replace.gd-sm-label {
      max-width: unset;
   }
}
