<div class="formInput">
  <form #nedIdForm="ngForm" class="gd-form">
    <div class="gd-form-row">
      <h4 class="section-title darkText">Almost done. As part of registration you'll create a Nedbank ID.</h4>
    </div>
    <div class="gd-form-row">
      What does a Nedbank ID offer you?
    </div>    
    <div class="gd-form-row">
      <div class="secondaryText">Single sign-on</div>
      <div>Log in to Nedbank Money or the brand new online banking site.</div>
    </div>
    <div class="gd-form-row">
      <div class="secondaryText">Simplified access</div>
      <div>Personalised login information that is easy to remember replaces your current profile, PIN and password.</div>
    </div>
    <div class="gd-form-row">
      <div class="secondaryText">Everything in one place</div>
      <div>All your balances, accounts, cards and Nedbank products in one simple view.</div>
    </div>
    <div class="gd-form-row">
      <button class="gd-primary-btn" (click)="navigateNext($event)" (touchstart)="navigateNext($event)">Create Nedbank ID</button>
    </div>
  </form>
</div>