@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';

$list-bg: $container-bg;
$new-feature-bg: $container-bg;

.account-view {
   padding: $landing-padding 0;
   background: $body-bg;
   div[class*="col-"] {
      padding: 0;
   }
   .features {
      margin-top: 30px;
      .section-title {
         margin-bottom: 20px;
         padding: 0 0 0 20px;
      }
      ul {
         list-style: none;
         background: $list-bg;
         li {
            @include flexbox();
            @include align-items(center);
            border-bottom: 1px solid $divider-secondary;
            cursor: pointer;
            outline: none;
            a {
               display: block;
               color: $text-color-primary;
               font-size: $para-title-size;
               padding: 15px 20px;
               @include flex(1);
            }
            .icon {
               width: 8px;
               height: 15px;
               margin-right: 20px;
               @include svg-image($icon-arrow);
            }
         }
      }
   }
   .new-feature {
      padding: 30px;
      text-align: center;
      background: $new-feature-bg;
      margin: 20px 0;
      .new-feature-icon{
         width: 64px;
         height: 64px;
         display: inline-block;
         @include svg-image('clock');
      }
      .section-title-secondary{
         margin-top: 20px;
         font-weight: bold;
      }
      .content {
         margin-top: 20px;
      }
      .inner-link{
         text-decoration: underline;
      }
   }
}

@media (min-width: $media-xs) {
   .account-view {
      .account-card {
         .controls {
            ul {
               li {
                  a {
                     .icon {
                        margin-right: 10px;
                     }
                     .text {
                        display: inline-block;
                     }
                  }
               }
            }
         }
      }
   }
}

@media (min-width: $media-sm) {
   .account-view {
      div[class*="col-"] {
         padding: 0 15px;
      }
   }
}

@media (min-width: $media-md) {
   .account-view {
      padding: $landing-padding $landing-padding-lg;
      div[class*="col-"] {
         padding: 0 15px;
      }
   }
}

.icon-skeleton-margin {
   margin-right: 8px;
}
