@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';

$svg-path: './../../../../assets/svg';
$icon-bank-gray: 'bank-gray';
$icon-card-green: 'card-green';
$icon-card-gray: 'card-gray';
$icon-bank-green: 'bank-green';


.payment-options{
   .payment-option-box{
    .icon{
        margin-bottom: 0px;
     }
       &:first-child{
           margin-left: 0;
       }
       &.disabled {
          pointer-events: none;
       }
       p {
            line-height: 20px;
       }
   }
}

.from-account {
   padding-top: 1em;
}
.grayText{
    color: $coloy-lightGrey-d4;
}
.buy-amount-section {
   .rand-value-hint {
      margin: 5px 0 0;
      color: $text-color-info;
      font-size: $font-sm;
   }
   input.reference[type=text] {
      border: 2px solid $text-color-info;
   }
}

.buy-to-section {
   .receipient-search-icon {
      @include svg-image-full-path($svg-path, $icon-search-recipient, 30px, 30px);
      position: relative;
      display: block;
   }

.card-icon-green {
   @include svg-image-full-path($svg-path, $icon-card-gray, 32px, 32px);

   &.selected {
      @include svg-image-full-path($svg-path, $icon-card-green, 32px, 32px);
   }

   position: center;
   display: block;
}
.bank-icon-green {
   @include svg-image-full-path($svg-path, $icon-bank-gray, 32px, 32px);

   &.selected {
      @include svg-image-full-path($svg-path, $icon-bank-green, 32px, 32px);
      &:before {
          margin: 4px 0 0 4px;
          
      }
   }
   width: 35px;
   position: center;
   display: block;
}
.cnf-info {
   @include flexbox();
   @include align-items(center);

   .cnf-info-icon {
      @include svg-image-full-path($svg-path, $icon-bank-gray);
      position: relative;
      display: block;
      width: 35px;
      height: 35px;
      margin-right: 25px;
   }

   .cnf-info-text {
      color: $text-color-primary;
   }
}
}

.overlay-template {
   .para-title {
      color: $color-overlay;
   }

   .content {
      margin-bottom: 20px;
   }
}

.vertical-overlay-content-wrapper {
   .icon {
      @include svg-image-full-path($svg-path, $icon-card-gray);
      width: 120px;
   }
}

.cnf-modal {
   .cnf-icon {
      padding-top: 120px;

      .card-icon {
         @include svg-image-full-path($svg-path, $icon-card-gray);
         position: relative;
         display: inline-block;
         width: 32px;
         height: 32px;
      }
   }

   .cnf-text {
      padding-top: 120px;

      h6 {
         font-size: $size-18;
         font-weight: bold;
         line-height: 1.16;
         text-align: center;
         color: $text-color-highlight;
      }

      p {
         opacity: 0.7;
         font-size: $size-14;
         line-height: 1.31;
         text-align: center;
         color: $text-color-highlight;
         width: 111px;
         height: 32px;
      }

      .cnf-btn-container {
         button {
            margin: 15px 0;
         }
      }
   }
} 

@media (min-width: $media-sm) {
    .payment-options {
        .payment-option-box {
            p {
                line-height: 30px;
            }
        }
    }
    .cnf-modal {
       .cnf-icon {
          padding-top: 150px;
 
          .bank-icon-green {
             @include svg-image-full-path($svg-path, $icon-bank-green, 32px, 32px);
             position: relative;
             display: block;
          }
       }
       .cnf-text {
          padding-top: 150px;
 
          h6 {
             font-size: $font-xlg;
             text-align: left;
          }
 
          p {
             opacity: 0.7;
             font-size: $font-sm;
             text-align: left;
             margin-bottom: 25px;
             margin-top: 25px;
          }
          .cnf-btn-container {
             button {
                margin: 15px 0;
             }
          }
       }
    }
 
    .overlay-template {
       @include flex(1);
       max-width: 700px;
 
       .para-title {
          font-size: $section-title-size;
       }
 
       .content {
          margin-bottom: 20px;
       }
    }
 
    .overlay-content-wrapper {
       .icon {
          @include svg-image-full-path($svg-path, 'bank-green');
          position: relative;
          display: block;
          width: 35px;
          height: 35px;
       }
    }
 }
 @media (min-width: $media-md) {
    .fbe-modal {
       .fbe-icon {
          .bank-icon-green {
             @include svg-image-full-path($svg-path, $icon-bank-green, 32px, 32px);
             position: relative;
             display: block;
          }
       }
    }
 
    .overlay-content-wrapper {
       .icon {
          @include svg-image-full-path($svg-path, 'bank-gray');
          position: relative;
          display: block;
          width: 35px;
          height: 35px;
       }
    }
 }