<div class="work-flow final-status">
   <app-circle-icon-heading [heading]="blockStatus.success?successMessage:failureMessage"
                            [successful]="blockStatus.success"></app-circle-icon-heading>
   <div class="block">
      <div class="steps-track"></div>
      <div class="steps-block">
         <div [ngClass]="{'card-block-status':!isTravelAccountCard,'travel-card-block-status':isTravelAccountCard}">
            <div *ngIf="blockStatus.success">

            </div>
            <div *ngIf="!blockStatus.success" class="card-block-fail">
               <span>Please call</span>
               <span class="no-break">0800 11 0929</span>
               <span>or</span>
               <span class="no-break">+27 011 710 4330</span>
               <span>(international) to block your card.</span>
            </div>
            <div *ngIf="blockStatus.success" class="card-block-success">
               <div *ngIf="blockStatus.reason === labels.reasonDamage && !isTravelAccountCard">
                  Your card <span>{{blockStatus.cardNumber | cardMask:4:4 }}</span> will be blocked in 3 days,
                  <br />
                  you can continue to order a replacement card if necessary.
               </div>
               <div *ngIf="isTravelAccountCard && !otherTravelCardBlocked">
                  Card <span>{{blockStatus.cardNumber | cardMask:4:4 }}</span> was blocked successfully.
                  <br />
                  {{labels.blockCardSecondMessage}}
               </div>
               <div *ngIf="isTravelAccountCard && otherTravelCardBlocked">
                  Card <span>{{blockStatus.cardNumber | cardMask:4:4 }}</span> was blocked successfully.
                  <br />
                  Please visit your nearest Forex branch to replace your cards.
               </div>
               <div *ngIf="blockStatus.reason !== labels.reasonDamage && !isTravelAccountCard">
                  Your card <span>{{blockStatus.cardNumber | cardMask:4:4 }}</span> is now blocked,
                  <br />
                  you can continue to order a replacement card if necessary.
               </div>
            </div>
         </div>
         <app-bottom-button *ngIf="!blockStatus.success" [text]="'Try again'" [disableButton]="false" (click)="retryBlockingCard()"></app-bottom-button>
         <div class="half-btns gd-form-row" *ngIf="blockStatus.success && !isTravelAccountCard">
            <div class="left">
               <app-bottom-button [text]="'Replace card'" [disableButton]="false" (click)="replaceBlockCard()"></app-bottom-button>
            </div>
            <div class="right">
               <app-bottom-button [text]="'Done'" [alternateTheme]="true" [disableButton]="false" (click)="hideBlockCardStatusPopup()"></app-bottom-button>
            </div>
         </div>
         <app-bottom-button *ngIf="blockStatus.success && isTravelAccountCard" [text]="'Done'" [disableButton]="false" (click)="hideBlockCardStatusPopup()"></app-bottom-button>
      </div>
   </div>
</div>
