@import '../../../styles/_base.scss';


.card-block-status {
   margin: 0px -50px 40px 0;
}

.card-block-fail {
   font-size: $font-sm;
}

.card-block-success {
   font-size: $font-default;
}

.card-block-status {
   width: 400px;
   height: 69px;
}

.travel-card-block-status {
   width: 435px;
   height: 79px;
}

@media screen and (min-width : $media-sm) {
   :host::ng-deep {
      h4.section-title {
         font-size: 1.6875rem;
      }
   }

   .card-block-success {
      font-size: $font-md;
   }
}
