<app-work-flow [steps]="steps" [workflowService]="paymentService" [workFlowInfo]="workflowInfo" (nextClick)="nextClick($event)" (stepClick)="stepClick($event)"></app-work-flow>
<app-colored-overlay [isVisible]="isAccountsOverlay" [template]="OverlayTemplate" [backOption]="false">
   <ng-template #OverlayTemplate>
         <div class="vertical-overlay-content-wrapper">
            <div class="icon"></div>
            <div class="content">
               <h6 class="para-title">You don’t have any accounts to pay from.</h6>
               <div class="top">
                     <p>Open an everyday banking account at <a href="{{emptyStateUrl}}" target="_blank">Nedbank.co.za</a>  to use this feature.</p>
               </div>
            </div>
         </div>
   </ng-template>
</app-colored-overlay>
