<div class="pay-for-container">
    <form #payToForm="ngForm" class="gd-form pay-for-form" novalidate>
        <div class="gd-form-row icon-link" *ngIf="payToVm?.isCrossBorderPaymentActive">
            <app-account-list [insufficientFunds]="insufficientFunds" [title]=" 'From account' " [accounts]="accounts" [selectedAccount]="payAmountVm.selectedAccount" (onAccountSelection)="onAccountSelection($event);sendEvent('pay_amount_and_account_select_from_account')">
            </app-account-list>
        </div>
        <div class="gd-form-row" *ngIf="payToVm?.isCrossBorderPaymentActive">
            <label for="example-search-input" class="gd-sm-label">{{labels.paymentReason}}</label>
            <input type="hidden" appValidateRequired required appCheckBlur [ngModel]="vm.paymentReason" name="paymentReason" #paymentReasonRef="ngModel" />
            <div class="gd-basic-dropdown" tabindex="0" dropdown (click)="onReasonDropdownOpen()">
                <div dropdownToggle class="dropdown-place" [ngClass]="{'drpdwn-error': isReasonDropdownValid(paymentReasonRef),
                'drpdwn-initial': displayReasonText === dropdownDefault.displayText}">
                    <div class="text">
                        {{displayReasonText}}
                    </div>
                    <div class="icon">
                        <span class="caret"></span>
                    </div>
                </div>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem" [class.active]="paymentReason.name == displayReasonText" *ngFor="let paymentReason of paymentReasons" (click)="onPaymentReasonChange($event,paymentReason)" ga-event-name="pay_notification_select_notification_type">
                        {{paymentReason.name}}
                    </li>
                </ul>
            </div>
            <div *ngIf="paymentReasonRef.invalid && (paymentReasonRef.dirty || isReasonDirty || paymentReasonRef.touched) && paymentReasonRef.isBlurred" class="error-msg">
               <span *ngIf="paymentReasonRef.errors.required">
                  {{labels.selectReasonMessage}}
               </span>
            </div>
        </div>
        <div class="gd-form-row">
            <label for="example-text-input" class="gd-sm-label">{{labels.yourReference}}</label>
            <input id="your_reference" autocomplete="off" class="validate" type="text" [(ngModel)]="vm.yourReference" #yourReference="ngModel" name="yourReference" [maxlength]="referenceMaxLength" ga-event-name="pay_notification_enter_your_reference" appValidateRequired
                appCheckBlur/>
            <div *ngIf="yourReference.invalid && (yourReference.dirty || yourReference.touched) && yourReference.isBlurred" class="error-msg">
                <span *ngIf="yourReference.errors.required">
               Please enter a reference for your account.
            </span>
            </div>
        </div>
        <div class="gd-form-row" *ngIf="!isMobilePayment">
            <label for="example-search-input" class="gd-sm-label">{{payToVm.isCrossBorderPaymentActive ? 'Recipient\'s reference': labels.theirReference}}</label>
            <input class="validate" autocomplete="off" [(ngModel)]="vm.theirReference" type="text" #theirReference="ngModel" name="theirReference" appValidateRequired appCheckBlur [maxlength]="referenceMaxLength" ga-event-name="pay_notification_enter_their_reference"
            />
            <div *ngIf="theirReference.invalid && (theirReference.dirty || theirReference.touched) && theirReference.isBlurred" class="error-msg">
                <span *ngIf="theirReference.errors.required">
                Please enter a reference for your recipient.
            </span>
            </div>
        </div>
        <div *ngIf="!payToVm?.isCrossBorderPaymentActive">
            <div class="gd-form-row">
                <label for="example-search-input" class="gd-sm-label">{{labels.notification}}</label>
                <div class="gd-basic-dropdown" tabindex="0" dropdown>
                    <div dropdownToggle class="dropdown-place">
                        <div class="text">
                            {{this.vm.notification.name}}
                        </div>
                        <div class="icon">
                            <span class="caret"></span>
                        </div>
                    </div>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem" [class.active]="this.vm.notification.name == c.name" *ngFor="let c of notifications" (click)="onNotificationChange($event,c)" ga-event-name="pay_notification_select_notification_type">
                            {{c.name}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gd-form-row" *ngIf="vm.notification.value=='SMS'">
                <label for="example-search-input" class="gd-sm-label">{{labels.enterNumber}}</label>
                <input id="notificationInput" type='tel' name="notificationInput" #notificationInput="ngModel" [(ngModel)]="vm.notificationInput" [pattern]="patterns.mobile" appValidateRequired appValidateOnblur appValidateInput appCheckBlur validateFor='mobile' (ngModelChange)="onMobileNumberChange($event)"
                    ga-event-name="pay_notification_enter_notification_type_sms" />
                <div *ngIf="notificationInput.invalid && (notificationInput.dirty || notificationInput.touched) && notificationInput.isBlurred" class="error-msg">
                    <div *ngIf="notificationInput.errors.required">
                        {{messages.enterNumber}}
                    </div>
                    <div *ngIf="notificationInput.errors.pattern">
                        {{messages.invalidNumber}}
                    </div>
                </div>
            </div>
            <div class="gd-form-row" *ngIf="vm.notification.value=='Fax'">
                <label for="example-search-input" class="gd-sm-label">{{labels.enterNumber}}</label>
                <input id="notificationFaxInput" type='tel' name="notificationFaxInput" #notificationFaxInput="ngModel" [(ngModel)]="vm.notificationInput" [pattern]="patterns.mobile" appValidateRequired appValidateOnblur appValidateInput validateFor='mobile' appCheckBlur
                    (ngModelChange)="onMobileNumberChange($event)" ga-event-name="pay_notification_enter_notification_type_fax" />
                <div *ngIf="notificationFaxInput.invalid && (notificationFaxInput.dirty || notificationFaxInput.touched) && notificationFaxInput.isBlurred" class="error-msg">
                    <div *ngIf="notificationFaxInput.errors.required">
                        {{messages.enterNumber}}
                    </div>
                    <div *ngIf="notificationFaxInput.errors.pattern">
                        {{messages.invalidFaxNumber}}
                    </div>
                </div>
            </div>
            <div class="gd-form-row" *ngIf="vm.notification.value=='Email'">
                <label for="example-search-input" class="gd-sm-label">{{labels.enterEmail}}</label>
                <input id="notificationInput" [pattern]="patterns.email" type="text" name="notificationInput" #notificationInput="ngModel" [(ngModel)]="vm.notificationInput" appValidateRequired appValidateOnblur appCheckBlur ga-event-name="pay_notification_enter_notification_type_email"
                />
                <div *ngIf="notificationInput.invalid && (notificationInput.dirty || notificationInput.touched) && notificationInput.isBlurred" class="error-msg">
                    <div *ngIf="notificationInput.errors.required">
                        {{messages.validEmail}}
                    </div>
                    <div *ngIf="!notificationInput.errors.required && notificationInput.errors.pattern">
                        {{messages.invalidEmail}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="payToVm?.isCrossBorderPaymentActive">
            <div class="gd-form-row">
                  <label for="example-text-input" class="gd-sm-label">{{labels.smsNotificationTo}}</label>
                  <input autocomplete="off" id="crossBorderSmsNotificationInput" type='tel' name="crossBorderSmsNotificationInput" #crossBorderSmsNotificationInput="ngModel" (input)="mobileNumberChange()"
                  [(ngModel)]="vm.crossBorderSmsNotificationInput" [pattern]="patterns.mobile" appValidateRequired appValidateOnblur appValidateInput appCheckBlur 
                  validateFor='mobile'/>
                  <div *ngIf="crossBorderSmsNotificationInput.invalid && (!isMobileNumberValid || crossBorderSmsNotificationInput.dirty || crossBorderSmsNotificationInput.touched) && crossBorderSmsNotificationInput.isBlurred" class="error-msg">
                    <div *ngIf="crossBorderSmsNotificationInput.errors.required">
                        {{messages.enterMobileNumber}}
                    </div>
                    <div *ngIf="crossBorderSmsNotificationInput.errors.pattern">
                        {{messages.invalidNumber}}
                    </div>
                </div>
            </div>
         </div>
    </form>
    <app-small-overlay [template]="showReasonErrorOverlay" alternate='true' *ngIf="showReasonError">
        <ng-template #showReasonErrorOverlay>
            <span class="overlay-cross" (click)="closeResonError()"></span>
            <div class="template-content">
                <div class="logo-cntnr">
                    <span class="logo-lightbulbgreen"></span>
                </div>
                <span class="overlay-title">Reason for payment</span>
                <span class="ovelay-text">We can't accept this as a payment reason at the moment.</span>
                <div class="btns">
                    <div class="ok-button">
                        <app-bottom-button [disableButton]='false' (clickEmitter)="closeResonError()" [text]="'Change Reason'"></app-bottom-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </app-small-overlay>
</div>