@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';



.pay-for-form {
   margin-top: 32px;
}
.logo-cntnr{
   text-align: center;
   padding: 30px 0;
}
.logo-lightbulbgreen {
   @include svg-image-full-path($default-svg-image-path, 'lightbulbgreen', 35px, 35px);
   display: inline-block;
}

@media (min-width: $media-xs) {
   .pay-for-form {
      margin-top: 26px
   }
}

@media (min-width: $media-sm) {
   .pay-for-form {
      font-size: $status-size;
      margin-top: 21px
   }
}

@media (min-width: $media-lg) {
   .pay-for-form {
      margin-top: 7px
   }
}

@media (min-width: $media-xlg) {
   .pay-for-form {
      margin-top: 10px
   }
}
