<section class="statement">
   <form class="section  gd-form" #statementForm="ngForm" *ngIf="!isMfcStatement">
      <div class="row col-sm-8">
         <div class="col-xs-12 col-sm-6">
            <div class="gd-form-row mobile-margin top">
               <label class="gd-sm-label">{{labels.form}}</label>
               <app-custom-date-picker [config]="fromCalendarConfig" [date]="maxFromDate" (dateChanged)="setFromDate($event)"></app-custom-date-picker>
               <div *ngIf="!validDate" class="text-danger">
                  <span>{{messages.fromDateError}}</span>
               </div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-6">
            <div class="gd-form-row mobile-margin top">
               <label class="gd-sm-label">{{labels.to}}</label>
               <app-custom-date-picker [config]="toCalendarConfig" [date]="maxToDate" (dateChanged)="setToDate($event)"></app-custom-date-picker>
            </div>
         </div>
      </div>
      <div class="row col-sm-10">
         <div class="col-xs-12 col-sm-6">
            <div class="gd-form-row mobile-margin">
               <label class="gd-sm-label">{{labels.email}}</label>
               <input id="email" type="text" #emailRef="ngModel" [(ngModel)]="email" name="email" appValidateRequired [pattern]="pattern.email"
                  (ngModelChange)="emailChange()" />
               <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)" class="err-msg">
                  <span *ngIf="emailRef.errors.required || emailRef.errors.pattern">
                     {{messages.emailRequired}}
                  </span>
               </div>
            </div>
         </div>
      </div>
      <div class="row col-sm-12">
         <div class="col-xs-12 col-sm-8">
            <div class="gd-form-row mobile-margin">
               <div class="background-col">
                  <i class="col-xs-1 info-icon"></i>
                  <div class="col-xs-10 info">
                     {{infoMessage}}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row col-sm-10">
         <div class="col-xs-12 col-sm-2">
            <div class="gd-form-row mobile-margin">
               <div class="button-container">
                  <app-bottom-button [class.btn-disabled]='showLoader || !isEmailValid || !validDate' [disableButton]="showLoader || !isEmailValid || !validDate"
                     [text]="labels.send" [showLoader]="showLoader" (click)="sendStatementEmail()"></app-bottom-button>
               </div>
            </div>
         </div>
      </div>
   </form>
   <section class="active-tab row" *ngIf="isMfcStatement">
      <div class="row">
         <div class="col-xs-6">
            <div class="active-title"> {{title}} </div>
         </div>
      </div>
      <section class="row">
         <div class="col-xs-12 col-sm-6">
            <i class="col-xs-1 info-icon"></i>
            <div class="col-xs-10 info">
               {{infoMessage}}
            </div>
         </div>
         <section class="col-xs-12 col-sm-6">
            <div class="active-email">{{labels.email}}</div>
            <div class="row">
               <div class="col-xs-12 col-sm-8">
                  <div class="email-container">
                     <input id="email" type="text" class="validate" #emailRef="ngModel" [(ngModel)]="email" name="email" appValidateRequired [pattern]="pattern.email"
                        validateFor="email" (ngModelChange)="emailChange()" />
                  </div>
                  <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)" class="error-msg">
                     <span *ngIf="emailRef.errors.required || emailRef.errors.pattern">
                        {{messages.emailRequired}}
                     </span>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-4">
                  <div class="button-container">
                     <app-bottom-button [disableButton]="showLoader || !isEmailValid" [text]="labels.send" [showLoader]="showLoader" (click)="sendStatementEmail()"></app-bottom-button>
                  </div>
               </div>
            </div>
         </section>
      </section>
   </section>
</section>
