@import '../../../styles/_base.scss';
@import '../../../styles/_mixins.scss';

$svg-path: './../../../assets/svg';


.spinner-container {
   position: fixed;
   background-color: rgba(255, 255, 255, 0.7);
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1000;
   transition: all 0.5s linear;
   transition-delay: 0s;

   .spinner {
      width: 40px;
      height: 40px;
      margin: 90% 0 0 40%;
   }
}


.main-container {
    margin: 43px 20px 0 20px;
    @include flexbox();
    @include flex(1);
    flex-direction: column;
   .header{
      .heading{
         font-size: $section-title-size;
         font-weight: 500;
         color: $text-dark;
         text-align: center;
      }
   }
   .sub-conatiner{
         margin: 0px 42px;
         text-align: center;
         padding: 15px 0 0 0;
         .element{
            padding: 15px 0;  
         }
         .stage{
            margin-left: 35%;
            padding: 15px 0;
         .email-icon{
            @include svg-image-full-path($svg-path, '/email-light', 64px, 64px);
          }
          .money-icon{
            @include svg-image-full-path($svg-path, '/money', 56px, 56px);
          }
         }
   }
   .next-button-container{
         margin-top: 45px;
         text-align: center;
   }
}
   
@media (min-width: $media-sm) {
     .spinner-container {
        .spinner {
           margin: 60% 0 0 45%;
        }
     }
   .main-container {
      margin: 0 auto;
      width: 353px;
      padding-top: 60px;
   }
}

@media (min-width: $media-md) {
     .spinner-container {
        .spinner {
           margin: 20% 0 0 45%;
        }
     }
      .main-container {
        width: 443px;
        margin: 60px auto;
        .sub-conatiner {
          .stage {
              margin-left: 150px;
           }
        }
      }

}
