<h1 aria-live="polite"  role="alert"  class="visuallyhidden"  attr.aria-label="{{paymentMessage}}"></h1>
   <ng-template #searchBeneficiaryTemplate let-model="item" let-index="index" let-match="match" let-query="query">
      <div class="benificiary-list">
         <div class="name" [innerHtml]="model.beneficiaryName | highlight:query:'highlightText'"></div>
         <div class="details">
            <div *ngIf="isBankAccountContactCard(model)" class="icon-type bankAccount"></div>
            <div *ngIf="isPrepaidContactCard(model)" class="icon-type mobile"></div>
            <div class="account-type">
               <span *ngIf="model.bankName" class="text" [innerHtml]="model.bankName | highlight:query:'highlightText'"></span>
               <span [innerHtml]="model?.accountNumber | highlight:query:'highlightText'"></span>
            </div>
         </div>
      </div>
   </ng-template>
   <div class="quick-pay-block" [class.is-skeleton-loading]='skeletonMode'>
      <h5 class="section-title-secondary">Quick Pay recipient</h5>
      <form class="gd-form" *ngIf="benificiaryFetching || (quickpayWorkflowSteps.payAmount && processedBeneficiaryData.length) && !(accounts && !accounts.length)"
         #quickPayForm="ngForm">
         <div class="gd-form-row">
            <label class="gd-sm-label" for="">Recipient</label>
            <div class="search-field autocomplete-container benificiary-search">
               <div class="clear-field-block">
                  <input id="benefeciaryRef" [readonly]="!accounts || !processedBeneficiaryData.length" autocomplete="off" type="search" autocomplete="off"
                     class="validate" #benefeciaryRef="ngModel" [(ngModel)]="selectedBeneficiaryName" [typeahead]="processedBeneficiaryData"
                     placeholder="Search" [typeaheadItemTemplate]="searchBeneficiaryTemplate" (typeaheadOnSelect)="selectBeneficiary($event)"
                     (typeaheadOnBlur)="blurBeneficiary($event)" (typeaheadNoResults)="noBeneficiaryResults($event)" (blur)="blurBeneficiaryInput()"
                     typeaheadOptionField="beneficiaryName" name="beneficiaryName" [typeaheadOptionsLimit]="processedBeneficiaryData && processedBeneficiaryData.length"
                     ga-event-name="quick_pay_recipient_name" ga-event-label="Quick Pay" appValidateRequired appClearField appCheckBlur
                  />
               </div>
               <div *ngIf="benefeciaryRef.invalid && (benefeciaryRef.dirty || benefeciaryRef.touched) && benefeciaryRef.isBlurred" class="error-msg">
                  <span *ngIf="benefeciaryRef.errors.required"> Recipient name is required.</span>
               </div>
            </div>
         </div>
         <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
         <div class="gd-form-row icon-link">
            <app-account-list [title]=" 'From account' " [accounts]="accounts" [insufficientFunds]="insufficientFunds" [selectedAccount]="payAmountVm.selectedAccount"
               (onAccountSelection)="onAccountSelection($event); sendEvent('quick_pay_from_account','Quick Pay') ">
            </app-account-list>
         </div>
         <div class="gd-form-row">
            <label class="gd-sm-label" for="">Amount</label>
            <input id="amount" autocomplete="off" [amount]="true" ngControl="amount" #amount="ngModel" class="validate" [class.warning]="(isTransferAmountValid && !amount.invalid) && payAmountVm.isTransferLimitExceeded"
               [class.error]="(amount.touched || amount.dirty) && (!isTransferAmountValid || amount.invalid)" [ngModel]="payAmountVm.transferAmount | amountTransform"
               (ngModelChange)="onAmountChange($event)" type="text" name="amount" appValidateRequired appAmountFormatMask appValidateMultipleFifty
               appCheckBlur [doValidation]="isPrepaid" />
            <div *ngIf="(amount.invalid || payAmountVm.isTransferLimitExceeded || !payAmountVm.isValid) && (amount.dirty || amount.touched)">
               <div *ngIf="payAmountVm.isTransferLimitExceeded && !isImaliLimitExceeded && payAmountVm.transferAmount" class="info-text">
                  <span class="info-icon"></span>
                  <span>Daily limit exceeded</span>
               </div>
               <div *ngIf="payAmountVm.isTransferLimitExceeded && isImaliLimitExceeded && payAmountVm.transferAmount" class="info-text">
                  <span class="info-icon"></span>
                  <span>Send-Imali limit exceeded</span>
               </div>
               <div *ngIf="!payAmountVm.isValid && !payAmountVm.isTransferLimitExceeded && !(amount.errors && amount.errors.multipleFifty) && amount.isBlurred"
                  class="error-msg">
                  <span>Amount is required.</span>
               </div>
               <div *ngIf="amount.errors && amount.errors.multipleFifty" class="error-msg">
                  <span>
                     Amount must be in increments of R50.
                  </span>
               </div>
            </div>
            <div class="transfer-hint">
               {{ payAmountVm.availableTransferLimit | amountTransform: amountPipeConfig}} daily payment limit remaining
            </div>

         </div>
         <div class="gd-form-row">
            <button [class.btn-disabled]="!payAmountVm.isValid || benefeciaryRef.invalid || noBeneficiaryData || insufficientFunds || (isPrepaid && amount.errors && amount.errors.multipleFifty)"
               class="gd-primary-btn quick-pay-button-width" (click)="$event.preventDefault();validateQuickPay();">Next</button>
         </div>
      </form>
      <div class="no-recipients" *ngIf="!benificiaryFetching && !beneficiaryDataProceesed">
         <div class="title">Paying someone is now easier than ever.</div>
         <div class="descrp">Add recipients and quickly pay them from here in one effortless step.</div>
         <div class="btns">
            <button class="gd-primary-btn quick-pay-button-width" [routerLink]="['/recipient/','add']">Add a recipient</button>
         </div>
      </div>
      <div class="no-recipients" *ngIf="!(!benificiaryFetching && !beneficiaryDataProceesed) && accounts && !accounts.length">
         <div class="title">You don’t have any accounts to pay from.</div>
         <div class="descrp">Open an everyday banking account at
            <a href="{{emptyStateUrl}}" target="_blank">Nedbank.co.za</a> to use this feature.</div>
      </div>
      <div class="review" *ngIf="quickpayWorkflowSteps.payReview">
         <p class="title">Review</p>
         <div class="details">
            <p class="name">{{payToVm.recipientName}}</p>
            <div class="account">
               <div *ngIf="isBankAccountContactCard(selectedBeneficiary)" class="icon-type bankAccount left"></div>
               <div *ngIf="isPrepaidContactCard(selectedBeneficiary)" class="icon-type mobile left"></div>
               <div class="card-details">
                  <div class="acc-info">{{payToVm.bankName}}</div>
                  <div class="acc-no">{{payToVm?.accountNumber}}</div>
               </div>
            </div>
            <div class="amount">
               <p class="amount-label">Amount</p>
               <p class="value">R{{payAmountVm.transferAmount | number : '1.2-2'}}</p>
            </div>
         </div>
         <div class="instant-pay">
            <p class="instant-label">Instant payment</p>
            <label class="switch" [class.disabled]="!isInstantPaymentValid" [tooltip]="popTemplate" triggers="" containerClass="pay-tip"
               #customTooltip="bs-tooltip" placement="right">
               <input type="checkbox" [checked]="payAmountVm.isInstantPay" (click)="onInstantPayClick(customTooltip);" ga-event-name="quick_pay_click_on_instant_pay"
                  ga-event-label="Quick Pay">
               <div class="slider round" [ngClass]="{'thunder-active':payAmountVm.isInstantPay, 'thunder-inactive': !payAmountVm.isInstantPay }"></div>
               <ng-template #popTemplate>
                  <div class="tooltip-template">
                     <div class="info-icon" (click)="activeOverlay()"></div>
                     <div class="tip">
                        {{instantPayUnavailableMsg}}
                     </div>
                     <div class="icon glyphicon glyphicon glyphicon-remove pull-right remove-icon icon-cursor" (click)="hideTooltip(customTooltip)"></div>
                  </div>
               </ng-template>
            </label>
         </div>
         <div class="gd-form-row" *ngIf="payAmountVm.isInstantPay">
            <div class="info-text ">
               <span class="info-icon"></span>
               <span>
                  <b>R40.00</b> service fee will apply.</span>
            </div>
         </div>
         <div class="half-btns">
            <div class="left">
               <app-bottom-button [disableButton]="disableRetryButton || isButtonLoader" [showLoader]='isButtonLoader' (clickEmitter)="onPayClick(); sendEvent('quick_pay_step2_pay','Quick Pay')"
                  [text]="'Pay'"></app-bottom-button>
            </div>
            <div class="right">
               <app-bottom-button [disableButton]="isButtonLoader" (clickEmitter)="onEditClick(); sendEvent('quick_pay_step2_edit', 'Quick Pay')"
                  [alternateTheme]="true" [text]="'Edit'"></app-bottom-button>
            </div>
         </div>
         <div class="gd-error" *ngIf="disableRetryButton">
            <span>{{ payErrorMessage }}</span>
         </div>
      </div>
      <div class="status" [class.success]="isPaymentSuccessful" [class.fail]="!isPaymentSuccessful" *ngIf="quickpayWorkflowSteps.payStatus">
         <div class="title-block">
            <div class="icon-block">
               <span class="icon"></span>
            </div>
            <p class="title">{{paymentMessage}}</p>
         </div>
         <div class="details">
            <p class="name">{{payToVm.recipientName}}</p>
            <div class="account">
               <div *ngIf="isBankAccountContactCard(selectedBeneficiary)" class="icon-type bankAccount left"></div>
               <div *ngIf="isPrepaidContactCard(selectedBeneficiary)" class="icon-type mobile left"></div>
               <div class="card-details">
                  <div class="acc-info">{{paymentDetail.bank}}</div>
                  <div class="acc-no">{{payToVm?.accountNumber}}</div>
               </div>
            </div>
            <div class="amount">
               <p class="amount-label">Amount</p>
               <p class="value">R{{paymentDetail.amount | number : '1.2-2'}}</p>
            </div>
         </div>
         <div class="time">
            <span>Payment date:</span>
            <span *ngIf="!payAmountVm.isInstantPay">Today {{paymentDetail.startDate | date : 'dd/MM/yyyy'}}</span>
            <span *ngIf="payAmountVm.isInstantPay">Instant payment</span>
         </div>
         <div *ngIf="payAmountVm.isInstantPay" class="info">
            <p>Instant payments have an additional fee of R40.00 and may take about 2 hours to reflect</p>
         </div>
         <div *ngIf="isPaymentSuccessful">
            <app-bottom-button [showLoader]='resetingQuickPayment' (clickEmitter)="onPaymentDone(); sendEvent('quick_pay_step3_done','Quick Pay')"
               [text]="'Done'"></app-bottom-button>
         </div>
         <div *ngIf="!isPaymentSuccessful">
            <div class="half-btns">
               <div class="left">
                  <app-bottom-button [showLoader]="isButtonLoader" [disableButton]="disableRetryButton || requestInprogress" (clickEmitter)="onRetryQuickPay()"
                     [alternateTheme]="false" [text]="'Try Again'"></app-bottom-button>
               </div>
               <div class="right">
                  <app-bottom-button [showLoader]='false' [disableButton]="resetingQuickPayment" (clickEmitter)="onPaymentDone()" [alternateTheme]="true"
                     [text]="'Cancel'"></app-bottom-button>
               </div>
            </div>
         </div>
         <div class="gd-error" *ngIf="!disableRetryButton">
            <span>{{ payErrorMessage }}</span>
         </div>
         <div class="gd-error" *ngIf="disableRetryButton">
            <span>{{labels.paymentRetryMessage}}</span>
         </div>
      </div>

   </div>

   <app-colored-overlay [isVisible]="isVisible" [template]="OverlayTemplate" [backOption]="true" (onHide)="hideOverlay($event)">
      <ng-template #OverlayTemplate>
         <div class="overlay-content-wrapper">
            <div class="icon"></div>
            <div class="content">
               <h6 class="para-title">Instant Pay</h6>
               <div class="top">
                  <p>Toggle on Instant pay to speed up your payment so that the transaction is cleared within 60 minutes.</p>
               </div>
               <div class="light-box">
                  <ul>
                     <li>
                        <strong>Monday to Friday:</strong> 05h00 - 19h00
                     </li>
                     <li>
                        <strong>Saturday:</strong> 05h00 - 15h00
                     </li>
                     <li>Not available on Sundays or public holidays</li>
                  </ul>
               </div>
               <div class="bottom">
                  <p>Note that instant payments cannot be refunded or reverted, and a service fee of R40.00 is charged.</p>
                  <p>
                     View the full
                     <a href={{termsAndConditionsPath}} target="_blank">terms and conditions</a>.
                  </p>
               </div>
            </div>
         </div>
      </ng-template>
   </app-colored-overlay>