@import '../../../styles/_base.scss';
@import '../../../styles/_mixins.scss';


$quick-pay-bg: $container-bg;
$icon-block-bg: $container-bg;
$svg-path: './../../../assets/svg';

.quick-pay-block {
   padding: 20px;
   background: $quick-pay-bg;

   .section-title-secondary {
      margin-bottom: 20px;
   }

   .benificiary-list {
      .name {
         color: $text-color-info;
         margin-bottom: 2px;
      }

      .details {
         @include flexbox();
         @include align-items(center);
         color: $text-color-info;

         .icon-type {
            width: 15px;
            margin-right: 10px;
         }

         .account-type {
            @include flex(1);
            white-space: normal;

            .text {
               &::after {
                  content: ' - ';
               }
            }
         }
      }
   }
   .icon-type {
    &.left {
        margin-right: 10px;
    }
    &.bankAccount {
        @include svg-image-full-path($svg-path, 'bank-account-list');
    }
    &.mobile {
        @include svg-image-full-path($svg-path, 'mobile');
        width: 14px;
    }
 }
   .details {
      .name {
         font-size: $section-title-size;
         margin-bottom: 10px;
         color: $text-color-secondary;
      }

      .account {
         @include flexbox();
         @include align-items(center);
         margin-bottom: 15px;

         .icon {
            width: 28px;
            height: 28px;
            margin-right: 10px;
            @include svg-image('bank-account-list');
         }

         .card-details {
            @include flex(1);

            .acc-info, .acc-no {
               line-height: 1.43;
            }
         }
      }

      .amount {
         .amount-label {
            font-size: $font-sm;
            color: $text-color-primary;
         }

         .value {
            font-size: $section-title-size;
            color: $text-color-secondary;
         }
      }
   }

   .review {
      .title {
         font-size: $status-size;
         font-weight: bold;
         color: $text-color-info;
         padding: 15px 0;
      }

      .instant-pay {
         @include flexbox();
         @include align-items(center);
         padding: 20px 0 0 0;

         .instant-label {
            @include flex(1);
         }
      }
   }

   .status {
      .title-block {
         @include flexbox();
         @include align-items(center);
         padding: 15px 0;

         .icon-block {
            width: 36px;
            height: 36px;
            padding: 8px;
            margin-right: 10px;
            border: 2px solid transparent;
            @include border-radius(50%);
            @include box-sizing(border-box);
            background: $icon-block-bg;

            .icon {
               width: 20px;
               height: 20px;
            }
         }

         .title {
            font-size: $status-size;
            margin: 0;
            padding: 0;
            @include flex(1);
            font-weight: bold;
         }
      }

      .time {
         color: $text-color-primary;
         padding: 20px 0 15px;
      }

      .info {
         margin-bottom: 20px;
         font-size: $font-sm;
         color: $text-color-info;
      }

      &.success {
         .title-block {
            .icon-block {
               border-color: $form-element-border-focus;

               .icon {
                  @include svg-image('tickStatus');                  
               }
            }

            .title {
               color: $text-color-accent-secondary;
            }
         }
      }

      &.fail {
         .title-block {
            .icon-block {
               border-color: $border-error;

               .icon {
                  @include svg-image('closeStatus');
               }
            }

            .title {
               color: $text-color-error;
            }
         }
      }
   }
}
.no-recipients{
   color: $text-color-info;
   .title{
      font-weight: bold;
      font-size: $status-size;
   }
   .descrp{
      margin: 15px 0 60px;
   }
}
.overlay-content-wrapper {
    .icon {
        @include svg-image('Payicon-overlay');
        position: relative;
        display: inline-block;
     }
}



@media (min-width: $media-sm) {
    .quick-pay-button-width {
       width: 400px;
    }
 }

 @media (min-width: $media-md) {
    .quick-pay-button-width {
       width: 100%;
    }
 }
:host::ng-deep { 
   .bottom {
      a {
         cursor: pointer;
      }
   }
}