@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';

$overlay-bg: lighten($secondary-color, 1%);

.same-date {
   .info-text {
      color: $text-color-info;
   }
}

.weekly-message {
   color: $text-color-info;
}

.transfer-hint {
   margin: 5px 0 0;
}

.limit-type-container {
   position: relative;
}

.amount-top-padding {
   padding-top: 5px;
}

.overlay-template {
   .para-title {
      color: $text-color-highlight;
   }

   .content {
      margin-bottom: 20px;
   }
}

@media (min-width: $media-sm) {
   .overlay-template {
      @include flex(1);
      max-width: 700px;

      .para-title {
         font-size: $section-title-size;
      }

      .content {
         margin-bottom: 20px;
      }
   }
}

.transfer-amount-form {
   margin-top: 32px;
}

.vertical-overlay-content-wrapper {
   .icon {
      @include svg-image('TransferIcon-gray');
      width: 100px;
   }
}
.gd-form {
   .gd-form-row{
      .custom-item-field{
         width:100%;
         display: block;
                  .icon.calendar{
                     &.custom-calendar{
                        top: -38px;
                        cursor: not-allowed;
                     }
               }
            }
         }   
   
}
input[readonly][type=text]{
   &.disabled-date{
      border: 2px solid #78be20 !important;
   }
}
@media (min-width: $media-xs) {
   .transfer-amount-form {
      margin-top: 26px
   }
}

@media (min-width: $media-sm) {
   .transfer-amount-form {
      font-size: $status-size;
      margin-top: 21px
   }
}

@media (min-width: $media-lg) {
   .transfer-amount-form {
      margin-top: 7px
   }
}

@media (min-width: $media-xlg) {
   .transfer-amount-form {
      margin-top: 10px
   }
}
