<form #tansferAmountForm="ngForm" id="trns-transfer-amount" class="gd-form transfer-amount-form" [class.is-skeleton-loading]='skeletonMode'>
   <div class="gd-form-row">
      <label for="amount" class="active gd-sm-label">Amount</label>
      <input appFocus id="transfer-amount" autocomplete="off" #amountRef="ngModel" class="validate" [class.warning]="isMinimumViolated || (vm.isTransferLimitExceeded && vm.isValid)"
         [class.error]="!vm.isValid && (amountRef.dirty || amountRef.touched)" [ngModel]="vm.amount | amountTransform" (ngModelChange)="onAmountChange($event)"
         type="text" name="amountRef" [amount]="true" appValidateRequired appAmountFormatMask appCheckBlur [readonly]="!areAccountsLoaded"
         ga-event-name="transfer_amount_and_account_enter_amount" />
      <div *ngIf="!vm.isValid && (amountRef.dirty || amountRef.touched) && amountRef.isBlurred && !isMinimumViolated" role="alert">
         <div *ngIf="isAmountEmpty && areAccountsLoaded" class="error-msg">
            <span>Please enter an amount.</span>
         </div>
      </div>
      <div *ngIf="isMinimumViolated" class="info-text amount-top-padding">
         <span class="info-icon"></span>
         <span> A minimum transfer of {{allowedMinimumValue | amountTransform: amountPipeConfig}} is allowed.</span>
      </div>
      <div *ngIf="vm.isTransferLimitExceeded" class="info-text">
         <span class="info-icon"></span>
         <span role="alert"> Daily limit exceeded.</span>
      </div>
      <div class="transfer-hint">{{vm.availableTransferLimit | amountTransform: amountPipeConfig}} daily transfer limit remaining.</div>
   </div>
   <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
   <div class="gd-form-row icon-link">
      <app-account-list id="trns-from-account" [insufficientFunds]="insufficientFunds" [title]="'From account'" [selectedAccount]="vm.selectedFromAccount"
         [accounts]="selectedFromAccounts" (onAccountSelection)="onFromAccountSelection($event);this.sendEvent('transfer_amount_and_account_select_from_account');">
      </app-account-list>
      <div *ngIf="accountMessages(vm.selectedFromAccount, true); let warningText" class="info-text">
         <span class="info-icon"></span>
         <span>{{warningText}}</span>
      </div>
   </div>
   <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
   <div class="gd-form-row icon-link">
      <app-account-list id="trns-to-account" [title]="'To account'" [selectedAccount]="vm.selectedToAccount" [accounts]="selectedToAccounts"
         (onAccountSelection)="onToAccountSelection($event);this.sendEvent('transfer_amount_and_account_select_to_account');"
         [isToAccountFlag]="true">
      </app-account-list>
      <div *ngIf="accountMessages(vm.selectedToAccount, false); let warningText" class="info-text">
         <span class="info-icon"></span>
         <span>{{warningText}}</span>
      </div>
   </div>
   <div class="gd-form-row">
      <label class="gd-sm-label active" for="paymentDate">Transfer date</label>
      <app-custom-date-picker *ngIf="!(fromAccountWarning || toAccountWarning)" id="trans-transfer-date" [config]="config" [date]="formatDate" (dateChanged)="setDate($event);this.sendEvent('transfer_amount_and_account_select_transfer_date');"
         [disabled]="fromAccountWarning || toAccountWarning"></app-custom-date-picker>
         <input type="text" class="disabled-date" readonly disabled *ngIf="fromAccountWarning || toAccountWarning" value= {{todayDateDisabled}}/>
         <span class="icon-field custom-item-field" *ngIf="fromAccountWarning || toAccountWarning">
               <span class="icon calendar disabled custom-calendar"></span>
         </span>
   </div>
   <div class="gd-form-row" *ngIf="!isSameDate">
      <label class="gd-sm-label" for="account_type">Repeat transfer</label>
      <div class="gd-basic-dropdown" tabindex="0" dropdown>
         <div dropdownToggle class="dropdown-place" id="trns-select-freq">
            <div class="text">
               {{ selectedPaymentFrequency.text }}
            </div>
            <div class="icon">
               <span class="caret"></span>
            </div>
         </div>
         <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem" [class.active]="paymentFrequency.value.text == selectedPaymentFrequency.text" *ngFor="let paymentFrequency of paymentRecurrenceFrequencies"
               (click)="onPaymentFrequencyChanged(paymentFrequency.value);this.sendEvent('transfer_amount_and_account_select_repeat_transfer');">
               {{paymentFrequency.value.text}}
            </li>
         </ul>
      </div>
      <div class="info-text" *ngIf="!selectedPaymentFrequency.code">
         <span class="info-icon"></span>
         <span>{{repeatTransferWeeklyMessage}}</span>
      </div>
   </div>
   <div class="gd-form-row same-date" *ngIf="isSameDate">
      <label class="gd-sm-label" for="account_type">Repeat transfer</label>
      <input type="text" readonly [value]="'None'" id="trns-repeat-trans" aria-labelledby="repeatTransfer"/>
      <div class="info-text">
         <span class="info-icon"></span>
         <span id="repeatTransfer">{{repeatTransferMessage}}</span>
      </div>
   </div>
   <div class="gd-form-row" *ngIf="!isSameDate && !!selectedPaymentFrequency.code">
      <label class="gd-sm-label" for="repeatby">Define repeat by</label>
      <app-radio-button-list [radioList]='repeatTypeValues' [selectedValue]="vm.repeatType" [groupName]="'repeat'" (onSelectionChange)="onRepeatTypeChange($event)"></app-radio-button-list>
   </div>
   <div class="gd-form-row" *ngIf="!isSameDate && !!selectedPaymentFrequency.code && vm.repeatType === endDateRepeatTypeConstant">
      <label class="gd-sm-label active" for="paymentEndDate">Payment end date</label>
      <app-custom-date-picker id="pay-transfer-date" [config]="endConfig" [date]="formatEndDate" (dateChanged)="setEndDate($event)"></app-custom-date-picker>
      <div class="transfer-hint">{{vm.repeatDurationText}}</div>
   </div>
   <div class="gd-form-row" *ngIf="!isSameDate && !!selectedPaymentFrequency.code && vm.repeatType !== endDateRepeatTypeConstant">
      <label class="gd-sm-label active" for="numRecurrence">Number of occurrences</label>
      <div class="field-with-icon">
         <div class="field-block">
            <input id="numRecurrence" [class.error]="(numRecurrence.dirty || numRecurrence.touched) && isNumReccurencesInvalid()" name="numRecurrence"
               type="text" #numRecurrence="ngModel" [(ngModel)]="reoccurenceNumber" validateFor="number" appValidateInput required
               appCheckBlur ga-event-name="transfer_amount_and_account_enter_number_of_repeats">
         </div>
      </div>
      <div *ngIf="(numRecurrence.dirty || numRecurrence.touched) && isNumReccurencesInvalid() && numRecurrence.isBlurred" class="error-msg">
         <span *ngIf="isRecurrenceValueInvalid()">
            This field is required.
         </span>
         <span *ngIf="isWeeklyRecurrenceInvalid()">
            {{labels.weeklyRecurrenceInvalidError}}
         </span>
         <span *ngIf="isMonthlyRecurrenceInvalid()">
            {{labels.monthlyRecurrenceInvalidError}}
         </span>
      </div>
      <div class="info-text">
         <span class="info-icon"></span>
         <span>{{repeatTransferWeeklyMessage}}</span>
      </div>
   </div>
</form>
<app-colored-overlay [isVisible]="showOverlay" [template]="OverlayTemplate" [backOption]="false" id="trns-no-account-overlay">
   <ng-template #OverlayTemplate>
      <div class="vertical-overlay-content-wrapper">
         <div class="icon"></div>
         <div class="content">
            <h6 class="para-title">You need more than one account to make a transfer.</h6>
            <div class="top">
               <p>Link or open another account at
                  <a href='https://nedbank.co.za' target='_blank'>Nedbank.co.za</a> to use this feature.</p>
            </div>
         </div>
      </div>
   </ng-template>
</app-colored-overlay>