<div class="formInput">
   <form #nedIdForm="ngForm" class="gd-form">
      <div class="gd-form-row">
         <h4 class="section-title darkText">Let's create your Nedbank ID.</h4>
      </div>
      <app-message-alert [showAlert]="serviceError != ''" [displayMessageText]="serviceError" [linkDisplayText]="errorLinkText"
         [action]="alertAction" [alertType]="alertType" (onAlertLinkEmit)="onAlertLinkSelected($event)"></app-message-alert>
      <div class="gd-form-row">
         <span>This will be your login details across all new Nedbank online banking channels.</span>
      </div>
      <div class="gd-form-row">
         <label for="username" class="gd-sm-label">Nedbank ID username</label>
         <input id="username" autocomplete="off" class="validate form-element" type="text" [(ngModel)]="vm.username" #username="ngModel"
            [disabled]="showLoader" name="username" minlength="7" maxlength="100" required appValidateUsername (ngModelChange)="onInputChanged($event)"
         />

         <ng-container *ngIf="username.invalid && (username.dirty || username.touched);else noUsernameValidationError">
            <div class="error-msg">
               <ng-container *ngIf="username.errors.required;else patternCheck">
                  {{messages.usernameMandatory}}
               </ng-container>
               <ng-template #patternCheck>
                  <ng-container *ngIf="username.hasError('username');else lengthCheck">
                     <span>{{messages.userNameValidationText}}</span>
                  </ng-container>
               </ng-template>
               <ng-template #lengthCheck>
                  <ng-container *ngIf="username.hasError('minlength') || username.hasError('maxlength');else defaultError">
                     <span>{{messages.userNameValidationText}}</span>
                  </ng-container>
               </ng-template>
               <ng-template #defaultError>
                  <span>{{messages.userNameValidationText}}</span>
               </ng-template>
            </div>
         </ng-container>
         <ng-template #noUsernameValidationError>
            <span class="helpText">{{messages.userNameHelpText}}</span>
         </ng-template>
      </div>
      <div class="gd-form-row">
         <label for="password" class="gd-sm-label">Nedbank ID password</label>
         <div class="password-Container">
            <div class="eye-container">
               <input id="password" autocomplete="off" class="validate form-element passwordInput" [type]="getPasswordField(isPasswordView)"
                  [(ngModel)]="vm.password" #inputPassword #password="ngModel" [disabled]="showLoader" name="password" maxlength="16"
                  required appValidateInput (ngModelChange)="onInputChanged($event);onPasswordVerify($event)" (focus)="showPasswordMeter = true"
                  (blur)="showPasswordMeter = !isPasswordValid" />
               <span class="eye-img" #togglerPassword>
            <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isPasswordView"></i>
          </span>
            </div>
            <!-- <span class="validationCheck" [class.success]="vm.password && isPasswordValid">
          <i class="checkIcon"></i>
        </span> -->
         </div>
         <app-password-strength-meter [passwordValue]="vm.password" [showPasswordMeter]="showPasswordMeter" (onPasswordVerified)="onPasswordVerified($event)"></app-password-strength-meter>
         <div *ngIf="!showPasswordMeter && (password.dirty || password.touched)">
            <ng-container *ngIf="password.invalid; else validPasswordFormatCheck">
               <div class="error-msg">
                  <ng-container *ngIf="password.errors.required;else defaultError">
                     {{messages.passwordMandatory}}
                  </ng-container>
                  <ng-template #defaultError>{{messages.passwordValidationText}}</ng-template>
               </div>
            </ng-container>
            <ng-template #validPasswordFormatCheck>
               <div *ngIf="!isPasswordValid" class="error-msg">
                  <span>{{messages.passwordValidationText}}</span>
               </div>
            </ng-template>
         </div>
      </div>
      <div class="gd-form-row">
         <label for="verifyPassword" class="gd-sm-label">Reenter password</label>
         <div class="password-Container">
            <div class="eye-container">
               <input id="verifyPassword" autocomplete="off" class="validate form-element passwordInput" [type]="getPasswordField(isPasswordVerifyView)"
                  [(ngModel)]="vm.verifyPassword" #inputVerifyPassword #verifyPassword="ngModel" [disabled]="showLoader" name="verifyPassword"
                  maxlength="16" appValidateInput (ngModelChange)="onInputChanged($event);onPasswordVerify($event)" (focus)="showPasswordVerify = true"
                  (blur)="showPasswordVerify = false" />
               <span class="eye-img" #togglerVerifyPassword>
            <i class="fa-fa-eye-show" [class.fa-fa-eye-hide]="!isPasswordVerifyView"></i>
          </span>
            </div>
            <!-- <span class="validationCheck" [class.success]="isPasswordMatch">
          <i class="checkIcon"></i>
        </span> -->
         </div>
         <div *ngIf="isPasswordMatch" class="passwordVerifyMeter">
            <div>Passwords match</div>
         </div>
      </div>
      <app-bottom-button [text]="'Create'" [disableButton]='!this.isValid' (clickEmitter)="navigateNext($event)" [showLoader]='showLoader'></app-bottom-button>
   </form>
</div>