@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';
$icon-path: './../../../assets/svg/';

.marginTop {
  margin-top: 10px;
}

.password-Container {
  position: relative; 

  .checkIcon{
    @include svg-image-full-path($default-svg-image-path, 'PasswordSuccess', 25px, 25px);
  }

  .validationCheck {
    opacity: 0.3;
    position: absolute;
    bottom: 5px;
    right: 5px;

    &.success {
      opacity: 1;
    }
  }
}

.passwordVerifyMeter {
  font-size: $font-xsm;
  margin-top: 5px;
  color: $text-color-accent-secondary;
  
    .hide {
      display: none;
    }
  
    .matched {
      color: $text-color-primary;
    }

  ul {
    list-style: none;

    li {
      font-weight: normal;
      position: relative;
    }

    li:before {
      position: absolute;
      display: block;
      content: '\2022'; // bullet point
      width: 2em;
      height: 2em;
    }

    .greenCheck:before {
      content: ' ';
      background-repeat: no-repeat;
      background-image: url($icon-path + 'tickStatus.svg');
      background-size: 0.8em;
      background-position: 0 0.3em;
    }

    div {
      margin-left: 20px;
    }
  }
}

::-ms-reveal {
  display: none;
}
