@import '../../../../styles/_base.scss';
@import '../../../../styles/_mixins.scss';

.unit-trust-widget {
   margin: 15px 0;
   .account-name {
      font-size: $font-sm;
      letter-spacing: 0;
      color: $text-color-primary;
      word-break: break-all;
   }
   .account-number {
      display: block;
      color: $text-color-secondary;
   }
   .amount-text {
      cursor: pointer;
      color: $tertiary-color;
      float: right;
      font-size: $font-default;
      padding-top: 18%;
   }
   .account-container {
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
   }
   .amount-container {
      margin: 10px 0;
      .amount-head {
         font-size: $font-xsm;
         color: $text-color-notice-block;
      }
      .hint {
         font-size: $font-xsm;
         color: $text-color-info;
      }
   }

   .icon {
      width: 30px;
      height: 30px;
   }
   .checkbox-container {
      display: flex;
      .checkbox-label {
         padding-left: 0;
         width: 40px;
         .text {
            text-align: left;
            font-weight: $weight-medium;
         }
         .tick-container {
            position: relative;
            border: 2px solid $form-element-border;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            margin-top: 7px;
            float: left;
            margin-right: 6px;
            .tick-icon {
               color: $text-color-highlight;
               position: absolute;
               font-size: $font-default;
               line-height: 0;
               top: 50%;
               left: 20%;
            }
         }
         .checkbox {
            display: none;
            &:checked+.tick-container {
               background-color: $checkbox-bg-active;
               border-color: $checkbox-bg-active;
               .tick-icon {
                  opacity: 1;
               }
            }
            &:disabled+.tick-container {
               opacity: .5;
            }
            &+.tick-container {
               &>.tick-icon {
                  opacity: 0;
               }
            }
         }
      }
   }
}