<form #unitTrustForm="ngForm" class="gd-form">
      <section class="unit-trust-widget">
         <div class="account-container row">
            <div class="col-md-9 col-sm-9 col-xs-9">
               <div class="checkbox-container">
                  <label *ngIf="!isSingleCellMode" class="checkbox-label">
                     <input #selected class="checkbox" type="checkbox" 
                        [checked]="accountChecked" 
                        (change)="onAccountChecked(selected.checked)"
                        [disabled]="isDisabled">
                     <span class="tick-container">
                        <i class="tick-icon glyphicon glyphicon-ok"></i>
                     </span>
                  </label>
                  <div class="text" (click)="account?.productCostRands && isAmountFieldOpen=true">
                     <span class="account-name">{{account?.productPropertyList[1].propertyValue}}</span>
                     <span class="account-number">{{account?.productPropertyList[0].propertyValue}}</span>
                  </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
               <span *ngIf="account?.productCostRands && !isAmountFieldOpen"
                  class="amount-text" [innerHTML]="account.productCostRands | amountTransform"></span>
            </div>
         </div>
         <div class="amount-container gd-form-row" *ngIf="isAmountFieldOpen">
            <label class="amount-head" for="amountRef">Amount</label>
            <input type="text" id="amount" name="amountRef" #amountRef="ngModel" 
               [disabled]="isDisabled"
               [ngModel]="account?.productCostRands | amountTransform"
               (keydown.enter)="closeAmountField()"
               (blur)="closeAmountFieldWithDelay()"
               appAmountFormatMask autocomplete="off"
               (ngModelChange)="amountValue = $event"
               [class.error]="!isMultipleOfHundred && !isValidCost && (amountRef.dirty || amountRef.touched)" 
               appFocus>
            <span class="hint" name="hint">{{getLeftAmount() | amountTransform : amountPipeSettings}} left</span>
            <div *ngIf="(amountRef.dirty || amountRef.touched)" role="alert">
               <div *ngIf="!isMultipleOfHundred && account?.productCostRands > 0" class="error-msg">
                  <span>Amount should be multiples of R100.</span>
               </div>
               <div *ngIf="!isValidCost && account?.productCostRands > 0" class="error-msg">
                  <span>Amount limit exceeded.</span>
               </div>
            </div>
         </div>
      </section>
   </form>