@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';


$icon-path: '../../../../assets/svg/';


hr {
   margin: 15px;
}

.contact-detail-hdr {
   padding: 60px 20px 20px 20px;

   h4 {
      font-size: $status-size;
      @include markpro-medium();
      color: $text-color-secondary;
   }

   h5 {
      font-size: $font-sm;
      color: $text-color-primary;
   }
}

.profile-container {
   background-color: $container-bg;

   .row{
      margin: 0px;
   }

   .adr-container {
      display: flex;
      padding: 20px;

      .icon-container {
         padding-right: 25px;
         float: left;

         .home {
            @include svg-image-full-path($icon-path,'home',100%, 100%);
            @include border-radius(50%);
            display: block;
            height: 36px;
            width: 36px;
         }

         .phone {
            @include svg-image-full-path($icon-path,'phone-call',100%, 100%);
            @include border-radius(50%);
            display: block;
            height: 36px;
            width: 36px;
         }

         .mail {
            @include svg-image-full-path($icon-path,'newsletter',100%, 100%);
            @include border-radius(50%);
            display: block;
            height: 36px;
            width: 36px;
         }

         .profile {
            @include svg-image-full-path($icon-path,'edit-profile',100%, 100%);
            @include border-radius(50%);
            display: block;
            height: 38px;
            width: 38px;
         }
      }

      .text {
         font-size: $font-default;
         color: $text-color-primary;

         &.phone, &.mail{
            padding-top: 10px;
         }
      }

      .sub-text{
         display: block;
         font-size:$font-xsm;
         font-weight: $weight-medium;
         color: $text-color-info;
      }
   }
}

@media (min-width: $media-xs) {
   .profile-container {
   
      .adr-container {
         width: 100%;
         float: left;
      }
   }
}

@media (min-width: $media-md) {
   .profile-container {
      display: block;
      overflow-y: auto;

      .adr-container {
         margin: 20px;
         border-left: 1px solid $divider-secondary;
         width: 26%;
         float: left;
      }

      .adr-container:nth-child(1) {
         border-left: none;
      }
      .adr-container:nth-child(4) {
         border-left: none;
      }
   }
}

@media (min-width: $media-lg) {
   .hr-line {
      display: none;
   }

   .contact-detail-hdr {

      h4 {
         font-size: $md-heading-size;
      }

      h5 {
         font-size: $font-default;
      }
   }

   .profile-container {
      display: block;

      .adr-container {
         margin: 20px;
         border-left: 1px solid $divider-secondary;
         width: 28%;

         .text {
            font-size: $font-md;
         }
      }

      .adr-container:nth-child(1) {
         border-left: none;
      }
   }
}
