<div class="contact-detail-hdr">
   <h4>Your details</h4>
   <h5>You can update your details by visiting your nearest branch.</h5>
</div>
<div class="profile-container">
      <div class="row">
            <div class="adr-container col-xs-4 col-sm-4">
                  <div class="icon-container">
                        <a class="profile"></a>
                  </div>
                  <div class="text profile">
                        <span>{{profileDetails?.FullNames}}</span><br/>
                        <span class="sub-text">{{displayRsaPassportNo()}}</span>
                  </div>
            </div>
            <div class="adr-container col-xs-4 col-sm-4">
                  <div class="icon-container">
                        <a class="phone"></a>
                  </div>
                  <div class="text phone">
                        <span>{{profileDetails?.CellNumber?(profileDetails.CellNumber|mobileNumberMask):'Cellphone number not available'}}</span>
                  </div>
            </div>
            <div class="adr-container col-xs-4 col-sm-4">
                  <div class="icon-container">
                        <a class="mail"></a>
                  </div>
                  <div class="text mail">
                        <span>{{profileDetails?.EmailAddress?profileDetails.EmailAddress:'Email not available'}}</span>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="adr-container col-xs-12 col-sm-4">
                  <div class="icon-container">
                        <a class="home"></a>
                  </div>
                  <div class="text">
                        <span class="text-capitalize">{{fullAddress | lowercase}}</span>
                        <br>
                        <span class="text-capitalize">{{profileDetails?.Address?.AddressCity | lowercase }}</span>
                        <span>{{profileDetails?.Address?.AddressPostalCode}}</span>
                  </div>
            </div>      
      </div>
</div>
