<app-search-recipients [isOverlay]="isSearchRecipients" (onBeneficiaryListHidden)="hideSearchRecipients()" (onBeneficiaryDataSelection)="handleBeneficiarySelection($event);sendEvent('pay_recipient_details_select_recipient_name')"
   (sendBeneficiaryData)="getContactCards($event)" [options]="{ isPay: true }"></app-search-recipients>
<ng-template #bankListTemplate let-model="item" let-index="index" let-match="match" let-query="query">
   <span class="bankname-type-ahead" [innerHtml]="model.bankName | highlight:query:'highlightText'"></span>
</ng-template>
<ng-template #countryListTemplate let-model="item" let-index="index" let-match="match" let-query="query">
   <span class="countryname-type-ahead" [innerHtml]="model.countryName | highlight:query:'highlightText'"></span>
</ng-template>
<ng-template #searchBeneficiaryTemplate let-model="item" let-index="index" let-match="match" let-query="query">
   <div class="benificiary-list" ga-event-name="pay_recipient_details_select_recipient_name">
      <div *ngIf="model.bDFID">
         <div class="name" [innerHtml]="model.beneficiaryName | highlight:query:'highlightText'"></div>
         <div class="details">
            <div class="icon-type bankAccount"></div>
            <div class="account-type">
               <span [innerHtml]="model.bDFID | highlight:query:'highlightText'"></span>
            </div>
         </div>
      </div>
      <div *ngIf="model.accountNumber">
         <div class="name" [innerHtml]="model.beneficiaryName | highlight:query:'highlightText'"></div>
         <div class="details">
            <div *ngIf="isBankAccountContactCard(model)" class="icon-type bankAccount"></div>
            <div *ngIf="isPrepaidContactCard(model)" class="icon-type mobile"></div>
            <div *ngIf="isElectricityContactCard(model)" class="icon-type electricity"></div>
            <div class="account-type">
               <span *ngIf="model.bankName" class="text" [innerHtml]="model.bankName | highlight:query:'highlightText'"></span>
               <span [innerHtml]="model.accountNumber | highlight:query:'highlightText'"></span>
            </div>
         </div>
      </div>
   </div>
</ng-template>

<ng-template #branchListTemplate let-model="item" let-index="index" let-match="match" let-query="query">
   <div class="branch-name" [innerHtml]="model.branchName | highlight:query:'highlightText'"></div>
   <div class="branch-code" [innerHtml]="model.branchCode | highlight:query:'highlightText'"></div>
</ng-template>
<form class="pay-to-section gd-form autocomplete-container" #payToForm="ngForm">
   <div class="gd-form-row">
      <label class="gd-sm-label active" for="recipient_name">Recipient name</label>
      <div class="field-with-icon">
         <div class="field-block clear-field-block">
            <input appFocus autofocus [readonly]="!processedBeneficiaryData" id="recipient_name" type="search" autocomplete="off" class="validate"
               #beneficiaryName="ngModel" [(ngModel)]="vm.recipientName" ga-event-name="pay_step1_enter_recipient_name" (ngModelChange)="onRecipientNameChanged()"
               [typeahead]="processedBeneficiaryData" [typeaheadOptionsLimit]="processedBeneficiaryData && processedBeneficiaryData.length"
               [typeaheadItemTemplate]="searchBeneficiaryTemplate" (typeaheadOnSelect)="selectBeneficiary($event);sendEvent('pay_recipient_details_select_recipient_name',null,vm.recipientName)"
               typeaheadOptionField="beneficiaryName" name="beneficiaryName" appValidateRequired appClearField appCheckBlur
               appValidationLatinWord appClipBoardValidation />
         </div>

         <div class="icon-block">
            <div class="icons">
               <span *ngIf="!isForeignBankPayment()" class="receipient-search-icon icon" (click)="showSearchRecipients()" ga-event-name="pay_step1_click_on_recipient_icon"></span>
            </div>
         </div>
      </div>
      <div *ngIf="(beneficiaryName.invalid && (beneficiaryName.dirty || beneficiaryName.touched)) && beneficiaryName.isBlurred"
         class="error-msg">
         <span *ngIf="beneficiaryName.errors.required">
            Recipient name is required.
         </span>
      </div>
   </div>
   <div *ngIf="vm.isShowBankName">
      <div class="gd-form-row">
         <label class="gd-lg-label" for="">How would you like to pay?</label>
         <div class="payment-options extended-pay">
            <div class="payment-option-box" [ngClass]="{'selected': isAccountPayment(), 'no-cursor':vm.isReadOnly}" (click)="onPayToAccountClick()"
               ga-event-name="pay_recipient_details_click_on_pay_to_a_bank_account">
               <span class="icon bank-icon" [class.selected]="isAccountPayment()"></span>
               <p class="text">Pay to a bank account</p>
            </div>
            <div class="payment-option-box" [ngClass]="{'selected': isMobilePayment(), 'no-cursor':vm.isReadOnly}" (click)="onPayToMobileClick()"
               ga-event-name="pay_recipient_details_click_on_pay_to_a_cellphone">
               <span class="icon mobile-icon" [class.selected]="isMobilePayment()"></span>
               <p class="text">Pay to a cellphone</p>
            </div>
            <div class="payment-option-box" [ngClass]="{'selected': isCreditCardPayment(), 'no-cursor':vm.isReadOnly}" (click)="onPayToCreditCardClick()"
               ga-event-name="pay_recipient_details_click_on_pay_to_a_credit_card">
               <span class="icon card-icon" [class.selected]="isCreditCardPayment()"></span>
               <p class="text">Pay to a credit card</p>
            </div>
            <div class="payment-option-box" *ngIf="vm?.isCrossBorderAllowed" [ngClass]="{'selected': isForeignBankPayment(), 'no-cursor':vm.isReadOnly}"
               (click)="onPayToForeignBankClick()" ga-event-name="pay_recipient_details_click_on_pay_to_a_foreign_bank">
               <span class="icon card-icon" [class.selected]="isForeignBankPayment()"></span>
               <p class="text">Pay to a foreign bank account</p>
            </div>
         </div>
      </div>
      <div class="gd-form-row bank-header-container bank-container autocomplete-container" *ngIf="isAccountPayment()">
         <label class="gd-lg-label" for="">To which account?</label>
         <div *ngIf="vm.isShowBankName" id="bank-name-list">        
            <label class="gd-sm-label active" for="bank_name">Bank name</label>
            <input id="bank" autocomplete="off" type="text" class="validate" #bankNameRef="ngModel" [(ngModel)]="vm.bankName" [typeahead]="banks"
               [typeaheadItemTemplate]="bankListTemplate" (typeaheadOnSelect)="selectBank($event);sendEvent('pay_recipient_details_enter_bank_name',null,vm.bankName)"
               typeaheadGroupField="category" (typeaheadOnBlur)="blurBank($event)" (typeaheadNoResults)="noBankResults($event)" [typeaheadMinLength]="0" (blur)="blurBankInput($event)"
               typeaheadOptionField="bankName" name="bankName" appValidateRequired [readonly]="isBankReadOnly()" [disabled]="!areBanksLoaded || isBankReadOnly()"
               [typeaheadOptionsLimit]="banks && banks.length" />
            <div *ngIf="!isBankOpen() && bankNameRef.invalid && (bankNameRef.dirty || bankNameRef.touched)" class="error-msg">
               <span *ngIf="bankNameRef.errors.required">
                  Please enter the bank name.
               </span>
            </div>    
         </div>
      </div>
      <div class="gd-form-row" *ngIf="isAccountPayment()">
         <label class="gd-sm-label active" for="account_number">Account number</label>
         <input id="account_number " autocomplete="off" type="text" class="validate" #accountNumberRef="ngModel" [(ngModel)]="vm.accountNumber"
            ga-event-name="pay_recipient_details_enter_account_number" name="accountNumber" maxlength="13" appValidateRequired
            appValidateInput validateFor='number' appCheckBlur maxLimit='13' [readonly]="(vm.isReadOnly && vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountNumber
            && vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountNumber.trim().length > 0)">
         <div *ngIf="accountNumberRef.invalid && (accountNumberRef.dirty || accountNumberRef.touched) && accountNumberRef.isBlurred"
            class="error-msg">
            <span *ngIf="accountNumberRef.errors.required">
               Please enter a account number.
            </span>
         </div>
      </div>
      <div class="gd-form-row" *ngIf="isAccountPayment() && isNedBankSelected && vm.isShowBankName">
         <label class="gd-sm-label" for="account_type">Account type</label>
         <input type="hidden" appValidateRequired [ngModel]="vm.accountType" name="accountType" #accountTypeRef="ngModel" />
         <div class="gd-basic-dropdown" dropdown (click)="onAccountTypeDropdownOpen()" [isDisabled]="(vm.isReadOnly && vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountType
   && vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountType.length > 0 &&
   getAccountTypeByCode(vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountType) !== '')">
            <div dropdownToggle class="dropdown-place" [ngClass]="{'disable-dropdown' : (vm.isReadOnly &&
      vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountType &&
      vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountType.length > 0 &&
      getAccountTypeByCode(vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountType) !== ''),
      'drpdwn-error': (displaySelectedAccountType === constants.dropdownDefault.displayText) && accountTypeDirty,
      'drpdwn-initial': displaySelectedAccountType === constants.dropdownDefault.displayText}">
               <div class="text">
                  {{ displaySelectedAccountType }}
               </div>
               <div class="icon">
                  <span class="caret"></span>
               </div>
            </div>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
               <li role="menuitem" [class.active]="accountType.value.text == displaySelectedAccountType" *ngFor="let accountType of accountTypes"
                  (click)="onAccountTypeChanged(accountType)" ga-event-name="pay_recipient_details_enter_account_type">
                  <ng-container *ngIf="accountType.value.code !== creditCardAccountTypeCode || !isNedBankSelected">{{accountType.value.text}}</ng-container>
               </li>
            </ul>
         </div>
         <div *ngIf="accountTypeRef.invalid && accountTypeDirty" class="error-msg">
            <span *ngIf="accountTypeRef.errors.required">
               Please select an account type.
            </span>
         </div>
      </div>
      <div class="gd-form-row branch-container autocomplete-container" *ngIf="isBranchVisible && isAccountPayment() && vm.isShowBankName">
         <label for="branch" class="gd-sm-label active">Branch name or code</label>
         <input id="branch" type="text" class="validate" #branchRef="ngModel" [(ngModel)]="vm.branchName" [typeaheadOptionsLimit]="branches && branches.length"
            [typeahead]="branches" [typeaheadItemTemplate]="branchListTemplate" (typeaheadOnSelect)="selectBranch($event)" (typeaheadOnBlur)="blurBranch($event)"
            (typeaheadNoResults)="noBranchResults($event)" (blur)="blurBranchInput($event)" typeaheadOptionField="displayName"
            name="branch" appValidateRequired autocomplete="off" [typeaheadMinLength]="0" [readonly]="(vm.isReadOnly && vm.beneficiaryData?.contactCardDetails?.cardDetails?.branchCode && vm.beneficiaryData?.contactCardDetails?.cardDetails?.branchCode.trim().length > 0)"
            [disabled]="!areBanksLoaded" />
         <div *ngIf="branchRef.invalid && (branchRef.dirty || branchRef.touched)" class="error-msg">
            <span *ngIf="branchRef.errors.required">
               Please enter the branch name or code.
            </span>
         </div>
      </div>
      <div class="gd-form-row" *ngIf="isMobilePayment()">
         <label class="gd-lg-label" for="">To which cellphone number?</label>
         <label class="gd-sm-label active" for="mobile_number">Cellphone number</label>
         <input autocomplete="off" id="mobile_number" type="tel" class="validate" #mobileNumberRef="ngModel" [(ngModel)]="vm.mobileNumber"
            name="mobileNumber" appValidateRequired [pattern]="mobilePattern" appValidateOnblur appValidateInput validateFor='mobile'
            appCheckBlur (ngModelChange)="onMobileNumberChange($event)" [readonly]="(vm.isReadOnly && vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountNumber && vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountNumber.trim().length > 0)"
         />
         <div *ngIf="mobileNumberRef.invalid && (mobileNumberRef.dirty || mobileNumberRef.touched) && mobileNumberRef.isBlurred" class="error-msg">
            <span *ngIf="mobileNumberRef.errors.required">
               Please enter a cellphone number.
            </span>
            <span *ngIf="mobileNumberRef.errors.pattern">
               Incorrect cellphone number.
            </span>
         </div>
         <div class="info-text">
            <span class="info-icon"></span>
            <span>{{mobileWarningNotification}}</span>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="isCreditCardPayment()">
         <label class="gd-lg-label" for="">To which credit card number?</label>
         <label class="gd-sm-label active" for="card_number">Credit card number</label>
         <input id="card_number " autocomplete="off" type="text" class="validate" #cardNumberRef="ngModel" [(ngModel)]="vm.creditCardNumber"
            name="cardNumber" [minlength]="creditCardLengths.min" [maxlength]="creditCardLengths.max" appValidateRequired appValidateInput
            validateFor='number' appCheckBlur [maxLimit]='creditCardLengths.max' (ngModelChange)="validate()" appValidateOnblur
            [readonly]="(vm.isReadOnly && vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountNumber && vm.beneficiaryData?.contactCardDetails?.cardDetails?.accountNumber.trim().length > 0)">
         <div *ngIf="cardNumberRef.invalid && (cardNumberRef.dirty || cardNumberRef.touched) && cardNumberRef.isBlurred" class="error-msg">
            <span *ngIf="cardNumberRef.errors.required">
               Please enter a credit card number.
            </span>
            <span *ngIf="cardNumberRef.errors.minlength">
               Incorrect credit card number.
            </span>
         </div>
      </div>
      <div class="gd-form-row" *ngIf="isRemittanceAvailable()">
         <span class="payment-options extended-pay notify-color">
            <div class="icon">
               <span class="info-icon"></span>
            </div>
            We are currently only facilitating payments to Ecobank. More partners will be added soon.
         </span>
      </div>
      <!-- foreign bank payment fields -->
      <div class="gd-form-row country-container autocomplete-container" *ngIf="isRemittanceAvailable()">
         <label class="gd-lg-label" for="">{{constants.VariableValues.countryDetails}}</label>
         <div *ngIf="vm.isShowBankName" id="country-name-list">
            <label for="pay-select-country" class="gd-sm-label">Select country</label>
            <input id="country-name" autocomplete="off" type="text" class="validate" #countryNameRef="ngModel" [(ngModel)]="displaySelectedCountry"
               [typeahead]="countryList" [typeaheadItemTemplate]="countryListTemplate" (typeaheadOnSelect)="selectCountry($event)"
               (typeaheadOnBlur)="blurCountry($event)" (typeaheadNoResults)="noCountryResults($event)" [typeaheadMinLength]="0"
               (blur)="blurCountryInput($event)" typeaheadOptionField="countryName" name="countryName" appValidateRequired [typeaheadOptionsLimit]="countryList && countryList.length"
            />
            <div *ngIf="!isCountryOpen() && countryNameRef.invalid && (countryNameRef.dirty || countryNameRef.touched)" class="error-msg">
               <span *ngIf="countryNameRef.errors.required">
                  {{enterCountryName}}
               </span>
            </div>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="isRemittanceAvailable()">
         <label class="gd-lg-label" for="">{{constants.VariableValues.recipientBankDetails}}</label>
         <label for="bank-name" class="gd-sm-label active">Bank name</label>
         <input id="bank-name" type="text" class="validate bank-name" #bankRef="ngModel" [(ngModel)]="vm.crossBorderPayment.bank.bankName"
            [disabled]="true" name="bank-name" autocomplete="off" appValidateRequired appValidateOnblur appValidateInput appCheckBlur/>
         <div *ngIf="bankRef.invalid && (bankRef.dirty || bankRef.touched) && bankRef.isBlurred" class="error-msg">
            <span *ngIf="bankRef.errors.required">
               Please enter a bank name.
            </span>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="isRemittanceAvailable()">
         <label for="example-search-input" class="gd-sm-label">Account number</label>
         <input id="account-number" type='text' validateFor='number' name="account-number" autocomplete="off" #accountNumber="ngModel"
            [(ngModel)]="vm.crossBorderPayment.bank.accountNumber" appValidateRequired appValidateOnblur appValidateInput appCheckBlur
            maxlength="16" maxLimit='16' ga-event-name="pay_enter_account_number" />
         <div *ngIf="accountNumber.invalid && (accountNumber.dirty || accountNumber.touched) && accountNumber.isBlurred" class="error-msg">
            <span *ngIf="accountNumber.errors.required">
               Please enter a account number.
            </span>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="isRemittanceAvailable()">
         <input id="gender" type='hidden' name="gender" #genderInput="ngModel" [(ngModel)]="vm.crossBorderPayment.personalDetails.gender"
            appValidateRequired appValidateOnblur appValidateInput appCheckBlur>
         <label class="gd-lg-label" for="">Personal details of recipient </label>
         <div class="payment-options">

            <div class="payment-option-box" [ngClass]="{'selected': vm.crossBorderPayment.personalDetails.gender===constants.labels.genderMale}"
               (click)="selectGender(constants.labels.genderMale)" (touchstart)="true">
               <p class="no-icon-text">{{constants.labels.genderMale}}</p>
            </div>
            <div class="payment-option-box" [ngClass]="{'selected': vm.crossBorderPayment.personalDetails.gender===constants.labels.genderFemale}"
               (click)="selectGender(constants.labels.genderFemale)" (touchstart)="false">
               <p class="no-icon-text">{{constants.labels.genderFemale}}</p>
            </div>
         </div>
         <div *ngIf="genderInput.touched && genderInput.invalid" class="error-msg">
            <span *ngIf="genderInput.errors.required">
               Please select gender.
            </span>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="isRemittanceAvailable()">
         <label for="example-search-input" class="gd-sm-label">ID/Passport number</label>
         <input id="id-passport" type='text' name="id-passport" autocomplete="off" #idPassportInput="ngModel" [(ngModel)]="vm.crossBorderPayment.personalDetails.idPassportNumber"
            appValidateRequired appValidateOnblur appValidateInput appCheckBlur ga-event-name="pay_enter_id_or_passport" />
         <div *ngIf="idPassportInput.invalid && (idPassportInput.dirty || idPassportInput.touched) && idPassportInput.isBlurred" class="error-msg">
            <span *ngIf="idPassportInput.errors.required">
               Please enter an id or passport number.
            </span>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="isRemittanceAvailable()">
         <label for="example-search-input" class="gd-sm-label">Physical address</label>
         <input id="recipient-address" type='text' name="recipient-address" autocomplete="off" #recAddrInput="ngModel" [(ngModel)]="vm.crossBorderPayment.personalDetails.recipientAddress"
            appValidateRequired appValidateOnblur appValidateInput appCheckBlur ga-event-name="pay_enter_recipient_address"
         />
         <div *ngIf="recAddrInput.invalid && (recAddrInput.dirty || recAddrInput.touched) && recAddrInput.isBlurred" class="error-msg">
            <span *ngIf="recAddrInput.errors.required">
               Please enter an address.
            </span>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="isRemittanceAvailable()">
         <label for="example-search-input" class="gd-sm-label">City/Town/Village</label>
         <input id="recipient-city-village" type='text' name="recipient-city-village" autocomplete="off" #recCityVillInput="ngModel"
            [(ngModel)]="vm.crossBorderPayment.personalDetails.recipientCityVillage" appValidateRequired appValidateOnblur appValidateInput
            appCheckBlur ga-event-name="pay_enter_recipient_city_or_village" />
         <div *ngIf="recCityVillInput.invalid && (recCityVillInput.dirty || recCityVillInput.touched) && recCityVillInput.isBlurred"
            class="error-msg">
            <span *ngIf="recCityVillInput.errors.required">
               Please enter a city or village.
            </span>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="isRemittanceAvailable()">
         <label for="example-search-input" class="gd-sm-label">State/Province (optional)</label>
         <input id="recipient-state-province" type='text' name="recipient-state-province" autocomplete="off" #recStateProvInput="ngModel"
            [(ngModel)]="vm.crossBorderPayment.personalDetails.recipientStateProvince" ga-event-name="pay_enter_recipient_state_or_province"
         />
         <div *ngIf="recStateProvInput.invalid && (recStateProvInput.dirty || recStateProvInput.touched) && recStateProvInput.isBlurred"
            class="error-msg">
            <span *ngIf="recStateProvInput.errors.required">
               Please enter a state or province.
            </span>
         </div>
      </div>

      <div class="gd-form-row" *ngIf="isRemittanceAvailable()">
         <label for="example-search-input" class="gd-sm-label">ZIP code (optional)</label>
         <input id="recipient-zip-code" type='text' validateFor='number' name="recipient-zip-code" autocomplete="off" #recZipInput="ngModel"
            [(ngModel)]="vm.crossBorderPayment.personalDetails.recipientZip" maxlength="8" maxLimit='8' ga-event-name="pay_enter_recipient_zip_code"
            appValidateInput validateFor="alphanumeric" />
         <div *ngIf="recZipInput.invalid && (recZipInput.dirty || recZipInput.touched) && recZipInput.isBlurred" class="error-msg">
            <span *ngIf="recZipInput.errors.required">
               Please enter a zip code.
            </span>
         </div>
      </div>
      <div class="gd-form-row" *ngIf="isForeignBankPayment() && isBeneficiaryInValid">
         <div class="error-msg">
            <p> {{ invalidBeneficiaryMsg }}</p>
         </div>
      </div>
      <div class="gd-form-row error-block text-center" *ngIf="isForeignBankPayment() && !remittanceLoading && !vm.isCrossBorderPaymentServiceAvailable">
         <span class="icon blocked-icon selected"></span>
         <label class="gd-lg-label">{{constants.VariableValues.forexServiceNotAvailable}}</label>
         <p>{{constants.VariableValues.forexServiceNotAvailableSubHeading}}</p>
      </div>
      <div class="gd-form-row" *ngIf="isForeignBankPayment() && remittanceLoading">
         <div class="green-spinner">
            <span class="g-spinner" [class.active]="true"></span>
         </div>
      </div>
      <div *ngIf='isForeignBankPayment() && vm.isCrossBorderPaymentServiceAvailable'>
         <div class="terms-condition">
            <span>{{acceptTncCrossborderPayment}}</span>
            <a href="{{crossborderTncLink}}" id="buy-elec-tnc" target="_blank" class="linkTermsCondition">{{termsAndConditions}}</a>
         </div>
      </div>
      <div class="info-text" *ngIf="!isMobilePayment()">
         <span class="info-icon"></span>
         <span>{{accountWarningNotification}}
         </span>
      </div>
   </div>
</form>
