@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';
$icon-path: './../../../../assets/svg/';
:host::ng-deep {
   .bodyalert {
      alert {
         div {
            &.alert {
               position: fixed;
               width: 100%;
               transition-duration: 0.5s;
               z-index: 10;
            }
         }
      }
   }
}

:host::ng-deep {
   .chat-active {
      alert {
         div {
            &.alert {
               position: fixed;
               width: calc(100% - 30%) !important;
               transition-duration: 0.5s;
               z-index: 10;
            }
         }
      }
   }
}

.popupClass {
   margin-top: 20px;
}

.application-error {
   font-size: $font-sm;
   .system-error-message {
      padding-right: 40px;
      padding-left: 10px;
   }
   .icon-field {
      position: relative;
      padding-right: 10px;
      width: 36px;
      height: 36px;
      display: inline-block;
      vertical-align: middle;
      .icon {
         width: 100%;
         left: 0px;
         top: -3px;
         cursor: pointer;
         display: inline-block;
         height: 100%;
         &.warning {
            @include svg-image-full-path($icon-path, 'Error');
         }
         &.close {
            width: 20px;
            height: 20px;
            @include svg-image-full-path($icon-path, 'close-red');
         }
      }
   }
   .text {
      display: inline-block;
      vertical-align: middle;
      width: calc( 100% - 65px);
      .redirect-link {
         text-decoration: underline;
         font-weight: bold;
         cursor: pointer;
      }
   }
}

@media (max-width:$media-sm - 1) {
   .application-error {
      .icon-field {
         .icon {
            top: 0px;
         }
      }
   }
}
