<div class="profile-container container-padding" [class.is-skeleton-loading]='skeletonMode'>
   <div class="icon-field">
      <span class="icon left-arrow" (click)="openSettingsMenu('Settings')"></span>
      <h4 class="section-title profile-limit-header"> Profile limits</h4>
   </div>
   <div class="widget-container">
      <div *ngFor="let limitDetail of originallimitDetails; let i = index;">
         <app-limits-widget class="limit-box" [limitDetail]="limitDetail" (updateTempLimit)="updateLimit($event)" [allLimits]="originallimitDetails"
                            (updatePermanentLimit)="updateLimit($event)" [skeletonMode]="skeletonMode" [notifystatusToChild]="notifystatusToChild"></app-limits-widget>
      </div>
   </div>
</div>
