@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';


$icon-path: '../../../assets/svg/';


.profile-container {
   .profile-limit-header {
      font-weight: bold;
      text-align: left;
      color: $text-color-primary;
      padding: 0;
      margin: 0 0 0 10px;
      cursor: default;
      display: inline-block;
      vertical-align: middle;
   }

   .icon-field {
      position: relative;
      margin: 0 0 30px 10px;
      .icon {
         width: 12px;
         display: inline-block;
         cursor: pointer;
         line-height: 1;

         &.left-arrow {
            display: inline-block;
            vertical-align: middle;
            margin: 0px 0px 0px 20px;
            @include rotate(180deg);
            @include svg-image-full-path($icon-path, 'right-arrow-cap');
            position: static;
         }
      }
   }
}

@media (min-width: $media-sm) {
   .profile-container {

      .left-arrow {
         display: none !important;
      }
   }
}
