@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';

$svg-path: './../../../../assets/svg';
$icon-exchange: 'exchange-icon';

.get-quote-section {
   margin-top: 32px;
}
.gd-form-column {
   display: inline-block;
   width: 43%;
}
.conecter-icon {
   display: inline-block;
   width: 10%;
}
.gd-md-label {
   font-size: $size-14;
   margin: 10px 0 10px;
   color: $color-brownishGrey;
   display: inline-block;
   width: 27%;
   font-weight: bold;
}
.gd-md-label-right {
   font-size: $size-14;
   margin: 10px 0 10px;
   color: $color-brownishGrey;
   text-transform: uppercase;
   display: inline-block;
   text-align: right;
   width: 71%;
   font-weight: bold;
}
.label-secondary {
   margin: 15px 0px 15px 0px;
}
.info-text {
   display: block;
   .info-row {
      padding: 15px;
      margin: 10px 0px 10px 0px;
      display: block;
   }
   .info-label {
      font-size: $size-16;
      display: inline-block;
      width: 49%;
      text-align: left;
      font-weight: bold; 
   }
   .info-label-sub-text {
      display: block;
      font-weight: normal;
      font-size: $size-10;
   }
   .info-value {
      font-size: 1rem;
      display: inline-block;
      width: 49%;
      text-align: right;
      font-weight: bold;
   }
}
.info-subject {
   display: block;
   font-size: $size-12;
   font-weight: bold;
}
.info-description {
   display: block;
   font-size: $size-12;
}
@keyframes spinner {
   to {
      transform: rotate(360deg);
   }
}
.green-spinner {
   margin: 100px 0;
   text-align: center;
   .g-spinner {
       display: inline-block;
       width: 40px;
       height: 40px;
       background: none;
       border: 2px solid $color-spinner-primary;
       border-bottom-color: transparent;
       @include border-radius(50%);
       &.active {
           animation: spinner 1000ms linear infinite;
       }
   }
}
.exchange-icon {
   @include svg-image-full-path($svg-path, $icon-exchange);
   display: inline-block;
   margin-right: 10px;
   margin-left: 10px;
}
@media (min-width: $media-xs) {
   .buy-amount-section {
      margin-top: 26px;
   }
}

@media (min-width: $media-sm) {
   .buy-amount-section {
      font-size: $status-size;
      margin-top: 21px;
   }
}

@media (min-width: $media-lg) {
   .buy-amount-section {
      margin-top: 7px;
   }
}

@media (min-width: $media-xlg) {
   .buy-amount-section {
      margin-top: 10px;
   }
}
