<div class="info-text" *ngIf="showOperatingHourMessage">
   <span class="info-icon"></span>
   <span>{{labels.fundTripLabels.operatingHourHeadingText}}<br/><br/>
      Weekdays: {{weekdayOperatingHour.startTime}} to {{weekdayOperatingHour.endTime}}<br/><br/>
      Saturdays: {{weekendOperatingHour.startTime}} to {{weekendOperatingHour.endTime}}<br/><br/>
      {{labels.fundTripLabels.operatingHourSubHeadingText}}   
   </span>
</div>
<br/>
<form #getQuoteForm="ngForm" class="gd-form  autocomplete-container" novalidate>
<div class="gd-form-row">
   <label class="gd-sm-label" for="currencies">{{labels.fundTripLabels.whichCurrencyHeadingText}}</label>
   <div id="currencytype" class="gd-basic-dropdown" autofocus appFocus tabindex="0" dropdown>
      <div dropdownToggle class="dropdown-place">
         <div class="text">
            {{vm.currency?vm.currency.ccycde+'-'+vm.currency.ccyname:labels.fundTripLabels.selectCurrencyText}}
         </div>
         <div class="icon">
            <span class="caret"></span>
         </div>
      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
         <li role="menuitem" [class.active]="currency == currencyType" *ngFor="let currency of currencies" (click)="onCurrencyTypeChanged(currency);">
               {{currency.ccycde}}-{{currency.ccyname}}
         </li>
      </ul>
   </div>
   <div class="transfer-hint">
         {{labels.fundTripLabels.chooseCurrencyText}}
      </div>
</div>
<div class="gd-form-row">
   <label class="gd-lg-label" for="currencies">{{labels.fundTripLabels.enterAmountText}}</label>
      <div class="field-block">
         <label class="gd-sm-label" for="currencies">{{labels.fundTripLabels.howMuchBuyText}}</label>
         <input appFocus id="amount" maxlength="12" #amount="ngModel" [amount]="true" autocomplete="off" ngControl="amount" class="validate"
          [ngModel]="vm.fromCurrencyValue | amountTransform: {prefixValue: vm.currency&&vm.currency.ccycde?vm.currency.ccycde:' ', noDecimal: true}" (ngModelChange)="onAmountChange($event)" type="text" name="amount" [prefixValue]="vm.currency&&vm.currency.ccycde?vm.currency.ccycde:' '" 
          [class.error]="!(vm.fromCurrencyValue > 0) && (amount.dirty || amount.touched)"
          (keypress)="omitSpecialChar($event)"
          appAmountFormatMask appValidateRequired appCheckBlur/>
      </div>
   <div class="transfer-hint" *ngIf="vm.currency&&vm.currency.ccycde&&!loading">
      <div class="gd-md-label">{{labels.fundTripLabels.estimatedRateText}}</div>
      <div class="gd-md-label-right">1 {{vm.currency?vm.currency.ccycde:''}} <span class="exchange-icon"></span> {{isConvertionRatePresent()?(formatExchangeRate(conversionRates[vm?.currency?.ccycde]?.exchangeRate, vm.currency.ccycde)) :0}} {{labels.fundTripLabels.randCurrencyCode}}</div>
   </div>
</div>

<app-bottom-button *ngIf="!loading" id="calculete" [disableButton]="checkValid()" [class.btn-disabled]="checkValid()" (clickEmitter)="calculateQuote(vm?.currency?.ccycde)"
[showLoader]='showloader' [text]="'Submit'"></app-bottom-button>

<div class="gd-form-row" *ngIf="loading">
   <div class="green-spinner">
      <span class="g-spinner" [class.active]="true"></span>
   </div>
</div>

<div class="gd-form-row" *ngIf="quotationSection">
   <label class="gd-lg-label label-secondary" for="currencies">{{labels.fundTripLabels.estimateDetailsText}}</label>
   <div class="info-text">
      <div class="info-row">
         <span class="info-label">{{labels.fundTripLabels.randAmountText}}:</span>
         <span class="info-value"> {{quoteDetails[vm.currency.ccycde].sellCurrencyAmount | amountTransform: amountPipeConfig}}
         </span>
      </div>
      <div class="info-row">
         <span class="info-label">{{labels.fundTripLabels.commissionText}}:<span class="info-label-sub-text">{{labels.fundTripLabels.vatIncludedText}}</span></span>
         <span class="info-value">{{quoteDetails[vm.currency.ccycde].commisionCharge | amountTransform: amountPipeConfig}}
         </span>
      </div>
      <div class="info-row">
         <span class="info-label">{{labels.fundTripLabels.youWillPayText}}:<span class="info-label-sub-text">{{labels.fundTripLabels.commissionIncludedText}}</span></span>
         <span class="info-value">{{(quoteDetails[vm.currency.ccycde].totalZar) | amountTransform: amountPipeConfig}}
         </span>
      </div>
      
   </div>
</div>

<div class="gd-form-row" *ngIf="quotationSection">
   <div class="info-block">
      <span class="info-subject">{{labels.fundTripLabels.disclaimerText}}:</span>
      <span class="info-description">
         {{labels.fundTripLabels.disclaimerDescriptionText}}
      </span>
      
   </div>
</div>

</form>

