<section class="contact-details">
   <div class="section-parts">
      <div class="section-title">
         <span class="main">{{labels.contactDetails}}</span>
         <span class="sub">{{labels.contactStatus}}</span>
      </div>
      <form class="section-form gd-form" #contactForm="ngForm">
         <div class="contact-number gd-form-row">
            <app-phone-number-validator [phoneNumberLabel]="labels?.contactNumberWithoutColon" [phoneNumberValue]="creditLimitDetails.preferContactNumber"
               (returnPhoneNumber)="getPhoneNumber($event)"></app-phone-number-validator>
         </div>
         <div class="bottom-button">
            <app-bottom-button [text]="'Next'" (click)="goToSummary()" [disableButton]="!isContactNumberValid"></app-bottom-button>
         </div>
      </form>
   </div>
</section>
