<div class="schedule-payments" [class.is-skeleton-loading]='skeletonMode'>
   <div *ngIf="scheduledPaymentsData?.length">
   <div class="card-title">{{   heading  }}</div>
   <div *ngFor="let sp of scheduledPaymentsData;">
      <div class="schedule-card">
         <span class="header" [innerHtml]="sp.month.replace('-',' ') | skeletonLoader:skeletonMode"></span>
         <div>
            <span [innerHtml]="'' | skeletonLoader:skeletonMode"></span>
            <span class="summary icon-link" [innerHtml]="sp.totalTransaction"></span>
            <span class="icon-link">
               {{sp.totalTransaction > 1 ? "Transactions" : "Transaction"}} ({{ sp.totalAmount.toFixed(2) | amountTransform }})
            </span>
            </div>
            <div *ngIf="sp" class="transaction-block">
               <app-scheduled-transaction *ngFor="let scheduleTransaction of sp.data;" [scheduleTransactionDetail]="scheduleTransaction" [skeletonMode]="skeletonMode"></app-scheduled-transaction>
            </div>
         </div>
      </div>
   </div>
   <div class="row" *ngIf="!skeletonMode && !scheduledPaymentsData?.length">
      <div class="col-xs-12">
         <div class="empty-state">
            <div class="icon-block">
               <div class="icon"></div>
            </div>
            <div class="heading-block">
               <h2 class="heading">You have no scheduled payments</h2>
            </div>
            <div class="descrp-block">
               <div class="descrp">You can set up a scheduled transaction while making a payment. Once set up, you can manage all scheduled payments
                  from this area.</div>
            </div>
         </div>
      </div>
   </div>
</div>