    @import '../../../styles/_mixins.scss';
    @import '../../../styles/_base.scss';
    $svg-path: './../../../assets/svg/';
    $schedule-payments-bg: $container-bg;
    .card-title {
        color: $text-color-secondary;
        @include markpro-medium();
        font-size: $font-md;
    }
    
    .schedule-card {
        margin-top: 45px;
        .header {
            font-size: $font-lg;
            text-align: left;
            color: $text-color-secondary;
        }
        .summary {
            font-size: $font-sm;
            text-align: left;
            color: $text-color-primary;
        }
    }
    
    .transaction-block {
        margin-top: 15px;
        hr {
            margin: 0px -30px;
        }
    }
    
    .schedule-payments {
        background-color: $schedule-payments-bg;
        padding: 30px;
        margin-top: 22px;
    }
    
    .empty-state {
        padding: 0;
        .icon-block {
            .icon {
                width: 180px;
                @include svg-image-full-path($svg-path, 'calendar-clock');
            }
        }
    }
    
    @media (max-width: $media-xs) {
        .card-title {
            font-size: $font-md;
            font-weight: bold;
        }
        .schedule-card {
            margin-top: 26px;
            .header {
                font-size: $font-default;
                text-align: left;
                color: $text-color-secondary;
            }
            .summary {
                font-size: $font-xsm;
                text-align: left;
                color: $text-color-primary;
            }
        }
    }
    
    @media (max-width: $media-sm) {
        .schedule-payments {
            margin-top: 0px;
            margin-left: -15px;
            margin-right: -15px
        }
    }
    
    @media (min-width: $media-sm) {
        .empty-state {
            .icon-block {
                .icon {
                    width: 250px;
                }
            }
        }
    }