@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';


$svg-path: './../../../../assets/svg/';
$icon-attention: 'attention-grey';


.buy-electricity-review {
    margin-bottom: 30px;
    font-size: $label-size;
    margin-top: 32px;
}

@media (min-width: $media-xs) {
    .buy-electricity-review {
        margin-top: 26px
    }
}

@media (min-width: $media-sm) {
    .buy-electricity-review {
        font-size: $status-size;
        margin-top: 21px
    }
}

@media (min-width: $media-lg) {
    .buy-electricity-review {
        margin-top: 7px
    }
}

@media (min-width: $media-xlg) {
    .buy-electricity-review {
        margin-top: 10px
    }
}

.align-vertical-middle {
    vertical-align: middle;
}

.linkTermsCondition {
    text-decoration: none;
    color: $text-color-primary;
    text-decoration: underline;
    font-size: $font-sm;
}

.linkTermsCondition:hover {
    cursor: pointer;
}

.td-terms-condition {
    font-size: $font-sm;
    padding-left: 0px !important;
}

.pad-left {
    padding-left: 10px;
}

.tshwan-modal {
    .tshwan-icon {
        padding-top: 120px;
        .attention-icon {
            @include svg-image-full-path($svg-path, $icon-attention);
            position: relative;
            display: inline-block;
            width: 60px;
            height: 60px;
        }
    }
    .tshwan-text {
        padding-top: 120px;
        h6 {
            font-size: 19px;
            font-weight: bold;
            line-height: 1.16;
            text-align: center;
            color: $text-color-highlight;
        }
        p {
            opacity: 0.7;
            font-size: 13px;
            line-height: 1.31;
            text-align: center;
            color: $text-color-highlight;
            margin-bottom: 80px;
        }
        .tshwan-btn-container {
            button {
                margin: 15px 0;
            }
        }
    }
}

.overlay-content-wrapper {
    .icon {
        @include svg-image-full-path($svg-path, 'electricity');
        width: 120px;
        height: auto;
    }
}

@media (min-width: $media-sm) {
    .tshwan-modal {
        .tshwan-icon {
            padding-top: 150px;
            .attention-icon {
                position: relative;
                display: block;
            }
        }
        .tshwan-text {
            padding-top: 150px;
            h6 {
                font-size: $font-xlg;
                text-align: left;
            }
            p {
                opacity: 0.7;
                font-size: $font-sm;
                text-align: left;
                margin-bottom: 25px;
                margin-top: 25px;
            }
            .tshwan-btn-container {
                button {
                    margin: 15px 0;
                }
            }
        }
    }
}

@media (min-width: $media-md) {
    .tshwan-modal {
        .tshwan-icon {
            .attention-icon {
                position: relative;
                display: block;
            }
        }
    }
}