<app-colored-overlay [template]="success" [backOption]="false" [altButtonText]="'Close'" [alternate]="true" [isVisible]="true"
   (onHide)="goToOverview()">
   <ng-template #success>
      <section class="review-section">
         <span class="title">{{title}}</span>
         <span class="status">{{status}}</span>
         <div class="contact-us">
            <span class="title">{{informations.contactUs}}</span>
            <div class="content-body">
               <span class="icon-phone"></span>
               <div class="content-message">
                  <span class="message">{{informations.tractStaus}}</span>
                  <span class="green">{{informations.trackPhoneNumber}}</span>
               </div>
            </div>
         </div>
         <div class="bottom-button">
            <app-bottom-button [text]="'Go to account'" (click)="goToOverview()" [showLoader]='showLoader'></app-bottom-button>
         </div>
      </section>
   </ng-template>
</app-colored-overlay>
