<div class="row">
   <div class="col-xs-12 col-sm-6">
      <table>
         <thead>
            <tr>
               <th>
                  {{cardManageLabels.cardSettingText}}
               </th>
            </tr>
         </thead>
         <tbody>
            <tr *ngIf="showCardFreezeFeature  && isCardActivated && freezeEnabled">
               <td class="toggle-block-border" [class.disabled-style]="!freezeEnabled">
                  <span [innerHtml]="cardManageLabels.freezeCard.freezeCardLabel"></span>
                  <div class="toggle">
                     <label for="freeze-card-switch" class="switch inline-block minimum-left-spacing">
                        <input id="freeze-card-switch" type="checkbox" [(ngModel)]="isSoftBlock" [disabled]="!freezeEnabled" (ngModelChange)="showPopupForSwitches('freeze-card')">
                        <div class="slider round inline-block"></div>
                     </label>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <a (click)="showBlockCardPopup();sendEvent('click_on_block_card');">{{cardManageLabels.blockCardText}}</a>
               </td>
            </tr>
            <tr>
               <td *ngIf="!isTravelAccountCard">
                  <a (click)="showReplaceCardPopup();sendEvent('click_on_replace_card');">{{cardManageLabels.replaceCardText}}</a>
               </td>
            </tr>
            <tr *ngIf="showCardContactlessFeature && hasTapAndGo &&  isCardActivated && !isTravelAccountCard">
               <td class="toggle-block-border" [class.disabled-style]="isSoftBlock">
                  <span [innerHtml]="cardManageLabels.tapAndGo.useTapGoLabel"></span>
                  <div class="toggle">
                     <label for="tap-go-switch" class="switch inline-block minimum-left-spacing">
                        <input id="tap-go-switch" type="checkbox" [(ngModel)]="isTapAndGo" [disabled]="isSoftBlock" (ngModelChange)="showPopupForSwitches('tap-go')">
                        <div class="slider round inline-block"></div>
                     </label>
                  </div>
               </td>
            </tr>
            <tr *ngIf="showCardInternetPurchasesFeature && hasInternetPurchase && isCardActivated && !isTravelAccountCard && garageCardInternetPurchaseDisable">
               <td class="toggle-block-border" [class.disabled-style]="isSoftBlock">
                  <span [innerHtml]="cardManageLabels.internetPurchases.onlinePurchasesLabel"></span>
                  <div class="toggle">
                     <label for="internet-purchase-switch" class="switch inline-block minimum-left-spacing">
                        <input id="internet-purchase-switch" type="checkbox" [(ngModel)]="isInternetPurchase" [disabled]="isSoftBlock"
                           (ngModelChange)="showPopupForSwitches(cardManageLabels.internetPurchases.internetPurchasesLabel)">
                        <div class="slider round inline-block"></div>
                     </label>
                  </div>
               </td>
            </tr>
            <tr *ngIf="showOtnFeature()">
               <td class="toggle-block-border">
                  <a href="javascript:void(0)" (click)="enableOtn();sendEventForOverseasTravelNotification()">{{cardManageLabels.useCardOverseasText}}</a>
               </td>
            </tr>
            <tr *ngIf="apoToggle && primaryAccount && isEnableAutopay && isCardActivated">
               <td>
                  <a (click)="showAutopayPopup()">{{cardManageLabels.automaticPaymentOrder}}</a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="col-xs-12 col-sm-6">
      <table>
         <thead>
            <tr>
               <th *ngIf="!isTravelAccountCard && garageCardAtmLimitsDisable">
                  {{cardManageLabels.cardLimitsText}}
               </th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td *ngIf="!isTravelAccountCard && garageCardAtmLimitsDisable" [class.disabled-style]="card && (!card.allowATMLimit || !card.owner)">
                  <a [class.no-pointer]="card && (!card.allowATMLimit || !card.owner)" (click)="showLimitChangePopup();sendEvent('click_on_update_atm_limits');">{{cardManageLabels.updateATMlimitsText}}</a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>

<app-colored-overlay [isVisible]="updateLimitPopupVisible" [alternate]="true" [altButtonText]="'Cancel'" [template]="cardUpdateLimitTemplate"
   [backOption]="false" (onHide)="hideUpdateLimitPopup()">
   <ng-template #cardUpdateLimitTemplate>
      <app-update-card-limit [cardInfo]="card"></app-update-card-limit>
   </ng-template>
</app-colored-overlay>

<app-colored-overlay [isVisible]="updateLimitStatusPopupVisible" [alternate]="true" [altButtonText]="'Close'" [template]="cardUpdateLimitSuccessTemplate"
   [backOption]="false" (onHide)="hideUpdateLimitStatusPopup()">
   <ng-template #cardUpdateLimitSuccessTemplate>
      <app-update-card-limit-status [limitUpdatedStatus]="isLimitUpdated" (onDone)="hideUpdateLimitStatusPopup()"></app-update-card-limit-status>
   </ng-template>
</app-colored-overlay>

<app-colored-overlay [isVisible]="blockCardVisible" [alternate]="true" [altButtonText]="'Cancel'" [template]="blockCardTemplate"
   [backOption]="false" (onHide)="hideBlockCardPopup()">
   <ng-template #blockCardTemplate>
      <app-block-card [cardInfo]="cardBlockInfo" (onReplaceCard)="onReplaceCardFromBlock()"></app-block-card>
   </ng-template>
</app-colored-overlay>

<app-colored-overlay [isVisible]="blockCardStatusVisible" [alternate]="true" [altButtonText]="'Close'" [template]="cardBlockStatusTemplate"
   [backOption]="false" (onHide)="hideBlockCardStatusPopup()">
   <ng-template #cardBlockStatusTemplate>
      <app-card-blocked-status [blockStatus]="blockStatus" [otherTravelCardBlocked]="otherTravelCardBlocked"></app-card-blocked-status>
   </ng-template>
</app-colored-overlay>

<app-colored-overlay [isVisible]="replaceCardVisible" [alternate]="true" [altButtonText]="'Cancel'" [template]="replaceCardTemplate"
   [backOption]="false" (onHide)="hideReplaceCardPopup()">
   <ng-template #replaceCardTemplate>
      <app-replace-card [cardInfo]="cardReplaceInfo"></app-replace-card>
   </ng-template>
</app-colored-overlay>

<app-colored-overlay [isVisible]="replaceCardBranchLocatorVisible" [alternate]="true" [altButtonText]="'Cancel'" [template]="replaceCardBranchLocatorTemplate"
   [backOption]="false" (onHide)="hideReplaceCardBranchLocatorPopup()">
   <ng-template #replaceCardBranchLocatorTemplate>
      <app-branch-locator [cardInfo]="cardReplaceInfo"></app-branch-locator>
   </ng-template>
</app-colored-overlay>

<app-colored-overlay [isVisible]="replaceCardStatusVisible" [alternate]="true" [altButtonText]="'Close'" [template]="replaceCardStatusTemplate"
   [backOption]="false" (onHide)="hideReplaceCardStatusPopup()">
   <ng-template #replaceCardStatusTemplate>
      <app-replace-card-status [cardInfo]="replaceCardStatus"></app-replace-card-status>
   </ng-template>
</app-colored-overlay>

<div class="loader-mask" *ngIf="showLoader">
   <div class="loader-spinner">
      <app-spinner [color]="'green'"></app-spinner>
   </div>
</div>
<app-small-overlay class="card-toggle-container" [template]="cardFreezeInternetPurchaseAndTapGoOverlay" alternate='true'
   *ngIf="cardToggleStatus">
   <ng-template #cardFreezeInternetPurchaseAndTapGoOverlay>
      <app-card-toggle-status [statusWarning]="statusWarningText" [plasticNumber]="card.plasticId" (nextClick)="setUnsetToggle($event)"
         (cancel)="closePopupForSwitches($event)"></app-card-toggle-status>
   </ng-template>
</app-small-overlay>
<section *ngIf="initiateApo">
   <app-initiate-autopay [plasticId]="card.plasticId" (deleteApo)="deleteApo($event)" (successApo)="successApo($event)" (closeApo)= "closeApo($event)"></app-initiate-autopay>
</section>
<section *ngIf="initiateOtn">
      <app-overseas-landing (onHide)="onHide($event)" [plasticId]="card.plasticId"></app-overseas-landing>
</section>
<section *ngIf="showOtnSuccess">
      <app-overseas-success (showSuccess)="showSuccess($event)"></app-overseas-success>
</section>