@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';


$svg-path: './../../../assets/svg/';


.title {
   font-size: $md-heading-size;
   @include markpro-medium();
   margin: 40px auto;
   color: $text-color-primary;
   text-align: center;
   max-width: $title-width;
}

.block-form {
   max-width: 400px;
   margin: 0 auto;
}

.info-container {
   background-color:$info-container-bg;
   margin-top: 30px;
   margin-bottom: 40px;
   padding: 22px 14px;

   .info-msg {
      margin-left: 35px;
   }

   .icon {
      float: left;
      @include svg-image-full-path($svg-path,'information', 23px, 23px);
   }
}

.label-reason {
   color: $text-color-primary;
   font-size: $font-sm;
}

.agree-container {
   padding: 15px 0px 8px 0px;

   label {
      font-size: $font-default;
      color: $text-color-secondary;
      font-weight: normal;
   }
}

.next-button {
   padding: 40px 0px 8px 0px;
}

.reason-warning {
   margin-top: 15px;

   .btn-replace {
      color: $secondary-btn-color;
   }
}

.agree-info {
   @include flexbox();
   @include align-items(flex-start);
   .text{
      @include flex(1);
   }
   .agreeCheckBox{
      margin: 4px 5px 0 0;
   }
}


@media screen and (min-width : $media-md-up) {

   .title {
      font-size: $lg-heading-size;
      @include markpro-medium();
      margin: 40px auto;
      color: $text-color-primary;
      text-align: center;
   }

   .label-reason {
      color: $text-color-primary;
      font-size: $font-sm;
   }

   .agree-container {
      padding: 15px 0px 8px 0px;
   }

   .next-button {
      padding: 30px 0px 8px 0px;
   }
}
