<div class="draw-details">
   <div *ngIf="!isLottoError" class="draw-details-container container">
      <app-game-list [winningNumbersInfo]="winningNumbersInfo" [winningNumberBack]="winningNumberBackBtn" [winningNumberHeadTitle]="drawNameDetail"
         [skeletonMode]="skeletonMode"></app-game-list>

      <div class="row" *ngIf="skeletonMode" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
      <div class="row" *ngIf="!skeletonMode">
         <div class="detail-blocks">
            <div class="col-md-6 payouts">
               <h6 class="second-header">{{winningDrawDetailLabels.payoutsDrawDetail}}</h6>
               <ul>
                  <li *ngFor="let winnerDetail of winnerDetails">

                     <span class="total-details-lable">Div {{winnerDetail?.divisionNumber}} - {{winnerDetail?.divisionNumber | ballColor: 'correctballs'  }} </span>
                     <span class="total-details-lable">({{winnerDetail?.numberOfWinners}} {{winnerDetail.winnerLabel}})</span>
                     <h6 class="game-font">{{winnerDetail?.payoutAmount | amountTransform: amountPipeConfig}}</h6>
                  </li>
               </ul>
            </div>

            <div class="col-md-6 total-details">
               <h6 class="second-header">{{winningDrawDetailLabels.drawDetails}}</h6>
               <ul>
                  <li>
                     <span class="total-details-lable">{{winningDrawDetailLabels.totalSales}}</span>
                     <h6 class="game-font">{{lottoDrawDetail?.totalSalesAmount | amountTransform: amountPipeConfig}}</h6>
                  </li>
                  <li>
                     <span class="total-details-lable">{{winningDrawDetailLabels.totalPrizePool}}</span>
                     <h6 class="game-font">{{lottoDrawDetail?.totalPrizePoolAmount | amountTransform: amountPipeConfig}}</h6>
                  </li>
                  <li>
                     <span class="total-details-lable">{{winningDrawDetailLabels.drawMachine}}</span>
                     <h6 class="game-font">{{lottoDrawDetail?.drawMachineName}}</h6>
                  </li>
                  <li>
                     <span class="total-details-lable">{{winningDrawDetailLabels.ballSet}}</span>
                     <h6 class="game-font">{{lottoDrawDetail?.ballSetNumber}}</h6>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div *ngIf="isLottoError" class="draw-details-container container">
      <div class="gd-form-row">
         <span class="lottoerror-icon"></span>
         <div class="error-message">{{lottoErrorText}}
         </div>
      </div>
   </div>
</div>