<div class="share-container col-xs-12 col-sm-6" *ngIf="shareStatus==notificationTypes.None">
   <div id="div-title-section" class="info-container">
      <h4 id="lbl-title" class="section-title">{{labels.recipientFormTitle}}</h4>
      <h4 id="lbl-sub-title" class="section-sub-title">{{labels.recipientFormSubTitle}}</h4>
   </div>
   <div class="input-container">
      <form id="form-add-recipients" class="gd-form" #shareAccountForm="ngForm">
         <ng-container *ngFor="let sharedContact of sharedContacts; let currentItem=index;">
            <div class="gd-form-row">
               <label [id]="'lbl-add-email-'+currentItem" class="gd-sm-label" [for]="'email'+currentItem" [innerHtml]="currentItem > 0 && currentItem < 9 && currentItem === sharedContacts.length - 1 ? labels.enterAnotherEmail : labels.enterDefaultEmail"></label>
               <div class="field-with-icon">
                  <div class="field-block">
                     <input [id]="'val-add-email-'+currentItem" [name]="'email-'+sharedContact.id" type="text" autocomplete="off" required appValidateOnblur [pattern]="emailPattern"
                        class="validate input-email" #emailField="ngModel" [(ngModel)]="sharedContact.emailId" (ngModelChange)="onEmailChange(currentItem, sharedContact)">
                  </div>
                  <div [id]="'remove-email-'+currentItem" class="icon-block" *ngIf="showRemoveEmailBtn && currentItem > 0">
                     <div class="icons">
                        <span class="icon icon-del" (click)="removeEmail(currentItem)"></span>
                     </div>
                  </div>
               </div>
               <div *ngIf="emailField.dirty || emailField.touched" class="text-danger">
                  <div *ngIf="!sharedContact.isValidEmail">
                     {{messages.invalidEmail}}
                  </div>
               </div>
            </div>
         </ng-container>
         <div id="btn-add-email" class="gd-form-row add-item-row" *ngIf="showAddEmailBtn" [ngClass]="{disabled : !isAllEmailValid}">
            <button (click)="isAllEmailValid && addAnotherEmail()">
               <span class="icon icon-add"></span>
               {{labels.addEmail}}
            </button>
         </div>
         <div id="btn-send" class="gd-form-row">
            <app-bottom-button [text]="labels.send" [showLoader]="requestInprogress" [disableButton]="requestInprogress || !isAllEmailValid"
               [class.btn-disabled]="requestInprogress || !isAllEmailValid" (clickEmitter)="send()"></app-bottom-button>
         </div>
      </form>
   </div>
</div>
<app-account-share-status [status]="shareStatus" [recipients]="sharedContacts" [retryLimitExceeded]="retryLimitExceeded"
   [requestInprogress]="requestInprogress" (onRetry)="onRetryAccountShare($event)" *ngIf="shareStatus==notificationTypes.Success || shareStatus==notificationTypes.Error">
</app-account-share-status>
