@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
$icon-path: '../../../../assets/svg';
$icon-trash: 'Trash';
$icon-add: 'Add';
.share-container {
   padding: 0 20px;
   .info-container {
      margin: 40px 0 20px 0;
      text-align: center;
      h4 {
         &.section-title {
            @include markpro-medium();
            font-size: $section-title-secondary-size-mob;
            line-height: 1.25;
            color: $text-color-secondary;
            font-weight: 500;
            margin-bottom: 20px;
         }
         &.section-sub-title {
            line-height: 1.5;
            letter-spacing: 0
         }
      }
   }
   .input-container {
      div.gd-form {
         &.gd-form-row:nth-child(10) {
            margin-bottom: 60px;
         }
      }
      .input-email {
         color: $text-color-secondary;
         line-height: 1.5;
      }
      .icon-block {
         margin-left: 18px;
      }
      .ng-valid {
         border-color: $form-element-border;
      }
      .icons {
         width: auto;
         .icon {
            &.icon-del {
               @include svg-image-full-path($icon-path, $icon-trash, 36px, 36px);
            }
         }
      }
      .gd-form-row {
         &.add-item-row {
            font-size: $para-title-size;
            line-height: 25px;
            color: $text-color-secondary;
            margin-bottom: 60px;
            button {
               padding: 0;
               border: 0;
               background-color: transparent;
               outline: none;
            }
            .icon {
               top: 8px;
               &.icon-add {
                  @include svg-image-full-path($icon-path, $icon-add, 32px, 32px);
                  display: inline-block;
                  margin-right: 10px;
               }
            }
         }
         .text-danger {
            font-size: $font-sm;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            color: $text-color-error;
         }
      }
   }
}

@media (min-width: $media-sm) {
   .share-container {
      float: none;
      margin: 0 auto;
      padding: 0;
      max-width: 400px;
      .info-container {
         margin-top: 56px;
         margin-bottom: 31px;
         h4 {
            &.section-title {
               font-size: $page-title-size-mob;
               margin-bottom: 37px;
            }
         }
      }
      .input-container {
         .icon-block {
            margin-left: 34px;
         }
      }
   }
}
