<form class="buy-amount-section gd-form" #buyAmountForm="ngForm" [class.is-skeleton-loading]='skeletonMode' novalidate>
   <div class="gd-form-row icon-link">
      <app-account-list id="from-accounts"
         [title]=" 'From account' " [accounts]="accounts" 
         [insufficientFunds]="!isValidRandValue && vm.randValue > 0"
         (onAccountSelection)="onAccountSelection($event)" 
         [selectedAccount]="vm.fromAccount"></app-account-list>
  </div>
  <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
  <div class="gd-form-row">
      <label for="rand-value" class="active gd-sm-label">Rand Value</label>
      <input appFocus id="rand-value" autocomplete="off" 
         #randValueRef="ngModel" class="validate"
         [class.error]="!isValid && (randValueRef.dirty || randValueRef.touched)" 
         [ngModel]="vm.randValue | amountTransform" (ngModelChange)="onRandValueChange($event)"
         type="text" name="randValueRef" [amount]="true"
         [disabled]="vm.fromAccount && vm.fromAccount.availableBalance===0"
         appValidateRequired appAmountFormatMask appCheckBlur/>
      <span class="rand-value-hint" *ngIf="isMultipleOfHundredNotViolated">Multiples of R100</span>
      <div *ngIf="!isValid && (randValueRef.dirty || randValueRef.touched)" role="alert">
         <div *ngIf="vm.randValue == 0" class="error-msg">
            <span>Please enter an amount.</span>
         </div>
         <div *ngIf="!isMultipleOfHundredNotViolated && vm.randValue > 0" class="error-msg">
            <span>Amount should be multiples of R100.</span>
         </div>
         <div *ngIf="!isValidRandValue && vm.randValue > 0" class="error-msg">
            <span>There is insufficient amount in your account.</span>
         </div>
      </div>
   </div>
   <div class="gd-form-row">
      <label class="gd-sm-label" for="greenbacksValue">Total Greenbacks</label>
      <span id="greenbacksValue" 
         [innerHTML]="vm.gbValue | amountTransform: '': constants.gbtype: true" 
         name="greenbacksValue"></span>
  </div>
  <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
  <div>
      <label class="gd-sm-label" for="greenbacksValue">Allocation</label>
      <app-unit-trust-widget 
         *ngFor="let unitTrust of unitTrusts; let unitTrustIndex = index"
         [account]="unitTrust" 
         [isDisabled] = "!isValid"
         [isSingleCellMode]="unitTrusts.length===1" 
         [totalRandValue]="vm.randValue" 
         [totalAmountConsumed]="totalAmountConsumed"
         (OnUpdateUnitTrust)="selectedUnitTrustsUpdated($event)">
      </app-unit-trust-widget>
  </div>
  <div class="gd-form-row">
      <label class="gd-sm-label" for="reference">Reference (Optional)</label>
      <input id="reference" name="reference"
         type="text" class="validate reference"
         [(ngModel)]="vm.yourReference" 
         autocomplete="off"
         placeholder="Your reference">
  </div>
</form>