@import "../../../styles/_base.scss";
@import "../../../styles/_mixins.scss";
$svg-path: "../../../assets/svg/";

::ng-deep {
   app-small-overlay {
      .overlay-modal {
         .overlay {
            padding: 0;
         }
      }
   }
}

.popup-confirm {
   margin-top: 60px;

   .template-content {
      margin-top: 0 !important;
      padding: 0;

      .logo-cntnr {
         margin-bottom: 20px;

         .green-warning {
            @include svg-image-full-path($svg-path, "green-warning", 60px, 60px);
            display: inline-block;
         }
      }

      .title {
         @include markpro-medium();
         font-size: $section-title-size-mob;
         font-weight: $weight-medium;
         line-height: 1.25;
         text-align: center;
         color: $text-color-message-block;
         letter-spacing: 0;
         margin: 0 22% 30px;
         display: block;
      }

      .message-jb-account {
         font-size: $message-size;
         line-height: 1.5;
         letter-spacing: 0;
         margin: 0 15% 35px;
         display: block;
      }

      .set-margin-top {
         margin-top: 145px;
      }

      .clear-margin-top {
         margin-top: 0px;
      }

      .btn-yes ::ng-deep .gd-primary-btn {
         margin-bottom: 15px;
      }
   }
}

@media (min-width: $media-sm) {
   ::ng-deep {
      app-small-overlay {
         .overlay-modal {
            .overlay {
               width: 518px;
               overflow-x: hidden;

               .container {
                  padding: 0;
               }
            }
         }
      }
   }

   .popup-confirm {
      max-width: 400px;
      margin: 60px;
      text-align: center;

      .template-content {
         max-width: 400px;

         .logo-cntnr {
            margin-bottom: 60px;
         }

         .title {
            font-size: $section-title-size;
            margin: 0 0 15px;
         }

         .message-jb-account {
            font-size: $para-title-size;
            line-height: 1.25;
            margin: 0 0 55px;
            color: $text-color-message-block;
         }
      }
   }
}

@media (min-width: $media-lg) {
   ::ng-deep {
      app-small-overlay {
         .overlay-modal {
            .overlay {
               width: 618px;

               .container {
                  padding: 0;
               }
            }
         }
      }
   }

   .popup-confirm {
      max-width: 400px;
      margin: 110px;
   }
}
