@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';
$svg-path: '../../../../assets/svg/';
.overlay-content-wrapper {
   margin-top: 0;
   .icon {
      @include svg-image-full-path($svg-path,'lotto-overlay');
      width: 110px;
      height: 110px;
      margin: 0 0 30px 0;
   }
   .view-times {
      cursor: pointer;
      text-decoration: underline;
   }
   .table-responsive{
      border: none;
      text-align: left;
      font-size: $font-md;
      table{
         margin-bottom: 30px;
         td{
            &:first-child{
               width: 100px;
            }
         }
      }
   }
}
@media (min-width: $media-sm){
   .overlay-content-wrapper {
      margin-top: 30px;
      .icon {
         @include svg-image-full-path($svg-path,'lotto-overlay');
         width: 110px;
         display: inline-block;
         margin: 0 30px 30px 0;
      }
   }
}
@media (min-width: $media-md){
   .overlay-content-wrapper {
      .table-responsive{
         table{
            width: auto;
         }
         table.powerTable{
            td{
               &:first-child{
                  display: none;
               }
            }
         }
         table.powerTable.no-lotto{
            td{
               &:first-child{
                  display: table-cell;
               }
            }
         }
         &::after{
            content: '';
            clear: both;
            display: block;
         }
         table{
            float: left;
            margin: 0;
         }
      }
   }
}