@import './../../../styles/_base.scss';

$media-xmd:1200px;
$media-lsm:890px;

swiper{
  .swiper-wrapper{
    padding-top: 10px !important;
  }
}
.card-container {
  position: absolute;;
   width: 400px;
   height: 250px;
 &.previous-card {
   opacity: 0.7;
   left:-100px;
  }
 &.active-card{
  position: relative;
   opacity: 1;
 }
 &.next-card {
   opacity: 0.7;
   right:-100px;
 }
}
.swiper-slide{
  position: relative;
  height: 275px;
}
.card-container {
   display: block;
   width: 243px;
   height: 152px;
   margin: 0 auto;
}

.blocked-on {
   text-align: center;
   padding-top: 20px;
   font-size: $base-size;
   line-height: 1.38;
   letter-spacing: 0.2px;
   color: $text-color-primary;
}
.hide-card{
  display: none;
}
.csleft{
    border:solid #6b6b6b 4px;
    transform:rotate(45deg);
    height:15px;
    width:15px;
    position:absolute;
    top:37%;
    margin:10px;
    border-right:none;
    border-top:none;
}
.csright{
    border:solid #6b6b6b 4px;
    transform:rotate(224deg);
    height:15px;
    width:15px;
    position:absolute;
    right:14px;
    top:37%;
    margin:10px;
    border-right:none;
    border-top:none;
}

@media only screen 
and (min-device-width : $media-xxs) 
{
  .csleft{
      height:20px;
      width:20px;
}
.csright{
      height:20px;
      width:20px;
}
.swiper-slide{
  height:150px;
}
   .card-container {
      width: 243px;
      height: 152px;
      transform: scale(0.8);

     &.active-card {
        transform: scale(1.0);
      transition:transform 1.5s ease;
        opacity: 1;
     }

     &.previous-card {
         opacity: 0.5;
       transition:transform 1.2s ease;
       left:0px;
     }
     &.next-card {
        opacity: 0.5;
      transition:transform 1.2s ease;
      right:0px;
   }
}
}

@media (min-width: $media-xs) {
  .csleft{
    top:100%
     }
  .csright{
    top:100%;
  }
 }
@media (min-width: $media-sm) {
  .initial-card{
    margin-left:-28%;
  }

  @media only screen 
  and (min-device-width :$media-lsm) and (max-device-width :$media-md) 
  {
    .initial-card{
      margin-left: 0%;
    }
  }
  .swiper-slide-prev
    {
      width:20% !important;
    }

    .swiper-slide-prev + .swiper-slide-active
    {
      width:60% !important;
    }

    .swiper-slide-prev ~ .swiper-slide-next
    {
      width:20% !important;
    }
   
    .swiper-slide{
      height:255px;
    }
    .csleft{
      top:37%
    }
    .csright{
      top:37%;
    }
   .card-container {
        width: 400px;
        height: 250px;

      &.active-card {
        opacity: 1;
      }

      &.previous-card { 
        opacity: 0.7;
        left:-250px;
      }

      &.next-card {
        opacity: 0.7;
        right:-250px;
      }
   }
}

@media (min-width:$media-md){
  
    .initial-card{
      margin-left: -20%;
    }
    .swiper-slide-prev
    {
      width:25% !important;
    }
    .swiper-slide-prev + .swiper-slide-active
    {
      width:50% !important;
     }

    .swiper-slide-prev ~ .swiper-slide-next
    {
      width:25% !important;
     }
    @media only screen 
    and (min-device-width : $media-xmd) and (max-device-width :$media-lg ) 
    {
      .initial-card{
        margin-left: 0%;
      }
    }
  
    .swiper-slide-prev{
      left:0%;
    }
    .swiper-slide-next{
      right:0%;
    }
    .card-container {
      &.previous-card {
        left:-200px;
        }
      &.next-card {
        right:-200px;
     }
   }
 }

@media (min-width: $media-lg) {
  .initial-card{
    margin:auto;
    }
   .card-container {
      &.previous-card {
      left:0px;
      }
      &.next-card {
      right:0px;
      }
   }
}