<div class="row">
   <div class="col-xs-12">
      <div class="title">
         <span>You're requesting a callback.</span>
      </div>
   </div>
</div>
<div class="block-form">
   <div *ngIf="showError" class="message error">
      <div class="icon-field system-error">
         <span class="system-error icon warning"></span>
      </div>
      <div class="text">
         <p>{{failureMessage}}</p>
         <div class="try-again" (click)="onTryAgain()">{{label.tryAgain}}</div>
      </div>
      <div class="icon cross" (click)="onCloseErrorMsg()"></div>
   </div>
   <div class="gd-form-row">
      <label class="gd-sm-label contact">Contact number</label>
      <div class="cellphone-container">
         <input id="mobile_number" type="tel" class="validate" #mobileNumberRef="ngModel" [(ngModel)]="mobileNumber" name="mobileNumber"
            #mobileNumberElem appValidateRequired [pattern]="mobilePattern" (input)="mobileNumberChange()" appValidateOnblur
            appValidateInput ga-event-name="web_feedback_enter_contact_number" (focusout)="onMobileFocusOut()" validateFor='mobile'
         />
         <div class="input-type-div" *ngIf="!isCellphoneEditMode" [class.success-border]="!mobileNumberRef.invalid" [class.error]="mobileNumberRef.invalid && ((mobileNumberRef.dirty || mobileNumberRef.touched) || !isCellphoneEditMode)"
            (click)="onEditClick()">{{mobileNumber | mobileNumberMask : 4}}</div>
      </div>
      <div *ngIf="mobileNumberRef.invalid && ((mobileNumberRef.dirty || mobileNumberRef.touched) || !isCellphoneEditMode)" class="error-msg">
         <span *ngIf="mobileNumberRef.errors.required">
            {{message.cellphoneRequired}}
         </span>
         <span *ngIf="mobileNumberRef.errors.pattern">
            {{message.incorrectCellPhoneNumber}}
         </span>
      </div>
      <div class="content-item">
         <label>When can we call you?</label>
         <div class="gd-basic-dropdown" dropdown>
            <div dropdownToggle class="dropdown-place">
               <div class="text">
                  {{ selectedTime }}
               </div>
               <div class="icon">
                  <span class="caret"></span>
               </div>
            </div>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
               <li [class.active]="time == selectedTime" role="menuitem" *ngFor="let time of callTimings" (click)="onTimeChange(time);sendEvent('web_feedback_select_contact_time');">
                  {{time}}
               </li>
            </ul>
         </div>
      </div>
      <div class="content-item">
         <label>Tell us a bit more.</label>
         <textarea class="feedback-box" [class.success-border]="feedbackText.length>=1" autofocus appFocus [placeholder]="placeholder.callMeBackInfo"
            appValidateRequired [maxLength]="feedbackLimit" ga-event-name="enter_feedback_from_web" [(ngModel)]="feedbackText"
            (ngModelChange)="feedbackChange()"></textarea>
         <div class="feedback-info">{{feedbackInfo}}</div>

      </div>
      <app-bottom-button [showLoader]="showLoader" [disableButton]="feedbackText.length < 1 || showLoader" (clickEmitter)="sendCallMeBack();"
         [text]="'Call me back'"></app-bottom-button>
   </div>
</div>
