<div class="transactions-list-container">
   <table>
      <thead>
         <ng-container *ngIf="!skeletonMode;then transactionListHeading else skeletonLoader"></ng-container>
         <ng-template #skeletonLoader>
            <tr>
               <th [innerHtml]="''| skeletonLoader:skeletonMode"></th>
               <th [innerHtml]="''| skeletonLoader:skeletonMode"></th>
               <th [innerHtml]="''| skeletonLoader:skeletonMode"></th>
               <th [innerHtml]="''| skeletonLoader:skeletonMode"></th>
            </tr>
         </ng-template>
         <ng-template #transactionListHeading>
            <tr class="icon-link">
               <th class="col-sm-2">
                  {{labels.date}}
               </th>
               <th class="col-sm-5">
                  {{labels.description}}
               </th>
               <th class="col-sm-2" [class.col-sm-5]="searchEnabled" *ngIf="accountDetails.accountType!== labels.rewardsType; else rewardsPoints">Amount</th>
               <ng-template #rewardsPoints>
                  <th class="col-sm-2" [class.col-sm-5]="searchEnabled">{{labels.points}}</th>
               </ng-template>
               <th *ngIf="!accountDetails.searchEnabled" class="col-sm-3">
                  {{labels.balance}}
               </th>
            </tr>
         </ng-template>
      </thead>
      <tbody *ngIf="transactions?.length != 0">
         <ng-container *ngFor="let transaction of transactions; let i = index">
            <tr (click)="setTransactionDetails(i)" [ngClass]="{ 'sel-trns-header' : selectedIndex == i && hasTransactionsAndDetailsForIS, 'selectable' : hasTransactionsAndDetailsForIS }">
               <td *ngIf="skeletonMode" [innerHtml]="transaction?.PostedDate | skeletonLoader:skeletonMode"></td>
               <td class="col-sm-2 date icon-link">
                  {{transaction?.PostedDate | date: dateFormat}}
               </td>
               <td class="col-sm-5">
                  <div class="descrp-block">
                     <div *ngIf="skeletonMode" [innerHtml]="''| skeletonLoader:skeletonMode:'skeleton-icon'"></div>
                     <div class="descrp">
                        <p *ngIf="skeletonMode" [innerHtml]="transaction?.PostedDate | skeletonLoader:skeletonMode"></p>
                        <p class="date icon-link">
                           {{transaction?.PostedDate | date: dateFormat}}
                        </p>
                        <div class="title-block">
                           <div class="title" [innerHtml]="transaction?.ShortDescription || transaction?.Description | truncateDescription: truncateLimit | skeletonLoader:skeletonMode"></div>
                           <div class="amount" [ngClass]="transaction?.Debit ? 'debits' : 'credits' " [innerHtml]="transaction.Amount | amountTransform: amountPipeConfig: transaction?.Currency | skeletonLoader:skeletonMode"></div>
                        </div>
                     </div>
                  </div>
               </td>
               <td class="col-sm-2 amount" [class.col-sm-5]="searchEnabled" [ngClass]=" transaction?.Debit ? 'debits' : 'credits' " [innerHtml]="transaction?.Amount | amountTransform: amountPipeConfig: transaction?.Currency | skeletonLoader:skeletonMode"></td>
               <td class="col-sm-3 balance" *ngIf="!accountDetails.searchEnabled" [innerHtml]="transaction?.RunningBalance | amountTransform: amountPipeConfig: transaction?.Currency | skeletonLoader:skeletonMode"></td>
            </tr>
            <tr alternate='true' *ngIf="selectedIndex == i && hasTransactionsAndDetailsForIS" [ngClass]="{'sel-trns-detail': selectedIndex == i}">
               <td class="col-sm-12 sel-trns-detail-xs" colspan="4">
                  <app-account-transaction-details [accountType]="accountDetails.accountType" [transaction]="transaction" [index]="i" [itemAccountId]="accountDetails.itemAccountId"
                     (onCloseClicked)="closeTransactionDetails($event)"></app-account-transaction-details>
               </td>
            </tr>
         </ng-container>
      </tbody>
   </table>
   <div class="no-matched-trans" *ngIf="accountDetails.searchEnabled && transactions?.length === 0">
      <span class="icon-warning"></span>
      <span class="text">{{messages.noMatchingLine1}}</span>
      <span class="text">{{messages.noMatchingLine2}}</span>
   </div>
</div>
