@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';

$transfer-bg: $container-bg;

.transfer-status {
   font-size: $label-size;
   background: $transfer-bg;
   @include main-content();
   .work-flow {
      .download {
         color: $text-color-link;
         cursor: pointer;

         .icon,
         .text {
            display: inline-block;
            vertical-align: middle;
         }

         .icon {
            @include svg-image('green-download', 100%, 100%);
            width: 30px;
         }
      }
   }
}

.message-margin-bottom {
   margin-bottom: 30px;
}

@media (min-width: $media-sm) {
   .transfer-status {
      font-size: $status-size;
   }
}