@import '../../../../../../styles/_mixins.scss';
@import '../../../../../../styles/_base.scss';
$svg-path: '../../../../../../assets/svg';
$add-icon: 'green';
$icon-tick: 'tickCheckbox';
.section-title {
   font-family: $font-markpro-medium;
   font-weight: 500;
   color: $text-color-secondary;
}

.square {
   margin: 11px 20px 10px 12px;
   width: 30px;
   height: 30px;
   border: 2px solid $form-element-border;
   border-radius: 5px;
}

.driver-information {
   margin-top: 60px;
   @include flexbox();
   @include flex-direction(column);
   @include align-items(center);
   .section {
      width: 425px;
      .section-title {
         @extend .section-title;
         font-size: $section-title-size;
      }
      .section-body {
         width: 400px;
         margin: 60px 0px;
         .add {
            .add-icon {
               position: absolute !important;
               @include svg-image-full-path($svg-path, $add-icon, 32px, 32px);
            }
            .add-driver {
               font-size: 20px;
               text-align: center
            }
            .white {
               @extend .square;
            }
            .green {
               @extend .square;
               background-color: $tertiary-color;
               .tick {
                  @include svg-image-full-path($svg-path, $icon-tick, 17px, 13px);
                  bottom: 8px;
                  left: 4px;
               }
            }
         }
         .ng-valid {
            border-color: $form-element-border;
         }
         .first-section {
            .gd-form-row {
               .checkbox-container {
                  .checkbox-label {
                     padding-left: 0;
                     cursor: pointer;
                     .text {
                        text-align: left;
                        font-weight: $weight-medium;
                     }
                     .tick-mark-container {
                        position: relative;
                        border: 2px solid $form-element-border;
                        border-radius: 5px;
                        width: 30px;
                        height: 30px;
                        float: left;
                        margin-right: 15px;
                        margin-bottom: 25px;
                        .tick-mark-icon {
                           color: $text-color-highlight;
                           position: absolute;
                           font-size: $font-default;
                           line-height: 0;
                           top: 50%;
                           left: 20%;
                        }
                     }
                     .checkbox {
                        display: none;
                        &:checked+.tick-mark-container {
                           background-color: $checkbox-bg-active;
                           border-color: $checkbox-bg-active;
                           .tick-mark-icon {
                              opacity: 1;
                           }
                        }
                        &:disabled+.tick-mark-container {
                           opacity: .5;
                        }
                        &+.tick-mark-container {
                           &>.tick-mark-icon {
                              opacity: 0;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
