@import '../../../styles/_mixins.scss';
@import '../../../styles/_base.scss';
@import '../account-widget/account-widget.component.scss';
$svg-path: './../../../assets/svg';
$icon-back-green: 'light-back-green';
$bg-color-dashboard: $body-bg;
$success-circle-tick: 'success-circle-tick';
$icon-close: 'cross-close';
$close-gray: 'close-gray';
$icon-green-info: 'green-warning';
.info-icon {
    @include svg-image-full-path($svg-path, 'dark-grey', 20px, 20px);
 }
.statement-preferences-container {
   background-color: $bg-color-dashboard;
   .back-header {
      @include flexbox();
      @include align-items(center);
      .icon {
         display: block;
         @include svg-image($icon-back-green, 32px, 32px);
         margin-right: 15px;
      }
      .page-header {
         @include flex(1);
         text-transform: capitalize;
         border-bottom: none;
         font-size: $lg-heading-size;
         font-weight: $headings-font-weight;
         margin: 0;
         color: $text-color-secondary;
      }
   }
   .account-number {
      font-size: $para-title-size;
      text-align: left;
      font-weight: normal;
      color: $text-color-primary;
      display: block;
      margin-top: -5px;
   }
   .message-alert {
      ::ng-deep {
         .alertMessage {
            .alert-container {
               .message {
                  &.success {
                     .successIcon {
                        @include svg-image-full-path($svg-path, $success-circle-tick, 32px, 32px);
                     }
                  }
                  .text {
                     font-size: $font-default;
                  }
                  .closeIcon {
                     @include svg-image-full-path($svg-path, $icon-close, 36px, 36px);
                     cursor: pointer;
                  }
                  .icon {
                     width: 36px;
                     height: 36px;
                  }
               }
            }
         }
      }
   }
   .container {
      background-color: $container-bg;
      padding: 20px 36px;
      .title {
         color: $text-color-secondary;
         font-size: $section-title-secondary-size;
         font-weight: $headings-font-weight;
         padding-bottom: 15px;
      }
      .statement-delivery-form {
         max-width: 400px;
         .gd-sm-label {
            padding-bottom: 5px;
         }
         .gd-form-row {
            .disable {
               ::ng-deep {
                  button {
                     &.gd-primary-btn {
                        color: $text-color-disable-button;
                     }
                  }
               }
            }
            ::ng-deep {
               .button-group {
                  label {
                     font-weight: $headings-font-weight;
                     &.first-of-type {
                        border-left: solid 2px $tertiary-color;
                     }
                     &.last-of-type {
                        border-right: solid 2px $tertiary-color;
                     }
                  }
               }
            }
         }
         .update-donot {
            margin-top: 60px;
         }
      }
   }

   .unit-trust
   {
    .call-center-number {
        color: $text-color-link;
        font-size: $font-default-1;
        word-wrap: break-word;
     }
     .help-number
     {
         display:inline-block;
     }
       .gd-form-row
       {
            height: 100px;
            font-size: $font-sm;
           .gd-sm-label
           {
                line-height: 1.5;
                text-align: left;
                color:$text-color-primary;
                height: 21px;
                margin-bottom: 5px;
           }
           .error-msg {
            padding:5px 0;
            color: $warning-primary;
         }

       }
       .frequency
       {
           margin-top:24px;
            .title
            {
                text-align: left;
                height: 23px;
                margin-bottom:5px;
                color: $text-color-secondary;
                font-size: $section-title-secondary-size;
                font-weight: $headings-font-weight;
            }
            .frequency-value
            {
                font-size: $font-default;
                line-height: 1.18;
                text-align: left;
                color: $text-color-primary;
            }
       }

       .button-container
       {
           margin-top:59px;
       }

       .info-container {
        background-color: $color-no-records-background;
        margin-top: 32px;
        padding: 20px 15px;
        margin-left: 15px;
        .info-msg {
           font-size: $font-sm;
           margin-left: 35px;
        }
        .icon {
           float: left;
           @include svg-image-full-path($svg-path, 'information', 20px, 20px);
        }
     }

     .overlay-container {
        .overlay-header {
           .cross {
              @include svg-image-full-path($svg-path, $close-gray, 18px,18px);
              cursor: pointer;
              position: absolute;
              right: 35px;
              opacity: 0.7;
           }
        }

        .overlay-body {
           padding: 50px 0 0 0;
           .info-icon-container {
               margin-bottom: 30px;
               text-align: center;
                .green-warning {
                    @include svg-image-full-path($svg-path, $icon-green-info, 60px, 60px);
                    height: 37px;
                    display:inline-block;
                }
         }

           .title {
              font-size: $section-title-size-sm;
              font-weight: 700;
              text-align: center;
              color: $text-color-secondary;
              span{
                display: inline-block;
                width:50%;
              }
           }
           .button-container {
              padding: 15px 0;
              margin-top:97px;
              .gd-primary-btn
              {
                  margin-bottom: 15px;
              }
              .gd-secondary-btn
              {
                  border:none;
              }
           }
        }
     }
   }
}

@media (max-width: $media-md) {
   .statement-preferences-container {
      padding: 0 0;
      .message-alert {
         ::ng-deep {
            .alertMessage {
               .alert-container {
                  .message {
                     .text {
                        position: relative;
                        top: 10px;
                     }
                  }
               }
            }
         }
      }
   }
}

@media (max-width: $media-sm) {
   .statement-preferences-container {
      padding: 0 0;
      ::ng-deep .first-of-type{
        padding-top: 11px !important;
      }
      .back-header {
         @include flexbox();
         @include align-items(center);
         margin-left: 10px;
         .icon {
            display: block;
            @include svg-image($icon-back-green, 32px, 32px);
            margin-right: 10px;
         }
         .page-header {
            @include flex(1);
            font-size: $section-title-size-sm;
            margin: 0px;
         }
         .account-number {
            font-size: $font-xsm;
            margin-top: 9px;
         }
      }
      .container {
         .title {
            font-size: $font-md;
            font-weight: $headings-font-weight;
         }
      }
      ::ng-deep {
      .overlay-container {
        .title{
            span{
                width:80% !important;
            }
        }
      }
    }
      .gd-form-row {
        ::ng-deep {
           .button-group {
              label {
                 font-weight: $headings-font-weight;
                 &.last-of-type {
                    padding: 12px 4px;
                 }
              }
           }
        }
     }

   }
}
@media (max-width: $media-xs-down) {
   .statement-preferences-container {
      padding: 0 0;
      .message-alert {
         ::ng-deep {
            .alertMessage {
               .alert-container {
                  .message {
                     &.success {
                        .successIcon {
                           bottom: 10px;
                        }
                     }
                     .text {
                        position: relative;
                        top: 10px;
                     }
                     .closeIcon {
                       bottom: 10px;
                     }
                  }
               }
            }
         }
      }
      .container {
         background-color: $container-bg;
         padding: 20px;
         .statement-delivery-form {
            width: 100%;
            .gd-form-row {
               ::ng-deep {
                  .button-group {
                     label {
                        font-weight: $headings-font-weight;
                     }
                  }
               }
            }
            .mobileViewTwoButton {
               &.gd-form-row {
                  ::ng-deep {
                     .button-group {
                        label {
                           width: 50% !important;
                        }
                     }
                  }
               }
            }
            .mobileViewThreeButton {
               &.gd-form-row {
                  ::ng-deep {
                     .button-group {
                        label {
                           width: 33% !important;
                           &.last-of-type {
                              width: 34% !important;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
@media (max-width: $media-xs) {
   .statement-preferences-container {
      padding: 0 0;
      .message-alert {
         ::ng-deep {
            .alertMessage {
               .alert-container {
                  .message {
                     &.success {
                        .successIcon {
                           bottom: 25px;
                        }
                     }
                     .text {
                        position: relative;
                        top: 10px;
                        margin-left: 20px;
                        margin-bottom: 5px;
                     }
                     .closeIcon {
                       bottom: 25px;
                     }
                  }
               }
            }
         }
      }
     .gd-form-row {
        ::ng-deep {
           .button-group {
              label {
                 font-weight: $headings-font-weight;
                 &.last-of-type {
                    padding: 12px 4px;
                 }
              }
           }
        }
     }
   }
}
@media (max-width: $media-xxs) {
   .statement-preferences-container {
      padding: 0 0;
      .message-alert {
         ::ng-deep {
            .alertMessage {
               .alert-container {
                  .message {
                     &.success {
                        .successIcon {
                           bottom: 35px ;
                        }
                     }
                     .text {
                        position: relative;
                        top: 10px;
                        margin-left: 20px;
                        margin-bottom: 5px;
                     }
                     .closeIcon {
                       bottom: 35px ;
                     }
                  }
               }
            }
         }
      }
      .container {
         background-color: $container-bg;
         padding: 18px 0;
         .statement-delivery-form {
            .gd-form-row {
               ::ng-deep {
                  .button-group {
                     label {
                        &.last-of-type {
                           padding: 4px 0px !important;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

@media (max-width: 360px) {
    .gd-form-row {
        ::ng-deep {
           .button-group {
              label {
                 &.last-of-type {
                    padding: 2px 4px !important;
                 }
              }
           }
        }
     }
    .overlay-container {
        ::ng-deep {
        .title{
            span{
                width:80% !important;
            }
        }
    }
  }
}
