<div class="statement-preferences-container">
   <div class="row" *ngIf="statementPreferencesDetails">
      <div class="statement-preferences-inner-container">
         <div class="container">
            <div *ngIf="!isUnitTrust" class="statement-delivery-form gd-form">
               <div class="gd-form-row" [class.mobileViewTwoButton]="isMobileView && buttonGroup.length === 2" [class.mobileViewThreeButton]="isMobileView && buttonGroup.length === 3">
                  <div class="active gd-sm-label">
                     <span>{{labels.statementDeliveryModes}}</span>
                  </div>
                  <app-toggle-button-group [toggleButtonGroup]="toggleButtonGroup" [selectedButtonValue]="statementPreferencesDetails.deliveryMode"
                     (onSelectionChange)="onTypeChange($event)"></app-toggle-button-group>
               </div>
               <div [ngSwitch]="statementPreferencesDetails.deliveryMode">
                  <div *ngSwitchCase="buttonGroup[variableValues.zero].value">
                     <app-statement-preferences-email [statementDetails]="statementDetails" (changeStatementPreferencesDetails)="updateStatementPreferences($event)"
                        [buttonGroup]="buttonGroup" [statementPreferencesDetails]="statementPreferencesDetails" [buttonName]="buttonName"
                        (changeNotification)="onEdit()"></app-statement-preferences-email>
                  </div>
                  <div *ngSwitchCase="buttonGroup[variableValues.one].value">
                     <app-statement-preferences-postal [statementDetails]="statementDetails" (changeStatementPreferencesDetails)="updateStatementPreferences($event)"
                        (changeNotification)="changeIsGroupDisabled($event)" [buttonGroup]="buttonGroup" [statementPreferencesDetails]="statementPreferencesDetails"
                        [buttonName]="buttonName"></app-statement-preferences-postal>
                  </div>
                  <div *ngIf="buttonGroup[variableValues.two]">
                     <div *ngSwitchCase="buttonGroup[variableValues.two].value">
                        <div class="gd-form-row update-donot">
                           <app-bottom-button [text]="buttonName" [class.disable]="isDisable()" [disableButton]="isDisable()" (click)="updateStatementPreferences(statementPreferencesDetails)"></app-bottom-button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- unit-trust section-->
            <div *ngIf="isUnitTrust" class="unit-trust">
               <div class="row">
                  <div class="gd-form-row col-md-4 col-lg-4 col-sm-12">
                     <div class="gd-sm-label">
                        <span>{{labels.primaryEmail}}</span>
                     </div>
                     <input id="email" [disabled]="!unitTrustEmail" type="text" class="validate" #emailRef="ngModel" [(ngModel)]="statementPreferencesDetails.email[variableValues.zero]"
                        name="email" #emailElem appValidateRequired [pattern]="pattern.email" validateFor="unitTrustEmail" (focus)="emailChange()"
                     />
                     <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)" class="error-msg">
                        <span *ngIf="emailRef.errors.required">
                                    * {{messages.emailRequired}}
                              </span>
                        <span *ngIf="emailRef.errors.pattern">
                                    * {{messages.invalidEmail}}
                              </span>
                     </div>
                  </div>
               </div>
               <div class="row" *ngIf="!unitTrustEmail">
                  <div class="info-container col-md-4 col-lg-4 col-sm-12">
                     <span class="info-icon"></span>
                     <div class="info-msg">
                        <span>{{informations.emailDisclaimerUnitTrust}}</span>
                        <span class="call-center-number help-number">{{informations.helplineNumber}}</span>
                        <span>{{informations.emailDisclaimerUnitTrustSecond}}</span>
                        <span class="call-center-number">{{informations.callCenterEmail}}</span>.
                        <span>{{informations.emailDisclaimerUnitTrustLast}}</span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="frequency col-md-6 col-lg-4 col-sm-12">
                     <div class="title">
                        <span>{{labels.statementFrequency}}</span>
                     </div>
                     <div class="frequency-value">{{statementPreferencesDetails.frequency}}</div>
                  </div>
               </div>
               <div class="row">
                  <div class="button-container col-md-4 col-lg-4 col-sm-12">
                     <app-bottom-button [text]="buttonName" [disableButton]="emailRef.errors || isUnitTrustButtonDisable || !unitTrustEmail "
                        (click)="displayConfirmationPopup()"></app-bottom-button>
                  </div>
               </div>
               <!-- pop -up-->
               <app-small-overlay [template]="unitTrustOverlay" alternate='false' *ngIf="showConfirmationPopup">
                  <ng-template #unitTrustOverlay>
                     <div class="overlay-container">
                        <div class="overlay-header text-right">
                           <span class="cross" (click)="hideConfirmationPopup()"></span>
                        </div>
                        <div class="overlay-body">
                           <div class="info-icon-container">
                              <span class="green-warning"></span>
                           </div>
                           <div class="title">
                              <span>{{informations.unitTrustConfirmationPopupText}}</span>
                           </div>
                           <div class="button-container text-center">
                              <button class="gd-primary-btn" (click)="confirmUpdateStatementPreferences(statementPreferencesDetails)">Confirm</button>
                              <button class="gd-secondary-btn" (click)="hideConfirmationPopup()">Cancel</button>
                           </div>
                        </div>
                     </div>
                  </ng-template>
               </app-small-overlay>
               <!-- pop-up end-->
            </div>
            <!-- unit trust section end-->
         </div>
      </div>
   </div>
</div>