@import '../../../styles/_mixins.scss';
@import '../../../styles/_base.scss';

$icon-pay: 'Paydashboard';
$color-negative-amount: $warning-primary;
$color-positive-amount: $tertiary-color;
$transactions-bg: $container-bg;
$icon-usd: 'us-copy';
$icon-eur: 'eu-copy';
$icon-gbp: 'gb-copy';
$icon-isl: 'il-copy';
$icon-hkd: 'hk-copy';
$icon-jpy: 'jp-copy';
$icon-aud: 'au-copy';
$icon-cad: 'ca-copy';
$icon-arrow: 'chevron-right';
$icon-drag: 'icon-move';
$icon-tick: 'tickStatus';
$icon-close: 'close-light-gray';

$list-padding-sm: 10px;
$list-padding: 20px;

@mixin list-bottom-line {
   content: '';
   position: absolute;
   bottom: 0;
   height: 1px;
   left: 0;
   right: 0;
   display: block;
   border-bottom: 1px solid $divider-secondary;
}

@mixin list-top-line {
   content: '';
   border-top: 1px solid $divider-secondary;
}

.gd-lg-label {
   font-size: 1rem;
   font-weight: bold;
}
.gd-sm-label {
   font-size: 0.875rem;
   font-weight: normal;
}

.transactions {
   background: $transactions-bg;
   .icon-link{
      &.USD {
         .pocket-flag {
            @include svg-image($icon-usd, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.EUR {
         .pocket-flag {
            @include svg-image($icon-eur, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.GBP {
         .pocket-flag {
            @include svg-image($icon-gbp, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.ILS {
         .pocket-flag {
            @include svg-image($icon-isl, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.HKD {
         .pocket-flag {
            @include svg-image($icon-hkd, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.JPY {
         .pocket-flag {
            @include svg-image($icon-jpy, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.AUD {
         .pocket-flag {
            @include svg-image($icon-aud, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.CAD {
         .pocket-flag {
            @include svg-image($icon-cad, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      .pocket-arrow {
         @include svg-image($icon-arrow, 100%, 100%);
         display: inline-block;
         width: 25px;
         margin-left: 30px;
      }
   }
   
   .para-title {
      padding: 0 $list-padding-sm;
      color: $text-color-info;
   }

   .list-title {
      padding: $list-padding-sm;
      font-size: $base-size;
      border-bottom: 1px solid $divider-primary;
      @extend .clearfix;
   }

   table {
      width: 100%;

      thead {
         display: none;
      }

      tbody {
         tr{
            cursor: pointer;
         }
         td {
            padding: $list-padding-sm;
            padding-left: 30px;
            position: relative;

            .pocket-row-block{
               span:nth-child(1) {
                  display: block;
               }
            } 
         }
      }
   }
}
.div-row {
   display: table;
   content: '';
   width: 100%;
   border-top: 1px solid $color-lightGrey-d1;
   .div-col {
      
      display: table-cell;
      padding: 20px 20px 20px 30px;
      .gd-lg-label {
         display: block;
      }
   }
   .div-col.right {
      text-align: right;
      &.drag-icon{
         @include svg-image($icon-drag, 5%, 5%);
         display: table;
      }
   }
}
.option-text {
   padding: 25px 30px 25px 30px;
   display: block;
   cursor: pointer;
   .enabled-option {
      color: $secondary-color
   }
   .disabled-option {
      color: $text-color-empty-state
   }
}
.options {
   display: table;
   height: auto;
}
.option-description {
   width: 100%;
   text-align: justify;
   padding:0px 30px 15px 30px;
   font-size: $label-size;
   display: inline-block;
}
.empty-state{
   padding: 30px 0 0;
   .icon-block{
      padding: 20px;
      .icon{
         width: 100%;
         height: 130px;
         @include svg-image('emptystategraph');
      }
   }
   .heading-block{
      .heading{
         font-size: $section-title-size-sm;
      }
   }
   .descrp-block{
      font-size: $base-size;
   }
   &.history{
      border-top: 1px solid $divider-tertiary;
      padding: 50px 30px;
   }
}
.error-block-success {
   margin-bottom: 10px;
   color: $text-color-message-block;
   height: 80px;
   background-color: $color-success-bg;
   @include flexbox();
   @include align-items(center);
   padding: 10px;
   .error-message {
       margin: 0 20px;
       text-align: left;
       @include flex(1);
   }
   .icon-container {
       .img-step-tick {
           display: inline-block;
           @include svg-image($icon-tick, 24px, 18.9px);
           margin-left: 10px;
           margin-top: 5px;
       }
       .img-step-close {
           cursor: pointer;
           display: inline-block;
           @include svg-image($icon-close, 24px, 18.9px);
           margin-left: 10px;
           margin-top: 5px;
       }
   }
}


@media (min-width: $media-sm) {
   .gd-lg-label {
      font-size: 1rem;
      font-weight: bold;
   }
   .gd-sm-label {
      font-size: 0.875rem;
      font-weight: normal;
  }
   .transactions {
      margin-top: 0;

      .para-title {
         padding: 0 $list-padding;
         color: $text-color-secondary;
      }

      .list-title {
         display: none;
         padding: $list-padding;
      }

      table {
         width: 100%;

         thead {

            th {
               font-size: $base-size;
               color: $text-color-info;
               padding: $list-padding;
               border-bottom: 1px solid $divider-primary;
            }
         }

         tbody {
            tr{
               &:first-child {
                  @include list-top-line;
               }
            }
            td {
               padding: $list-padding $list-padding $list-padding 30px;
               &::after {
                  @include list-bottom-line;
               }
            }
         }
      }
   }
   .empty-state{
      .descrp-block{
         font-size: $font-md;
      }
   }
}
