<app-work-flow [steps]="steps" [workflowService]="gameService" [activeStep]= "activeStep" [workFlowInfo]="workflowInfo" (nextClick)="nextClick($event)"></app-work-flow>
<app-colored-overlay [isVisible]="isAccountsOverlay" [template]="AccountsTemplate" [backOption]="false">
   <ng-template #AccountsTemplate>
      <div class="vertical-overlay-content-wrapper">
         <div class="icon"></div>
         <div class="content">
            <h1 class="para-title">You don’t have any accounts to buy LOTTO from.</h1>
            <div class="top">
               <p>Open an everyday banking account at <a href="{{emptyStateUrl}}" target="_blank">Nedbank.co.za</a>  to use this feature.</p>
            </div>
         </div>
      </div>
   </ng-template>
</app-colored-overlay>
