<div class="terms-container main-report-class">
   <div class="modal-header">
      <div class="col-sm-10">
         <h2 class="modal-title pull-left">{{labels.payoutTermsTitle}}</h2>
      </div>
      <div class="col-sm-10 col-xs-12 print-icon no-print padding-top-20 text-left">
         <a class="download" (click)="print()">
            <span class="icon"></span>
            <span class="text">{{labels.print}}</span>
         </a>
      </div>
   </div>
   <div class="modal-body print-section">
      <div class="noticeContainer">
         <div class="noticeContent" innerHtml="{{ hlnResponse?.noticeDetails?.noticeContent}}"></div>
      </div>
   </div>
</div>
