@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';
$add-circle-bg: $primary-color;
$svg-path: '../../../../assets/svg';
label.bold {
    @include markpro-bold();
    font-size: $font-md;
}

.addBoard {
    font-size: $font-lg;
    @include flex(1);
    margin-left: 3px;
}

.add-button-row {
    cursor: pointer;
    @include flexbox();
    @include align-items(center);
}

.block-display {
    display: block;
}

.disableAddButton {
    opacity: 0.5;
    cursor: default;
    .add-circle {
        cursor: default;
    }
}

.add-circle {
    cursor: pointer;
    background-color: $add-circle-bg;
    border-radius: 50%;
    color: $text-color-highlight;
    height: 27px;
    width: 27px;
    font-size: $font-lg;
    text-align: center;
    display: inline-block;
    margin-top: -5px;
    margin-right: 5px;
}

.small-size {
    font-size: $font-sm;
}

.default-size {
    font-size: $font-default;
}

.lotto-total {
    font-size: $font-md;
    color: $text-color-accent-primary;
}

.full-width-inline {
    display: inline-block;
    width: 100%;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.minimum-left-spacing {
    margin-left: 10px;
}

.lotto-plus-width {
    width: 55%;
}

.lotto-width {
    width: calc( 100% - 35px);
    display: inline-block;
}

.space-container {
    height: 20px;
}

.purch-limit {
    font-size: $font-sm;
}

.icon-del {
    @include svg-image-full-path($svg-path, 'Trash', 30px, 30px);
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    height: 40px;
    cursor: pointer;
}

.font-medium {
    font-size: $font-sm;
}

.font-weight-normal {
    font-weight: normal;
}

.lotto-plus-container {
    @include flexbox();
}

.lotto-plus {
    @include flex(1);
}

.gd-basic-dropdown {
    &.open {
        .dropdown-menu {
            max-height: 400px;
            border-width: 3px;
            overflow-y: auto;
        }
    }
}

@media (min-width: $media-sm) {
    .lotto-plus-width {
        width: 60%;
    }
}

@media (min-width: $media-lg) {
    .gd-basic-dropdown {
        &.open {
            .dropdown-menu {
                max-height: initial;
                border-width: 2px;
            }
        }
    }
    .lotto-plus-width {
        width: 40%;
    }
}