<form #gameSelectNumbersForm="ngForm" [class.is-skeleton-loading]='skeletonMode' class="gd-form game-select-numbers-form">
   <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode" *ngIf="isQuickPick"></div>
   <div class="gd-form-row icon-link" *ngIf="isQuickPick">
      <label class="active gd-sm-label">Select number of boards:</label>
      <div *ngIf="drawDetails" class="gd-basic-dropdown" tabindex="0" dropdown>
         <div dropdownToggle class="dropdown-place">
            <div class="text">
               <div>{{vm.BoardsPlayed}}</div>
            </div>
            <div class="icon">
               <span class="caret"></span>
            </div>
         </div>
         <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li [class.active]="number == vm.BoardsPlayed" role="menuitem" *ngFor="let number of numberOfQuickPickBoards" (click)="OnQuickPickBoardSelected($event,number)">
               <div>{{number}}</div>
            </li>
         </ul>
      </div>
      <label *ngIf="metaData" class="active gd-sm-label default-size transfer-hint">Each board costs R{{metaData.boardPrice | number : '1.2-2'}}.</label>
   </div>
   <div class="gd-form-row" *ngIf="!isQuickPick">
      <label class="active gd-sm-label">
         You must play at least two boards.
      </label>
   </div>
   <div *ngFor="let board of vm.BoardDetails; let index = index;">
      <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
      <div class="gd-form-row icon-link">
         <label for="board" class="active gd-sm-label">Board {{board.BoardNumber}}</label>
         <app-lotto-number-picker *ngIf="metaData" [borderNumber]="board.BoardNumber" [isPowerBall]="isPowerBall" [class.lotto-width]="index > 1"
            selectedLotteryNumbersString={{board.NumbersPlayed}} [ballMatrixMax]="isPowerBall ? metaData?.powerBallMatrixMax : metaData?.lottoBallMatrixMax"
            [ballMatrixMin]="isPowerBall ? metaData?.powerBallMatrixMin : metaData?.lottoBallMatrixMin" [powerBallMatrixMax]="metaData?.powerBallBonusBallMatrixMax"
            [powerBallMatrixMin]="metaData?.powerBallBonusBallMatrixMin" (valueChange)="lottoValueChange($event, board.BoardNumber)"
            [openLottoPickerOnLoad]="index === openBoardIndex" (onBoardClose)="onBoardClose($event);sendEvent('buy_'+drawDetails?.drawName+'_how_many_boards_select_numbers_board_'+board.BoardNumber);"
            (onBoardOpen)="onBoardOpen($event)"></app-lotto-number-picker>
         <span *ngIf="index > 1" class="icon-del" (click)="onRemoveBoard(index)"></span>
         <label *ngIf="metaData" class="active gd-sm-label transfer-hint">
            Each board costs R{{metaData.boardPrice | number : '1.2-2'}}.
         </label>
      </div>
   </div>
   <div class="gd-form-row">
      <div *ngIf="maxBoardLimit" class="error-msg">
         Only {{metaData.maxNumberOfBoardsAllowed}} boards allowed.
      </div>
   </div>
   <div class="gd-form-row full-width-inline" *ngIf="!isAllBoardValid && !isQuickPick && isAnyBoardDirty && (vm.BoardDetails.length>2 && vm.BoardDetails[0].isValid  && vm.BoardDetails[1].isValid) && isShownIncompleteboardError">
      <div class="error-msg">
         <span>
            {{lottoLabels.incompleteBoardsError}}
         </span>
      </div>
   </div>
   <div class="gd-form-row full-width-inline" *ngIf="isQuickPick !== undefined && isQuickPick === false">
      <div class="add-button-row" [class.disableAddButton]="((!isAllBoardValid && !isQuickPick) || maxBoardLimit)" (click)="(!isAllBoardValid && !isQuickPick) ? (isShownIncompleteboardError = true) : onAddBoard($event);sendEvent('buy_'+drawDetails?.drawName+'_how_many_boards_click_on_add_board');">
         <div class="add-circle">+</div>
         <span class="active addBoard" for="addBoard">Add board</span>
      </div>
   </div>
   <div class="col-xs-12 space-container"></div>
   <div class="gd-form-row">
      <label class="active bold">Increase your chances of winning</label>
      <label *ngIf="metaData" class="active small-size no-padding block-display font-weight-normal">{{winningText}}</label>
   </div>
   <div *ngIf="isPowerBall">
      <div class="col-xs-12 pull-left no-padding lotto-plus-container">
         <div class="inline-block lotto-plus-width lotto-plus">
            <label class="active no-padding block-display font-medium">PowerBall PLUS</label>
            <label *ngIf="metaData" class="active small-size no-padding block-display font-weight-normal">Additional R{{metaData.lottoPlusPrice | number : '1.2-2'}} a board.</label>
         </div>
         <label class="switch inline-block minimum-left-spacing">
            <input type="checkbox" name="IsLottoPlus" (change)="onLottoPlusChange();(vm.IsLottoPlus)?sendEvent('buy_'+drawDetails?.drawName+'_how_many_boards_'+drawDetails?.drawName+'_plus_toggle_on'):'';"
               [(ngModel)]="vm.IsLottoPlus" [checked]="vm.IsLottoPlus">
            <div class="slider round inline-block"></div>
         </label>
      </div>
      <div class="col-xs-12 space-container"></div>
   </div>
   <div *ngIf="!isPowerBall">
      <div class="col-xs-12 pull-left no-padding lotto-plus-container">
         <div class="inline-block lotto-plus-width lotto-plus">
            <label class="active no-padding block-display font-medium">LOTTO PLUS 1 </label>
            <label *ngIf="metaData" class="active small-size no-padding block-display font-weight-normal">Additional R{{metaData.lottoPlusPrice | number : '1.2-2'}} a board.</label>
         </div>
         <label class="switch inline-block minimum-left-spacing">
            <input type="checkbox" name="IsLottoPlus" (change)="onLottoPlusChange();(vm.IsLottoPlus)?sendEvent('buy_'+drawDetails?.drawName+'_how_many_boards_'+drawDetails?.drawName+'_plus1_toggle_on'):'';"
               [(ngModel)]="vm.IsLottoPlus" [checked]="vm.IsLottoPlus">
            <div class="slider round inline-block"></div>
         </label>
      </div>
      <div class="col-xs-12 space-container"></div>
      <div class="col-xs-12 pull-left no-padding lotto-plus-container" *ngIf="vm.IsLottoPlus">
         <div class="inline-block lotto-plus-width lotto-plus">
            <label class="active no-padding block-display font-medium">LOTTO PLUS 2 </label>
            <label *ngIf="metaData" class="active small-size no-padding block-display font-weight-normal">Additional R{{metaData.lottoPlusTwoPrice | number : '1.2-2'}} a board.</label>
         </div>
         <label class="switch inline-block minimum-left-spacing">
            <input type="checkbox" name="IsLottoPlusTwo" (change)="onLottoPlusTwoChange();(vm.IsLottoPlusTwo)?sendEvent('buy_'+drawDetails?.drawName+'_how_many_boards_'+drawDetails?.drawName+'_plus2_toggle_on'):'';"
               [(ngModel)]="vm.IsLottoPlusTwo" [checked]="vm.IsLottoPlusTwo">
            <div class="slider round inline-block"></div>
         </label>
      </div>
      <div class="col-xs-12 space-container"></div>
   </div>
   <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
   <div class="gd-form-row icon-link">
      <label class="active gd-sm-label">Number of draws</label>
      <div *ngIf="drawDetails" class="gd-basic-dropdown" tabindex="0" dropdown>
         <div dropdownToggle class="dropdown-place">
            <div class="text">
               <div *ngIf="vm.DrawsPlayed>1">{{vm.DrawsPlayed}} draws (#{{drawDetails.drawNumber}} to #{{drawDetails.drawNumber + vm.DrawsPlayed - 1}})</div>
               <div *ngIf="vm.DrawsPlayed==1">{{vm.DrawsPlayed}} draw (#{{drawDetails.drawNumber}})</div>
            </div>
            <div class="icon">
               <span class="caret"></span>
            </div>
         </div>
         <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem" [class.active]="vm.DrawsPlayed == c" *ngFor="let c of drawNumbers" (click)="onDrawChange($event,c);sendEvent('buy_'+drawDetails?.drawName+'_how_many_boards_select_number_of_draws');">
               <div *ngIf="c>1">{{c}} draws (#{{drawDetails.drawNumber}} to #{{drawDetails.drawNumber + c - 1}})</div>
               <div *ngIf="c==1">{{c}} draw (#{{drawDetails.drawNumber}})</div>
            </li>
         </ul>
      </div>
      <label class="active gd-sm-label default-size transfer-hint">Play these numbers for multiple {{isPowerBall ? 'PowerBall' : 'LOTTO'}} draws.</label>
   </div>
   <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
   <div class="gd-form-row icon-link">
      <div class="active lotto-total ">Total: R{{vm.TotalCost | number : '1.2-2'}}</div>
      <p>
         <span class="purch-limit">{{lottoPayLimit | amountTransform : amountPipeConfig }}</span> daily {{isPowerBall ? 'PowerBall' : 'LOTTO'}} limit
         remaining.
      </p>
   </div>
   <div class="gd-form-row" *ngIf="lottoPayLimit < vm.TotalCost">
      <div class="error-msg">
         {{errorMsg}}
      </div>
   </div>
   <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
   <div class="gd-form-row icon-link">
      <app-account-list [insufficientFunds]="insufficientFunds" [title]="'From account'" [selectedAccount]="vm.FromAccount" [accounts]="fromAccounts"
         (onAccountSelection)="onFromAccountSelection($event);sendEvent('buy_'+drawDetails?.drawName+'_how_many_boards_select_from_account');">
      </app-account-list>
      <label *ngIf="vm.FromAccount" class="active gd-sm-label default-size transfer-hint">
         <span *ngIf="(vm.FromAccount.accountType ==  accountTypes.currentAccountType.code || vm.FromAccount.accountType == accountTypes.savingAccountType.code )">R2.00</span>
         <span *ngIf="(vm.FromAccount.accountType == accountTypes.creditCardAccountType.code)">R1.80</span>
         will be charged for each successful ticket purchase from this account.
      </label>
   </div>
   <div class="gd-form-row">
   </div>

</form>
<app-game-timeout-replay *ngIf="gameReplayNotAvailable"></app-game-timeout-replay>
