@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';
$svg-path: './../../../assets/svg';

.container {
   text-align: center;
   margin: 20px 0;
   max-width: 100%;
   overflow-y: hidden;
   .cancel-toggle {
      margin-top: 15px;
      .disabled-style {
         ::ng-deep .gd-ghost-btn {
            color: $secondary-color;
            cursor: not-allowed;
         }
      }
   }
   .green-warning {
      display: inline-block;
      @include svg-image-full-path($svg-path, 'green-warning', 64px, 64px);
   }
   .title-overlay {
      color: $text-color-secondary;
      .title,
      .sub-title {
         margin: 0 19%;
         padding-bottom: 30px;
      }
      .title {
         font-size: $para-title-size;
      }
      .sub-title {
         font-size: $para-title-size;
         margin-top: 0;
         &.bold-heading{
            font-weight: bold;
         }
      }
      .header {
         line-height: 1.25;
         font-weight: bold;
         font-size: $section-title-size;
         margin: 30px 0;
      }
   }
}

@media (max-width: $media-xs-down) {
   %title-placeholder {
      font-size: $font-default;
      margin: 20px 10px 0 10px;
   }
   .container {
      margin: 0;
      padding-top: 60px;
      .title-overlay {
         .header {
            font-size: $font-lg;
            margin: 20px 0;
         }
         .title {
            @extend %title-placeholder;
            &.push-btn-down {
               margin-bottom: calc(100vh - 400px);
            }
         }
         .sub-title {
            @extend %title-placeholder;
            &.bold-heading {
               margin: 0;
            }
            &.push-btn-down {
               margin-bottom: calc(100vh - 500px);
            }
         }
      }
   }
}