<div class="container">
   <span class="green-warning"></span>
   <header class="title-overlay">
      <h1 class="header" [innerHtml]="header"></h1>
      <h2 class="title" [class.push-btn-down]="!this.subTitle.length" [innerHtml]="title"></h2>
      <h3 class="sub-title push-btn-down" [class.bold-heading]="statusWarning.type === labels.freezeCard.cardFreeze" *ngIf="this.subTitle.length !== 0"
         [innerHtml]="subTitle"></h3>
   </header>
   <app-bottom-button id="nextBtn" [text]="labels.nextBtnText" [showLoader]='showLoader' (click)="!showLoader ? onNext() : false"></app-bottom-button>
   <div class="cancel-toggle">
      <app-bottom-button [alternateTheme]="true" id="cancelBtn" [class.disabled-style]="showLoader" [text]="labels.cancelBtnText"
         (click)="!showLoader ? onCancel() : false"></app-bottom-button>
   </div>
</div>
