<div class="custom-inrange-day-selector clearfix">
   <label class="gd-sm-label title">{{inrangeDateSelector.title}}</label>
   <div class="gd-inrange-calender icon-field">
      <div class="selected-day-block" [class.open]="showCalendar" dropdownToggle dropdown-open>
         <div class="text">{{paymentDueDate}}</div>
         <span class="icon calendar" (click)="toggleCalendar()"></span>
      </div>
      <ul *ngIf="showCalendar" class="dropdown-menu clearfix">
         <li *ngFor="let day of days" (click)="setSelectedDay(day)" class="dropdown-item" [class.valid]="isDayValid(day)" [class.selected]="day === selectedDay">
            <a class="day">{{day}}</a>
         </li>
      </ul>
   </div>
   <div [class.error]="errorFlag" class="gd-sm-label warning">{{inrangeDateSelector.warningMsg}}</div>
</div>
