@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
$svg-relative-part: './../../../../assets/svg';
.custom-inrange-day-selector {
   .gd-inrange-calender {
      &.open {
         .selected-day-block {
            border-bottom: 0;
         }
      }
      .selected-day-block {
         border: 2px solid $divider-primary;
         background: $container-bg;
         line-height: 50px;
         height: 50px;
         padding: 0 60px 0 15px;
         &.open {
            border-bottom: 0;
         }
         .icon {
            position: absolute !important;
            width: ($form-element-height - 10px);
            height: ($form-element-height - 10px);
            display: inline-block;
            right: 5px;
            top: 5px;
            cursor: pointer;
            &.calendar {
               @include svg-image-full-path($svg-relative-part, 'calendar', 26px, 26px);
               top: 8px;
               right: 8px;
            }
         }
      }
      .dropdown-menu {
         position: relative;
         @include box-shadow(none);
         border: 2px solid $divider-primary;
         border-top: 0;
         border-radius: 0;
         margin-top: 0;
         padding: 20px;
         margin-bottom: 10px;
         width: 100%;
         display: block;
         .dropdown-item {
            float: left;
            margin: 0 5px;
            width: 40px;
            text-align: center;
            height: 40px;
            a {
               padding: 10px;
               border-radius: 20px;
               color: $text-color-info;
               cursor: pointer;
            }
            &.valid {
               a {
                  color: $text-color-primary;
               }
            }
            &.selected>a {
               background-color: $form-element-disabled;
               color: $container-bg;
            }
            &.valid {
               &.selected {
                  a {
                     background-color: $tertiary-color;
                  }
               }
            }
         }
      }
   }
   .gd-sm-label {
      &.title {
         margin-top: 20px;
      }
      &.warning {
         margin-top: 10px;
         color: $text-color-info;
         font-size: $font-xsm;
         &.error {
            color: $text-color-error;
         }
      }
   }
}
