<div class="formInput">
   <form #createPasswordCompleteForm="ngForm" class="gd-form">
      <app-message-alert [showAlert]="serviceError != ''" [displayMessageText]="serviceError" [linkDisplayText]="errorLinkText"
         [action]="alertAction" [alertType]="alertType" (onAlertLinkEmit)="onAlertLinkSelected($event)"></app-message-alert>

      <div *ngIf="recoverPassword;else resetPassword">
         <div class="gd-form-row">
            <h4 class="section-title darkText">You updated your Nedbank ID password successfully.</h4>
         </div>
         <div class="gd-form-row">
            Please remember your username and password, and keep them safe. You'll need them to log in in future.
         </div>
         <div class="gd-form-row">
            <span class="boldText">For your security</span> we'll send you one more Approve-it message.
         </div>
         <div class="gd-form-row">
            <app-bottom-button [disableButton]="false" [text]="'Next'" (clickEmitter)="navigateNext($event) " [showLoader]='showLoader'></app-bottom-button>
         </div>
      </div>

      <ng-template #resetPassword>
         <div class="gd-form-row">
            <h4 class="section-title darkText">You reset your password successfully.</h4>
         </div>
         <div class="gd-form-row">
            Please remember and keep your password safe. You'll need it to log in in future.
         </div>
         <div class="gd-form-row">
            <span class="boldText">If you log in below</span>, we'll send you one more Approve-it message.
         </div>
         <div class="half-btns gd-form-row">
            <div class="left">
               <app-bottom-button [disableButton]="false" (clickEmitter)="navigateNext($event)" [text]="'Log in'" [showLoader]='showLoader'></app-bottom-button>
            </div>
            <div class="right">
               <app-bottom-button [disableButton]="showLoader" (clickEmitter)="navigateDone($event)" [text]="'Done'" [alternateTheme]="true"></app-bottom-button>
            </div>
         </div>
      </ng-template>
   </form>
</div>