@import './../../../../styles/_mixins.scss';
@import './../../../../styles/_base.scss';


.menu-left-nav {
   display: none;
}

.menu-nav {
   font-size: $font-sm;
   text-align: left;
   color: $nav-menu-color;
   text-decoration: none;
   display: inline-block;
   border-bottom: 1px solid $nav-menu-border;
   width: 100%;

   &:hover {
      text-decoration: none;
   }
}

ul {
   list-style: none;
}

.active-link {
   font-weight: $nav-menu-header-weight;
   border-bottom: 1px solid $nav-menu-border-active;
}

.nav-header {
   font-weight: $nav-menu-header-weight;
   text-align: left;
   color: $nav-menu-header-color;
   margin: 0 0 50px;
}

@media (min-width: $media-sm) {
   .menu-nav {
      font-size: $para-title-size;
      padding-bottom: 13px;
      padding-top: 13px;
   }
}
