@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';
$svg-path: './../../../assets/svg/';

.payment-option-box {
  min-width: 150px;
}

.id-icon {
  @include svg-image-full-path($svg-path, 'id-static', 40px, 40px);

  &.selected {
    @include svg-image-full-path($svg-path, 'id-selected', 40px, 40px);
  }
}

.passport-icon {
  @include svg-image-full-path($svg-path, 'Foreign-static', 40px, 40px);

  &.selected {
    @include svg-image-full-path($svg-path, 'Foreign-selected', 40px, 40px);
  }
}

@media screen and (max-width: ($media-sm)) {
  .payment-option-box {
    min-width: initial;
    max-width: 150px;
  }
}

.search-field {
  position: relative;
  input {
      padding-right: 40px;
  }
  .icon {
      display: block;
      width: 16px;
      height: 16px;
      @include svg-image-full-path($svg-path, 'Search-recipients');
      position: absolute;
      right: 12px;
      top: 18px;
  }
}