<div class="income-tax-details-container">
   <div class="row">
      <div class="col-xs-12">
         <div class="container" *ngIf="isStatement && !showLoader">
            <div class="title" [class.title-text]="showTable">{{labels.it3b.taxCertificate}}
               <div (click)="toggleDetail()" class="toggle-icon">
                  <span class="down-chevron" [class.up-chevron]="showTable"></span>
               </div>
            </div>
            <table class="content" *ngIf="showTable">
               <tbody *ngFor="let item of availableYears; let i = index">
                  <tr class="tax-data">
                     <td class="tax-years">{{item-1}}/{{item}}</td>
                     <td class="data-align">
                        <div (click)="downloadIT3B(i)" class="content-align content-color">
                           <div *ngIf="item" class="download-statement">
                           </div>
                           <span class="content-color">{{labels.it3b.download}}</span>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div *ngIf="showLoader" class="loader-align">
            <div class="loader">
               <app-spinner [color]="'green'"></app-spinner>
            </div>
         </div>
         <div class="information-align" *ngIf="!isStatement">
            <span class="information"></span>
            <span class="information-text">{{labels.it3b.noCertificates}}</span>
         </div>
      </div>
   </div>
</div>
