@import '../../../../../styles/_mixins.scss';
@import '../../../../../styles/_base.scss';
$svg-path: './../../../../../assets/svg';
$icon-download: 'normal';
$icon-down: 'down';
$icon-info: 'info-grey';
$bg-color-dashboard: $body-bg;
$cards-bg: $body-bg;

.income-tax-details-container {
   p.account-number {
      font-size: $font-xsm !important;
      text-align: left;
      font-weight: normal;
      color: $text-color-primary;
   }

   .information {
      @include svg-image-full-path($svg-path, $icon-info, 64px, 64px);
   }

   .information-align {
      height: 280px;
      padding-top: 100px;
      color: $coloy-lightGrey-d4;
      border-bottom: 1px solid $color-lightGrey-d1;
      @include flexbox;
      @include align-items(center);
      @include flex-direction(column);
   }

   .information-text {
      width: 280px;
      text-align: center;
   }

   .loader {
      z-index: 100;
      line-height: 1;
      width: 35px;
      margin: 0 50%;
   }

   .loader-align {
      height: 280px;
      display: block;
      padding-top: 100px;
   }

   .container {
      background-color: $container-bg;
      padding: 30px;
      margin-top: 22px;

      .download-statement {
         @include svg-image-full-path($svg-path, $icon-download, 24px, 24px);
         align-content: center;
         display: inline-block;
         margin-left: auto;
         margin-right: auto;         
         vertical-align: bottom;
         cursor: pointer;
      }

      .title {
         font-size: $font-default;

         &.title-text {
            padding-bottom: 20px;
         }
      }

      .content {
         width: 97%;
         float: right;
      }

      .data-align {
         text-align: center;
      }

      .tax-years {
         text-align: left;
      }

      .tax-data {
         height: 80px !important;
      }

      .content-align {
         text-align: right;
         cursor: pointer;
      }

      .content-color {
         color: $secondary-color;
         padding-left: 5px;
      }

      table {
         width: 100%;

         tr {
            th {
               padding: 10px 0;
               object-fit: contain;
            }

            td {
               height: 50px;
            }
         }
      }
   }
}

.toggle-icon {
   float: right;
   padding-right: 30px;
}

.down-chevron {
   @include svg-image-full-path($svg-path, $icon-down, 24px, 24px);
   cursor: pointer;

   &.up-chevron {
      &::before {
         @include rotate(-180deg);
      }
   }
}

@media (max-width: $media-sm) {
   .toggle-icon {
      padding-right: 0;
   }

   .income-tax-details-container {
      .margin-top-left {
         margin-left: -15px;
      }

      .container {
         table {
            tr {
               td {
                  height: 35px;
               }
            }
         }

         .title {
            &.title-text {
               border-bottom: 1px solid $divider-secondary;
            }
         }

         .content {
            width: 94%;
         }
      }
   }

   @media (min-width: $media-lg) {
      .income-tax-details-container {
         .container {
            table {
               tr {
                  td {
                     height: 35px;
                  }
               }
            }
         }
      }
   }

   @media (min-width: $media-md) {
      .income-tax-details-container {
         .container {
            table {
               tr {
                  td {
                     height: 35px;
                  }
               }
            }
         }
      }
   }
}
