<div class="profile-container">
   <div *ngIf="showSuccessMsg">
      <div class="icon-field link-response-msg success-msg">
         <div class="left">
            <span class="msg-circle">✓</span>
         </div>
         <div class="center">{{labels.linkAccountLabels.successMessage}}</div>
         <div class="right" (click)="closeSuccessMessage()">
            X
         </div>
      </div>
   </div>
   <div *ngIf="showErrorMsg">
      <div class="icon-field link-response-msg error-msg">
         <div class="left">
            <span class="msg-circle">X</span>
         </div>
         <div class="center">{{labels.linkAccountLabels.errorMessage}}</div>
         <div class="right" (click)="tryAgainForLinkAccounts()">
            {{labels.tryAgain}}
         </div>
      </div>
   </div>
   <div class="container-padding">
      <div class="icon-field">
         <h4 class="section-title profile-limit-header">{{labels.linkAccountLabels.alreadyLinkedAccountsHeading}}</h4>
         <p class="linked-account-message">{{labels.linkAccountLabels.alreadyLinkedAccountSubHeading}}</p>
      </div>
      <div class="widget-container">
         <div *ngIf="linkedAccounts?.length === 0" class="limit-widget no-records-found">
            {{labels.noRecordsFound}}
         </div>
         <div *ngFor="let linkedAccount of linkedAccounts">
            <div class="limit-widget" *ngIf="linkedAccount?.IsProfileAccount" [ngClass]="getAccountTypeStyle(linkedAccount.AccountType)">
               <div class="account-name">{{linkedAccount.AccountName}}</div>
               <div class="account-number">{{linkedAccount.AccountNumber}}</div>
            </div>
         </div>
      </div>
      <div class="separator"></div>
      <div class="icon-field">
         <h4 class="section-title profile-limit-header">{{labels.linkAccountLabels.linkableAccountsHeading}}</h4>
         <p class="linked-account-message">{{labels.linkAccountLabels.linkableAccountsSubHeading}}</p>
      </div>
      <div class="widget-container">
         <div *ngIf="linkableAccounts?.length === 0" class="empty-record no-records-found">
            {{labels.noRecordsFound}}
         </div>
         <div *ngIf="linkableAccounts?.length > 0">
            <div *ngFor="let linkableAccount of linkableAccounts; let index = index;">
               <div class="limit-widget linkable-account-card">
                  <div class="icon gd-checkbox">
                     <input type="checkbox" id="linkaccount-check-{{index}}" #linkCheckBox>
                     <label for="linkaccount-check-{{index}}" (click)="selectLinkCheckBox(linkableAccount)"></label>
                  </div>
                  <div class="content">
                     <div class="account-name">{{linkableAccount?.AccountType}}</div>
                     <div class="account-number">{{linkableAccount?.AccountNumber}}</div>
                     <div class="balance">
                        <div class="left">
                           <p class="balance-title">{{labels.currentBalance}}</p>
                           <h6>{{linkableAccount?.Balance | amountTransform: amountPipeConfig}}</h6>
                        </div>
                        <div class="right">
                           <p class="balance-title">{{labels.availableBalance}}</p>
                           <h6>{{linkableAccount?.AvailableBalance | amountTransform: amountPipeConfig}}</h6>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="limit-widget link-button">
               <app-bottom-button (clickEmitter)="onLinkAccountClick()" [disableButton]='!accountsToLink || accountsToLink.length === 0' [showLoader]='showLoader' [text]='labels.linkAccountLabels.linkButtonText'></app-bottom-button>
            </div>
         </div>
      </div>
   </div>
</div>