<app-work-flow [steps]="steps" [workflowService]="chargesAndFeesService" [workFlowInfo]="workflowInfo" (nextClick)="nextClick($event)" (stepClick)="stepClick($event)"></app-work-flow>
<app-colored-overlay [isVisible]="isAccountsOverlay" [template]="AccountsTemplate" [backOption]="false">
   <ng-template #AccountsTemplate>
      <div class="vertical-overlay-content-wrapper">
         <div class="content">
            <div class="title-container">
               <div class="icon"></div>
               <h1 class="para-title">{{urlLabel.errorTitle}}</h1>
            </div>
            <div class="top">
               <p>{{urlLabel.accountErrorMsg}}</p>
            </div>
         </div>
         <div class="gd-form-row back-btn">
         <div class="btn-container">
            <app-bottom-button [text]="'Back'" [disableButton]='false' (click)="goBack($event)"
                ></app-bottom-button>
        </div>
        </div>
      </div>
   </ng-template>
</app-colored-overlay>