@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
$svg-relative-part: './../../../../assets/svg';
$green:'green-warning';
.payfrom-container {
   margin-top: 60px;
   .payfrom-form-wrapper {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
   }
   .payfrom-gd-form {
      display: inline-block;
      text-align: left;
      margin: -20px 0 0;
      .form-template-wrapper {
         .nedbank-form {
            .gd-form-row {
               .gd-sm-label {
                  margin: 27px 0 21px;
               }
            }
            .button-div {
               margin-top: 186px;
            }
         }
         .other-bank-form {
            #button-div-two {
               margin-top: 56px;
            }
         }
      }
   }
   .information-container-small {
      .medium-text {
         font-size: $font-md;
         margin-bottom: 37px;
         line-height: 22px;
         color: $text-color-secondary;
      }
      .bold-text {
         font-family: $font-markpro-medium;
         color: $text-color-secondary;
         font-size: $section-title-size-mob;
         line-height: 30px;
      }
   }
   .please-note-lbl {
      font-family: $font-markpro-medium;
      color: $color-black;
      font-size: $para-title-size-mob;
      font-weight: 500;
   }
   .please-note-msg {
      font-size: $para-title-size-mob;
      color: $text-color-primary;
      font-family: $font-markpro;
      letter-spacing: -0.6px;
   }
   .please-note-phoneno {
      color: $secondary-color;
      font-family: $font-markpro-medium;
      cursor: pointer;
   }
   .nedbank-account-check-btn-group {
      @include border-radius(0.25rem);
      height: 50px;
      position: relative;
      width: 100%;
      border: 2px solid $tertiary-color;
      .nedbank-account-check-btn {
         float: left;
         width: 50%;
         padding: 12px;
         text-align: center;
         color: $tertiary-color;
         cursor: pointer;
         margin-bottom: 30px;
         &.clicked {
            color: $text-color-highlight;
            background-color: $tertiary-color;
         }
      }
   }
   ::ng-deep {
      .gd-dropdown .discrp-block {
         &.active {
            background-color: rgba(187, 187, 187, 0.33);
            border-bottom: none;
            border-top: none;
         }
      }
      .gd-dropdown {
         &.open {
            .dropdown-menu {
               .discrp-block {
                  border-right-width: 2px;
               }
            }
            div {
               &.discrp-block {
                  border-bottom: 1px;
                  border-top-color: $primary-darker-color;
                  border-right-color: $primary-darker-color;
               }
            }
            ul {
               &.dropdown-menu {
                  border-bottom: 2px solid $primary-darker-color;
                  border-right: 2px solid $primary-darker-color;
                  margin-bottom: 100px;
               }
            }
         }
      }
      .icon {
         transform: rotate(0);
      }
      .gd-dropdown {
         &.open {
            .icon {
               transform: rotate(180deg);
            }
         }
         .discrp-block {
            .fields {
               .field {
                  &:first-child {
                     .right {
                        display: none;
                     }
                  }
               }
            }
         }
         .dropdown-menu {
            .dropdown-item.discrp-block {
               &:hover {
                  background-color: $drp-options-bg-hover;
               }
               &.active {
                  .fields {
                     .field {
                        .right {
                           margin-right: 42px;
                        }
                        &:first-child {
                           .para-title {
                              color: $text-color-primary;
                           }
                        }
                        &:last-child {
                           .left {
                              color: $text-color-primary;
                           }
                           .right {
                              color: $text-color-primary;
                           }
                        }
                     }
                  }
               }
            }
            .fields {
               .field {
                  .right {
                     margin-right: 42px;
                  }
                  &:first-child {
                     .para-title {
                        font-size: $section-title-secondary-size-mob;
                        font-weight: bold;
                        color: $text-color-info;
                     }
                  }
                  &:last-child {
                     font-size: $font-base;
                     .left {
                        color: $text-color-info;
                     }
                     .right {
                        color: $text-color-info;
                     }
                  }
               }
            }
         }
      }
   }
}

.gd-basic-dropdown {
   .dropdown-place {
      border-color: $text-color-info;
      &.valid {
         border-color: $tertiary-color;
      }
   }
}

.overlay-part {
   @include flexbox();
   .add-autopay {
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
      .triangle-icon {
         @include svg-image-full-path($svg-relative-part, $green, 60px, 60px);
         display: block;
      }
      .content-autopay {
         text-align: center;
         .text-autopay {
            color: $text-color-secondary;
            font-family: $font-markpro-bold;
            display: block;
         }
         .text-description {
            font-family: $font-markpro;
            color: $text-color-secondary;
            .pay-bill {
               font-family: $font-markpro-medium;
               color: $text-color-secondary;
               display: block;
            }
            .set-autopay {
               display: block;
            }
            .please-note-phoneno {
               color: $text-color-link;
               display: block;
            }
         }
      }
   }
}

@media (min-width: $media-xxs) {
   .payfrom-form-wrapper {
      .payfrom-gd-form {
         margin-top: -50px;
      }
   }
   .overlay-part {
      .add-autopay {
         width: 100%;
         margin: 150px 0;
         .triangle-icon {
            margin-bottom: 20px;
         }
         .content-autopay {
            .text-autopay {
               font-size: $section-title-size-mob;
            }
            .text-description {
               font-size: $font-default;
               .pay-bill {
                  margin: 30px 0 0;
               }
               .set-autopay {
                  margin: 0 22px;
               }
            }
            .button-container {
               margin: 60px -10px 100px;
            }
         }
      }
   }
}

@media (min-width: $media-xs) {
   .payfrom-form-wrapper {
      .payfrom-gd-form {
         margin-top: -50px;
      }
   }
   .greentriangle {
      margin: 100px 50px 0 0;
   }
   .button-container {
      margin-bottom: 100px;
   }
   .please-note-msg {
      padding-right: 10px;
   }
}

@media (min-width: $media-sm) {
   ::ng-deep{
      .overlay .container{
         overflow-y: unset;
      }
   }
   .payfrom-gd-form {
      width: 100%;
      margin-top: 0;
      .information-container-small {
         margin-top: 30px;
      }
   }
   .overlay-part {
      .add-autopay {
         width: 400px;
         margin: 45px 109px;
         .triangle-icon {
            margin-bottom: 60px;
         }
         .content-autopay {
            max-width: 400px;
            .text-autopay {
               font-size: $section-title-size;
               margin: 0 -10px;
            }
            .text-description {
               font-size: $para-title-size;
               .pay-bill {
                  margin: 30px 0 0;
               }
               .set-autopay {
                  margin: 0 -5px;
               }
            }
            .button-container {
               margin: 60px 0 20px;
            }
         }
      }
   }
   ::ng-deep {
      .overlay-modal {
         .overlay .alternate {
            margin-top: 50px;
         }
      }
   }
}

@media (min-width: $media-xs-up) {
   .payfrom-container {
      .payfrom-gd-form {
         width: 400px;
         margin-top: -20px;
         display: inline-block;
         text-align: left;
         .information-container-small {
            .bold-text {
               margin-top: 20px;
               font-size: $section-title-size;
            }
         }
         .form-template-wrapper {
            .nedbank-form {
               .gd-form-row {
                  .gd-sm-label {
                     margin-bottom: 5px;
                     margin-top: 30px;
                  }
               }
               .button-div {
                  margin-top: 0;
               }
            }
            .other-bank-form {
               #button-div-two {
                  margin-top: 0;
               }
            }
         }
      }
      ::ng-deep {
         .gd-dropdown {
            .discrp-block {
               .fields {
                  .field {
                     &:first-child {
                        .right {
                           display: -webkit-box;
                        }
                     }
                  }
               }
            }
            .dropdown-menu {
               .dropdown-item.discrp-block {
                  &.active {
                     .fields {
                        .field {
                           &:first-child {
                              .para-title {
                                 color: $text-color-primary;
                              }
                              .right {
                                 color: $text-color-info;
                                 display: block;
                              }
                           }
                           &:last-child {
                              .left {
                                 color: $text-color-primary;
                              }
                           }
                        }
                     }
                  }
               }
               .fields {
                  .field {
                     .right {
                        margin-right: 42px;
                     }
                     &:first-child {
                        .para-title {
                           font-size: $section-title-secondary-size-mob;
                           font-weight: bold;
                           color: $text-color-info;
                        }
                        .right {
                           color: $text-color-info;
                        }
                     }
                     &:last-child {
                        font-size: $font-base;
                        .left {
                           color: $text-color-info;
                        }
                     }
                  }
               }
            }
         }
      }
   }
   ::ng-deep {
      .overlay-modal {
         .overlay .alternate {
            margin-top: 100px;
         }
      }
   }
}
