<section class="contact-details">
   <form class="section  gd-form" #contactDetailsForm="ngForm">
      <span class="section-title">{{heading}}</span>
      <div class="section-body">
         <div class="first-section">
            <div class="gd-form-row">
               <label class="gd-sm-label" for="primary-number">{{labels.primaryNumber}}</label>
               <input type="text" name="primaryNumber" [readonly]="true" [(ngModel)]="contactDetails.CellNumber" id="primary-number">
               <span class="mandary-optional">{{labels.mandatory}}</span>
            </div>
            <div class="gd-form-row secondary-no">
               <label class="gd-sm-label" for="secondary-number">{{labels.secondaryNumber}}</label>
               <input type="text" name="secCellNumberRef" #secCellNumberRef="ngModel" [minlength]="minlength" [maxlength]="maxlength" [pattern]="pattern.internationalMobile"
                  autocomplete="off" [(ngModel)]="overseasTravelDetails.alteranteNumber" [class.error]="!checkSecondaryNumberValid(contactDetailsForm, 'secCellNumberRef')"
                  id="secondary-number" appValidateOnblur appCheckBlur>
               <span class="mandary-optional">{{labels.optional}}</span>
               <div *ngIf="(secCellNumberRef.invalid && (secCellNumberRef.dirty || secCellNumberRef.touched) && secCellNumberRef.isBlurred)"
                  class="error-msg">
                  <span *ngIf="secCellNumberRef.errors?.pattern || secCellNumberRef.errors?.minlength">{{messages.invalidNumber}}</span>
               </div>
            </div>
            <div class="gd-form-row">
               <label class="gd-sm-label" for="email">{{labels.emailAddress}}</label>
               <input type="text" #emailRef="ngModel" [pattern]="pattern.email" [maxlength]="emailMaxlength" [class.error]="!checkEmailValid(contactDetailsForm, 'emailRef')"
                  name="emailRef" [(ngModel)]="contactDetails.EmailAddress" id="email" appValidateOnblur appValidateRequired
                  appCheckBlur>
               <span class="mandary-optional">{{labels.mandatory}}</span>
               <div *ngIf="(emailRef.invalid && (emailRef.dirty || emailRef.touched) && emailRef.isBlurred)" class="error-msg">
                  <span *ngIf="emailRef.errors?.required">{{messages.requiredField}}</span>
                  <span *ngIf="emailRef.errors?.pattern">{{messages.invalidEmail}}</span>
               </div>
            </div>
            <div class="gd-form-row">
               <label class="gd-sm-label" for="contact-number">{{labels.contactNumber}}</label>
               <input type="text" name="contactNumberRef" #contactNumberRef="ngModel" [minlength]="minlength" [maxlength]="maxlength" autocomplete="off" [pattern]="pattern.internationalMobile"
                  [(ngModel)]="overseasTravelDetails.contactNumber" id="contact-number" [class.error]="!checkContactPersonNumberValid(contactDetailsForm, 'contactNumberRef')"
                  appValidateOnblur appValidateRequired appCheckBlur>
               <span class="mandary-optional">{{labels.mandatory}}</span>
               <div *ngIf="(contactNumberRef.invalid && (contactNumberRef.dirty || contactNumberRef.touched) && contactNumberRef.isBlurred)"
                  class="error-msg">
                  <span *ngIf="contactNumberRef.errors?.required">{{messages.requiredField}}</span>
                  <span *ngIf="contactNumberRef.errors?.pattern || contactNumberRef.errors?.minlength">{{messages.invalidNumber}}</span>
               </div>
            </div>
         </div>
         <div class="emergency-contact">
            <div class="show-message" *ngIf="isTooltipOpen">
               <div class="tooltip-part">
                  <div class="tooltip-section">
                     <div class="section-content">
                        <span class="content-bold">{{labels.emergencyContact}}</span>
                        <span class="content">{{labels.emergencyContent}}</span>
                     </div>
                  </div>
               </div>
               <span class="triangle">
               </span>
            </div>
            <div class="emergency">
               <span class="content">{{labels.emergencyContactOptional}}</span>
               <span (click)="openOtherDetails()" [ngClass]="{'down': !isContactDetailsOpen, 'up': isContactDetailsOpen}"></span>
               <span class="question-mark" (click)="openTooltip()"></span>
            </div>
         </div>
         <div class="second-section" *ngIf="isContactDetailsOpen">
            <span class="section-title">{{labels.overseaContactPerson}}</span>
            <div class="contact-person">
               <div class="gd-form-row">
                  <label class="gd-sm-label" for="oversea-number">{{labels.foreignContactPersonName}}</label>
                  <input type="text" name="overseasNameRef" [pattern]="pattern.alphaNumericWithSpace" minlength="2" autocomplete="off" #overseasNameRef="ngModel"
                     [(ngModel)]="overseasTravelDetails.overseasContactPerson.name" [class.error]="!checkForeignNameValid(contactDetailsForm, 'overseasNameRef')"
                     id="oversea-number" appValidateOnblur appCheckBlur>
                  <span class="mandary-optional">{{labels.optional}}</span>
                  <div *ngIf="(overseasNameRef.invalid && (overseasNameRef.dirty || overseasNameRef.touched) && overseasNameRef.isBlurred)"
                     class="error-msg">
                     <span *ngIf="overseasNameRef.errors?.pattern">{{labels.nameFormatErrorMsg}}</span>
                     <span *ngIf="overseasNameRef.errors?.minlength">{{labels.nameMinLengthErrorMsg}}</span>

                  </div>
               </div>
               <div class="gd-form-row">
                  <label class="gd-sm-label" for="oversea-name">{{labels.foreignContactPersonNumber}}</label>
                  <input type="text" name="overseasNumberRef" [minlength]="minlength" [maxlength]="maxlength" #overseasNumberRef="ngModel" autocomplete="off" [(ngModel)]="overseasTravelDetails.overseasContactPerson.number"
                     [pattern]="pattern.internationalMobile" [class.error]="!checkForeignContactPersonNumberValid(contactDetailsForm, 'overseasNumberRef')"
                     id="oversea-name" appValidateOnblur appCheckBlur>
                  <span class="mandary-optional">{{labels.optional}}</span>
                  <div *ngIf="(overseasNumberRef.invalid && (overseasNumberRef.dirty || overseasNumberRef.touched) && overseasNumberRef.isBlurred)"
                     class="error-msg">
                     <span *ngIf="overseasNumberRef.errors?.pattern || overseasNumberRef.errors?.minlength">{{messages.invalidNumber}}</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="second-section" *ngIf="isContactDetailsOpen">
            <span class="section-title">{{labels.localContactPerson}}</span>
            <div class="contact-person">
               <div class="gd-form-row">
                  <label class="gd-sm-label" for="local-number">{{labels.localContactPersonName}}</label>
                  <input type="text" name="localNameRef" #localNameRef="ngModel" minlength="2" [pattern]="pattern.alphaNumericWithSpace" autocomplete="off"
                     [(ngModel)]="overseasTravelDetails.localContactPerson.name" [class.error]="!checkLocalNameValid(contactDetailsForm, 'localNameRef')"
                     id="local-number" appValidateOnblur appCheckBlur>
                  <span class="mandary-optional">{{labels.optional}}</span>
                  <div *ngIf="(localNameRef.invalid && (localNameRef.dirty || localNameRef.touched) && localNameRef.isBlurred)" class="error-msg">
                     <span *ngIf="localNameRef.errors?.pattern">{{labels.nameFormatErrorMsg}}</span>
                     <span *ngIf="localNameRef.errors?.minlength">{{labels.nameMinLengthErrorMsg}}</span>
                  </div>
               </div>
               <div class="gd-form-row">
                  <label class="gd-sm-label" for="local-name">{{labels.localContactPersonNumber}}</label>
                  <input type="text" name="localNumberRef" [minlength]="minlength" [maxlength]="maxlength" [pattern]="pattern.internationalMobile" autocomplete="off" #localNumberRef="ngModel"
                     [(ngModel)]="overseasTravelDetails.localContactPerson.number" [class.error]="!checkLocalContactPersonNumberValid(contactDetailsForm, 'localNumberRef')"
                     id="local-name" appValidateOnblur appCheckBlur>
                  <span class="mandary-optional">{{labels.optional}}</span>
                  <div *ngIf="(localNumberRef.invalid && (localNumberRef.dirty || localNumberRef.touched) && localNumberRef.isBlurred)" class="error-msg">
                     <span *ngIf="localNumberRef.errors?.pattern || localNumberRef.errors?.minlength ">{{messages.invalidNumber}}</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="bottom-btn">
            <app-bottom-button [showLoader]="false" (clickEmitter)="onNextClick()" [disableButton]="!isFormValid()" [text]="'Next'"></app-bottom-button>
         </div>
      </div>
   </form>
</section>