<div class="range-amount-control">
   <div class="input-container">
      <div class="header-container">
         <label class="gd-sm-label active" for="amount">Current Limit</label>
         <label class="gd-sm-label active error-msg-amount" for="amount">{{errorMessages?.serviceErrorMessage}}</label>
      </div>
      <div class="group-container">
         <app-amount-field [maxValue]="config?.max" [value]="currentLimit" [errorMessages]="errorMessages" (onAmountChangeEmitter)="onValueChanged($event)"
            divisbleBy="100" [alternate]=true class="amount-field-editor" [minValue]="minValue" (onEnd)="onAmountBlur($event)"></app-amount-field>
         <div class="slider-container">
            <app-range-slider [config]="config" [value]="currentLimit" (change)="onSliderValueChanged($event)" (onEnd)="onSliderBlur($event)"></app-range-slider>
            <div class="limit-container">
               <span class="limit-type">Max</span>
               <span class="limit-value">{{config?.max | amountTransform}}</span>
            </div>
         </div>
      </div>
   </div>
</div>