@import "../../../styles/_base.scss";
@import "../../../styles/_mixins.scss";
$svg-path: "../../../assets/svg/";

.place-notice-section {
   margin: 45px 15px 0;

   .title {
      @include markpro-medium();
      font-size: $para-title-size-mob;
      font-weight: $weight-medium;
      color: $text-color-secondary;
      text-align: center;
      letter-spacing: 0;
      line-height: 1.25;
      margin-bottom: 30px;
      display: block;
   }

   .sub-title {
      @include markpro-medium();
      color: $text-color-secondary;
      font-size: $message-size;
      letter-spacing: 0;
      font-weight: $weight-medium;
      margin-bottom: 30px;
      line-height: normal;
      display: block;
   }

   .terms {
      font-size: $message-size;
      margin: 0 15px 60px 15px;
      line-height: 1.5;
      letter-spacing: normal;

      .term {
         margin-bottom: 10px;
      }
   }

   .notice-in-progress {
      color: $text-color-secondary;
      font-size: $para-title-size-mob;
      letter-spacing: 0;
      line-height: normal;
   }
}

@media (min-width: $media-sm) {
   .place-notice-section {
      max-width: 770px;
      margin-left: 85px;
      margin-top: 30px;

      &.none-max-width {
         max-width: none;
      }

      .title {
         font-size: $main-title-size;
         line-height: 1.33;
         margin-bottom: 60px;
         color: $primary-color;
         text-align: left;
         font-family: $font-markpro;
         font-weight: $weight-normal;
      }

      .sub-title {
         font-size: $para-title-size-mob;
      }

      .notice-in-progress {
         line-height: 1.25;
         font-size: $page-title-secondary-size;
         max-width: 630px;
      }
   }
}
