<app-colored-overlay [alternate]="true" [isVisible]="isOverlayVisible" [template]="selectedTemplate" [altButtonText]="btnText"
   [showCloseBtn]="showCloseBtn" (onHide)="closeOverlay()">
   <ng-template #placeNoticeTemplate>
      <section class="place-notice-section">
         <span class="title">{{labels.title}}</span>
         <span class="sub-title">{{labels.earlyTermination}}</span>
         <ul class="terms">
            <li class="term">{{labels.noticeTerm1}}</li>
            <li class="term">{{labels.noticeTerm2}}</li>
            <li class="term">{{labels.noticeTerm3}}</li>
         </ul>
         <app-bottom-button [disableButton]="showLoader" (clickEmitter)="showHideConfirmPopup()" [text]="labels.placeNoticeButton"
            [showLoader]='showLoader' [alternateTheme]="false"></app-bottom-button>
      </section>
   </ng-template>
   <ng-template #statusTemplate>
      <app-action-status [status]="status" [statusDetail]="statusDetail" [requestInProgress]="requestInProgress"
         [retryLimitExceeded]="retryLimitExceeded" (onRetry)="onRetry($event)" (onDone)="closeOverlay()"></app-action-status>
   </ng-template>
   <ng-template #noticeInProgress>
      <section class="place-notice-section">
         <span class="title">{{labels.title}}</span>
         <p class="notice-in-progress">{{messages.noticeInProgress}}</p>
      </section>
   </ng-template>
   <ng-template #noticeExist>
      <section class="place-notice-section none-max-width">
         <span class="title">{{labels.title}}</span>
         <app-notice-details [accountId]="accountId"></app-notice-details>
      </section>
   </ng-template>
</app-colored-overlay>

<section *ngIf="confirmPopup">
   <app-confirm-modal [requestInProgress]="requestInProgress" [isFromPlaceNotice]="isFromPlaceNotice"
      [isJointBondAccount]="isJointBondAccount" (userActionClick)="userActionClick($event)"></app-confirm-modal>
</section>
