@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';


$svg-path: './../../../assets/svg/';
$buy-status-bg: $container-bg;


.buy-status {
   font-size: $label-size;
   background: $buy-status-bg;
   @include main-content();
   .work-flow {
      .downlaod-icon {
         @include svg-image-full-path($svg-path,'green-download', 100%, 100%);
      }

      .download {
         color: $text-color-link;
         cursor: pointer;

         .icon,
         .text {
            display: inline-block;
            vertical-align: middle;
         }

         .icon {
            @include svg-image-full-path($svg-path,'green-download', 100%, 100%);
            width: 30px;
         }
      }
   }
}
.content-area{
   width: 395px;
}
.bold-text{
   font-weight: bold;
}
.gap-text{
   margin: 15px 0px;
}
.small-text{
   font-size: 14px;
}

.message-margin-bottom {
   margin-bottom: 30px;
}

@media (min-width: $media-sm) {
   .buy-status {
      font-size: $status-size;
   }
}
table.tabular-data-col-2 tr td:first-child {
   width: 165px;
}

.info-container {
   background-color: $info-container-bg;
   margin-top: 30px;
   margin-bottom: 40px;
   padding: 22px 14px;

   .info-msg {
      margin-left: 35px;
   }

   .icon {
      float: left;
      @include svg-image-full-path($svg-path,'information', 23px, 23px);
   }
}
