<div class="container">
   <div class="sub-container" *ngIf="disclosureVm.data.length > 0 && !disclosureVm.showPage">
    <div class="header">
      <p class="heading">{{disclosureVm.data[0].name}} </p>
    </div>
    <div class="content-spacer"></div>
    <div class="content">
      <ul class="content-list" *ngFor="let data of disclosureVm.disclosureContent; let i = 'index'; ">
            <li class="content-data" *ngIf="data.type !== 'dropdown'">{{data.title}}</li>
        <div class="data-spacer"></div>
            <li *ngIf="data.type === text" class="content-value">{{data.content[0]}}</li>
            <div *ngIf="data.type === text" class="data-spacer"></div>
            <li *ngIf="data.type === option" class="content-value">
          <p>{{data.description}}</p>
          <div class="radio-button-spacer"></div>
          <div class="radio-type-container">
                  <app-radio-button-list class="radio-button" [radioList]='limitTypes' [selectedValue]="this.disclosureVm.selectedType"
                     (onSelectionChange)="onLimitTypeChange($event);"></app-radio-button-list>
          </div>
        </li>
            <div *ngIf="data.description" class="data-spacer"></div>
      </ul>
    </div>


    <div class="purpose-options">
      <p class="purpose-title">{{disclosureVm.dropDownTitle}}</p>
      <div class="dropdown-space"></div>
      <div class="gd-basic-dropdown"  (onHidden)="disclosureVm.isDropdownOpen = false" (onShown)="disclosureVm.isDropdownOpen = true"
          dropdown>
          <div dropdownToggle class="dropdown-place">
            <div class="text">
                <span >
                  {{ disclosureVm.selectedTerm? disclosureVm.selectedTerm: selectOption  }}
                </span>
            </div>
            <div class="icon">
                <span class="caret"></span>
            </div>
          </div>
          <ul *dropdownMenu class="dropdown-menu" role="menu">  
            <li role="menuitem" *ngFor="let term of disclosureVm.dropDownTerms" (click)="onTermChange(term)">
                {{term}}
            </li>
          </ul>
      </div>
    </div>
    <div class="dropdown-spacer" *ngIf="!disclosureVm.confirm"></div>
    <div class="email-block-spacer"></div>
    <div class="email-block" *ngIf="disclosureVm.confirm">
      <div class="term-and-conditions">
        <p class="text-green" >{{disclosureVm.viewAndAcceptText}}</p>
        <div class="va-spacer"></div>
        <p class="text-white">{{disclosureVm.emailText}} </p>
      </div>
      <div class="term-and-conditions-spacer"></div>
      <div class="email-box">
        <p>{{email}}</p>
        <div class="email-spacer"></div>
        <div class="email"> 
               <input id="email" [ngClass]="{error: disclosureVm.errorTextBool}" [attr.placeholder]="disclosureVm.errorTextBool ?  'Add a valid email' : null"
                  [(ngModel)]="disclosureVm.email" (blur)="emailCheck($event)" type="text" name="email" />
            <p class="error-text" *ngIf="disclosureVm.errorTextBool" >{{disclosureVm.errorText}}</p>
        </div>
      </div>
      <div class="term-and-conditions-spacer"></div>
      <div class="term-and-conditions-spacer"></div>
    </div>

    <div class="next-button-container">
      <div *ngIf="!disclosureVm.termAndCondtions">
        <div class="tooltip-question no-after" *ngIf="!disclosureVm.termAndCondtions">
          <p class="text-green">{{pleaseNote}}</p>
          <div class="tooltip-spacer"></div>
          <p class="text-content">{{disclosureVm.toolTipText}}</p>
        </div>
        <div class="button-spacer"></div>
      </div>
      <div class="read-and-accept" *ngIf="!disclosureVm.confirm">
          <app-bottom-button *ngIf="!disclosureVm.confirm" text="Read and accept  T&Cs" (click)="next()"></app-bottom-button>
      </div>
      <div class="confirm" *ngIf="disclosureVm.confirm">
        <app-bottom-button  text="Confirm" [disableButton]="!disclosureVm.allIsValid" (click)="confirm()"  ></app-bottom-button>
      </div>  
    </div>
  </div>
   <div class="sub-container" *ngIf="disclosureVm.showPage">
    <div class="pdf-viewer" >
      <div class="t-and-c-tiltle">
          <p>Terms and conditions</p>
      </div>
      <div class="t-and-c-statement">
          <p>1 DEFINITIONS AND INTERPRETATION</p>
          <p>In this agreement clause headings are for convenience and are not to be used in
            its interpretation.</p>
          <p>In this agreement, unless the context indicates</p>
      </div>
    </div>
    <div class="next-button-spacer"></div>
    <div class="next-button-container">
      <app-bottom-button  text="Disagree" (click)="TermAndCondtions(false)" [alternateTheme]="true"></app-bottom-button>
    </div>
    <div class="next-button-spacer"></div>
    <div class="next-button-container">
      <app-bottom-button text="Agree" (click)="TermAndCondtions(true)"></app-bottom-button>
    </div>
  </div>
  
</div>

<ng-container *ngIf="disclosureVm.showDoneScreen">
   <app-colored-overlay alternate='true' [cancelable]="false" [template]="doneScreen" [isVisible]="disclosureVm.showDoneScreen"></app-colored-overlay>
   <ng-template #doneScreen>
      <app-done [offerId]="offerId"> </app-done>
   </ng-template>
</ng-container>

<div class="spinner-container" *ngIf="disclosureVm.data.length <= 0">
   <div class="spinner">
      <app-spinner class="spinner" [color]="'green'"></app-spinner>
   </div>
</div>
