<section class="documents">
   <header class="row  title"> {{labels.subtitle}}</header>
   <div *ngFor="let document of documentList; let currentItem=index;">
      <section class="row tab" *ngIf="!document.isDocumentClick">
         <div class="col-xs-12 col-sm-6">
            <div class="sub-title">
               {{document.documentDescription}}
            </div>
         </div>
         <div class="col-xs-12 col-sm-6">
            <div class="email-tab  email" (click)="toggleDocumentType(currentItem)">
               <i class="email-icon"></i>
               {{labels.email}}
            </div>
         </div>
      </section>
      <app-document-email *ngIf="document.isDocumentClick" [accountType]="accountType" [title]="document.documentDescription" [documentType]="document.documentType"
         [clientEmail]="email" [itemAccountId]="itemAccountId" [index]="currentItem" (toggleDocumentType)="toggleDocumentType($event)"></app-document-email>
   </div>
</section>
