@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';
$svg-path: './../../../../assets/svg';
$email-icon: 'email-green';
$icon-close: 'close-gray';
$info-icon:'information';
$download-icon:'download';
$down-icon:'down';
.documents {
   .title {
      padding: 21px 35px;
      font-size: $font-sm;
      color: $text-color-info;
   }
   .tab {
      border-bottom: solid 1px $divider-secondary;
      border-top: solid 1px $divider-secondary;
   }
   .email {
      font-size: $font-base;
      margin-left: 10px;
      color: $secondary-color;
      cursor: pointer;
      margin: 13px 20px 13px 65px;
   }
   .sub-title {
      font-size: $font-base;
      color: $text-color-primary;
      margin: 13px 20px;
   }
   .email-tab {
      .email-icon {
         position: absolute !important;
         margin-left: -25px;
         @include svg-image-full-path($svg-path, $email-icon, 18px, 18px);
      }
      .download-icon {
         position: absolute !important;
         margin-left: -25px;
         @include svg-image-full-path($svg-path, $download-icon, 24px, 24px);
      }
      .down-icon {
         position: absolute !important;
         margin-left: -25px;
         @include svg-image-full-path($svg-path, $down-icon, 32px, 32px);
      }
      .icon {
         margin-right: 35px;
      }
   }
}

@media (min-width: $media-sm) {
   .documents {
      .email {
         margin-top: 35px;
         text-align: right;
         float: right;
      }
      .sub-title {
         margin: 35px 20px;
      }
      .icon{
         float: right;
      }
   }
}
