<app-colored-overlay [isVisible]="true" [alternate]="true" [altButtonText]="'X'" [template]="termsAndConditions" [backOption]="false"
   (onHide)="declineTermsAndConditions()" [headerFixed]="true">
   <ng-template #termsAndConditions>
      <div class="terms-container main-report-class">
         <div class="modal-header">
            <div class="col-sm-10">
               <h2 class="modal-title pull-left">{{labels.title}}</h2>
               <div class="last-updated-date">
                  <label class="date-tac-update" *ngFor="let term of termsAndConditionsModel">

                     <ng-container *ngIf="term.newVersionNumber && term.noticeType==chcekLottoNoticeType; else oldversionDetails">
                        <span> Last updated: {{term?.noticeDetails.versionDate | date:dateFormat }} </span>
                        <span> Version: {{term?.newVersionNumber}} </span>


                     </ng-container>
                     <ng-template #oldversionDetails>
                        <span> Last updated: {{term?.noticeEffectiveDate | date:dateFormat }} </span>
                        <span> Version: {{term?.versionNumber}} </span>
                     </ng-template>

                  </label>
               </div>
            </div>
            <div class="col-sm-2 col-xs-12 print-icon no-print padding-top-20 text-left">
               <a class="download" (click)="print()" *ngIf="!TermsAndConditions">
                  <span class="icon"></span>
                  <span class="text">Print</span>
               </a>
               <a class="download" target="_blank" *ngIf="TermsAndConditions" [href]="termsAndConditionsPDF">
                     <span class="text">Download</span>
               </a>               
            </div>
         </div>
         <div class="modal-body print-section">
            <div *ngIf="termsAndConditionsModel?.length > 0;then showTermsAndConditions else showErrorMessage"></div>
            <ng-template #showTermsAndConditions>
               <div *ngFor="let term of termsAndConditionsModel">
                  <div class="noticeContainer">
                     <div class="noticeContent" innerHtml="{{ term?.noticeDetails?.noticeContent}}"></div>
                  </div>
               </div>
            </ng-template>
            <ng-template #showErrorMessage>
               <div class="noticeContainer">
                  <div class="noticeContent errorMessage">{{labels.couldNotRetrieved}}</div>
               </div>
            </ng-template>
         </div>

         <div *ngIf="isAcceptButtonVisible" class="gd-form-row no-print">
            <div class="bottom-btn">
               <app-bottom-button [disableButton]="false" (clickEmitter)="declineTermsAndConditions()" [text]="'Decline'" [alternateTheme]="true"></app-bottom-button>
               <app-bottom-button [disableButton]="false" (clickEmitter)="acceptTermsAndConditions()" [text]="'Accept'"></app-bottom-button>
            </div>
         </div>
      </div>
   </ng-template>
</app-colored-overlay>
