<form class="buy-amount-section gd-form" #buyAmountForm="ngForm" [class.is-skeleton-loading]='skeletonMode'>
   <div class="gd-form-row">
      <label class="gd-sm-label" for="buy">Prepaid type</label>
      <div id="rechargetype" class="gd-basic-dropdown" autofocus appFocus tabindex="0" dropdown>
         <div dropdownToggle class="dropdown-place">
            <div class="text">
               {{ rechargeType }}
            </div>
            <div class="icon">
               <span class="caret"></span>
            </div>
         </div>
         <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem" [class.active]="recharge == rechargeType" *ngFor="let recharge of rechargeTypes" (click)="onRechargeTypeChanged(recharge);sendEvent('buy_prepaid_bundle_type_and_account_select_prepaid_type',null,rechargeType)">
               {{recharge}}
            </li>
         </ul>
      </div>
   </div>
   <div class="gd-form-row">
      <label class="gd-sm-label" for="bundleAmountType">Bundle amount</label>
      <div id="bundletype" class="gd-basic-dropdown" tabindex="0" dropdown>
         <div dropdownToggle class="dropdown-place">
            <div class="text">
               {{ selectedBundleType }}
            </div>
            <div class="icon">
               <span class="caret"></span>
            </div>
         </div>
         <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem" [class.active]="selectedBundleType == getAmountLiteral(bundleAmountType)" *ngFor="let bundleAmountType of bundleAmountTypes;"
               (click)="onBundleAmountTypeChanged(bundleAmountType);sendEvent('buy_prepaid_bundle_type_and_account_select_bundle_amount',null,bundleAmountType)">
               {{getAmountLiteral(bundleAmountType)}}
            </li>
            <li [class.active]=" selectedBundleType == ownAmountText" (click)="onBundleAmountTypeChanged(ownAmountText);sendEvent('buy_prepaid_bundle_type_and_account_select_bundle_amount',null,'Own Amount')"
               *ngIf="showOwnAmount">
               Own amount
            </li>
         </ul>
      </div>
      <div *ngIf="isTransferLimitExceeded && !showBundleAmountBox" class="info-text">
         <span class="info-icon"></span>
         <span>Daily limit exceeded.</span>
      </div>
      <div class="transfer-hint" *ngIf="!showBundleAmountBox">
         {{availableTransferLimit| amountTransform: amountPipeConfig}} daily prepaid limit remaining
      </div>
   </div>
   <div *ngIf="bundleMessage!==''" class="info-text">
      <span class="info-icon"></span>
      <span>{{bundleMessage}}</span>
   </div>
   <div class="gd-form-row" *ngIf="showBundleAmountBox">
      <div>
         <div class="field-block">
            <label for="amount" class="gd-sm-label">Own airtime amount</label>
            <input appFocus id="amount" ga-event-name="buy_prepaid_bundle_type_and_account_enter_own_airtime_amount" autocomplete="off"
               ngControl="amount" #amount="ngModel" class="validate" [class.warning]="isTransferLimitExceeded  && (vm.amount > 0)"
               [class.error]="!(vm.amount > 0) && (amount.dirty || amount.touched)" [ngModel]="vm.amount | amountTransform"
               (ngModelChange)="onAmountChange($event)" type="text" name="amount" [noDecimal]="true" appValidateRequired appAmountFormatMask
               appCheckBlur/>
            <div *ngIf="(amount.invalid || isTransferLimitExceeded || !isValid) && (amount.dirty || amount.touched)">
               <div *ngIf="!(vm.amount > 0) && (amount.dirty || amount.touched) && amount.isBlurred">
                  <div class="error-msg">
                     <span>Please enter an amount.</span>
                  </div>
               </div>
               <div *ngIf="isTransferLimitExceeded" class="info-text">
                  <span class="info-icon"></span>
                  <span>Daily limit exceeded.</span>
               </div>
               <div *ngIf="isMinimumViolated" class="info-text">
                  <span class="info-icon"></span>
                  <span> A minimum purchase of {{allowedMinimumValue | amountTransform: amountPipeConfig}} is allowed.</span>
               </div>
               <div *ngIf="isMaximumExceeded" class="info-text">
                  <span class="info-icon"></span>
                  <span> A maximum purchase of {{allowedMaximumValue | amountTransform: amountPipeConfig}} is allowed.</span>
               </div>
            </div>
            <div class="transfer-hint">
               R{{availableTransferLimit|number : numberPrecisionFormat}} daily prepaid limit remaining.
            </div>
         </div>
      </div>
   </div>
   <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"></div>
   <div class="gd-form-row icon-link">
      <app-account-list [insufficientFunds]="insufficientFunds" [title]=" 'From account' " [accounts]="accounts" [selectedAccount]="vm.selectedAccount"
         (onAccountSelection)="onAccountSelection($event);sendEvent('buy_prepaid_bundle_type_and_account_select_from_account')">
      </app-account-list>
   </div>

   <div class="gd-form-row">
      <label class="gd-sm-label active" for="startDate">Payment date</label>
      <app-custom-date-picker [disabled]="isSchedulePaymentDisabled" [config]="config" [date]="formatDate" (dateChanged)="setDate($event);sendEvent('buy_prepaid_bundle_type_and_account_select_payment_date',null,vm.startDate.toString())"></app-custom-date-picker>
   </div>
   <div *ngIf="!isSchedulePaymentDisabled&&!isRecurringPaymentDisabled">
      <div class="gd-form-row" *ngIf="!isSameDate">
         <label class="gd-sm-label" for="account_type">Repeat payment</label>
         <div id="paymentfrequency" class="gd-basic-dropdown" tabindex="0" dropdown>
            <div dropdownToggle class="dropdown-place">
               <div class="text">
                  {{ selectedPaymentFrequency.text }}
               </div>
               <div class="icon">
                  <span class="caret"></span>
               </div>
            </div>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
               <li role="menuitem" [class.active]="paymentFrequency.value.text==selectedPaymentFrequency.text" *ngFor="let paymentFrequency of paymentRecurrenceFrequencies"
                  (click)="onPaymentFrequencyChanged(paymentFrequency.value);sendEvent('buy_prepaid_bundle_type_and_account_select_repeat_payment',null,paymentFrequency.value)">

                  {{paymentFrequency.value.text}}
               </li>
            </ul>
         </div>
      </div>
      <div class="gd-form-row limit-type-container" *ngIf="!isSameDate && !!selectedPaymentFrequency.code">
         <label class="gd-sm-label" for="repeatby">Define repeat by</label>
         <app-radio-button-list [radioList]='repeatTypeValues' [selectedValue]="vm.repeatType" [groupName]="'repeat'" (onSelectionChange)="onRepeatTypeChange($event)"></app-radio-button-list>
      </div>
      <div class="gd-form-row" *ngIf="!isSameDate && !!selectedPaymentFrequency.code && vm.repeatType === endDateRepeatTypeConstant">
         <label class="gd-sm-label active" for="paymentEndDate">Payment end date</label>
         <app-custom-date-picker id="pay-transfer-date" [config]="endConfig" [date]="formatEndDate" (dateChanged)="setEndDate($event)"></app-custom-date-picker>
         <div class="transfer-hint">{{vm.repeatDurationText}}</div>
      </div>
      <div class="gd-form-row" *ngIf="!isSameDate && !!selectedPaymentFrequency.code && vm.repeatType !== endDateRepeatTypeConstant">
         <label class="gd-sm-label active" for="numRecurrence">Number of occurrences</label>
         <div class="field-with-icon">
            <div class="field-block">
               <input id="numRecurrence" name="numRecurrence" [class.error]="(numRecurrence.dirty || numRecurrence.touched) && isNumReccurencesInvalid()"
                  type="text" #numRecurrence="ngModel" [(ngModel)]="vm.numRecurrence" validateFor="number" appValidateInput
                  required appCheckBlur>
            </div>
         </div>
         <div *ngIf="(numRecurrence.dirty || numRecurrence.touched) && isNumReccurencesInvalid() && numRecurrence.isBlurred" class="error-msg">
            <span *ngIf="isRecurrenceValueInvalid()">
               This field is required.
            </span>
            <span *ngIf="isWeeklyRecurrenceInvalid()">
               {{labels.weeklyRecurrenceInvalidError}}
            </span>
            <span *ngIf="isMonthlyRecurrenceInvalid()">
               {{labels.monthlyRecurrenceInvalidError}}
            </span>
         </div>
      </div>
   </div>
   <div class="gd-form-row same-date" *ngIf="isSameDate||isSchedulePaymentDisabled||isRecurringPaymentDisabled">
      <label class="gd-sm-label" for="account_type">{{labels.buyLabels.buyRepeatPayment}}</label>
      <input type="text" readonly [value]="isSchedulePaymentDisabled||isRecurringPaymentDisabled?'Never':'None'" />
      <div class="info-text">
         <span class="info-icon"></span>
         <span>{{repeatPurchaseMessage}}</span>
      </div>
   </div>
</form>