@import './../../../styles/_mixins.scss';
@import './../../../styles/_base.scss';
$svg-path: './../../../assets/svg';
$icon-arrow: 'down';
.account-balance {
    text-align: center;
    padding: 18px 0;
    cursor: pointer;
    border-top: 1px solid $divider-secondary;
    .title {
        font-size: $font-sm;
        color: $text-color-info;
    }
    .icon-dropdown {
        display: inline-block;
        margin-left: 6px;
        vertical-align: middle;
        .dropdown-large-icon {
            @include svg-image-full-path($svg-path, $icon-arrow, 20px, 18px);
            &::before {
                transform-origin: center;
            }
        }
        &.open {
            .dropdown-large-icon {
                &::before {
                    transform: rotate(-180deg);
                    transform-origin: center;
                }
            }
        }
    }
}

.account-detail-container {
    @include flexbox();
    @include align-items(baseline);
    @include flex-flow(row wrap);
    margin: 0 15px;
    border-top: 1px solid $divider-secondary;
    .balance-details {
        @include flex-basis(50%);
        &:last-child {
            border-bottom: none;
            flex-basis: 100%;
            margin-bottom: 0;
        }
        &.right {
            text-align: right;
            &:last-child {
                @include flex-basis(50%);
            }
        }
        &.left {
            &:last-child {
                @include flex-basis(100%);
            }
            &:nth-last-child(2) {
                border: none;
                margin-bottom: 0;
                .bal {
                    padding-bottom: 0;
                }
            }
        }
        .type {
            font-size: $font-sm;
            color: $text-color-info;
            padding-top: 15px;
        }
        .bal {
            color: $text-color-secondary;
            margin-bottom: 0;
            padding-bottom: 12px;
        }
        &.overdraft-container {
            @include flex-basis(100%);
            .manage-link {
                color: $text-color-link;
                cursor: pointer;
            }
            .pull-right {
                padding-top: 40px;
            }
        }
    }
    .separator {
        flex-basis: 100%;
        padding-bottom: 1px;
        border-bottom: 1px solid $divider-secondary;
        &:last-child {
            border-bottom: none;
        }
    }
}

.toggle-container {
    &.savings {
        border-left: 4px solid $color-savings;
    }
    &.current {
        border-left: 4px solid $color-current;
    }
    &.credit-card {
        border-left: 4px solid $color-credit-card;
    }
    &.loan {
        border-left: 4px solid $color-loan;
    }
    &.club-accounts {
        border-left: 4px solid $color-club;
   }
    &.investment,
    &.foreign {
        border-left: 4px solid $color-investment;
    }
    &.default {
        border-left: 4px solid $color-account-default;
    }
}