<div (collapsed)="handleBalanceDisplay($event)" (expanded)="handleBalanceDisplay($event)" [collapse]="isCollapsed" class="toggle-container"
   [ngClass]="getAccountTypeStyle(accountType, containerName)">
   <ng-container x-ms-format-detection="none" [ngTemplateOutlet]="balanceDetailTemplate"></ng-container>
</div>
<div class="account-balance" (click)="isCollapsed = !isCollapsed">
   <span id="lbl-title" class="title" [innerHtml]="title"></span>
   <span [class.open]="!isCollapsed" class="icon icon-dropdown">
      <span class="icon dropdown-large-icon"></span>
   </span>
</div>

<ng-template #balanceDetailTemplate>
   <div class="account-detail-container">
      <div *ngIf="isOverDraft && accountTypes.currentAccountType.code && !isDormantAccount && showMaintainOverdraft" class="balance-details overdraft-container separator">
         <div class="pull-left">
            <p id="lbl-overdraft-limit" class="type">{{overdraftLimit}}</p>
            <h6 id="val-overdraft-limit" class="bal" [innerHtml]="balanceDetail?.overdraftLimit |  amountTransform:amountPipeConfig | skeletonLoader:isSkeletonMode"></h6>
         </div>
         <div class="pull-right" (click)="onOverdraftClick()">
            <a id="anc-overdraft-link" class="type manage-link">
               {{overdraftLink}}
            </a>
         </div>
      </div>

      <ng-container *ngFor="let details of balanceDetail | keyValueMap: toShowPropertiesOnView: propertyToApplyFilter: changeLabel: propertyLabels; let i = index">
         <span class="balance-details" [ngClass]="i%2!==0 ? 'right' : 'left'">
            <p id="lbl-{{details.id}}" class="type">{{details.key}}</p>
            <h6 id="val-{{details.id}}" class="bal" [innerHtml]="details?.value | skeletonLoader:isSkeletonMode"></h6>
         </span>
         <span *ngIf="i%2!==0" class="separator"></span>
      </ng-container>
   </div>
</ng-template>
