@import './../../../styles/_base.scss';
@import './../../../styles/_mixins.scss';
$svg-path: './../../../assets/svg/';
.title {
   font-size: $md-heading-size;
   @include markpro-medium();
   margin: 40px auto;
   color: $text-color-primary;
   text-align: center;
}

.info-container {
   background-color: $info-container-bg;
   margin-top: 30px;
   margin-bottom: 40px;
   padding: 22px 14px;
   &.no-backgound-color {
      background-color: $container-bg;
   }
   .info-msg {
      margin-left: 35px;
   }
   .icon {
      float: left;
      @include svg-image-full-path($svg-path, 'information', 23px, 23px);
   }
}

.outer-container {
   max-width: 800px;
   margin: 0 auto;
}

.button-center {
   text-align: center;
}

.spinner {
   background-color: $body-bg;
   top: 90px;
   bottom: 0;
   left: 0;
   position: fixed;
   width: 100%;
}

@media screen and (min-width: $media-md-up) {
   .title {
      color: $text-color-secondary;
      font-size: $font-xlg;
   }
}

:host::ng-deep {
   .limit-widget {
      .range-amount-control {
         flex-direction: column !important;
         .input-container {
            width: 100% !important;
            .amount-container {
               width: 200px;
               input {
                  margin-bottom: 0 !important;
               }
            }
         }
         .slider-container {
            margin-top: 0px !important;
            .slider-padding {
               padding: 0px 0 20px 0 !important;
               .noUi-connect {
                  background: $range-slider-ball-border;
               }
               .noUi-handle {
                  border-width: 4px;
                  border-color: $range-slider-ball-border;
                  background-color: $range-slider-ball-bg;
                  position: relative;
                  &::before {
                     content: '';
                     display: block;
                     @include border-radius(50%);
                     background: none;
                     position: absolute;
                     left: -6px;
                     top: -6px;
                     right: -6px;
                     bottom: -6px;
                     border: 2px solid $container-bg;
                  }
                  &::after {
                     display: none;
                  }
               }
            }
         }
      }
   }
}

@media (min-width: $media-md) {
   :host::ng-deep {
      .limit-widget {
         .range-amount-control {
            .group-container {
               display: flex;
               flex-direction: row;
            }
         }
      }
   }
}
