@import './_theme.scss';

// Sizes
$base-size: 1rem;
$main-title-size: $size-60; // h1
$main-title-size-mob: $size-30; // h1
$page-title-size: $size-40; // h2
$page-title-size-mob: $size-22; // h2
$page-title-secondary-size: $size-30; // h3
$page-title-secondary-size-mob: $size-22; // h3
$section-title-size: $size-28; // h4
$section-title-size-mob: $size-20; // h4
$section-title-size-sm: $size-20; // h4
$section-title-secondary-size: $size-22; // h5
$section-title-secondary-size-mob: $size-18; // h5
$para-title-size: $size-20; // h6
$para-title-size-mob: $size-18; // h6
$para-descrp-size: $base-size; // p
$label-size: $size-14;
$status-size: $size-18;
$xlg-descrp-size: $size-22;
$md-heading-size: $size-24;
$lg-heading-size: $size-28;
$xlg-heading-size:  $size-32;
$time-size: $size-12;
$message-size: $size-16;
$page-descrp-size: $size-50;


// Font sizes
$font-base: $base-size;
$font-default:  16px;
$font-default-1: $font-default - 1px;
$font-sm: $font-default - 2px;
$font-sm-1: $font-sm - 1px;
$font-xsm: $font-default - 4px;
$font-xx-sm: $font-default - 6px;
$font-xxx-sm: $font-default - 8px;
$font-md: $font-default + 2px;
$font-md-1: $font-md - 1px;
$font-lg: $font-default + 4px;
$font-xlg: $font-default + 12px;
$font-x-lg: $font-default + 6px;
$font-descrp: $font-xlg + 7px;
$font-descrp-1: $font-xlg - 3px;

// Footer sizes
$footer-height-xxs: 176px;
$footer-height-xs: 156px;
$footer-height-sm: 123px;
$footer-height-md: 101px;
$footer-height-lg: 85px;

$footer-brk-xs: 460px;
$footer-brk-sm: 767px;
$footer-brk-md: 926px;
$footer-brk-lg: 1440px;
$footer-height-mob: 125px;
$footer-height-tab: 90px;
$footer-height: 68px;

// Header sizes
$header-height-mob: 50px;
$header-height: 80px;
$final-status-heading-size: 55px;

// Workflow
$steps-track-width: 85px;
$steps-track-margin-right: 100px;
$step-small-size: 55px;
$step-small-size-sm: 35px;
$step-large-size: $steps-track-width;
$step-large-size-sm: 55px;

$steps-space: 20px;
$current-steps-padding: 60px;
$status-padding: 30px;
$status-step-margin: 30px;
$upcoming-padding: $status-padding;
$upcoming-step-margin: 15px;
$mob-margin-right: 20px;

$workflow-width: 430px;
$workflow-width-sm: $steps-track-width + $steps-track-margin-right + $workflow-width; // 490px earlier
$workflow-width-lg: $workflow-width-sm; // 690px earlier

// Search recipients
$alphabets-list-height: 440px;
$search-recipients-height: 123px;

// Landing pages
$landing-padding-lg: 60px;
$landing-padding: 30px;

// Common Variables
$title-width: 618px;

//icons
$default-svg-image-path: "./../../../assets/svg/";
$icon-search-recipient: "icon-search-recipient";
$icon-search: "Search-recipients";
$icon-pay-to-mobile-selected: "icon-pay-to-mobile-selected";
$icon-pay-to-mobile: "icon-pay-to-mobile";
$icon-pay-to-bank-selected: "icon-pay-to-bank-selected";
$icon-pay-to-bank: "icon-pay-to-bank";
$icon-work-flow-tick: "tick";
$icon-step-close: "close";
$icon-step-close-red: "close-red";
$icon-share-proof: "mobi-share-icon";
$icon-nedbank-logo-sm: "NedbankLogoBig";
$icon-nedbank-logo-bg: "NedbankLogoSmall";
$icon-no-transfer: "no-transfer";
$icon-arrow: "Arrow";
$icon-eye: "eye";

// Media Variables
$media-xlg: 1920px;
$media-lg: 1440px;
$media-md: 1024px;
$media-sm: 768px;
$media-xs: 375px;
$media-xxs: 320px;
$media-xs-down: $media-sm - 1;
$media-xs-up: $media-sm + 1;
$media-sm-down: $media-md - 1;
$media-md-up: $media-md;
$media-lg-up: $media-lg;

// Clearfix
.clearfix:after {   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

* html .clearfix {
   height: 1%;
}

.clearfix {
   display: block;
}

//font sizes
$font-default: 16px;
$font-sm: $font-default - 2px;
$font-xsm: $font-default - 4px;
$font-xx-sm: $font-default - 6px;
$font-xxx-sm: $font-default - 8px;
$font-md: $font-default + 2px;
$font-lg: $font-default + 4px;
$font-xlg: $font-default + 12px;
$font-xxl: $font-xlg + 8px;
$headings-font-weight: 500 !default;

// Old Variables still in use.
$color-lightGreen: rgba(0, 150, 57, 1); //#009639
$color-charcoalGrey: rgba(74, 74, 74, 1); //#4a4a4a
$color-menuMobileFull: rgba(51, 51, 51, 1); //#333333
$color-bloodRed-d1: #aa2930;
$color-bloodRed-d3: #d22630;
$color-bloodRed-d4: #d22630;
$color-brownishGrey: rgba(102, 102, 102, 1); //#666666
$color-lightGrey-d1: rgba(238, 238, 238, 1); //#eeeeee
$color-lightGrey-d3: rgba(151, 151, 151, 1); //#979797
$coloy-lightGrey-d4: rgba(187, 187, 187, 1); //#bbbbbb
$bgcoloy-green: rgba(0,114,85,1); // #007255;
$color-lightGrey-l1: #f0efef;
$color-parrotGreen: #78be20;
$info-lightGreen: #E5F4EB;
$error-info-red: #FAE5E8;
$text-dark-grey: $color-charcoalGrey;
$text-dark: $color-menuMobileFull;
$text-grey: $color-brownishGrey;

// Reports Variables

$footer-reg-color:#8a8b8a;
$para-color-report:#5b5f5d;
$lightgray-report:#a9a9a9;
$slategray-report:#708090;

// review variables
$horizontal-line-color: #d1d1d1;
$tooltip-border-bottom: #f0f0f0;

// Loan Offer
$loan-offer-border: rgba(242, 169, 0, .5);  // f2a900;
$notification-mobile: $color-lime; // #CEDC00;
$notifcation-border-mobile: $color-greenDark; //#006341