@import './_base.scss';
@import './_mixins.scss';

// Buttons Custom Style
.button {
   position: relative;
   width: 100%;
   max-width: $btn-max-width;
   height: $btn-height;
   @include border-radius($btn-border-radius);
   border: none;
   outline: none;
   font-weight: bold;
   font-size: $base-size;
   padding: 0 15px;
   // margin: 1.875rem 0 3.25rem;
   @include transition(all 0.2s ease-in-out);
   text-align: center;
   &[disabled] {
      cursor: not-allowed;
   }
}

// failed error message class
.error-message {
      margin-left: 5px;
      text-align: center;
      opacity: 0.7;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: normal;
      font-size: $font-sm;
    }

.btn-disabled{
   button {
      cursor: not-allowed;
      opacity: 0.5;
   }
}

button.btn-disabled{
      cursor: not-allowed;
      opacity: 0.5;
}

.gd-primary-btn {
   @extend .button;
   background: $primary-btn-bg;
   color: $primary-btn-color;
   border: $primary-btn-border;

   &:hover,
   &:active,
   &:focus,
   &:active:focus {
      color: $primary-btn-color-hover;
      background: $primary-btn-bg-hover;
      border-color: $primary-btn-border-hover;
      outline: none;
   }
   &[disabled]{
      color: $primary-btn-color-disabled;
      background: $primary-btn-bg-disabled;
      border-color: $primary-btn-border-disabled;
   }
}

.gd-secondary-btn {
   @extend .button;
   color: $secondary-btn-color;
   background: $secondary-btn-bg;
   border: $secondary-btn-border;

   &:hover,
   &:active,
   &:focus,
   &:active:focus {
      color: $secondary-btn-color-hover;
      background: $secondary-btn-bg-hover;
      border-color: $secondary-btn-border-hover;
      outline: none;
   }
   &[disabled]{
      color: $secondary-btn-color-disabled;
      background: $secondary-btn-bg-disabled;
      border-color: $secondary-btn-border-disabled;
   }
}

.gd-ghost-btn {
   @extend .button;
   background: $ghost-btn-bg;
   color: $ghost-btn-color;
   border: $ghost-btn-border;

   &:hover,
   &:active,
   &:focus,
   &:active:focus {
      color: $ghost-btn-color-hover;
      background: $ghost-btn-bg-hover;
      border-color: $ghost-btn-border-hover;
      outline: none;
   }
   &[disabled]{
      color: $ghost-btn-color-disabled;
      background: $ghost-btn-bg-disabled;
      border-color: $ghost-btn-border-disabled;
   }
}

a.gd-ghost-btn {
   &:hover,
   &:active,
   &:focus,
   &:active:focus,
   &[disabled] {
      background: transparent;
   }
}

.half-btns {
   width: 100%;
   display: block;

   .left, .right {
      margin-bottom: 15px;
      @include box-sizing();
   }
}

@media (min-width: $media-sm) {
   .half-btns {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      .left, .right {
         width: 47%;
      }
   }
}