@import './_base.scss';

$cards-carousel-container-bg: $container-bg;
$color-button-gradient: $carousel-button-gradient;

@media only screen 
and (min-device-width : 320px) 
{
      app-card-carousel{
      .swiper{
                  .swiper-button-next{
                        background-image:none;
                              right:-20px;
                              top:28%;
                  } 
                  .swiper-button-prev{
                  background-image: none;
                        left:-7px;
                        top:28%;
                  }
            }
      }
}

app-card-carousel{
      .swiper{
            .swiper-pagination{
                  position: relative;
                  margin-top:25px;
                  .swiper-pagination-bullet{
                        margin:3.5px;
                  }
                  .swiper-pagination-bullet-active{
                        background: #6b6b6b!important ;
                        transform: scale(1.8)
                  }
            }
      }
}

@media (min-width: $media-xs) {
      app-card-carousel{
            .swiper{
                  .swiper-button-next{
                        background-image:none;
                        right:-10px;
                         top:14%;
                  } 
                  .swiper-button-prev{
                       background-image: none;
                       left:2px;
                       top:14%;
                   }
            }
      }
}

@media (min-width: $media-sm) {
   app-card-carousel {
      .swiper {
            .leftRs{
                  width: 138px;
                  height: 220px;
                  top: 40px;
                  left:0px;
                  background: -webkit-linear-gradient(right, $color-button-gradient 0%, rgba(255, 255, 255, 0.001));
                  background: -moz-linear-gradient(right, $color-button-gradient 0%, rgba(255, 255, 255, 0.001));
                  background: linear-gradient(to right, $color-button-gradient -150%, rgba(255, 255, 255, 0.001));
            }

            .rightRs {
                  width: 138px;
                  height:220px;
                  top: 40px;
                  right:0px;
                  text-align:right;
                  background: -webkit-linear-gradient(left, $color-button-gradient 0%, rgba(255, 255, 255, 0.001));
                  background: -moz-linear-gradient(left, $color-button-gradient 0%, rgba(255, 255, 255, 0.001));
                  background: linear-gradient(to left, $color-button-gradient -150%, rgba(255, 255, 255, 0.001));
            }
      }
   }
}

@media (min-width: $media-lg) {
   app-card-carousel {
      .swiper {
                  .swiper-button-next{
                        background-image:none;
                        right:-18px;
                        top:12%;
                  } 
                  .swiper-button-prev{
                        background-image: none;
                        left:1px;
                        top:12%;
                  }
                  .leftRs{
                        background: linear-gradient(to right, $color-button-gradient -150%, rgba(255, 255, 255, 0.001));
                  }
      
                  .rightRs {
                        background: linear-gradient(to left, $color-button-gradient -150%, rgba(255, 255, 255, 0.001));
                  }
             }
      }
}

.cards-carousel-container{
   .card-title{
      position: relative;
      z-index: 1;
   }
  
}

.card-message-title,.card-message.text-capitalize{
   cursor: default;
}