@import './_base.scss';
@import './_mixins.scss';

$svg-path: '../assets/svg/';
$icon-back-gray: 'close-light-gray';
$toggle-icon: 'down';
$avilable-title-color: $highlight-dark-bg;
$colps-toggle: $form-element-text-disabled;
$tablular-data-title-width: 155px;

// HTML Elements Custom Style
html,
body,
ul,
p {
   margin: 0;
   padding: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active,
{
   text-decoration: none;
   color: $text-color-link;
}

hr {
   border-top: 1px solid $divider-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: 100%;
}

// Common Chunks
h1.main-title {
   font-size: $main-title-size-mob;
   line-height: 1;
   letter-spacing: 0;
   margin: 0 0 60px;
}

h2.page-title {
   font-size: $page-title-size-mob;
   line-height: 1;
   letter-spacing: 0;
   margin: 0;
}

h3.page-title-secondary {
   font-size: $page-title-secondary-size-mob;
   line-height: 1;
   letter-spacing: 0;
   margin: 0 0 60px;
}

h4.section-title {
   font-size: $section-title-size-mob;
   line-height: 1;
   letter-spacing: 0;
   margin: 0;
}

h5.section-title-secondary {
   font-size: $section-title-secondary-size-mob;
   line-height: 1;
   letter-spacing: 0;
   margin: 0 0 30px;
}

h6.para-title {
   font-size: $para-title-size-mob;
   line-height: 1;
   letter-spacing: 0;
   color: $text-color-primary;
   margin: 0 0 15px;
}

.para-descrp {
   font-size: $para-descrp-size;
   line-height: 1.375;
   margin: 0 0 15px;
}

.gd-label {
   font-size: $label-size;
   line-height: 1;
   letter-spacing: 0;
   text-transform: uppercase;
   font-style: italic;

   + .para-title {
      margin-top: 30px;
   }

   + .section-title {
      margin-top: 60px;
   }
}

@media (min-width: $media-sm) {
   h1.main-title {
      font-size: $main-title-size;
   }

   h2.page-title {
      font-size: $page-title-size;
   }

   h3.page-title-secondary {
      font-size: $page-title-secondary-size;
   }

   h4.section-title {
      font-size: $section-title-size;
   }

   h5.section-title-secondary {
      font-size: $section-title-secondary-size;
   }

   h6.para-title {
      font-size: $para-title-size;
   }
}

// Custom Classes Style
table {
   &.tabular-data-col-2 {
      width: 100%;

      tr {
         td {
            color: $text-color-primary;
            vertical-align: top;

            &:first-child {
               width: $tablular-data-title-width;
            }
            &:last-child{
               padding-left: 30px;
               word-break: break-all;
            }
         }
      }
   }
}

.gd-error {
   color: $text-color-error !important;
}

// Overlay background shadow
.overlay-shadow-container {
   &::before {
      content: '';
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $color-shadow-background;
      z-index: 9;
   }
}

.no-break {
   white-space: nowrap;
}

.alert {
   border-radius: 0px;
   padding: 20px 10px;
   margin-bottom: 0px;

   .close {
      right: 0px;
      font-size: 30px;
      margin-right: 5px;
      margin-top: 5px;
   }
}

.empty-state{
   padding: 30px;
   color: $text-color-empty-state;
   text-align: center;
   .icon-block{
      padding: 40px 0;
      .icon{
         width: 120px;
         display: inline-block;
      }
   }
   .heading-block{
      .heading{
         font-size: $section-title-size-sm;
         font-weight: bold;
         display: inline-block;
         margin: 0 0 20px;
      }
   }
   .descrp-block{
      font-size: $font-md;
      .descrp{
         max-width: 820px;
         display: inline-block;
         padding-left: 20px;
         padding-right: 20px;
      }
   }
}
@media (min-width: $media-sm) {
   .empty-state{
      background: $container-bg;
      .icon-block{
         .icon{
            width: 120px;
         }
      }
      .heading-block{
         .heading{
            font-size: $xlg-heading-size;
         }
      }
      .descrp-block{
         font-size: $xlg-descrp-size;
      }
   }
}

.clear-field-block{
   position: relative;
   input[type="text"], input[type="textbox"], input[type="search"]{
      padding-right: 40px !important;
      &::-ms-clear {
         display: none;
      }
      &[readonly]{
         pointer-events: none;
      }
   }
   .clear-field{
      @include svg-image-full-path($svg-path, $icon-back-gray);
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 10px;
      @include translate(0, -50%);
      cursor: pointer;
   }
}

.transfer-hint {
   margin: 5px 0 0;
   color: $text-color-info;
   font-size: $font-sm;
}

.info-text{
   background: $info-text-bg;
   color: $info-text-color;
   padding: 10px 20px;
   margin: 10px 0;
   font-size: $font-sm;
   @include flexbox();
   &.warning-error{
     background: rgba($form-warning-bg, .2);
     @include align-items(center);
     .info-icon{
       @include svg-image-full-path($svg-path,'warning-error');
       width: 36px;
     }
     .text{
       @include flex(1);
       background: none;
       .link{
         color: $text-color-error;
       }
     }
   }
}
.account-para-weight {
   font-weight: bold;
   font-size: $status-size !important;
}
.avilable-para-title {
   font-size: $font-sm;
   color: $avilable-title-color;
}
.info-icon {
   @include svg-image-full-path($svg-path,'information', 23px, 23px);
   vertical-align: text-bottom;
   float: left;
   margin-right: 10px;
}

.fa-fa-eye-show {
   @include svg-image-full-path($svg-path, 'Eye-Show');
 }
 
 .fa-fa-eye-hide {
   @include svg-image-full-path($svg-path, 'Eye-Hide');
 }

 .colps-section{
   .colps-toggle{
      cursor: pointer;
      padding: 10px;
      border-top: 1px solid $divider-primary;
      border-bottom: 1px solid $divider-primary;
      text-transform: uppercase;
      text-align: center;
      font-size: $font-sm;
      color: $colps-toggle;
      .text{
        display: inline-block;
        vertical-align: middle;
      }
      .toggle-icon{
        @include svg-image-full-path($svg-path, $toggle-icon,auto,auto);
        width: 15px;
        display: inline-block;
        vertical-align: middle;
        top: 0;
        margin-left: 10px;
      }
   }
   .colps-content{
     height: 0;
     overflow: hidden;
     @include transition(all 300ms ease-in-out);
     &.open{
       height: auto;
     }
   }
   &.open{
    .colps-content{
      height: auto;
    }
    .colps-toggle{
      .toggle-icon{
        @include rotate(180deg);
        height: 12px;
      }
    }
   }
 }

 .re-pay{
    @include flexbox();
    .flex-display{
        @include flex(2);
    }
    .re-pay-btn{
        @include flex(1);
        .btn{
            width: auto;
            line-height: 1;
            .icon{
                width: 18px;
                margin-right: 10px;
                display: inline-block;
                vertical-align: middle;
            }
            .text{
                display: inline-block;
                vertical-align: middle;
                font-weight: normal;
                font-size: $label-size;
            }
        }
        .gd-secondary-btn,
        .gd-ghost-btn {
           float: right;
        }
    }
}
.tooltip-question {
  border-left: solid 2px $color-lightGreen;
  font-size: $label-size;
  position: relative;
  background-color:$tooltip-border-bottom;
  padding: 15px;
  margin-bottom: 10px;
  .text-green{
     font-weight: bold;
     color:  $color-lightGreen;
  }
}
.tooltip-question::after {
  content: "";
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 11px solid $tooltip-border-bottom;
  transform: rotate(180deg);
  bottom: -9px;
}