@import './_base.scss';
@import './_mixins.scss';
$icon-path: '../assets/svg/';

.gd-form {
   .gd-form-row {
      margin-bottom: 20px;

      label {
         display: block;
         color: $form-label;
      }

      .gd-sm-label {
         font-size: $label-size;
         font-weight: normal;         
      }

      .gd-lg-label {
         font-size: $base-size;
         margin: 40px 0 10px;
      }

      .field-with-icon {
         @include flexbox();
         @include align-items(center);

         .icon-block {
            margin-left: 10px;

            .icons {
               width: $form-element-height;
               height: $form-element-height;
               display: table;

               > .icon {
                  display: table-cell;
                  vertical-align: middle;
                  cursor: pointer;
               }
            }
         }

         .field-block {
            @include flex(1);
         }
      }

      .icon-field {
         position: relative;

         input {
            padding-right: ($form-element-height + 10px);
         }

         .icon {
            position: absolute !important;
            width: ($form-element-height - 10px);
            height: ($form-element-height - 10px);
            display: inline-block;
            right: 5px;
            top: 5px;
            cursor: pointer;

            &.calendar {
               @include svg-image-full-path($icon-path, 'calendar');
               width: 26px;
               height: 26px;
               top: 8px;
               right: 8px;
            }
         }
      }

      .error-msg {
         color: $form-error-text;
         font-size: $font-sm;
         margin: 5px 0 0;
         position: relative;
         padding-left: 10px;

         &::before {
            content: '* ';
            position: absolute;
            left: 0;
         }
      }

      .payment-options {
         @include flexbox();
         @include align-items(center);
         padding-left: 10px;

         .payment-option-box {
            @include box-sizing(border-box);
            @include border-radius($box-border-radius);
            @include transition(transform 200ms ease-in-out);
            @include scale(1, 1);
            margin: 10px 0 0 15px;
            padding: 10px;
            text-align: center;
            border: 1px solid $form-element-border;
            cursor: pointer;
            @include flex(1);
            &.selected {
               @include scale(1.15, 1.15);
               border-color: $text-color-accent-secondary;
               color: $text-color-accent-secondary;
            }

            &:first-child {
               margin-left: 0;
            }

            .icon {
               margin-bottom: 10px;
               display: inline-block;
               position: relative;
               width: 30px;
               height: 30px;

               &::before {
                  display: block;
               }

               &.selected {
                  width: 40px;
                  height: 40px;
               }
            }

            .text {
               margin: 0;
               padding: 0;
               line-height: 1.1;
               font-size: $font-xsm;
               height: 40px;
            }
         }
      }
   }
}

@media (min-width: $media-xs) {
.gd-form {
   .gd-form-row {
        .payment-options {
            .payment-option-box {
					margin: 10px 0 0 20px;
            }
        }
      }
   }
}

@media (min-width: $media-sm) {
.gd-form {
   .gd-form-row {
         margin-bottom: 30px;
        &:last-of-type {
            margin-bottom: 60px;
        }
		  .payment-options {
            .payment-option-box {
                .text {
						height: 30px;
                }
                .no-icon-text {
                    height: auto;
                    padding: 30px 0px;
                }
            }
        }
      }
   }
}