@import './_base.scss';
@import './_mixins.scss';

$path: '../assets/svg/';

.form-element {
   border: $form-element-border-size solid $form-element-border;
   width: 100%;
   background: $form-element-bg;
   color: $form-element-input-text;
   outline: none;
   height: $form-element-height;
   padding: $form-element-padding;
   // IPad and iPhone round corner issue fix
   @include border-radius(0px);
   -webkit-appearance: none;

   @include box-sizing(border-box);

   &.ng-invalid.ng-touched, &.error, &.error:focus, &.drpdwn-error {
      border-color: $form-error-field;
   }
   &.ng-valid{
      border-color: $form-element-border-valid;
      &.error{
         border-color: $form-error-field;
      }
   }
   &[readonly], &[readonly]:focus{
      border: $form-element-border-size solid $form-element-border !important;
   }

   &:focus {
      border-color: $form-element-border-focus !important;
   }

   &.warning {
      border-color: $form-element-border;
   }
}

.input-type-div {
   @extend .form-element;
   line-height: $form-element-height;

   &.readonly {
      background-color: $form-element-bg-readonly;
      cursor: not-allowed;
   }
}

input {
   &[type=text],
   &[type=textbox],
   &[type=tel],
   &[type=number],
   &[type=search] {
      @extend .form-element;
   }

   &[type=number] {
      margin: 0;
      -moz-appearance: textfield;
      background-clip: padding-box;

      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
         -webkit-appearance: none;
      }

      &::ms-clear {
         display: none;
         height: 0;
         width: 0;
      }
   }
}

textarea {
   @extend .form-element;
   overflow-x: hidden;
   max-width: 500px;
   min-height: 100px;
   color: $textarea-text-color;
   @media (max-width: $media-sm){
      height: 250px !important;
   }
}

.gd-basic-dropdown {
   position: relative;
   outline: 0;

   .dropdown-place {
      border: $form-element-border-size solid $form-element-border;
      border-color: $form-element-border-valid;
      width: 100%;
      background: $form-element-bg;
      line-height: $form-element-height;
      height: $form-element-height;
      padding: $form-element-padding;
      padding-right: 30px;
      cursor: pointer;
      @include flexbox();
      @include align-items(center);
      position: relative;
      .text {
         @include flex(1);
      }

      .icon {
         @include svg-image-full-path($path, 'down',auto,auto);
         position: absolute;
         width: 20px;
         top: 50%;
         margin-top: -7px;
         right: 10px;
         height: 14px;
         line-height: 1;
         .caret{
            display: none;
         }
      }

      &.drpdwn-error {
         border-color: $form-error-field !important;
      }
      &.drpdwn-initial{
         border-color: $form-element-border;
      }
   }

   .dropdown-menu {
      width: 100%;
      border: $form-element-border-size solid $form-element-border;
      border-top: none;
      @include border-radius(0);
      margin: 0;
      padding: 0;
      background: $form-element-bg;
      @include box-shadow(none);
      z-index: 9;
      li {
         cursor: pointer;
         padding: $form-element-padding;
         line-height: $form-element-height;
         color: $drp-color;
         font-size: $status-size;
         &:hover {
            background: $drp-options-bg-hover;
            color: $drp-options-color-hover;
         }
         &.active{
            background-color: $drp-options-bg-active;
            color: $drp-options-color-active;
         }
      }
   }
   &.open{
      .dropdown-place{
         border-color: $form-element-border-focus !important;
         border-bottom: none;
         &.openDrp-with-bottom-border{
            border-bottom: $form-element-border-size solid $form-element-border !important;
         }
         .icon {
            @include rotate(180deg);
         }
      }
      .dropdown-menu{
         border-color: $form-element-border-focus;
         border-top: none;
         margin-top: -2px;
      }
   }
}

.gd-checkbox {
   position: relative;

   [type="checkbox"]:not(:checked),
   [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
   }

   [type="checkbox"]:not(:checked) + label,
   [type="checkbox"]:checked + label {
      position: relative;
      cursor: pointer;
      width: 100%;
      height: 100%;
   }

   [type="checkbox"]:not(:checked) + label:before,
   [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: $form-element-border-size solid $checkbox-border;
      background: $checkbox-bg;
      @include border-radius(4px);
   }

   [type="checkbox"]:not(:checked) + label:after,
   [type="checkbox"]:checked + label:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $checkbox-bg-active url(../assets/svg/tickCheckbox.svg) no-repeat center;
      @include transition(all .1s ease-in-out);
      @include border-radius(4px);
      background-size: 70%;
   }

   [type='checkbox']:not(:checked) + label:after {
      opacity: 0;
      @include scale(0, 0);
   }

   [type='checkbox']:checked + label:after {
      opacity: 1;
      @include scale(1, 1);
   }

   [type='checkbox']:disabled:not(:checked) + label:before,
   [type='checkbox']:disabled:checked + label:before {
      box-shadow: none;
      background-color: $checkbox-border-disabled;
   }

   [type='checkbox']:disabled:checked + label:after {
      background-color: $checkbox-border-disabled;
   }

   [type='checkbox']:disabled + label {
      background-color: $checkbox-border-disabled;
   }
}

input[readonly], .disable-dropdown {
   background-color: $form-element-bg-disabled !important;
   cursor: not-allowed !important;
   color: $form-element-text-disabled !important;
   border-color: $form-element-border !important;
}
