@import './_base.scss';
@import './_mixins.scss';


.pop-over-container {
   .pop-over {
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1;
      background: $pop-over-bg;
      min-width: 200px;
      border: solid 1px $pop-over-border;
      @include box-shadow(0 2px 5px $pop-over-shadow-color);
      display: none;

      &.right {
         right: 0;
         left: auto;
      }

      ul {
         list-style: none;
         padding: 0;
         margin: 0;
         position: relative;
      }

      li {
         a {
            color: $text-color-secondary;
            opacity: 1;
            display: block;
            padding: 0 20px;
            line-height: 50px;
            font-size: 1rem;
            @include flexbox();
            @include align-items(center);
            cursor: pointer;

            &:hover {
               background: $pop-over-bg-hover;
            }

            .icon, .text {
               display: block;
            }

            .icon {
               width: 20px;
               margin-right: 20px;
               text-align: center;
               line-height: 1;
            }

            .text {
               @include flex(1);
               text-align: left;
            }
         }
      }

      &.horizontal {
         right: 0;
         left: auto;

         ul {
            @include flexbox();
            @include align-items(center);

            li {
               a {
                  display: block;
                  padding: 8px 20px;

                  .icon, .text {
                     display: block;
                     text-align: center;
                     line-height: 1;
                  }

                  .icon {
                     margin: 0 0 5px;
                     display: inline-block;
                  }

                  .text {
                     font-size: $font-sm;
                  }
               }
            }
         }
      }

      &.grey {
         ul li a {
            color: $text-color-info;
         }
      }
   }
}
