/* Colours */
$color-white: #FFF;
$color-black: #000;

$color-almostWhite: #F9F9F9;
$color-extraWhite: #f7f7f7;
$color-greyLightest: #EEE;
$color-greyLight: #BBB;
$color-greyLightMedium: #979797;
$color-greyLightDark: #9b9b9b;
$color-greyNeutral: #D1D1D1;
$color-greyMedium: #666;
$color-greyDark: #333;
$color-greyDarker: #2D2D30;
$color-greyDarkest: #222225;
$color-greyCharcoal: #4A4A4A;
$color-warmGrey: #808080;
$color-greyBright: #ebebeb;
$color-greyBrighter: #e3e3e3;
$color-gray-60: #999;
$color-lightestNeutralGrey: #DEDEDE;

$color-purpleGrey: #7d7b7d;
$color-pinkishGrey: #d1d1d1;
$color-GreyishRed: #EED5D6;

$color-greenDark: #006341;
$color-greenDark-80: #007255;
$color-greenDark-50: #007f33;
$color-greenDark-20: #4fb776;

$color-greenMedium: #009639;
$color-greenLight: #78BE20;
$color-greenHighlight: #8bd2a3;
$color-greenApple: #169B69;
$color-greenAccent: #00B2A9;
$color-greenLightest: #e4f2d2;
$color-greenDarker: #115740;
$info-window-color:  #f0f0f0;
$color-greenLighter: #7ed321;

$color-red: #D22630;
$color-redLight: #fbe9ea;
$color-redCherry: #DF2642;
$color-redDeep: #AA2930;
$color-redDark: #ff0505;
$color-redPersian: #D43039;

$color-orange: #F2A900;
$color-lime: #CEDC00;
$color-yellow: #F0DF32;
$color-yellowLight: #FFF8DC;
$color-yellowLighter: #E4F2D2;

$color-blueLight: #98ddf6;
$color-blue: #3B9CD5;
$color-blueDarker: #009edb;
$color-blueDark: #4a90e2;

$color-cyanDarkMedium: #188c8a;

$color-frostee: #DFECCE;
$color-outline-focus: #4d90fe;
$color-lightGainsboro: #DDD;
$color-silver: #BFBFBF;
$color-offWhite:#efefef;
$color-grayDark: #9b9b9b;
$color-gray65: #a6a6a6;
$color-gainsboro: #D8D8D8;

//ChatBox Variables

$star-rating-color:#f5a623;

/* Typography */

$font-family-default: Century Gothic, Helvetica, Arial, sans-serif;

$font-markpro: MarkPro, $font-family-default;
$font-markpro-medium: MarkProMedium, $font-family-default;
$font-markpro-bold: MarkProBold, $font-family-default;

/* Tranparency */

$alpha: 0.1;
$black-a: darken($color-black, $alpha);

 /* Sizes */
 
 $size-0: 0;
 $size-1: 1px;
 $size-2: 0.125rem;
 $size-4: 0.25rem;
 $size-6: 6px;
 $size-8: 0.5rem;
 $size-10: 0.625rem;
 $size-12: 0.75rem;
 $size-14: 0.875rem;
 $size-16: 1rem;
 $size-18: 1.125rem;
 $size-20: 1.25rem;
 $size-22: 1.375rem;
 $size-24: 1.5rem;
 $size-28: 1.75rem;
 $size-30: 1.875rem;
 $size-32: 2rem;
 $size-40: 2.5rem;
 $size-50: 3.125rem;
 $size-60: 3.75rem;
 $size-64: 4rem;
 $size-128: 8rem;
 $size-400: 25rem;
 
 /* Weights */
 
 $weight-light: 300;
 $weight-normal: 400;
 $weight-medium: 500;
 $weight-bold: 700;
