@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';

$svg-path: './../../../../assets/svg';
$icon-step-close-status: 'closeStatus';
$close-gray: 'close-gray';
$notification-icon: 'Notification-warning-error';
$icon-close: 'closeStatus';



.overlay-title {
   color: $text-color-secondary;
}
.disableBtn-errorMsg{
   margin-top: 5px;
   margin-left: 0;
   color: $text-color-error;
}
.error-block {
   color: $text-color-accent-primary;
   height: 80px;
   margin-top: 10px;
   background-color: $color-error-bg;

   .error-message {
      color: $text-color-error;
      margin-left: 5px;
   }

   .icon-container {
      margin: 18px 15px;
      display: inline-block;
      width: 36px;
      height: 36px;
      border: solid 2px $border-error;
      border-radius: 25px;

      .img-step-close {
         display: inline-block;
         @include svg-image-full-path($svg-path,$icon-close,11.8px,11.4px);
         margin-left: 10px;
         margin-top: 5px;
      }
   }
}

.transaction-section {
   .heading {
      @include markpro-medium();
      font-size: $font-lg;
      text-align: left;
      color: $text-color-secondary !important;
   }

   .work-flow .current-steps .block .steps-block {
      padding: 30px 0 !important;
   }

   .gd-ghost-btn {
      color: $text-color-error !important;
   }

   .disabled {
      opacity: 0.5;
      pointer-events: none;
   }

   .transaction-message {
      color: $text-color-info;
      font-size: $base-size;
      margin-top: 5px;
      line-height: 1.38;
   }
}

@media (min-width: $media-sm) {
   .transaction-section {
      .heading {
         font-size: $font-lg;
      }
   }

   .error-block {
      .icon-container {
         margin-top: 22px;
      }

      .error-message {
         margin-left: 15px;
      }
   }
}

.margin-top-btn {
   margin-top: 10px
}

.overlay-container {
   .cross {
      @include svg-image-full-path($svg-path, $close-gray, 100%, 100%);
      width: 18px;
      height: 18px;
      cursor: pointer;
      position: absolute;
      right: 18px;
      opacity: 0.7;
   }

   .overlay-body {
      padding: 100px 100px 30px 100px;

      .delete-failed-msg {
         color: $text-color-error;
      }

      .notification-icon {
         @include svg-image-full-path($svg-path,$notification-icon,80px,66px);
         position: relative;
         left: 40%;
      }

      .delete-info-msg {
         font-size: $font-xlg;
         font-weight: $weight-medium;
         text-align: center;
         margin-top: 70px;
      }

      .delete-info-msg-2 {
         font-size: $font-lg;
         text-align: center;
         color: $text-color-primary;
         margin-top: 30px;
      }
   }
}


@media (max-width: $media-sm-down) {
   .overlay-container {

      .overlay-body {
         padding: 60px 60px;

         .notification-icon {
            @include svg-image-full-path($svg-path,$notification-icon,30px,30px);
            position: relative;
            left: 40%;
         }

         .delete-info-msg {
            font-size: $font-lg;
            font-weight: $weight-medium;
            text-align: center;
            margin-top: 50px;
         }

         .delete-info-msg-2 {
            font-size: $font-default;
            text-align: center;
            color: $text-color-primary;
            margin-top: 20px;
         }

         .button-container {
            font-size: $font-default;
         }
      }
   }

   .margin-top-btn {
      margin-top: 10px;
      font-size: $font-sm;
   }
}

@media (max-width: $media-sm - 1) {
   .error-block {
      background-color: $color-error-bg;
      margin-bottom: 10px;
      margin-top: 10px;

      .error-message {
         color: $text-color-error;
         margin-left: 45px;
         font-size: $font-sm;
         display: flex;
         margin-top: -50px;
      }

      .icon-container {
         margin: 18px 0px;
         display: inline-block;
         width: 36px;
         height: 36px;
         border: solid 2px $border-error;
         border-radius: 25px;

         .img-step-close {
            display: inline-block;
            @include svg-image-full-path($svg-path,$icon-close,11.8px,11.4px);
            margin-left: 10px;
            margin-top: 5px;
         }
      }
   }

   .overlay-container {

      .overlay-body {
         padding: 10px 10px;

         .notification-icon {
            @include svg-image-full-path($svg-path,$notification-icon,30px,30px);
            position: relative;
            left: 33%;
         }

         .delete-info-msg {
            font-size: $font-lg;
            font-weight: $weight-medium;
            text-align: center;
            margin-top: 50px;
         }

         .delete-info-msg-2 {
            font-size: $font-sm;
            text-align: center;
            color: $text-color-primary;
            margin-top: 20px;
         }

         .button-container {
            font-size: $font-sm;
         }
      }
   }
}


:host::ng-deep{
      .gd-ghost-btn
      {
         &.delete{
            &[disabled]{
               opacity: 0.5;
            }
         }
      }
}