<div *ngIf="isError" class="col-xs-12 error-block">
    <div class="icon-container">
        <span class="success" class="img-step-close">
      </span>
    </div>
    <span class="error-message">{{paymentFailedMsg}}</span>
</div>
<div class="col-xs-12 error-block" *ngIf="isDeleteFailed">
    <div class="icon-container">
        <span class="failure" class="img-step-close">
      </span>
    </div>
    <span class="error-message">{{ paymentFailedMsg }}</span>
</div>

<form class="transaction-section gd-form" #transactionForm="ngForm">
    <div *ngIf="this.vm" class="work-flow">
        <div class="current-steps">
            <div class="block">
                <div class="steps-block gd-form">
                    <div class="gd-form-row">
                        <div>
                            <div class="field-block">
                                <label class="gd-sm-label heading">
                           Edit scheduled payment
                           <span *ngIf="vm.bFName"> to {{vm.bFName}}</span>
                        </label>

                            </div>
                        </div>
                    </div>
                    <table class="tabular-data-col-2 gd-form-row">
                        <tbody>
                            <tr *ngIf="vm.bFName">
                                <td>Recipient:</td>
                                <td>{{vm.bFName}}</td>
                            </tr>
                            <tr *ngIf="transactionType === 'Payment' || transactionType === 'Transfer'">
                                <td>Bank:</td>
                                <td>
                                    <span *ngIf="vm.bank">{{vm?.bank}} - </span>{{vm.toAccount.accountNumber}}</td>
                            </tr>
                            <tr *ngIf="transactionType === 'Mobile'">
                                <td>Cellphone:</td>
                                <td>{{vm.destinationNumber}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="gd-form-row">
                        <div>
                            <div class="field-block">
                                <label for="paymentAmount" class="gd-sm-label">Amount</label>
                                <input id="paymentAmount" autocomplete="off" ngControl="paymentAmount" #paymentAmount="ngModel" [class.error]="(paymentAmount.touched || paymentAmount.dirty) && paymentAmount.invalid" [ngModel]="vm.amount | amountTransform" type="text" name="paymentAmount"
                                    appValidateRequired appAmountFormatMask (ngModelChange)="onAmountChange($event)" />
                            </div>
                        </div>
                        <div *ngIf="((paymentAmount.invalid && (paymentAmount.dirty || paymentAmount.touched)) || !isAmountValid)" class="error-msg">
                            <span>
                        Amount is required.
                     </span>
                        </div>
                    </div>
                    <div class="gd-form-row ">
                        <app-account-list *ngIf="accounts " [title]=" 'From account' " [accounts]="accounts" [selectedAccount]="selectedAccount" (onAccountSelection)="onAccountSelection($event) ">
                        </app-account-list>
                    </div>
                    <div class="gd-form-row">
                        <label class="gd-sm-label active" for="paymentDate">Payment date</label>
                        <div [class.disabled]="!isDateChangeAllowed">
                            <app-custom-date-picker [config]="config" [date]="formatDate" [minDate]="minPaymentDate" [maxDate]="maxPaymentDate" (dateChanged)="setDate($event)"></app-custom-date-picker>
                        </div>
                        <label *ngIf="this.vm.reoccurrenceItem" class="gd-sm-label active transaction-message">
                     Your payment will start on {{ paymentStartDate | date : 'dd/MM/yyyy'}}
                     <span *ngIf="paymentEndDate && this.vm.reoccurrenceItem?.reoccurrenceOccur">
                        and end on {{paymentEndDate | date : 'dd/MM/yyyy'}}
                     </span>
                  </label>
                    </div>
                    <div class="gd-form-row" *ngIf="this.vm.reoccurrenceItem">
                        <label class="gd-sm-label" for="account_type">Scheduled Payment</label>
                        <div class="gd-basic-dropdown" dropdown>
                            <div dropdownToggle class="dropdown-place">
                                <div class="text">
                                    {{ selectedPaymentFrequency.text }}
                                </div>
                                <div class="icon">
                                    <span class="caret"></span>
                                </div>
                            </div>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li [class.active]="paymentFrequency.value.text == selectedPaymentFrequency.text" role="menuitem" *ngFor="let paymentFrequency of paymentRecurrenceFrequencies" (click)="onPaymentFrequencyChanged(paymentFrequency.value)">
                                    {{paymentFrequency.value.text}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="gd-form-row" *ngIf="this.vm.reoccurrenceItem">
                        <label class="gd-sm-label active" for="numRecurrence">Number of repeats</label>
                        <div class="field-with-icon">
                            <div class="field-block">
                                <input id="numRecurrence" name="numRecurrence" [class.error]="(numRecurrence.dirty || numRecurrence.touched) && isNumReccurencesInvalid()" type="text" #numRecurrence="ngModel" [(ngModel)]="vm.reoccurrenceItem.reoccurrenceOccur" validateFor="number" appValidateInput
                                    (ngModelChange)="setPaymentEndDate()" required>
                            </div>
                        </div>
                        <div *ngIf="(numRecurrence.dirty || numRecurrence.touched) && isNumReccurencesInvalid()" class="error-msg">
                            <span *ngIf="isRecurrenceValueInvalid()">
                        This field is required.
                     </span>
                            <span *ngIf="isWeeklyRecurrenceInvalid()">
                        {{labels.weeklyRecurrenceInvalidError}}
                     </span>
                            <span *ngIf="isMonthlyRecurrenceInvalid()">
                        {{labels.monthlyRecurrenceInvalidError}}
                     </span>
                        </div>
                    </div>
                    <div *ngIf=" transactionType !== 'Transfer'" class="notification-block">
                        <div class="gd-form-row">
                            <label for="example-search-input" class="gd-sm-label">{{labels.notification}}</label>
                            <div class="gd-basic-dropdown" dropdown>
                                <div dropdownToggle class="dropdown-place">
                                    <div class="text">
                                        {{vm.notificationDetail.notificationType}}
                                    </div>
                                    <div class="icon">
                                        <span class="caret"></span>
                                    </div>
                                </div>
                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li [class.active]="c.name == vm.notificationDetail.notificationType" role="menuitem" *ngFor="let c of notifications" (click)="onNotificationChange(c)">
                                        {{c.name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="gd-form-row" *ngIf="vm.notificationDetail.notificationType?.toLocaleLowerCase()=='sms'">
                            <label for="example-search-input" class="gd-sm-label">{{labels.cellphoneNumber}}</label>
                            <input id="notificationInput" type='tel' name="notificationInput" #notificationInput="ngModel" [(ngModel)]="vm.notificationDetail.notificationAddress" [pattern]="patterns.mobile" appValidateRequired appValidateOnblur appValidateInput validateFor='mobile'
                                (ngModelChange)="onMobileNumberChange($event)" />
                            <div *ngIf="notificationInput.invalid && (notificationInput.dirty || notificationInput.touched)" class="error-msg">
                                <div *ngIf="notificationInput.errors.required">
                                    {{messages.requiredField}}
                                </div>
                                <div *ngIf="notificationInput.errors.pattern">
                                    {{messages.invalidNumber}}
                                </div>
                            </div>
                        </div>
                        <div class="gd-form-row" *ngIf="vm.notificationDetail.notificationType?.toLocaleLowerCase()=='fax'">
                            <label for="example-search-input" class="gd-sm-label">{{labels.enterNumber}}</label>
                            <input id="notificationFaxInput" type='tel' name="notificationFaxInput" #notificationFaxInput="ngModel" [(ngModel)]="vm.notificationDetail.notificationAddress" [pattern]="patterns.mobile" appValidateRequired appValidateOnblur appValidateInput validateFor='mobile'
                                (ngModelChange)="onMobileNumberChange($event)" />
                            <div *ngIf="notificationFaxInput.invalid && (notificationFaxInput.dirty || notificationFaxInput.touched)" class="error-msg">
                                <div *ngIf="notificationFaxInput.errors.required">
                                    {{messages.requiredField}}
                                </div>
                                <div *ngIf="notificationFaxInput.errors.pattern">
                                    {{messages.invalidNumber}}
                                </div>
                            </div>
                        </div>
                        <div class="gd-form-row" *ngIf="vm.notificationDetail.notificationType?.toLocaleLowerCase()=='email'">
                            <label for="example-search-input" class="gd-sm-label">{{labels.enterEmail}}</label>
                            <input id="notificationInput" [pattern]="patterns.email" type="text" name="notificationInput" #notificationInput="ngModel" [(ngModel)]="vm.notificationDetail.notificationAddress" appValidateRequired appValidateOnblur />
                            <div *ngIf="notificationInput.invalid && (notificationInput.dirty || notificationInput.touched)" class="error-msg">
                                <div *ngIf="notificationInput.errors.required">
                                    {{messages.requiredField}}
                                </div>
                                <div *ngIf="!notificationInput.errors.required && notificationInput.errors.pattern">
                                    {{messages.invalidEmail}}
                                </div>
                            </div>
                        </div>
                        <div class="gd-form-row">
                            <label for="example-text-input" class="gd-sm-label">{{labels.yourReference}}</label>
                            <input id="your_reference" autocomplete="off" class="validate" type="text" [(ngModel)]="vm.myDescription" #yourReference="ngModel" name="yourReference" [maxlength]="referenceMaxLength" appValidateRequired appValidateInput validateFor="alphanumericwithspace"
                            />
                            <div *ngIf="yourReference.invalid && (yourReference.dirty || yourReference.touched)" class="error-msg">
                                <span *ngIf="yourReference.errors.required">
                           {{messages.requiredField}}
                        </span>
                            </div>
                        </div>
                        <div class="gd-form-row" *ngIf="vm.beneficiaryDescription">
                            <label for="example-search-input" class="gd-sm-label">{{labels.theirReference}}</label>
                            <input class="validate" autocomplete="off" [(ngModel)]="vm.beneficiaryDescription" type="text" #theirReference="ngModel" name="theirReference" appValidateRequired [maxlength]="referenceMaxLength" appValidateInput validateFor="alphanumericwithspace" />
                            <div *ngIf="theirReference.invalid && (theirReference.dirty || theirReference.touched)" class="error-msg">
                                <span *ngIf="theirReference.errors.required">
                           {{messages.requiredField}}
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="next-button-container">
                        <app-bottom-button *ngIf="!retryCount" [disableButton]='!isValid ||  retryEditCount > retryMaxCount' [showLoader]='isButtonLoader' [text]="btnSaveText" (click)="updateScheduledPayment();sendEvent('click_on_save_edit_scheduled_payment');"></app-bottom-button>
                    </div>
                    <div class="next-button-container error-container">
                        <app-bottom-button [class.btn-disabled]="isDeletionDisabled || showCantBeDeletedMsg" *ngIf="retryCount <= 0 && !retryEditCount" alternateTheme="true" text="Delete scheduled payment" (click)="isDeletionDisabled || showCantBeDeletedMsg? disableBtnErrorMsg = false:openDeleteOverlay();"
                            [showLoader]='isDeleteInProcess' cssClass="delete"></app-bottom-button>
                        <app-bottom-button *ngIf="retryCount > 0" alternateTheme="true" text="Try again" (click)="removeScheduleTransaction()" [showLoader]='isDeleteInProcess' [disableButton]=' retryCount > retryMaxCount ' cssClass="delete"></app-bottom-button>
                        <div class="error-message disableBtn-errorMsg" [class.hide]="disableBtnErrorMsg">Your payment is being processed and cannot be deleted.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<app-small-overlay [template]="deleteOverlay" alternate='true' *ngIf="isDeleteOverlay">
    <ng-template #deleteOverlay>
        <span class="overlay-cross" (click)="closeDeleteOverlay()"></span>
        <div class="template-content">
            <div class="logo-cntnr">
            </div>
            <div class="logo-cntnr">
                <span class="logo1"></span>
            </div>
            <span *ngIf="isDeleteFailed" class="delete-failed-msg"> Delete operation failed. Please try again in sometime.</span>
            <span class="overlay-title">Are you sure you want to delete this scheduled payment?</span>
            <span class="ovelay-text">If you choose to delete this payment, all occurrences of this payment will also be deleted.</span>
            <div class="btns">
                <div class="ok-button">
                    <button class="gd-primary-btn margin-top-btn" [disabled]="isDeleteInProcess" (click)="removeScheduleTransaction();sendEvent('click_on_delete_scheduled_payment');">Delete scheduled payment</button>
                </div>
                <div class="cancel-button">
                    <button class="gd-ghost-btn" (click)="closeDeleteOverlay();sendEvent('click_on_cancel_delete_scheduled_payment');">Cancel</button>
                </div>
            </div>
        </div>
    </ng-template>
</app-small-overlay>