<ng-template #countrySuggestionTemplate let-model="item" let-index="index" let-match="match" let-query="query">
   <div class="benificiary-list">
       <div class="name" [innerHtml]="model.countryDesc | highlight:query:'highlightText'"></div>
   </div>
</ng-template>
<div class="row">
   <div class="col-xs-12">
      <div class="title">
         <span>{{labels.loadTripLabels.loadTripText}}</span>
      </div>
   </div>
</div>
<div class="block-form">
      <form #loadTripForm="ngForm" class="gd-form  autocomplete-container" novalidate>
      <div class="gd-form-row">
         <label for="example-search-input" class="gd-sm-label">{{labels.loadTripLabels.emailText}}</label>
         <input id="emailInput" autocomplete="off" [pattern]="patterns.email" type="text" name="emailInput" #emailInput="ngModel" [(ngModel)]="email" appValidateRequired appValidateOnblur appCheckBlur/>
         <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched) && emailInput.isBlurred" class="error-msg">
             <div *ngIf="emailInput.errors.required">
               {{labels.loadTripLabels.emailRequiredText}}
             </div>
             <div *ngIf="!emailInput.errors.required && emailInput.errors.pattern">
               {{labels.loadTripLabels.validEmailText}}
             </div>
         </div>
     </div>
     <div class="gd-form-row">
      <label class="gd-sm-label active" for="recipient_name">{{labels.loadTripLabels.travelingToText}}</label>
      <div class="field-with-icon">
         <div class="field-block clear-field-block">
            <input [readonly]="!listOfTripCountries" id="recipient_name" type="search" autocomplete="off" class="validate"
               #countryCode="ngModel" [(ngModel)]="tripCountry" (keyup)="clearPreviousSelected()"
               [typeahead]="listOfTripCountries" [typeaheadOptionsLimit]="listOfTripCountries && listOfTripCountries.length"
               [typeaheadItemTemplate]="countrySuggestionTemplate" (typeaheadOnSelect)="selectCountry($event);" [typeaheadScrollable]="true"
               typeaheadOptionField="countryDesc" name="countryCode" appValidateRequired appValidateOnblur appValidateInput appCheckBlur />
         </div>
      </div>
      <div *ngIf="((!selectedCountry || countryCode.invalid) && (countryCode.dirty || countryCode.touched)) && countryCode.isBlurred"
         class="error-msg">
         <span *ngIf="countryCode?.errors?.required || !selectedCountry">
               {{labels.loadTripLabels.countryRequiredText}}
         </span>
      </div>
   </div>
   <div class="gd-form-row">
      <label class="gd-sm-label" for="account_type">{{labels.loadTripLabels.howTravelText}}</label>
      <div class="btn-group">
        <label class="btn btn-primary" [(ngModel)]="modeOfTransport"
               btnRadio="Air" tabindex="0" role="button" name="modeOfTransport">{{labels.loadTripLabels.travelModeAirText | uppercase}}</label>
         <label class="btn btn-primary" [(ngModel)]="modeOfTransport"
               btnRadio="Rail" tabindex="0" role="button" name="modeOfTransport">{{labels.loadTripLabels.travelModeRailText | uppercase}}</label>
         <label class="btn btn-primary" [(ngModel)]="modeOfTransport"
               btnRadio="Sea" tabindex="0" role="button" name="modeOfTransport">{{labels.loadTripLabels.travelModeSeaText | uppercase}}</label>
         <label class="btn btn-primary" [(ngModel)]="modeOfTransport"
               btnRadio="Road" tabindex="0" role="button" name="modeOfTransport" (click)="getBorderPosts()">{{labels.loadTripLabels.travelModeRoadText | uppercase}}</label>
      </div>
   </div>
   <div class="row" *ngIf="showHideOnBasisOfModeOfTransport() && modeOfTransport!==labels.loadTripLabels.travelModeRoadText">
      <div class="col-xs-12">
         <div class="info-container">
            <span class="icon glyphicon glyphicon-info-sign"></span>
            <div class="info-msg">
               <p *ngIf="modeOfTransport===labels.loadTripLabels.travelModeAirText">{{labels.loadTripLabels.flightTicketText}}</p>
               <p *ngIf="modeOfTransport===labels.loadTripLabels.travelModeRailText">{{labels.loadTripLabels.trainTicketText}}</p>
               <p *ngIf="modeOfTransport===labels.loadTripLabels.travelModeSeaText">{{labels.loadTripLabels.cruiseTicketText}}</p>
            </div>
         </div>
      </div>
   </div>
   <div class="row" *ngIf="modeOfTransport && modeOfTransport===labels.loadTripLabels.travelModeRoadText && filteredBorderPosts && filteredBorderPosts.length==0 && !loading">
      <div class="col-xs-12">
         <div class="error-info-container">
            <span class="icon glyphicon glyphicon-info-sign"></span>
            <div class="info-msg">
               <p>{{labels.loadTripLabels.travelModeNotAvailableText}}</p>
            </div>
         </div>
      </div>
   </div>
   <div class="gd-form-row" *ngIf="loading">
      <div class="green-spinner">
         <span class="g-spinner" [class.active]="true"></span>
      </div>
   </div>
   <div class="gd-form-row"  *ngIf="showHideOnBasisOfModeOfTransport()">
      <label class="gd-sm-label" for="startDate">{{labels.loadTripLabels.departureDateText}}</label>
      <app-custom-date-picker [config]="config" [date]="formatDate" (dateChanged)="setStartDate($event);"></app-custom-date-picker>
   </div>
   <div class="gd-form-row"  *ngIf="showHideOnBasisOfModeOfTransport()">
      <label class="gd-sm-label" for="startDate">{{labels.loadTripLabels.returnDateText}}</label>
      <app-custom-date-picker [config]="endConfig" [date]="formatEndDate" (dateChanged)="setEndDate($event);"></app-custom-date-picker>
      <div *ngIf="startDate>endDate"
         class="error-msg">
         <span>
            {{labels.loadTripLabels.startDateGreaterText}}
         </span>
      </div>
   </div>
   <div class="gd-form-row"  *ngIf="showHideOnBasisOfModeOfTransport() && modeOfTransport===labels.loadTripLabels.travelModeRoadText">
      <label class="gd-sm-label" for="account_type">{{labels.loadTripLabels.borderPostText}}</label>
      <div class="gd-basic-dropdown" dropdown>
         <div dropdownToggle class="dropdown-place">
            <div class="text">
               {{selectedBorderPost?.postName?selectedBorderPost?.postName:labels.loadTripLabels.selectBorderPostText}}
            </div>
            <div class="icon">
               <span class="caret"></span>
            </div>
         </div>
         <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li [class.active]="post.postName == selectedBorderPost?.postName" role="menuitem" *ngFor="let post of filteredBorderPosts" (click)="selectBorderPost(post)">
               {{post.postName}}
            </li>
         </ul>
      </div>
   </div>
   <div class="gd-form-row">
         <app-bottom-button [text]="'Submit'" [showLoader]='inProgress' [disableButton]="inProgress||!validate()" (click)="validateLoadTrip()"></app-bottom-button>
   </div>
   </form>
</div>
