<div class="gd-form-row details-list" *ngIf="recentPayments && recentPayments.length">
    <label id="recent-payments-lbl" class="gd-lg-label active">Last 3 payments</label>
    <div class="label-value" *ngFor="let recentPayment of recentPayments;">
        <div class="row">
            <div class="col-md-12">
                <div class="re-pay">
                    <div class="flex-display">
                        <div class="icon icon-link ">
                            <span [class]="getIconClass(recentPayment)"></span>
                        </div>
                        <div class="trans-description">
                            <p><span><b>Paid R{{recentPayment.paymentAmount}}</b> into <b>account {{getBeneficiaryAccountNumber(recentPayment)}} </b> on 
                            <b> {{recentPayment.paymentDate | date : dateFormat}}
                            </b> </span></p>
                            <span class="small">From {{recentPayment.acctNumber}} account</span>
                        </div>
                    </div>
                    <div class="re-pay-btn" *ngIf="checkRepeatOption(recentPayment)">
                        <button class="btn gd-ghost-btn" (click)="repeatTransaction.emit(recentPayment)">
                            <span class="icon"></span>
                            <span class="text">Pay again</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>
<div class="gd-form-row details-list" *ngIf="recentPurchases && recentPurchases.length">
    <label id="recent-purchases-lbl" class="gd-lg-label active">Last 3 purchases</label>
    <div class="label-value" *ngFor="let recentPurchase of recentPurchases;">
        <div class="row">
            <div class="col-md-12">
                <div class="flex-display">
                    <div class="icon icon-link ">
                        <span [class]="getIconClass(recentPurchase)"></span>
                    </div>
                    <div class="trans-description ">
                        <p><span><b>Prepaid</b> for <b> {{getBeneficiaryAccountNumber(recentPurchase)}}, for R{{recentPurchase.paymentAmount}} </b> on 
                          <b>{{recentPurchase.paymentDate | date : dateFormat}}
                      </b> </span></p>
                        <span class="small">From {{recentPurchase.acctNumber}} account</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>