<div class="lotto-block" *ngIf="noLottoRecords">
   <p class="lotto-title">
      {{lottoLabel}}
   </p>
   <table>
      <div *ngIf="lottoError" class="gd-form-row">
         <span class="icon error-icon"></span>
         <div class="error-message"> {{lottoError}}
         </div>
      </div>
      <thead>
         <tr *ngIf="lottoError == emptyStringConst">
            <th [innerHtml]="emptyStringConst| skeletonLoader:skeletonMode"></th>
            <th [innerHtml]="emptyStringConst| skeletonLoader:skeletonMode"></th>
            <th [innerHtml]="emptyStringConst| skeletonLoader:skeletonMode"></th>
            <th [innerHtml]="emptyStringConst| skeletonLoader:skeletonMode"></th>
         </tr>
         <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         <ng-container *ngFor="let lottoDetails of lottoHistoryList ; let i=index">
            <tr *ngIf="skeletonMode">
               <td [innerHtml]="lottoDetails?.purchaseDate | skeletonLoader:skeletonMode"></td>
            </tr>
            <tr *ngIf="i<threeRecords" [routerLink]="['/game/ticket','lottoTicket', lottoDetails?.batchID]">
               <td> <span class="icon lotto-icon"></span></td>
               <td class="title-block">
                  <div>
                     <span class="date-format">
                  {{lottoDetails?.purchaseDate | date:dateFormat}}
                   </span>
                  </div>
                  <div>
                     <span class="game-title">
                    {{lottoDetails.game}}
                </span>
                  </div>
               </td>
               <td class="amount" [class.debits]="lottoDetails.amount < 0" [class.credits]="lottoDetails.amount > 0" [innerHtml]="lottoDetails?.amount | amountTransform: amountPipeConfig | skeletonLoader:skeletonMode"></td>
            </tr>
         </ng-container>
      </tbody>
   </table>
   <button class="ticket-btn" *ngIf="!isViewMore && !lottoFailed" (click)="viewAllTickets()">{{viewMoreTicketsLabel}}</button>
</div>