@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';
$svg-path: './../../../../assets/svg';
$list-padding-sm: 10px;
$list-padding: 20px;
$icon-lotto: 'lotto';
$icon-error: 'grey';
.Section-Header {
    width: 76px;
    height: 28px;
    font-size: $font-sm;
    text-align: left;
    color: $text-color-primary;
}

.lotto-icon {
    @include svg-image-full-path($svg-path, $icon-lotto, 22px, 22px);
}

.error-icon {
    @include svg-image-full-path($svg-path, $icon-error, 60px, 60px);
}

.error-icon::before {
    margin: 0px auto;
}

.Account-name {
    width: 149px;
    height: 18px;
    font-size: $font-sm;
    text-align: left;
    color:$text-color-secondary;
}

.Current-balance {
    width: 106px;
    height: 15px;
    font-size: $font-sm;
    text-align: right;
    color: $color-debit;
}

.date-format {
    color: $text-color-info;
}

.button-text {
    width: 135px;
    height: 20px;
    font-size: $font-sm;
    font-weight: bold;
    text-align: center;
    color: $secondary-btn-color;
}

.Rectangle {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: $container-bg;
}

.debits {
    color: $color-debit;
}

.title-block {
    padding-left: 15px;
    font-size: $font-sm;
}

.game-title {
    font-weight: bold;
}

table {
    width: 100%;
    margin-top: 27px;
    tbody {
        tr {
            border-bottom: 1px solid $divider-secondary;
            td {
                .date-format {
                    color: $text-color-info;
                }
                padding-bottom: 30px;
                padding-top: 10px;
                cursor: pointer;
            }
        }
        tr td:first-child {
            width: 10%;
        }
        tr td:last-child {
            width: 30%;
        }
    }
}

.ticket-btn {
    width: 100%;
    color: $color-savings;
    margin-top: 15px;
    border-bottom: 2px solid;
    font-weight: bold;
    text-align: center;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    height: 50px;
    border-radius: 5px;
    background-color: $secondary-btn-bg;
    height: 20px;
    font-size: $font-sm;
    font-weight: bold;
    color: $secondary-btn-color;
}

.credits {
    color: $color-credit;
}

.lotto-block {
    padding: 20px;
    background: $container-bg;
    width: auto;
}

.lotto-title {
    width: 40px;
    height: 25px;
    font-size: $para-title-size;
    font-weight: bold;
    text-align: left;
    color: $text-color-secondary;
}

.date-purchase {
    padding-left: 15px;
    display: -webkit-inline-box;
    display: ruby;
    letter-spacing: 1px;
    height: 15px;
    font-size: $font-sm;
    text-align: left;
    color: $text-color-info;
    width: 108px;
}

.price-block {
    display: inline;
}

.date-block {
    display: inline-grid;
}

.amount {
    height: 15px;
    font-size: $font-sm;
    text-align: right;
    padding-top: 20px;
    font-weight: bold;
}

.inline-block {
    display: grid;
}

.account-list {
    .account-row {
        .decription {
            font-size: $label-size;
            text-align: right;
            color: $text-color-primary;
        }
        .amnt {
            font-size: $label-size;
            font-weight: bold;
            text-align: right;
            color: $text-color-primary;
        }
    }
}