@import '../../../styles/_mixins.scss';
@import '../../../styles/_base.scss';
$svg-path: './../../../assets/svg/';
$icon-pay: 'Paydashboard';
$transactions-bg: $container-bg;
$transactions-border: $body-bg;
$list-padding-sm: 10px;
$list-padding: 20px;
$icon-usd: 'us-copy';
$icon-eur: 'eu-copy';
$icon-gbp: 'gb-copy';
$icon-isl: 'il-copy';
$icon-hkd: 'hk-copy';
$icon-jpy: 'jp-copy';
$icon-aud: 'au-copy';
$icon-cad: 'ca-copy';
$icon-search-grey: 'search-branch';
$icon-search-green: 'search-green';
.pay-icon {
   @include svg-image($icon-pay);
}

.transactions {
   background: $transactions-bg;
   margin-top: 30px;
   padding: 20px 0 0;
   .para-title {
      padding: 0 $list-padding-sm;
      color: $text-color-secondary;
      &.transaction-label {
         color: $text-color-secondary;
         font-size: $para-title-size-mob;
         font-weight: 500;
         padding-bottom: 20px;
         margin-bottom: 0;
         position: relative;
         .search-icon {
            @include svg-image-full-path($svg-path, $icon-search-grey, 20px, 20px);
            right: 15px;
            position: absolute;
            cursor: pointer;
            &.active {
               @include svg-image-full-path($svg-path, $icon-search-green, 20px, 20px);
               right: 15px;
               position: absolute;
               cursor: pointer;
            }
         }
      }
   }
   .selected-currency {
      position: relative;
      display: block;
      border-bottom: 1px solid $body-bg;
      height: 60px;
      padding-top: 7px;
   }
   .gd-lg-label {
      font-size: 1rem;
      font-weight: bold;
   }
   .left {
      display: block;
      padding-left: 30px;
      &.USD {
         .pocket-flag {
            @include svg-image($icon-usd, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.EUR {
         .pocket-flag {
            @include svg-image($icon-eur, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.GBP {
         .pocket-flag {
            @include svg-image($icon-gbp, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.ILS {
         .pocket-flag {
            @include svg-image($icon-isl, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.HKD {
         .pocket-flag {
            @include svg-image($icon-hkd, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.JPY {
         .pocket-flag {
            @include svg-image($icon-jpy, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.AUD {
         .pocket-flag {
            @include svg-image($icon-aud, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
      &.CAD {
         .pocket-flag {
            @include svg-image($icon-cad, 100%, 100%);
            display: inline-block;
            margin-right: 10px;
         }
      }
   }
   .right {
      display: block;
      padding-right: 30px;
   }
}

.empty-state {
   padding: 30px 0 0;
   .icon-block {
      padding: 20px;
      .icon {
         width: 100%;
         height: 130px;
         @include svg-image('emptystategraph');
      }
   }
   .heading-block {
      .heading {
         font-size: $section-title-size-sm;
      }
   }
   .descrp-block {
      font-size: $base-size;
   }
   &.history {
      border-top: 1px solid $divider-tertiary;
      padding: 50px 30px;
   }
}

@media (min-width: $media-sm) {
   .transactions {
      margin-top: 0;
      .para-title {
         padding: 0 $list-padding;
         &.transaction-label {
            font-size: $xlg-descrp-size;
            padding-left: 30px;
            padding-bottom: 15px;
            border-bottom: 8px solid $transactions-border;
         }
         &.transaction-graph {
            padding: 20px;
         }
      }
      .list-wrapper {
         border-top: 6px solid $transactions-border;
      }
   }
   .empty-state {
      .descrp-block {
         font-size: $font-md;
      }
   }
}
