@import './../../../../styles/_base.scss';
@import './../../../../styles/_mixins.scss';
$icon-path: '../../../../assets/svg/';
$icon-bank: 'green-bank';
$icon-quote: 'Get_settlement_icon';
$icon-transfer: 'TransferIcon-green';
$icon-pay: 'PayIcon-green';

.common-text {
   line-height: 1.5;
   letter-spacing: normal;
   text-align: center;
}

.direct-pay-section {
   margin: 55px 15px 0;
   .title {
      font-family: $font-markpro-medium;
      font-size: $section-title-size;
      font-weight: 500;
      color: $text-color-secondary;
      line-height: 1.25;
      letter-spacing: normal;
      margin: 0 0 20px;
      text-align: center;
      display: block;
   }
   .sub-title {
      @extend .common-text;
      font-size: $font-sm;
      display: block;
      &.default-fontsize {
         font-size: $font-default;
         margin-bottom: 30px;
      }
   }
   .fee-info-msg {
      @extend .common-text;
      margin-bottom: 40px;
      .link-read-more {
         color: $text-color-link;
         cursor: pointer;
      }
   }
   .ways-to-pay {
      margin-bottom: 30px;
      &.no-to-pay {
         text-align: center;
         margin-left: 94px;
         margin-right: 94px;
      }
      .title-ways-to-pay {
         @include markpro-bold();
      }
      .pay-options {
         @include flexbox();
         @include align-items(center);
         .pay-option-box {
            @include box-sizing(border-box);
            @include border-radius($box-border-radius);
            margin: 15px 0 0 20px;
            padding: 25px 10px 0px;
            text-align: center;
            border: $secondary-btn-border;
            cursor: pointer;
            @include flex(1);
            max-width: 185px;
            &:first-child {
               margin-left: 0;
            }
            .icon {
               display: inline-block;
               position: relative;
               margin-bottom: 10px;
               &.transfer-icon {
                  @include svg-image-full-path($icon-path, $icon-transfer, 32px, 32px);
               }
               &.bank-icon {
                  margin-bottom: 10px;
                  @include svg-image-full-path($icon-path, $icon-bank, 32px, 32px);
               }
               &.pay-icon {
                  @include svg-image-full-path($icon-path, $icon-pay, 32px, 32px);
               }
            }
            .text {
               @include markpro-medium();
               line-height: 1.5;
               letter-spacing: normal;
               color: $text-color-link;
               display: block;
               margin-bottom: 35px;
               &.cash-deposit-text {
                  margin-bottom: 0;
               }
               &.eft-text {
                  margin-bottom: 10px;
               }
            }
         }
      }
   }
   .divider {
      display: block;
      border-bottom: 1px solid $divider-quaternary;
      margin-bottom: 30px;
   }
   .quote {
      text-align: center;
      .icon-text {
         .icon,
         .text {
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            letter-spacing: normal;
            color: $text-color-link;
            margin-left: 15px;
            cursor: pointer;
            &.icon-quote {
               @include svg-image-full-path($icon-path, $icon-quote, 15px, 18px);
            }
         }
      }
   }
   .info-text {
      padding: 20px 15px;
      .text {
         line-height: 1.3125rem;
         .text-process-info {
            margin-bottom: 10px;
         }
      }
   }
}

@media (min-width: $media-sm) {
   .direct-pay-section {
      margin: 55px auto;
      width: 400px;
      .fee-info-msg {
         margin-bottom: 65px;
      }
   }
}
