@import '../../../styles/_base.scss';
@import '../../../styles/_mixins.scss';

.spinner-container {
   position: fixed;
   background-color: rgba(255, 255, 255, 0.7);
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1000;
   transition: all 0.5s linear;
   transition-delay: 0s;

   .spinner {
      width: 40px;
      height: 40px;
      margin: 90% 0 0 40%;
   }
}


.next-button-spacer {
   @include spacer(10px);
}

.main-container {
            margin: 43px 20px;
      .header{
            .heading{
               font-size: $main-title-size-mob;
               font-weight: 300;
               color: $text-dark;
            }
            .sub-heading{
               padding: 15px 0;
            }
         }
         .sub-conatiner{
            padding: 15px 0 0 0;
            .element{
               padding: 8px 0;
               .icon{
                  width: 30px;
                  height: 30px;
                  margin-right: 20px;
               }
               .options-container{
                  @include flexbox();
                     .container-items {
                        @include flex(1);
                        padding-top: 5px;
                     }
               }  
            }
      }
      .next-button-container{
            margin-top: 45px;
      }
}

@media (min-width: $media-sm) {
.spinner-container {
      .spinner {
            margin: 60% 0 0 45%;
      }
}
.main-container {
      margin: 60px auto;
      width: 353px;
}
}
@media (min-width: $media-md) {
   
      .spinner-container {
            .spinner {
            margin: 20% 0 0 45%;
            }
      }
      .main-container {
            width: 543px;
            margin: 60px auto;
            .header{
               .heading{
                  font-size: $page-title-size;
               }
               .sub-heading {
                  padding: 15px 0;

               }
            }
            .sub-conatiner {
                  .element {
                        padding: 15px 0;
                  }
            }
         }
}