<section *ngIf="isCardActivated && showActivateCardFeature" class="activate-card-container">
   <span class="bank-acc-icon"></span>
   <h5 class="desc">{{activateCardLabels.pleaseActivateCardText}}</h5>
   <div class="button">
      <app-bottom-button [showLoader]="showLoader" (click)="callActivate($event)" [text]="labels.activateText"></app-bottom-button>
   </div>
   <div class="row">
      <div class="col-xs-12">
         <hr class="card-section-separator" />
      </div>
   </div>
</section>
<section class="activate-card-overlay-container">
   <app-small-overlay class="activate-card-popup" alternate='true' *ngIf="showOverlay" [template]="activateCardOverlay">
      <ng-template #activateCardOverlay>
         <div class="overlay-container">
            <div class="overlay-body">
               <h1 class="title">{{labels.activateCardLabels.activateCardTitle}}</h1>
               <h4 class="desc one" [innerHtml]="card.plasticCurrentStatusReasonCode === labels.activateCardLabels.dormantCreditCardReasonCode ? labels.activateCardLabels.activateDormantAlertText : labels.activateCardLabels.yourCardWillBeText "></h4>
               <h4 class="desc two">{{labels.activateCardLabels.forSecurityPurposesText}}</h4>
               <app-bottom-button id="activate-btn" [showLoader]='showLoader' (click)="!showLoader ? onNext() : false" [text]="labels.confirmText"></app-bottom-button>
               <div class="cancel-button">
                  <app-bottom-button [alternateTheme]="true" id="cancel-btn" (click)="!showLoader ? onCancel() : false" [text]="labels.cancelText"></app-bottom-button>
               </div>
            </div>
         </div>
      </ng-template>
   </app-small-overlay>
</section>
