<div class="popup-container">
   <div class="popup-block">
      <span class="overlay-close" (click)="userAction(payoutTypeLabels?.close)"></span>
      <div class="inner-container">
         <span class="green-warning"></span>
         <h1>{{payoutTypeLabels.pleaseNote}}</h1>
         <div class="title-overlay">
            <p class="title-para-1">{{payoutTypeMessages.descriptionLine1}}</p>
            <p class="title-para-2">{{payoutTypeMessages.descriptionLine2}}</p>
         </div>
         <app-bottom-button id="continueBtn" [text]="'Confirm'" [class.btn-disabled]='false' [showLoader]='false' (click)="userAction(payoutTypeLabels.next)"></app-bottom-button>
      </div>
   </div>
</div>
