<form class="pay-amount-section gd-form" #payAmountForm="ngForm" [class.is-skeleton-loading]='skeletonMode'>
      <div class="gd-form-row" *ngIf="payToVm.isCrossBorderPaymentActive"> 
         <label for="example-search-input" class="gd-sm-label">{{labels.selectCurrency}}</label>
         <div class="gd-basic-dropdown" tabindex="0" dropdown>
               <div dropdownToggle class="dropdown-place">
                  <div class="text">
                     {{vm?.selectedCurrency}}
                  </div>
                  <div class="icon">
                     <span class="caret"></span>
                  </div>
               </div>
               <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem" [class.active]="vm?.selectedCurrency == c.name" (click)="onCurrencyChange($event,c)" *ngFor="let c of currencies" >
                     {{c.name}}
                  </li>
               </ul>
         </div>
      </div>
      <div class="gd-form-row margin-service-fee">
         <div [class.field-with-icon]="isAccountPayment">
            <div class="field-block">
               <label for="amount" class="gd-sm-label">Amount</label>
                 <input appFocus id="amount" [amount]="true" autocomplete="off" ngControl="amount" #amount="ngModel" class="validate" [class.warning]="isMinimumViolated || (isTransferAmountValid && !amount.invalid) && vm.isTransferLimitExceeded"
                      [class.error]="(amount.touched || amount.dirty) && (!isTransferAmountValid || amount.invalid)" [ngModel]="vm.transferAmount | amountTransform: {prefixValue: vm.selectedCurrency}"
                      (ngModelChange)="onAmountChange($event)" type="text" name="amount" [prefixValue]="vm.selectedCurrency" appValidateRequired appAmountFormatMask appValidateMultipleFifty appCheckBlur
                      ga-event-name="pay_amount_and_account_enter_amount" [doValidation]=isMobilePayment />
            </div>
            <div *ngIf="isAccountPayment && instantPaymentAllowed && !payToVm.isCrossBorderPaymentActive" class="icon-block">
               <label for="instant-pay-icon " class="gd-sm-label active">Instant Pay</label>
               <div class="icons">
                  <label class="switch" [class.disabled]="!isInstantPaymentValid" [tooltip]="popTemplate" triggers="" containerClass="pay-tip"
                         #customTooltip="bs-tooltip" placement="right">
                     <input type="checkbox" [checked]="vm.isInstantPay" [disabled]="!allowInstantPaymentToggle" (click)="onInstantPayClick(customTooltip);">
                     <div class="slider round" [ngClass]="{'thunder-active':vm.isInstantPay, 'thunder-inactive': !vm.isInstantPay }"></div>
                     <ng-template #popTemplate>
                        <div class="tooltip-template">
                           <div class="info-icon" (click)="activeOverlay()"></div>
                           <div class="tip">
                              {{instantPayUnavailableMsg}}
                           </div>
                           <div class="icon glyphicon glyphicon glyphicon-remove pull-right remove-icon icon-cursor" (click)="hideTooltip(customTooltip)"></div>
                        </div>
                     </ng-template>
                  </label>
               </div>
            </div>
         </div>
         <div *ngIf="(amount.invalid || vm.isTransferLimitExceeded || !vm.isValid || crossBorderPaymentBelowLimit) && (amount.dirty || amount.touched)">
            <div *ngIf="!vm.isInstantPay && vm.isTransferLimitExceeded  && !isImaliLimitExceeded" class="info-text amount-top-padding">
               <span>Daily limit exceeded.</span>
            </div>
            <div *ngIf="vm.isInstantPay && isInstantPaymentValid && vm.isTransferLimitExceeded  && !isImaliLimitExceeded" class="error-msg">
               <span>Instant Pay limit exceeded.</span>
            </div>
            <div *ngIf="vm.isTransferLimitExceeded && isImaliLimitExceeded" class="info-text amount-top-padding">
               <span class="info-icon"></span>
               <span>Send-Imali limit exceeded.</span>
            </div>
            <div *ngIf="crossBorderPaymentBelowLimit" class="info-text amount-top-padding">
               <span class="info-icon"></span>
               <span>{{labels?.amountValidateMessage}}</span>
            </div>
            <div *ngIf="amount.errors && amount.errors.multipleFifty && !isMinimumViolated" class="error-msg">
               <span>
                  Amount must be in increments of R50.
               </span>
            </div>
            <div *ngIf="!vm.isValid && !vm.isTransferLimitExceeded && !(amount.errors && amount.errors.multipleFifty) && !isMinimumViolated &&  amount.isBlurred" class="error-msg">
               <span>
                  Please enter an amount.
               </span>
            </div>
         </div>
         <div *ngIf="isMinimumViolated" class="info-text amount-top-padding">
               <span class="info-icon"></span>
               <span> A minimum payment of {{allowedMinimumValue | amountTransform: amountPipeConfig}} is allowed.</span>
         </div>
         <div *ngIf="!vm.isInstantPay && (!payToVm.isCrossBorderPaymentActive || (payToVm.isCrossBorderPaymentActive && (vm.selectedCurrency === defaultCurrency)))" class="transfer-hint">
            {{vm.availableTransferLimit| amountTransform: amountPipeConfig}} daily payment limit remaining.
         </div>
         <div *ngIf="vm.isInstantPay && isInstantPaymentValid && (!payToVm.isCrossBorderPaymentActive || (payToVm.isCrossBorderPaymentActive && (vm.selectedCurrency === defaultCurrency)))" class="transfer-hint">
               {{vm.availableInstantTransferLimit| amountTransform: amountPipeConfig}} Instant Pay limit remaining.
         </div>
         <div *ngIf="vm.isInstantPay && isInstantPaymentValid && toIncreaseDailyLimit" class="info-msg">
               <span>Increase your daily limit.</span>
         </div>
      </div>
      <div class="gd-form-row" *ngIf="isAccountPayment && vm.isInstantPay ">
         <div class="info-text ">
            <span class="info-icon"></span>
            <span>
               <b>R40.00</b> service fee will apply.
            </span>
         </div>
         </div>
      <div *ngIf="!payToVm.isCrossBorderPaymentActive">
         <div class="gd-form-row" [innerHtml]="''| skeletonLoader:skeletonMode"> </div>
         <div class="gd-form-row icon-link">
            <app-account-list [insufficientFunds]="insufficientFunds" [title]=" 'From account' " [accounts]="accounts" [selectedAccount]="vm.selectedAccount"
                              (onAccountSelection)="onAccountSelection($event);sendEvent('pay_amount_and_account_select_from_account')">
            </app-account-list>
         </div>
         <div class="gd-form-row">
            <label class="gd-sm-label active" for="paymentDate">Payment date</label>
            <div *ngIf="!vm.isInstantPay">
               <app-custom-date-picker [disabled]="isMobilePayment" [config]="config" [date]="formatDate" (dateChanged)="setDate($event);sendEvent('pay_amount_and_account_select_payment_date',null,vm.paymentDate)"></app-custom-date-picker>
            </div>
            <div *ngIf="vm.isInstantPay" class="icon-field">
               <input id="paymentDate" type="text" readonly [value]="'Instant Payment'" />
            </div>
            <div class="gd-form-row mobile-pay-error-message" *ngIf="isMobilePayment">
               <div class="info-text">
                  <span class="info-icon"></span>
                  <span>{{mobilePayNoSchedule}}</span>
               </div>
            </div>
         </div>
         <div *ngIf="!isSameDate && !vm.isInstantPay && !isMobilePayment && !isCreditCardPayment" class="gd-form-row" [class.disabled]="isCreditCardPayment">
            <label class="gd-sm-label" for="account_type">Repeat payment</label>
            <div tabindex="0" class="gd-basic-dropdown" dropdown>
               <div dropdownToggle class="dropdown-place">
                  <div class="text">
                     {{ selectedPaymentFrequency.text }}
                  </div>
                  <div class="icon">
                     <span class="caret"></span>
                  </div>
               </div>
               <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem" [class.active]="paymentFrequency.value.text==selectedPaymentFrequency.text" *ngFor="let paymentFrequency of paymentRecurrenceFrequencies" (click)="onPaymentFrequencyChanged(paymentFrequency.value)" ga-event-name="pay_amount_and_account_select_repeat_payment">
                     {{paymentFrequency.value.text}}
                  </li>
               </ul>
            </div>
         </div>
         <div class="gd-form-row limit-type-container" *ngIf="!isSameDate && !!selectedPaymentFrequency.code">
            <label class="gd-sm-label" for="repeatby">Define repeat by</label>
            <app-radio-button-list [radioList]='repeatTypeValues' [selectedValue]="vm.repeatType" [groupName]="'repeat'"
                                 (onSelectionChange)="onRepeatTypeChange($event)"></app-radio-button-list>
         </div>
         <div class="gd-form-row" *ngIf="!isSameDate && !!selectedPaymentFrequency.code && vm.repeatType === endDateRepeatTypeConstant">
            <label class="gd-sm-label active" for="paymentEndDate">Payment end date</label>
            <app-custom-date-picker id="pay-transfer-date" [config]="endConfig" [date]="formatEndDate" (dateChanged)="setEndDate($event)"></app-custom-date-picker>
            <div class="transfer-hint">{{vm.repeatDurationText}}</div>
         </div>
         <div class="gd-form-row" *ngIf="!isSameDate && !!selectedPaymentFrequency.code  && vm.repeatType !== endDateRepeatTypeConstant && !vm.isInstantPay && !isCreditCardPayment">
            <label class="gd-sm-label active" for="numRecurrence">Number of occurrences</label>
            <div class="field-with-icon">
               <div class="field-block">
                  <input id="numRecurrence" name="numRecurrence" [class.error]="(numRecurrence.dirty || numRecurrence.touched) && isNumReccurencesInvalid()"
                        type="text" #numRecurrence="ngModel" [(ngModel)]="vm.numRecurrence" validateFor="number" appValidateInput required appCheckBlur  ga-event-name="pay_amount_and_account_enter_number_of_repeats">
               </div>
            </div>
            <div *ngIf="(numRecurrence.dirty || numRecurrence.touched) && isNumReccurencesInvalid() && numRecurrence.isBlurred" class="error-msg">
               <span *ngIf="isRecurrenceValueInvalid()">
                  This field is required.
               </span>
               <span *ngIf="isWeeklyRecurrenceInvalid()">
                  {{labels.weeklyRecurrenceInvalidError}}
               </span>
               <span *ngIf="isMonthlyRecurrenceInvalid()">
                  {{labels.monthlyRecurrenceInvalidError}}
               </span>
            </div>
         </div>
         <div class="gd-form-row same-date" *ngIf="isSameDate && !isCreditCardPayment  && !isMobilePayment">
            <label class="gd-sm-label" for="account_type">Repeat payment</label>
            <input type="text" readonly [value]="'None'" />
            <div class="info-text">
               <span class="info-icon"></span>
               <span>{{repeatPaymentMessage}}</span>
            </div>
         </div>
         <div class="gd-form-row same-date" *ngIf="isCreditCardPayment">
            <label class="gd-sm-label" for="account_type">Repeat payment</label>
            <input type="text" readonly [value]="'None'" />
            <div class="info-text">
               <span class="info-icon"></span>
               <span>{{repeatPaymentCreditCardMessage}}</span>
            </div>
         </div>
      </div>
      <div class="gd-form-row" *ngIf="showLimitExceedingError">
         <div class="error-msg">
            <span> {{ invalidLimitExceededMessage }}</span>
         </div>
      </div>
      <div class="api-error" *ngIf="apiErrorMsgShow">{{ apiErrorMsg }}</div>
      <div class="calculate-btn-wrapper" *ngIf="payToVm.isCrossBorderPaymentActive">
         <app-bottom-button [showLoader]="showloader" [disableButton]="!(this.vm.transferAmount > 0) || crossBorderPaymentBelowLimit || vm.isTransferLimitExceeded" (clickEmitter)="onCalculate()" [text]="labels.getQuoteText"></app-bottom-button>
      </div>
      <div class="breakdown" *ngIf="payToVm.isCrossBorderPaymentActive">
         <div *ngIf="!showCalculation">
            <h6 class="para-title">Paying a foreign recipient is now easier than ever</h6>
            <p class="title-msg">Enter the amount you'd like to pay and tap on “Get Quote" to see how much it'll cost you.</p>
         </div>
         <div *ngIf="showCalculation">
            <h6 class="para-title">Quote Details</h6>
            <div class="highlight-box">
               <div class="box-row">
                  <div class="left">
                     <p>You will send:</p>
                  </div>
                  <div class="right text-right">
                     <p>{{vm.crossBorderPaymentAmount - vm.remittanceCharge | amountTransform: {isLabel: true, showSign: true, prefixValue: defaultCurrency} }}</p>
                  </div>
               </div>
               <div class="box-row">
                  <div class="left">
                     <p>Recipient will get:</p>
                  </div>
                  <div class="right text-right">
                     <p>{{payToVm.crossBorderPayment.beneficiaryDetails.beneficiaryCurrency}} {{vm?.beneficiaryAmount | amountTransform: {isLabel: true, showSign: true, prefixValue: ' '} }}</p>
                  </div>
               </div>
               <p class="helper-text">@ 1 ZAR = {{vm?.paymentExchangeRate}} {{payToVm.crossBorderPayment.beneficiaryDetails.beneficiaryCurrency}}</p>
               <div class="box-row">
                     <div class="info-icon"></div>
                     <p class="small-text">Note there rates are indicative, and are subject to change, and cannot be guaranteed until payment has been made.</p>
               </div>
               <div class="box-row">
                  <div class="left">
                     <p>Total fees:</p>
                  </div>
                  <div class="right text-right">
                     <p>{{vm?.remittanceCharge | amountTransform : {isLabel: true, showSign: true} }}</p>
                  </div>
               </div>
               <div class="box-row">
                  <div class="left">
                     <p>What you'll pay:</p>
                  </div>
                  <div class="right text-right">
                     <p>{{vm?.totalPaymentAmount | amountTransform : {isLabel: true, showSign: true} }}</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </form>
   <app-colored-overlay [isVisible]="isVisible" [template]="OverlayTemplate" [backOption]="true" (onHide)="hideOverlay($event)">
      <ng-template #OverlayTemplate>
         <div class="overlay-content-wrapper">
            <div class="icon"></div>
            <div class="content">
               <h6 class="para-title">Instant Pay</h6>
               <div class="top">
                  <p>Toggle on Instant pay to speed up your payment so that the transaction is cleared within 60 minutes.</p>
               </div>
               <div class="light-box">
                  <ul>
                     <li>
                        <strong>Monday to Friday:</strong> 05h00 - 19h00
                     </li>
                     <li>
                        <strong>Saturday:</strong> 05h00 - 15h00
                     </li>
                     <li>Not available on Sundays or public holidays</li>
                  </ul>
               </div>
               <div class="bottom">
                  <p>Note that instant payments cannot be refunded or reverted, and a service fee of R40.00 is charged.</p>
                  <p>
                     View the full
                     <a href={{termsAndConditionsPath}} target="_blank">terms and conditions</a>.
                  </p>
               </div>
            </div>
         </div>
      </ng-template>
   
   </app-colored-overlay>