@import '../../../../styles/_mixins.scss';
@import '../../../../styles/_base.scss';
$svg-path: '../../../../assets/svg';
$icon-pay: 'back-green';
$bg-color-dashboard: $body-bg;
.equal-container {
   margin-top: 10px;
   margin-bottom: 30px;
   padding: 20px 14px;
}
.info-icon {
    @include svg-image-full-path($svg-path, 'dark-grey', 20px, 20px);
 }
.info-container {
   @extend .equal-container;
   background-color: $color-no-records-background;
   .info-msg {
      font-size: $font-sm;
      font-family: $font-markpro;
      margin-left: 35px;
      .call-center-number {
         color: $text-color-accent-secondary;
         font-size: $font-default-1;
      }
   }
   .icon {
      float: left;
      @include svg-image-full-path($svg-path, 'information', 20px, 20px);
   }
}

.frequency-label {
   font-family: $font-markpro-medium;
   font-size: $font-md;
   color: $text-color-secondary;
   font-weight: 500;
   margin-bottom: 0;
}

.frequency {
   font-family: $font-markpro;
   font-size: $font-md-1;
   color: $text-color-primary;
   display: block;
}

.gd-sm-label {
   padding-bottom: 10px;
   margin-top: -4px;
}

.postal-address-container {
   .postal-address {
      margin-left: 60px;
      span {
         color: $text-color-address-block;
      }
   }
   .icon {
      float: left;
      @include svg-image-full-path($svg-path, 'home', 32px, 32px);
   }
}

.gd-form-row {
   margin-bottom: 25px;
   &.button-update {
      padding-top: 35px;
      margin-bottom: 60px;
   }
}

.edit-adress{
   font-family: $font-markpro;
   color: $secondary-color;
   font-size: 16px;
   text-decoration: underline;
   cursor: pointer;
}

.disable {
   ::ng-deep {
      button {
         &.gd-primary-btn {
            color: $text-color-disable-button;
         }
      }
   }
}
